
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-description{
    justify-content: flex-start;
    color: var(--gray-30);
    margin: var(--s-5) auto;
    padding: var(--s-9) var(--s-2) var(--s-1);
    border-radius: var(--border-radius);
    background-color: var(--gray-90);
    gap:var(--s-padding);
    flex-direction: column;
    @extend .d-flex;
    min-height: 500px;
    @media(max-width: 900px){
        min-height: unset;
        width: auto;
        padding: 0 var(--s-padding) var(--s-1);
    }
    &__header {
        @extend .d-flex;
        width: 100%;
        min-height: var(--s-element);
        justify-content: flex-start;
    }
    &--loader {
        @extend .d-flex;
        flex-direction: column;
        height: 100%;
        min-height: 400px;
        width: inherit;
    }

    &__img-default{
        padding: 0 var(--s-element);
        border-radius: var(--border-radius);
        overflow: hidden;
        @extend .d-flex;
        
        .img-placeholder{
            --ui-icon-color: var(--gray-70);
            --ui-icon-height: 100%;
            --ui-icon-width: 100%;
            padding: var(--s-element) 10px;
            height: auto;
            width: 100%;
            @media(max-width: 900px){
                max-width: 150px;
            }
            @extend .d-flex;
        }
        

      
    
    }
    .product-description__info-panel{
        display: flex;
        height: auto;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--s-padding);
        align-items: flex-start;
        flex: 1;
        @media(max-width: 900px){
            gap: var(--s-9);
            margin: 0 auto;

            min-height: var(--s-element);
        }
        .product-description__info-panel_header{
            display: flex;
            flex-direction: column;
            width: 100%;
            
            .product-description__info-panel_title{
                text-transform: uppercase;
                width: 100%;
                @extend .d-flex;
                justify-content: flex-start;
                color: var(--primary);
                line-height: 1;
                font-size:var(--s-element);
                @media(max-width: 900px){
                    font-size:var(--s-1);

                }
            }
        }
        .product-description__info-panel_body{
            @extend .d-flex;
            align-items: flex-start;
            height: 100%;
            color: var(--gray-50);
            @media(max-width: 900px){
                height: auto;
            }
        }
    }
    &__footer{
        @extend .d-flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
    }
    // &__go-to-cart{
        
    // }
    &__buy-button{
        @extend .d-flex;
        justify-content: flex-end;
            @media(max-width: 1100px){
                width: 100%;
            }
        }
}