.d-flex, .product-description__buy-button, .product-description .product-description__info-panel .product-description__info-panel_body, .product-description .product-description__info-panel .product-description__info-panel_header .product-description__info-panel_title, .product-description__images .img-placeholder, .product-description__images--carousel, .product-description__images, .product-description--loader, .product-description__footer, .product-description__body, .product-description__header-left, .product-description__header, .product-description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-description {
  color: var(--gray-30);
  margin: var(--s-5) auto;
  width: var(--s-1-width);
  padding: var(--s-5);
  background-color: var(--gray-80);
  gap: var(--s-4);
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
  height: 100%;
  position: relative;
  overflow: hidden;
}
@media (max-width: 900px) {
  .product-description {
    margin: 0 auto;
    margin-bottom: 50px;
    min-height: unset;
    padding: 0 var(--s-4) var(--s-1);
  }
}
.product-description__header {
  width: 100%;
  padding: var(--s-5) 0;
  min-height: var(--s-element);
  text-indent: var(--s-1);
  background-color: var(--gray-70);
  justify-content: space-around;
}
@media (max-width: 900px) {
  .product-description__header {
    align-items: flex-start;
    text-indent: unset;
    flex-direction: column;
    width: 100%;
    padding: var(--s-9);
  }
}
.product-description__header-left {
  justify-content: flex-start;
  flex: 1;
}
.product-description__header-right {
  flex: 1;
}
@media (max-width: 900px) {
  .product-description__header-left, .product-description__header-right {
    align-items: flex-start;
  }
}
.product-description__header--title {
  font-size: var(--s-element);
  text-transform: capitalize;
  font-weight: 300;
  font-family: Play;
}
@media (max-width: 900px) {
  .product-description__header--title {
    font-size: var(--s-2);
  }
}
.product-description__body {
  width: 100%;
  height: 100%;
}
.product-description__footer {
  flex-direction: column;
  align-items: flex-end;
  width: var(--s-1-width);
  padding: var(--s-1);
}
.product-description--loader {
  flex-direction: column;
  height: 100%;
  min-height: 400px;
  width: inherit;
}
.product-description__images {
  position: relative;
  justify-content: space-between;
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
  flex-direction: column;
  height: 100%;
  gap: var(--s-9);
  background-color: var(--gray-90);
}
.product-description__images--main {
  width: 100%;
  height: 100%;
  max-height: 500px;
  background-color: var(--gray-100);
}
.product-description__images--carousel {
  justify-content: flex-start;
  overflow-x: auto;
  height: 200px;
  width: var(--s-1-width);
  padding: 0 var(--s-1);
}
.product-description__images .img-placeholder {
  --ui-icon-color: var(--gray-70);
  --ui-icon-height: 100%;
  --ui-icon-width: 100%;
  padding: var(--s-element) 10px;
  height: auto;
  width: 100%;
}
@media (max-width: 900px) {
  .product-description__images .img-placeholder {
    max-width: 150px;
    max-height: 150px;
  }
}
.product-description .product-description__info-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--s-4);
  align-items: flex-start;
  flex: 1;
}
@media (max-width: 900px) {
  .product-description .product-description__info-panel {
    gap: var(--s-9);
    margin: 0 auto;
  }
}
.product-description .product-description__info-panel .product-description__info-panel_header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.product-description .product-description__info-panel .product-description__info-panel_header .product-description__info-panel_title {
  text-transform: uppercase;
  width: 100%;
  justify-content: flex-start;
  color: var(--primary-50);
  line-height: 1;
  font-size: var(--s-2);
}
@media (max-width: 900px) {
  .product-description .product-description__info-panel .product-description__info-panel_header .product-description__info-panel_title {
    font-size: var(--s-6);
  }
}
.product-description .product-description__info-panel .product-description__info-panel_body {
  align-items: flex-start;
  height: 100%;
  color: var(--gray-50);
}
@media (max-width: 900px) {
  .product-description .product-description__info-panel .product-description__info-panel_body {
    height: auto;
  }
}
.product-description__buy-button {
  justify-content: flex-end;
  width: 50%;
}
@media (max-width: 1100px) {
  .product-description__buy-button {
    width: 100%;
  }
}/*# sourceMappingURL=ProductDescription.css.map */