.add-product{
    width: 100%;
    &--title{
        font-size: var(--s-3);
        text-transform: capitalize;
        line-height: 1;
        margin-bottom: var(--padding);
        color: var(--gray-40);
    }
}