// Define variables for repeated values
$borderColor: var(--gray-80);
$hoverColor: var(--gray-80-o);
$headerColor: var(--gray-80-o);
.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
$xs: 450px;
$sm: 900px;
$defaultPadding: 5px 10px;
$bRad: 5px;
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  85% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@mixin mobileTr($bRad: 5px) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  border-radius: $bRad;
  background-color: var(--gray-80-o);
  padding: var(--s-10) var(--s-6);
  width: inherit;
  gap: var(--s-12);
  margin: var(--s-4) var(--s-10);
  min-height: max-content;
  height: max-content;

  &.mini {
    margin: 0;
    padding: 0 8px;
  }
  &:hover {
  box-shadow: 
  // inset 0 0  1px 2px var(--primary-60),
  -1px -0.5px 1px 1px var(--gray-60),
  2px 2px 4px 3px var(--gray-100), 
  ;
    overflow: visible;
    background-color: $hoverColor;
  }
  @media (max-width: $xs) {
    max-width: calc(100% - 8px);
    margin: 5px 10px;
  }
}

@mixin mobileTd($defaultPadding: 10px) {
  width: 100%;
  max-width: 100%;
  padding: $defaultPadding;
  border-bottom: none;
  &:not(:last-child) {
    border-right: none;
  }
  justify-content: space-between;
  display: flex;
  @media (max-width: $xs) {
    flex-direction: column;
    gap: 10px;
  }
  &::before {
    display: flex;
    text-transform: capitalize;
    content: attr(data-key);
    align-items: center;
    color: var(--gray-50);
  }

}
table {
  margin-bottom: auto;
  width: 100%;
  display: none;
  -webkit-border-horizontal-spacing:0;
  -webkit-border-vertical-spacing:0;
  border-radius: var(--border-radius);
  overflow: hidden;
  border: solid 1px $borderColor;
  &.table-show{
    display: table;
  }
  &.hide-header{
    border-radius: var(--border-radius);
    border: solid 1px transparent;
    overflow: hidden;
  }
  thead {
  
    @media (max-width: 900px) {
      display: none;
    }
    tr {
      background-color: $headerColor;
      th {
        text-transform: capitalize;
      }
    }
  }
  &.table-mini {
    margin-top: 15px;
    padding-top: 15px;
    tr {
      background-color: unset !important;
      td,
      th {
        border-right: none !important;
      
        &:last-child {
          .th-content.mini,
          .td-content {
            display: flex;
            justify-content: flex-end;
     
          }
        }
      }
    }
  }

  thead,
  tbody {
    tr {
      height: 50px;
      width: 100%;
    
      &:hover {
        background-color: $hoverColor;
      }

      &.mobile-tr {
        @include mobileTr();
      }

      @media (max-width: $sm) {
 

        @include mobileTr();
      }

      &.mini {
        max-width: inherit;
        cursor: default;
        
        td:last-child {
          text-align: right;
        }
      }

      :last-child {
        td {
          border-bottom-color: transparent;

          :first-child {
            border-radius: 0 0 0 $bRad;
          }

          :last-child {
            border-radius: 0 0 $bRad 0;
          }
        }
      }
      th {
        cursor: col-resize;
        .resizeable {
          position: relative;
          overflow: hidden;
        }
        
        .resizeable .th-content {
          padding-right: 20px; /* Space for the resizing handle */
        }
        
   
        
        .resizeable::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 10px; /* Width of the resizing handle */
          background-color: $headerColor; /* Color of the resizing handle */
          cursor: col-resize;
        }
        
      }
      th,
      td {
        padding: $defaultPadding;
        position: relative;
        max-width: max-content;
        @media (min-width: 900px) {
          .td-content {
            overflow-x: hidden;
            overflow-y: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        &:not(:last-child) {
          border-right: solid 1px $borderColor;
        }

        border-bottom: solid 1px $borderColor;

        &.mobile-td {
          @include mobileTd();
        }

        @media (max-width: $sm) {
          @include mobileTd();
        }

        &.index {
          min-width: 20px;
          text-align: center;
          width: 25px;
        }

        
        .td-hover {
          display: none;
        }
        .td-content {
          position: relative;
          &--image{
            @extend .d-flex;
            width: var(--s-4-width);
            padding: var(--s-4);
            aspect-ratio: 1;
            --ui-icon-color: var(--gray-60-o);
            --ui-icon-width: var(--s-element);
            --ui-icon-height: 100%;
          }
        }
        &.hoverable {
          // pointer-events: none;
            &:hover {
              .td-hover {
                display: flex;
            }
          }
        }

        
      }
    }
  }
}
