// Variables
$defaultPadding: 5px 10px;
$bRad: 5px;
$break: 900px;
$verySmall: 450px;
// $colorGray30: var(--gray-30);
// $colorGray40: var(--gray-40);
// $colorGray50: var(--gray-50);
// $colorGray60: var(--gray-60);
// $colorGray70: var(--gray-70);
// $colorGray90: var(--gray-90);
// $colorBlue: var(--blue-60);
.adapt-table-content__scroll-to-top{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: var(--s-4);
  right: var(--s-4);
  width: var(--s-element);
  aspect-ratio: 9/6;
  z-index: 2;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  opacity: 0.5;

  background-color: var(--gray-70);
  &:hover {
    --ui-icon-color: var(--gray-30);
    opacity: 1;
  }
}
.hide{
  display: none;
}
.table-container {
  display: flex;
  border-radius: $bRad;
  flex-direction: column;
  font-weight: 300;
  font-family: "Atkinson Hyperlegible", sans-serif;
  display: flex;
  justify-content: center;
  text-align: left;
  &.table-container-mini {
    @media (max-width: $break) {
      min-height: 300px;
      width: 100%;
      
      &::-webkit-scrollbar-thumb {
        background-color: var(--blue-60);
        border-radius: 5px;
        width: 15px;
      }

      &::-webkit-scrollbar {
        border-radius: 0 7px 7px 0;
        width: 17px;
        aspect-ratio: 1/1;
        background-color: var(--dark);
      }
    }
  }
}

