.d-flex{
 display: flex;
 justify-content: stretch;
 align-items: stretch;
}
.admin-products{
    @extend .d-flex;
    flex-direction: column;
    gap: var(--s-9);
    width: 100%;
    @media(max-with: 1100px){
        width: var(--s-padding-width);
        overflow: hidden;
    }
    &__header{
        @extend .d-flex;
        min-height: var(--s-element);
        padding: var(--s-padding) 0;
        justify-content: space-between;
        width: auto;
        &--actions{
            @extend .d-flex;
            justify-content: flex-end;
            width: auto;
        }
    }
}