.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lights {
    // width: var(--s-padding-width);
    // padding: var(--s-padding);
    width: 100%;
    height: max-content;

    &__light {
        @extend .d-flex;
        flex-direction: column;
        gap: var(--s-9);
        border: solid 1px var(--gray-80);
        border-radius: var(--border-radius);
        background-color: var(--gray-90);
        padding: var(--s-9);

        &-header {
            width: 100%;

            &--action {
                width: 100%;
                justify-content: space-between;
                cursor: pointer;
                height: var(--s-element);
                @extend .d-flex;
                gap: var(--s-9);
                --ui-icon-color: var(--gray-40);

                &:hover {
                    --ui-icon-color: var(--gray-20);
                }
            }

            &-title {
                min-height: var(--s-element);
                gap: var(--s-9);
                @extend .d-flex;
            }
        }
    }
}

.in-group {
    background-color: var(--primary) !important;
}