.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.admin-product{
    @extend .d-flex;
    flex-direction: column;
    width: 100%;
    gap:var(--s-5);
            background-color: var(--gray-40);
            border-radius: var(--border-radius);
            color:var(--primary-10);

            width: var(--s-9-w);
            padding:var(--s-9);
    &__form{
        background-color: var(--gray-30);
    }
    &__section{
        @extend .d-flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
}
//     @extend .d-flex;

//     overflow: hidden;
//     text-wrap: wrap;
//     white-space: wrap;
//     display: block;
//     flex-direction: column;
//     align-items: flex-start;
//     gap:var(--s-9);
//     width: 100%;
//     &--title{
//         font-size: var(--s-3);
//         text-transform: capitalize;
//         line-height: 1;
//         margin-bottom: var(--s-4);
//         color: var(--gray-40);
//     }
//     &__footer{
//         @extend .d-flex;
//         width: 100%;
//         justify-content: flex-end;
//     }
//     &__section{
//         width: var(--s-9-w);
//         padding:var(--s-9);
//         border-radius: var(--border-radius);
//         background-color: var(--gray-70-o);
//     }
// }
// .remove-icon{
//     --ui-icon-color: var(--red-90);
//     background-color: var(--gray-90-o);
//     width: max-content;
//     // height: var(--s-1);
//     border-radius:var(--border-radius   );
//     @extend .d-flex;
//     // cursor: pointer;
//     color: var(--red-30);
//     padding: 0;
//     &:hover,&:active, &:focus{
//         --ui-icon-color: var(--red-30);
//     }
//     &:focus-within, &:target,&:active, &:focus{
//         --ui-icon-color: var(--gray-10);
//         background-color: var(--red-30);
//     }

//     // --ui-icon-size: var(--s-element);
// }