.account-info {
    width: 100%;

    .account-info__form {
        width: 100%;
        @media(max-width:900px){
            
        }
    }
    .account-info__action{
        margin: var(--default-element-height) auto 20px;
    }
}