.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.verify-account {
    @extend .d-flex;
    flex-direction: column;
    padding: var(--s-padding);
    border-radius: var(--border-radius);
    background-color: var(--gray-80);
}