.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-customer-modify {
    border-radius: var(--default-border-radius);
    background-color: var(--color-gray-80);
    padding: var(--default-padding);
    @extend .d-flex;
    flex-direction: column;
    overflow: hidden;
    width: auto;
    align-items: stretch;
    gap: var(--default-padding);

    &__title {
        font-size: var(--s-1);
        color: var(--color-gray-40);
    }
    &__delete {
    
        margin-left: auto;
        padding: var(--default-padding);
        width: max-content;
    }

    &__info {
        @extend .d-flex;
        align-items: flex-start;
        flex-direction: column;
        gap: var(--s-9);
        width: auto;
        border-radius: var(--default-border-radius);
        padding: var(--default-padding);
        background-color: var(--color-gray-70);

        &--field {
            &--key {
                font-weight: 900;
                text-transform: capitalize;
            }
        }
    }
}