$padding: 12px;
$headerHeight: 100px;
.order-modal__container {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}
.order-modal {
  margin: 45px auto auto;
  cursor: default;
  z-index: 4;
  background-color: var(--color-gray-80);
  border-radius: var(--default-border-radius);
  padding: $padding;
  color: white;
  font-family: "Atkinson Hyperlegible", sans-serif;
  height: max-content;
  width: max-content;
  max-height: 90vh;
  min-width: 500px;
  @media (max-width: 900px) {
    min-width: auto;
    inline-size: calc(100% - 30px);
  }
  position: relative;
  .close-modal {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-gray-70);
    top: $padding;
    right: $padding;
    width: calc($padding * 2.25);
    border-radius: 4px;
    aspect-ratio: 1/1.2;
    --ui-icon-width: 16px;
    --ui-icon-height: 16px;
    --ui-icon-color: var(--color-gray-30);
  }
  .order-modal__header {
    display: flex;
    align-items: center;
    gap: $padding;
    --ui-icon-width: 52px;
    --ui-icon-height: 52px;
    font-size: 24px;
    font-weight: 300;
    line-height: calc($headerHeight * 0.8);
    margin-top: calc($headerHeight * 0.2);
  }
  .order-modal__content {
    word-wrap: break-word;
    white-space: break-spaces;
    background-color: var(--color-gray-70);
    border-radius: var(--default-border-radius);
    padding: $padding;
    max-width: 500px;
    @media (max-width: 900px) {
      overflow-x: hidden;
      max-width: unset;
      height: 500px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--color-blue);
      border-radius: 5px;
      width: 15px;
    }

    &::-webkit-scrollbar {
      border-radius: 0 7px 7px 0;
      width: 17px;
      aspect-ratio: 1/1;
      background-color: #40404060;
    }
    .order-row {
      white-space: nowrap;
      line-height: 2;
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: $padding;
      font-weight: 300;
      width: calc(100% - 20px);
      .order-key {
        color: var(--color-gray-50);
        text-transform: capitalize;
      }
      .order-value {
        color: var(--color-gray-40);
      }
    }

  }
}
