.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.image-control {
    width: auto;
    
    position: relative;
    height: auto;
    overflow: hidden;
    outline: solid 1px var(--gray-80);
    @media(max-width: 900px){
        max-width: calc(100vw - calc(var(--padding) * 2));
    }
    &__loading{
        aspect-ratio: 16/9;
    }
    &:hover .image-control__controls {
        bottom: 0;
        opacity: 1;
    }

    .image-control__element {
        background-color: #000;
        display: flex;
        width: 100%;
        height: auto;
        z-index: -1;
    }

    .image-control__controls {
        background-color: var(--gray-100);
        z-index: 2;
        @extend .d-flex;
        justify-content: space-between;
        position: absolute;
        bottom: -100%;
        padding: 0 var(--s-9);
        /* Start hidden below the container */
        width: calc(100% - calc(var(--s-9) * 2));
        left: 0;
        height: var(--element-height);
        opacity: 0;
        transition: bottom .5s ease, opacity .5s ease;
        &__control{
            cursor: pointer;
            &:hover{
                --ui-icon-color: var(--primary);
            }
        }
    }
}