.d-flex {
  display: flex;
  align-items: center;
}

nav {
  @extend .d-flex;
  min-height: var(--element-height);
  width: 100%;
  z-index: 2;

  @media(min-width: 1100px) {
    background-color: var(--gray-100);
  }

  .navbar {
    @media(min-width: 1100px) {
      margin: 0 auto;
      inline-size: 1260px;
    }
  }

  // gap: var(--padding);


  @media(max-width:1100px) {
    justify-content: flex-end;
  }

  @keyframes fade {
    0% {
      filter: brightness(2);
      --ui-icon-color: var(--body);
      background-color: var(--gray-80-opaque);

      transform: scale(1);
    }

    50% {
      filter: brightness(1.5);
      --ui-icon-color: var(--primary-opaque);
      background-color: var(--gray-40-opaque);
      transform: scale(1.1);
    }

    100% {
      filter: brightness(1);
      background-color: var(--primary-opaque);
      --ui-icon-color: var(--white);
      transform: scale(1);
    }
  }

  .navbar__trigger {
    cursor: pointer;
    --ui-icon-size: var(--s-3);
    --ui-icon-color: var(--primary-opaque);

    padding: var(--s-9) var(--s-8);
    border-radius: var(--border-radius);

    &:hover {
      animation: fade 1s forwards;
    }

    @media(min-width: 1100px) {
      display: none;
    }
  }

  .nav-bar__nav-items {
    @extend .d-flex;
    width: 100%;

    @media(max-width: 1100px) {
      display: none;
    }

    .nav__nav-item {
      height: var(--element-height);

      &--account,
      &--login {
        margin-right: var(--s-9);
        margin-left: auto;
      }
    }
  }
}