.d-flex {
  display: flex;
  align-items: center;
}

.navbar__container {
  z-index: 1000;
  @extend .d-flex;
  min-height: var(--element-height);
  background-color: var(--black);
  width: 100%;
  // border-bottom: solid 1px var(--primary-opaque);

  .navbar {
    padding: 0 0 var(--s-9);
    width: 100%;

    @media (min-width: 1100px) {
      min-height: var(--element-height);
      padding: 0;
      margin: 0 auto;
      inline-size: 1260px;
      // inline-size: calc(1260px + calc(var(--padding) * 2));
    }
    @media (max-width: 1260px) {
      padding: 0 var(--padding);
    }
  }

  @media (max-width: 1100px) {
    justify-content: flex-end;
  }

  @keyframes fade {
    0% {
      filter: brightness(2);
      --ui-icon-color: var(--body);
      background-color: var(--gray-80-opaque);
    }


    100% {
      filter: brightness(1);
      background-color: var(--primary-opaque);
      --ui-icon-color: var(--white);
    }
  }


  .navbar__trigger {
    cursor: pointer;
    width: var(--element-height);
    height: var(--element-height);
    --ui-icon-height: var(--s-5);
    --ui-icon-width: var(--s-5);
    border: solid 1px var(--gray-70-opaque);
    @extend .d-flex;
    justify-content: center;
    border-radius: var(--border-radius);
    display: none;
    background-color: var(--gray-90);
    --ui-icon-color: var(--primary);

    &--opaque {
      --ui-icon-color: var(--dark-opaque);
      background-color: var(--dark-opaque);
      border: solid 1px var(--gray-70-opaque);
      filter: blur(1px);
    }

    &:hover {
      animation: fade 1s forwards;
    }


  }

  .nav-bar__nav-items {
    @extend .d-flex;
    gap: var(--s-9);
    $defaultColor: var(--gray-50);
    $hoverColor: var(--gray-30);
    $focusColor: var(--primary);
    .nav__nav-item {
            // &--brand, &--account,
      // &--login {
      // }
      color:$defaultColor;
      --ui-icon-color: $defaultColor;
      height: var(--element-height);
      padding: 0 var(--s-9);
      &--brand{
        padding: 0;
      }
      &--account,
      &--login {
        @media(max-width:1100px) {
          position: inherit;
        }

        margin-left: auto;
        // right: var(--element-height);
      }

      &--cart {
        cursor: pointer;
        height: var(--element-height);
        width: var(--element-height);
        @extend .d-flex;
        padding: 0;
        --ui-icon-width: 100%;
        --ui-icon-height: var(--s-5);
        --ui-icon-color: var(--gray-50);
      }

      &:hover {
        color: $hoverColor;
        --ui-icon-color: $hoverColor;
      }

      &:focus-within {
        color: var(--primary);
      }
      &__active {
        --ui-icon-color: $focusColor;
        color: $focusColor;
      }
    }
  }
}

// HIDE
.navbar__container {
  &--hide {
    width: auto;
    background-color: transparent;

    .navbar__trigger {
      display: flex;
      position: fixed;
      top: var(--padding);
      right: var(--padding);

      @media(min-width:1100px) {
        // display: none;
      }
    }

    .nav-bar__nav-items {
      display: none;

      &--hide {
        border: solid 1px #F30;
        // display: none;
      }

      @media (max-width: 1100px) {
        // display: none;
      }
    }
  }

  @media (max-width: 1100px) {
    // background-color: transparent;
  }
}

// END HIDE