.d-flex {
  display: flex;
  align-items: center;
}

nav {
  @extend .d-flex;
  min-height: var(--element-height);
  width: 100%;
  margin: 0 auto;
  // gap: var(--padding);
  @media(min-width: 1262px) {
    inline-size: 1260px;
    padding: 0;
  }
  @media(max-width: 900px) {
      padding: 0;
  }
@keyframes fade {
  0%{
    filter:brightness(2);
    --ui-icon-color: var(--body);
    transform: scale(1);
  }
  50%{
    filter:brightness(1.5);
    --ui-icon-color: var(--primary-opaque);
    transform: scale(1.1);
  }
  100%{
    filter:brightness(1);
    --ui-icon-color: var(--primary);
    transform: scale(1);
  }
}
  .navbar__trigger {
    cursor: pointer;
    padding: var(--padding) var(--s-8);
    &:hover{
      animation: fade 1s forwards;
    }
    @media(max-width: 1100px) {
      padding: var(--padding) var(--s-4);
    }
    @media(max-width: 900px) {
      padding: var(--padding) var(--s-8);

    }
    @media(min-width: 1100px) {
      display: none;
    }
  }

  .nav__nav-item {
    height: var(--element-height);
    @media(max-width: 1100px) {
      display: none;
    }

    &--account, &--login  {
      margin-right: var(--s-9);
      margin-left: auto;
    }
  }
}

