.d-flex {
  display: flex;
  align-items: center;
}

.navbar__container {
  z-index: 1000;
  @extend .d-flex;
  min-height: var(--s-element);
  
  @keyframes animateBg {
    0% {
      background-position: 100% 0%;
    }
    
    100% {
      background-position: 0% 0%;
    }
  }
  background-color: var(--black);
  width: 100%;
  
  // border-bottom: solid 1px var(--primary-o);
  // &.aire-hotel{
    //   display: none;
    // }
    // background-image: linear-gradient(90deg,
    // var(--black),
    // #050505,
    // var(--black),
    // );
    // animation: animateBg 14s linear infinite;
    // background-size: 800% 100%;
    .navbar {
      padding: 0 0 var(--s-9);
      width: 100%;


    @media (min-width: 1100px) {
      min-height: var(--s-element);
      padding: 0;
      margin: 0 auto;
      inline-size: 1260px;
      // inline-size: calc(1260px + calc(var(--s-4) * 2));
    }

    // @media (max-width: 1260px) {
    //   padding: 0 var(--s-4);
    // }
  }

  @media (max-width: 1100px) {
    justify-content: flex-end;
  }

  @keyframes fade {
    0% {
      filter: brightness(2);
      --ui-icon-color: var(--body);
      background-color: var(--gray-80-o);
    }


    100% {
      filter: brightness(1);
      background-color: var(--primary-o);
      --ui-icon-color: var(--white);
    }
  }


  .navbar__trigger {
    cursor: pointer;
    --ui-icon-size: var(--s-7);
    // border: solid 1px var(--gray-70-o);
    @extend .d-flex;
    justify-content: center;
    border-radius: var(--border-radius);
    display: none;
    background-color: var(--gray-90);
    --ui-icon-color: var(--primary-50);
    // padding: var(--s-9);
    aspect-ratio: 1;
    min-height: var(--s-element);

    &--o {
      --ui-icon-color: var(--dark-o);
      background-color: var(--dark-o);
      border: solid 1px var(--gray-70-o);
      filter: blur(1px);
    }

    &:hover {
      animation: fade 1s forwards;
    }
  }

  .nav-bar__nav-items {
    @extend .d-flex;
    // background-color: #f30;
    justify-content: flex-start;
    $defaultColor: var(--gray-60);
    $hoverColor: var(--primary-o);
    $focusColor: var(--primary-50);

    .nav__nav-item {
      color: $defaultColor;
      --ui-icon-color: $defaultColor;
      height: var(--s-element);
      padding: 0 var(--s-9);

      &--brand {
        padding: 0;
        @media(min-width: 1260px){
          padding-left: var(--s-9)
        }
      }

      &--about {
        margin-left: auto;
      }

      &--profile,
      &--login {

        @media(max-width:1100px) {
          position: inherit;
        }

        align-self: flex-end;
        justify-self: flex-end;
        // margin-right: 0;
      }

      &.no-cart {
        padding-right: 0;
      }

      &--cart {
        cursor: pointer;
        height: var(--s-element);
        width: var(--s-element);
        @extend .d-flex;
        padding: 0;
        --ui-icon-width: 100%;
        --ui-icon-height: var(--s-5);
        --ui-icon-color: var(--gray-50);
      }

      &:hover {
        color: $hoverColor;
        --ui-icon-color: $hoverColor;
      }

      &:focus-within {
        // color: var(--primary-50);
      }

      &__active {
        --ui-icon-color: $focusColor;
        color: $focusColor;
      }
    }
  }
}

// HIDE
.navbar__container {
  &--hide {
    width: auto;
    background-color: transparent;

    .navbar__trigger {
      display: flex;

      @media(min-width:1100px) {
        // display: none;
      }
    }

    .nav-bar__nav-items {
      display: none;

      &--hide {
        border: solid 1px #F30;
        // display: none;
      }

      @media (max-width: 1100px) {
        // display: none;
      }
    }
  }

  @media (max-width: 1100px) {
    // background-color: transparent;
  }
}

// END HIDE