.d-flex {
  display: flex;
  align-items: center;
}

.navbar__container {
  @extend .d-flex;
  min-height: var(--element-height);
  // position: absolute;
  z-index: 2;
  background-color: var(--gray-100);
  width: 100%;    
  .navbar {
    padding: 0 0 var(--s-9);
    width: 100%;
    @media (min-width: 1100px) {
      min-height: var(--element-height);
      padding: 0;
      margin: 0 auto;
      inline-size: 1260px;
    }
  }

  @media (max-width: 1100px) {
    justify-content: flex-end;
  }

  @keyframes fade {
    0% {
      filter: brightness(2);
      --ui-icon-color: var(--body);
      background-color: var(--gray-80-opaque);
    }

    50% {
      filter: brightness(1.5);
      --ui-icon-color: var(--primary-opaque);
      background-color: var(--gray-40-opaque);
    }

    100% {
      filter: brightness(1);
      background-color: var(--primary-opaque);
      --ui-icon-color: var(--white);
    }
  }

  .navbar__trigger {
    cursor: pointer;
    width: var(--element-height);
    height: var(--element-height);
    --ui-icon-height: var(--s-5);
    --ui-icon-width: var(--s-5);
    --ui-icon-color: var(--primary-opaque);
    @extend .d-flex;
    justify-content: center;
    border-radius: var(--border-radius);
    display: none;
    &:hover {
      animation: fade 1s forwards;
    }

  }

  .nav-bar__nav-items {
    @extend .d-flex;
    width: 100%;
    



    .nav__nav-item {
      height: var(--element-height);

      &--account,
      &--login {
        margin-right: var(--s-9);
        margin-left: auto;
      }
    }
  }
}
// HIDE
.navbar__container {
  &--hide{
    width: auto;
    background-color: transparent;
    .navbar__trigger{
      display: flex;
      position: fixed;
      top: var(--padding);
      right: var(--padding);
      @media(min-width:1100px) {
        // display: none;
      }
    }
    .nav-bar__nav-items {
      display: none;
      &--hide {
        border: solid 1px #F30;
        // display: none;
      }
      @media (max-width: 1100px) {
        // display: none;
      }
      }
  }
  @media (max-width: 1100px) {
    // background-color: transparent;
  }
}
// END HIDE