.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.marketing-program-card{
    @extend .d-flex;
    flex-direction: column;
    width: var(--s-9-width);
    height: 100%;
    justify-content: space-between;
    padding:var(--s-element) var(--s-9) var(--s-9);
    --ui-icon-color:var(--primary-10);
    --ui-icon-size:calc((var(--s-element) * 1.3));
    p{margin:var(--s-element) 0; text-transform: capitalize;}
    @media(max-width: 900px){
        --ui-icon-size: 100px;
        p{font-size:var(--s-3)}
    }
}