$hite: 100px;

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    --ui-icon-height: calc(100% - 22px);
    --ui-icon-width: calc(100% - 22px);
    
}

.product-image {
    @extend .d-flex;
   
}
.product-image__placeholder{
    @extend .d-flex;
}