.knob-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px; // adjust based on your design needs
    height: 100px; // adjust based on your design needs
}

.knob {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: #1d1d1d 0.3s ease-in-out;
    
    &:hover {
        box-shadow: 0 0 8px rgba(255, 99, 71, 0.6); // Optional: glow effect on hover
    }
}

.label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2rem; // Adjust font size as needed
    z-index: 10;
}
