.icon {
  --ui-icon-color: var(--color-gray-50);
  padding: 15px;
  --ui-icon-height: 100%;
  --ui-icon-width: 10px;
  cursor: pointer;
}

.icon:hover,
.selected:hover {
  color: white;
  --ui-icon-color: white;
}

.input-date-range {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  color: inherit;
  background-color: inherit;
  outline: none;
  border: none;
  width: inherit;
  gap: inherit;
  text-transform: inherit;
  font-size: inherit;
  font-weight: inherit;
  .view-options {
    cursor: pointer;
    height: calc(var(--default-height) - 2px);
    width: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
}
.ui-calendar__custom-date-container{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  @media(max-width:900px){
    gap: 15px;
    flex-direction: column;
  }
}