h2{
    color: var(--primary-50);
    justify-content: flex-start;
    width: 100%;
    white-space: nowrap;
    font-size: var(--s-1);
}
h3{
    @extend .d-flex;
    background-color: var(--primary-o);
    border-radius: var(--border-radius);
    margin: var(--s-element) 0 var(--s-9);
    padding:var(--s-9) var(--s-4);
    color:var(--primary-10);
    align-items: flex-start;
}
h4{
    line-height: 1.2;
    --ui-icon-height: var(--s-6);
    color:var(--gray-30);
    --ui-icon-color:var(--gray-40);
    width: auto;
}
.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.survey{
    width: 100%;
    position: relative;
}
.nirvana-index{
     @extend .d-flex;
     gap:var(--s-1);
     flex-direction: column;
     padding-bottom: 100px;
     width: 100%;
     margin: var(--s-element) 0;
     @media(max-width:1260px){
         padding: var(--s-4);
         width: var(--s-4-width);
     }
     @media(max-width:900px){
         width: var(--s-9-width);
         padding: var(--s-9);
     }
     &__content{
         gap:var(--s-1);
         flex-direction: column;
         @extend .d-flex;
         width: 100%;
         align-items: flex-start;
         .list{
            @extend .d-flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: nowrap;
            flex-direction: column;
            gap: var(--s-4);
         }
        }
    } 