h2{
    color: var(--gray-20);
    justify-content: flex-start;
    width: 100%;
    white-space: nowrap;
    font-size: var(--s-1);
}
h3{
    @extend .d-flex;
    background-color: var(--primary-o);
    border-radius: var(--border-radius);
    margin: var(--s-element) 0 var(--s-9);
    padding:var(--s-9) var(--s-padding);
    color:var(--primary-lite);
    align-items: flex-start;
}
h4{
    line-height: 1.2;
    --ui-icon-height: var(--s-6);
    color:var(--gray-40);
    --ui-icon-color:var(--gray-40);
    width: auto;
}
.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.survey{
    width: 100%;
    position: relative;
    height: calc(100vh - 280px);
}
.nirvana-index{
     @extend .d-flex;
     width: 100%;
     gap:var(--s-1);
     flex-direction: column;
     &__content{
         gap:var(--s-1);
         flex-direction: column;
         @extend .d-flex;
         padding: var(--s-1) var(--s-padding)  var(--s-element);
         width: var(--s-padding-width);
         align-items: flex-start;
         .list{
            @extend .d-flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: nowrap;
            flex-direction: column;
            gap: var(--s-padding);
         }
        }
    } 