@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Montserrat:wght@800&family=Play:wght@400;700&family=Poppins&display=swap');


.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}

.account-documents {
    width: 100%;
    margin: auto;
    height: 100%;
    // STATUS COMPONENT
    &__status{
     
        padding: var(--s-9) var(--s-8);
        width: calc(100% - calc(var(--s-8) * 2));
        text-transform: uppercase;
        font-size: var(--s-5);
        height: 100%;
        &--docs{
            @extend .d-flex;
            flex-direction: column;
            align-items: flex-start;
            gap: var(--s-9);
            font-size: var(--s-8);
            text-transform: unset;
            &--doc{
                @extend .d-flex;
                justify-content: flex-end;
                font-size: var(--s-5);
                color: var(--orange);
            }
            &--none{
                margin: var(--s-9) 0;
                border-radius: var(--border-radius);
                @extend .d-flex;
                width: 100%;
                background-color: var(--gray-70);
                min-height: 100px;
            }
        }

    }
    // END STATUS COMPONENT
    &__header{
        @extend .d-flex;
        justify-content: flex-start;
        padding: 0 0 var(--padding);
        &--title{
            font-size: var(--s-3);
            color: var(--gray-30);
            font-style: italic;
            font-weight: 900;
        }
    }

    &__pdf-preview{
        @extend .d-flex;
        flex-direction: column;

        align-items: flex-start;
        gap: var(--padding);
        min-height: 600px;
        &--content{
            min-height: 600px;
            width: 100%;
            overflow: hidden;
        }
    }
    .account-documents__list {
        .account-documents--document{
            .account-documents__pdf{
                background-color: var(--gray-90);
                &__description{
                    color: var(--gray-40);
                    padding: var(--padding);
                }
            }
            &__terms{
                @extend .d-flex;
                align-items: flex-start;
                flex-direction: column;
                gap: var(--padding);
                margin: var(--s-9) 0;
                &--term{
                    max-width: calc(100% - calc(var(--s-5) * 2));
                    &__title{
                        font-size: var(--s-5);
                        color:var(--gray-40);
                    }
                    &__body{
                        font-size: var(--s-7);
                        line-height: 1.5;
                        color:var(--gray-50);
                    }
                }
            }
            
        }
    }
    &__actions{
        padding: calc(var(--element-height) * 2) var(--padding) calc(var(--element-height) * 2);
        @extend .d-flex;
        flex-direction: column;
        gap: var(--element-height);
    }
}