.d-flex, .modal__body .modal-overlay__confirm--header, .modal__body .modal-overlay__confirm .header, .modal__body .modal-overlay__confirm, .modal__body, .modal__header .modal-overlay__title, .modal__header, .modal__content, .modal__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Changed from flex-start to center */
}

.p-fix, .modal__overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.modal__overlay {
  cursor: pointer;
  overflow: hidden;
  z-index: 998;
  background: var(--gray-70-o);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.modal__overlay--no-dismiss {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  cursor: default;
}
.modal__overlay__dragging {
  cursor: url("/icons/fa-hand-back-fist.svg"), auto;
}

.modal {
  position: fixed;
  z-index: 1000;
  font-family: Game;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  background: linear-gradient(var(--dark), var(--gray-100));
  border: solid 1px var(--gray-80-o);
  outline: solid 1px var(--gray-70-o);
  box-shadow: 2px 4px 15px 5px var(--dark);
  border-radius: var(--s-7);
  gap: var(--s-1);
  min-width: 450px;
  max-width: var(--s-6-width);
}
@media (max-height: 1100px) {
  .modal {
    top: var(--s-9);
  }
}
@media (max-width: 1100px) {
  .modal {
    min-width: unset;
    max-width: var(--s-9-width);
    width: var(--s-9-width);
    margin: 0 auto;
    padding-bottom: var(--s-9);
  }
}
.modal__popup {
  width: var(--s-4-width);
}
@keyframes popup {
  0% {
    min-width: 0px;
  }
  100% {
    min-width: 450px;
  }
}
.modal__fullscreen {
  top: 0;
  max-width: 100vw;
  bottom: 0;
  border: none;
  outline: none;
  border-radius: unset;
  gap: 0;
  box-shadow: unset;
  width: 100vw;
  padding: 0;
}
.modal__dragging {
  cursor: url("/icons/fa-hand-back-fist.svg"), auto;
  filter: blur(3px);
}
.modal__content {
  overflow: hidden;
  padding: var(--s-10) 0 var(--s-4);
  margin: auto 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: var(--gray-30);
  height: -moz-max-content;
  height: max-content;
  justify-content: flex-start;
  transition: all 1s;
  position: relative;
  flex-direction: column;
  gap: var(--s-5);
}
.modal__content__popup {
  margin: 0;
}
@media (max-width: 1100px) {
  .modal__content__popup {
    height: 100%;
  }
}
.modal__content:hover {
  transition: all 1s;
}
.modal__content::-webkit-scrollbar-thumb {
  background-color: var(--blue-60);
  border-radius: 5px;
}
.modal__content::-webkit-scrollbar {
  width: 10px;
  aspect-ratio: 1/1;
  background-color: rgba(0, 0, 0, 0.2);
}
@media (max-width: 900px) {
  .modal__content {
    justify-content: flex-start;
    min-width: unset;
  }
}
.modal__content__fullscreen {
  width: 100%;
  padding: 0;
  margin: 0;
}
.modal__content__fullscreen:hover {
  background-color: rgba(255, 255, 255, 0);
}
.modal__header {
  justify-content: space-between;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: var(--s-8) var(--s-9) 0 var(--s-4);
  gap: var(--s-4);
  position: relative;
  cursor: default;
}
@media (max-width: 1100px) {
  .modal__header {
    position: relative;
    flex-direction: column-reverse;
    align-items: flex-end;
    height: -moz-max-content;
    height: max-content;
  }
}
.modal__header:hover, .modal__header:focus, .modal__header:focus-within, .modal__header:visited, .modal__header:active {
  cursor: pointer;
  --ui-icon-color: var(--primary-50);
}
.modal__header .close-btn {
  margin: var(--s-9);
}
@media (max-width: 1100px) {
  .modal__header .close-btn {
    position: relative;
  }
}
.modal__header .modal-overlay__title {
  font-size: var(--s-1);
  text-transform: capitalize;
  font-family: Play;
  letter-spacing: var(--s-12);
  color: var(--primary-50);
}
@media (max-width: 1100px) {
  .modal__header .modal-overlay__title {
    width: 100%;
    font-size: var(--s-2);
  }
}
.modal__header__fullscreen {
  z-index: 2;
  background: unset;
  margin: 0;
  min-height: var(--s-element);
  border-radius: var(--border-radius);
  padding: 0;
}
.modal__body {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--s-4);
  font-family: FreightSans;
  font-weight: 500;
  height: 100%;
  background: linear-gradient(var(--gray-90), var(--gray-100));
  color: var(--gray-50);
  padding: var(--s-4);
  overflow: hidden;
  padding-top: 20px;
  box-sizing: border-box;
}
@media (max-width: 900px) {
  .modal__body {
    align-items: center;
    height: -moz-max-content;
    height: max-content;
    padding: var(--s-9);
  }
}
@media (max-height: 900px) {
  .modal__body {
    overflow: visible;
  }
}
.modal__body__fullscreen {
  margin-bottom: 0;
  padding: 0;
  padding-top: 0;
  width: 100%;
  background: transparent;
}
.modal__body__popup {
  border-radius: var(--border-radius);
  height: -moz-max-content;
  height: max-content;
  overflow-y: auto;
  overflow-x: hidden;
}
.modal__body .modal-overlay__confirm {
  font-family: Play;
  gap: var(--s-6);
  border-radius: var(--border-radius);
  overflow: hidden;
  flex-direction: column;
  width: 100%;
}
.modal__body .modal-overlay__confirm--header, .modal__body .modal-overlay__confirm .header {
  flex-direction: column;
  align-items: flex-start;
  margin: auto 0 var(--s-4);
  width: 100%;
  color: var(--gray-60);
  font-size: var(--s-7);
}
.modal__body .modal-overlay__confirm--header .header--title, .modal__body .modal-overlay__confirm .header .header--title {
  font-size: var(--s-6);
  color: var(--gray-50);
  font-weight: bold;
}
.modal__body .modal-overlay__confirm-col {
  flex-direction: column;
}
.modal__body .modal-overlay__confirm-btn {
  width: 100%;
}/*# sourceMappingURL=modalOverlay.css.map */