@keyframes fadeIn {
  0% {
    // background: var(--gray-100);
    backdrop-filter: blur(0);
  }
  
  100% {
    background: var(--gray-100-opaque);
    backdrop-filter: blur(4px);
  }
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


.loader {
  @extend .d-flex;

  z-index: 2;
  backdrop-filter: blur(0);
  background: transparent;
  animation: fadeIn .5s ease-in-out forwards;
  &__content {
    padding: var(--s-padding);
    @extend .d-flex;
    flex-direction: column;
    // border: solid 1px #f00;
    &--icon {
      @extend .d-flex;
      width: 100%;
      min-width: 150px;
      --ui-icon-size: 100%;
      --ui-icon-color: var(--gray-30);
      // border: solid 1px #f0f;
    }

    &--body {
      @extend .d-flex;
      flex-direction: column;
      height: 100%;
      min-height: var(--s-element);
      width: 100%;
      color: var(--gray-30);
      margin-top: var(--s-padding);
      text-transform: capitalize;
    }
  }
  &--fixed{
    position: fixed;
    background: var(--gray-100-opaque);
    top: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    right: 0;
    height: 100vh;
    &__content {
      min-width: 240px;
    }
  }
}