.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: max-content;
    height: var(--s-element);
    line-height: 1;
    z-index: 1;
    color: var(--primary);
    font-size: var(--s-element);
    min-width: max-content;
    text-transform: uppercase;
    user-select: none;
    &--sub-title {
        text-transform: capitalize;
        right: 0;
        &-set{
            transform: translate(50%, 50%);
            position: absolute;
        }
        // bottom: var(--s-10);
        font-size: var(--s-1);
        color: var(--gray-40);
        opacity: .8;
        text-shadow: -2px -2px 5px  var(--gray-70);
        // overflow: visible;
        // padding: 0 var(--s-11);
        line-height: 1;
        z-index: 2;
    }
}