$cardWidth: 500px;

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.d-flex-col {
  @extend .d-flex;
  flex-direction: column;
}


.authentication {
  width: 100%;
  min-width: 350px;
  z-index: 1;
  height: max-content;
overflow: hidden;
  &:not(.authentication__sign-in) {

    // background-color: var(--gray-90);
    // border-radius: var(--border-radius);
    @media(max-width: 1100px) {
      max-width: 500px;
    }
  }

  &__email-verify {
    @extend .d-flex;
    font-size: var(--s-5);
    min-height: 500px;
    flex-wrap: wrap;
    white-space: nowrap;
  }

  .authentication__view-header {
    height: var(--element-height);
    text-transform: capitalize;
    @extend .d-flex;
    justify-content: flex-start;
    gap: var(--s-7);
    font-size: var(--s-1);
    --ui-icon-size: var(--s-1);

    @media(max-width: 1100px) {
      width: 100%;
      justify-content: center;
    }

    --ui-icon-color: var(--primary-lite);

    .authentication__view-name {
      color: var(--gray-10);

      @media(max-width: 1100px) {
      }
    }
  }

  .authentication__view-action {
    background-color: inherit;
    @extend .d-flex-col;
    white-space: nowrap;
    text-align: center;
    gap: var(--padding);
    color: var(--gray-60);
    position: relative;
    z-index: 1;

    // &::after {
    //   z-index: 1;
    //   left: 0;
    //   top: 40%;
    //   content: '';
    //   width: 100%;
    //   position: absolute;
    //   // border-bottom: solid 1px;
    // }

    .authentication__view-label {
      padding: 0 var(--s-8);
      z-index: 2;
      margin: var(--padding) 0 0;
      background-color: inherit;
    }
  }

}