
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.d-flex-col {
  @extend .d-flex;
  flex-direction: column;
}

$cPad: 15px;

.authentication {
  position: absolute;
  top: 15vh;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  margin: auto;

  @media (max-width: 900px) {
    max-width: calc(100vw - 100px);
  }
  .authentication__canvas{
    // opacity: .5;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    margin: 0;
    padding: 0;
    width: 100vw;
  }
  .authentication_video, .authentication__canvas {

    // z-index: 999;
    position: fixed;
    // display: flex;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100vh;
    // filter: blur(4px);
    overflow: hidden;

    background-position: center center;
    // mix-blend-mode: luminosity;
    // @media (max-width: 900px) {
    //   transform: rotate(90deg);
    // }
    transition: opacity 1s ease-in-out;
    // opacity: 0;
  
    &.visible {
      opacity: 1;
    }
  }

  .authentication-body {
    
    z-index: 1;
    @extend .d-flex-col;
    width: 500px;
    @media (max-width: 900px) {
      max-width: calc(100vw - 20px);
    }
    .authentication-header {
      .authentication-logo {
        // box-shadow: 0 0 10px 7px var(--color-primary-opaque-1);
        --ui-icon-height: 140px;
        --ui-icon-width: 110px;
        --ui-icon-color: var(--color-gray-30);
        // --ui-icon-color: #2683BB;
        @media(max-width:900px){
          display: none;
        }
      }
    }
    
    .authentication-content {
      

      @extend .d-flex-col;
      justify-content: space-around;
      padding: 0 $cPad;
      aspect-ratio: 7/8;
      width: calc(100% - calc($cPad * 2));
      background-color: var(--color-gray-40);
      backdrop-filter: blur(10px);
      box-shadow: 0 0 10px 7px var(--color-gray-60);
      border-radius: var(--default-border-radius);
      .authentication__view {
        @extend .d-flex-col;
        width: 100%;
        justify-content: flex-start;
        .authentication__view-header{
          @extend .d-flex;
          width: 100%;
          justify-content: flex-start;
          gap: 9px;
          color: var(--color-gray-50);
          .authentication__view-name{
            text-transform: capitalize;
            line-height: 1;
            font-size: var(--s-3);
            padding: var(--s-3) 0 var(--s-2);
            white-space: nowrap;
            width: max-content;
          }
          .authentication__logo-mobile {
            // box-shadow: 0 0 10px 7px var(--color-primary-opaque-1);
            display: none;
            margin: 20px 0;
            --ui-icon-height: var(--default-element-height);
            --ui-icon-width: var(--default-element-height);
            --ui-icon-color: rgba(255, 255, 255, 0.6);
            @media(max-width: 900px){
              display: flex;
              width: max-content;
            }
          }
        }
        .authentication__view-action {
          margin: 15px auto 25px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          width: 100%;
          text-transform: capitalize;
          border-top: solid 1px var(--color-gray-50);
          label{
            font-size: 14px;
            color: var(--color-gray-50);
            font-style: italic;
            line-height:2;
            margin-top: 10px;
          }
          a{
            cursor: pointer;
            color: var(--color-primary-opaque);
            &:hover{
              color: var(--color-primary);

            }
          }
        }
      }
    }

    .authentication-footer {
      padding: calc($cPad * 2) 0 0 0;
      color: var(--color-gray-20);
      width: 100%;
      text-align: center;
    }
  }
}
