$cardWidth: 500px;

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

a {
  text-decoration: none !important;
}

.d-flex-col {
  @extend .d-flex;
  flex-direction: column;
}

.authentication__status {
  margin: var(--s-element) auto;

  &--success {
    @extend .d-flex-col;
    gap: var(--s-4);
    width: inherit;
    text-align: center;
    color: var(--dark);

    &--header {
      font-size: var(--s-3);
    }
  }
}

.authentication {
  position: relative;

  min-height: 350px;
  z-index: 1;
  @extend .d-flex-col;
  gap: var(--s-4);

  @media(max-width: 900px) {
    min-width: unset;
    padding: var(--s-4) 0 0;
  }

  &__welcome-modal {
    width: 100%;
    @extend .d-flex-col;
    align-items: flex-start;
    gap:var
    h1 {
      line-height: 2;
      margin-bottom: var(--s-1);
    }

    gap:var(--s-9);
  }

  &__email-verify {
    font-size: var(--s-5);
    min-height: 500px;

  }

  .authentication__view-header {
    height: var(--s-element);
    text-transform: capitalize;
    @extend .d-flex;
    justify-content: flex-start;
    gap: var(--s-10);
    font-weight: 100;
    font-family: Game;
    text-transform: uppercase;
    line-height: var(--s-1);
    font-size: var(--s-3);
    --ui-icon-size: var(--s-1);

    @media(max-width: 1100px) {
      width: 100%;
      justify-content: center;
    }


    --ui-icon-color: var(--gray-70);
    color:var(--gray-70);

    // .authentication__view-name {
    // }

  }

  // .authentication__view-label--strike {
  //   position: absolute;
  //   width: var(--s-9-width);
  //   left: var(--s-9);
  //   right: var(--s-9);
  //   border-radius: var(--border-radius);
  //   background-color: var(--gray-70-o);
  //   border-top: solid 1px var(--gray-80);
  //   border-bottom: solid 1px var(--gray-90);
  //   border-radius: var(--s-1);
  //   z-index: 1;
  //   height: var(--s-12);
  //   @media(max-width: 900px) {
  //   }
  // }

  .authentication__view-label {
    font-family: Decimal;
    user-select: none;
    text-shadow: 1px 1.5px 0 var(--black);
    width: var(--s-9-width);
    // text-transform: uppercase;
    font-size: var(--s-5);
    letter-spacing: 4px;
    height: var(--s-element);
    @extend .d-flex;
    position: relative;
    z-index: 2;
    @extend .d-flex;
    &--text{
      padding: var(--s-8);
      z-index: 3;
      background-color: var(--gray-100);
    }
    &:before{
      z-index: 1;
      position: absolute;
      left: 0;
      content:' ';
      width: 100%;
      height: 1px;
      background: var(--gray-70);
    }
    @media(max-width: 900px) {
      font-size: var(--s-9);
      padding: 0;
      height: var(--s-9);
    }
  }

  .authentication__view-action {
    background-color: inherit;
    @extend .d-flex-col;
    white-space: nowrap;
    text-align: center;
    gap: var(--s-4);
    position: relative;
    color: var(--gray-60);
    z-index: 2;
    margin-bottom: var(--s-1);
    // &::after {
    //   z-index: 1;
    //   left: 0;
    //   top: 40%;
    //   content: '';
    //   width: 100%;
    //   position: absolute;
    //   // border-bottom: solid 1px;
    // }

    z-index: 2;



  }

}