$cardWidth: 500px;

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

a {
  text-decoration: none !important;
}

.d-flex-col {
  @extend .d-flex;
  flex-direction: column;
}

.authentication__status {
  margin: var(--s-element) auto;

  &--success {
    @extend .d-flex-col;
    gap: var(--s-padding);
    width: inherit;
    text-align: center;
    color: var(--dark);

    &--header {
      font-size: var(--s-3);
    }
  }
}

.authentication {

  min-height: 350px;
  z-index: 1;
  height: max-content;
  overflow: hidden;
  @extend .d-flex-col;
  gap: var(--s-padding);
  @media(max-width: 900px) {
    min-width: unset;
  }
  &__welcome-modal{
    width: 100%;
    @extend .d-flex-col;
    align-items: flex-start;
    h1{
      line-height: 1;
      margin-bottom: var(--s-1);
    }
    gap:var(--s-9);
  }
  &__email-verify {
    font-size: var(--s-5);
    min-height: 500px;
   
  }

  .authentication__view-header {
    height: var(--s-element);
    text-transform: capitalize;
    @extend .d-flex;
    justify-content: flex-start;
    gap: var(--s-7);
    font-size: var(--s-1);
    --ui-icon-size: var(--s-1);

    @media(max-width: 1100px) {
      width: 100%;
      justify-content: center;
    }

    
    --ui-icon-color: var(--primary-lite);
    color: var(--primary-lite);
    // .authentication__view-name {
    // }

  }

  .authentication__view-action {
    background-color: inherit;
    @extend .d-flex-col;
    white-space: nowrap;
    text-align: center;
    gap: var(--s-padding);
    color: var(--gray-60);
    position: relative;
    z-index: 1;

    // &::after {
    //   z-index: 1;
    //   left: 0;
    //   top: 40%;
    //   content: '';
    //   width: 100%;
    //   position: absolute;
    //   // border-bottom: solid 1px;
    // }

    .authentication__view-label {
      padding: 0 var(--s-8);
      z-index: 2;
      margin: var(--s-padding) 0 0;
      background-color: inherit;
      width: 100%;

    }
  }

}