$cardWidth: 500px;

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.d-flex-col {
  @extend .d-flex;
  flex-direction: column;
}


.authentication {
 width: 100%;
 min-width: 350px;
 background-color: inherit;
  z-index: 1;
  .authentication__view-header {
    width: 100%;
    height: var(--default-element-height);
    text-transform: capitalize;
    @extend .d-flex;
    justify-content: flex-start;
    gap: var(--s-7);
    font-size: var(--s-2);
    --ui-icon-size: var(--s-2);
  }

  .authentication__view-action {
    background-color: inherit;
    @extend .d-flex-col;
    white-space: nowrap;
    text-align: center;
    gap: var(--default-padding);
    color:var(--color-gray-60);
    position: relative;
    z-index: 1;
    &::after{
      z-index: 1;
      left: 0;
      top: 40%;
      content:'';
      width: 100%;
      position: absolute;
      border-bottom: solid 1px;
    }
    .authentication__view-label{
      padding: 0 var(--s-8);
      z-index: 2;
      margin: var(--default-padding) 0 0;
      background-color: inherit;
    }
  }

}