.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.location-request{
    @extend .d-flex;
    flex-direction: column;
    gap:var(--s-9);
    padding:var(--s-3) 0;
    &__request{
        min-width: 300px;
        background-color: var(--gray-60);
        color:var(--gray-100);
        position: fixed;
        right: var(--s-1);
        top: var(--s-9);
        border-radius: var(--border-radius);
        &:hover{
            background-color: var(--primary-90);
        }
    }
}