.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  width: var(--ui-icon-width, var(--ui-icon-size, 20px));
  height: var(--ui-icon-height, var(--ui-icon-size, 20px));
  color: var(--ui-icon-color, #666);
  position: relative;
  overflow: visible;
}

div {
  svg {
    display: block;
    width: 100%;
    height: 100%;
    // path {
    //     stroke-width: var(--icon-stroke-width, auto);
    // }
  }
}

@keyframes shadowAnimation {
  0% {
    filter: drop-shadow(0 0 5px var(--primary-lite));
  }

  // 30% {filter: drop-shadow( 0 0 15px #fff);}
  100% {
    filter: drop-shadow(0 0 20px var(--primary-lite));
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(180deg)
  }
}

.spinner {
  animation: spin .7s forwards infinite ease-in-out;
}

@keyframes glow {
  0% {
    color: var(--gray-50); /* Adjusted for demonstration, replace with var(--gray-10-opaque) or any color */
    --ui-icon-color: var(--gray-50); /* Adjusted for demonstration, replace with var(--gray-10-opaque) or any color */
    background-color: var(--gray-80-opaque); /* Semi-transparent, adjust as needed */
    // border-color: var(--gray-70); /* Example hex, replace with var(--primary) or any color */
    // box-shadow: 0 0 var(--s-5) var(--s-9) var(--primary-opaque); /* Soft glow, adjust color and opacity */
  }
  
  50% {
    --ui-icon-color: var(--gray-30); /* Brighter color for the pulse peak */
    background-color: var(--gray-80); /* More visible than start/end */
    // border-color: var(--primary-lite); /* Keep consistent or adjust for effect */
    // box-shadow: 0 0 var(--s-9) var(--s-11) var(--primary-lite);
    
    
  }
   100% {
    --ui-icon-color: var(--gray-20); /* Brighter color for the pulse peak */
    background-color: var(--primary-opaque); /* More visible than start/end */
    // border-color: var(--primary-opaque); /* Keep consistent or adjust for effect */
    // box-shadow: 0 0 var(--s-9) var(--s-11) var(--primary-opaque);
  }
}
.iconGlow {
  animation: glow 3s infinite ease-in-out;
  width: inherit;
  height: inherit;
  @extend .d-flex;
  &:hover{
    mix-blend-mode: color-dodge;
    animation: shadowAnimation 1.5s ease-in-out infinite alternate;
  }
}

.ui-icon__badge {
  position: absolute;
  @extend .d-flex;
  top: calc(var(--s-9) * -1);
  right: var(--s-11);
  background-color: var(--red); // Example background color
  color: white; // Text color
  border-radius: 50%; // Circular badge
  font-size: var(--s-8);
  line-height: 1;
  width: auto;
  aspect-ratio: 1;
  text-align: center; // Center the text inside the badge
}