.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.d-flex-col {
  @extend .d-flex;
  flex-direction: column;
}
.sign-in__status{
  overflow: hidden;
  width:100%;
  &--success{
    width:100%;
    @extend .d-flex-col;
    gap: var(--s-padding);
    &--header{
      color:var(--gray-30);
      --ui-icon-color:var(--gray-30);
      --ui-icon-size:var(--s-3);
      font-size: var(--s-3);
      @extend .d-flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: var(--s-padding);
      padding: var(--s-padding) var(--s-padding) var(--s-element);
      width: calc(var(--s-padding-width) - 2px);
      margin: var(--s-9) 0 var(--s-element);
      border-radius: var(--border-radius);
      border: solid 1px var(--gray-60);
      background-color: var(--gray-80);
    }
  }
}

$brk: 25px;
.sign-in {
  gap:var(--s-3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width:100%;
    .sign-in__forgot-password-link{
      color: var(--blue);
      cursor: pointer;
      &:hover{
        filter:brightness(1.3)
      }
  }
}
.sign-in__login{
  width: 100%;
}

.authentication__authentication-status{
  width: calc(100% - 20px);
  padding: 15px 10px;
  color: var(--gray-70);
  .authentication__signin-response{
    display: flex;
    flex-direction: column;
    padding:0;
    .sign-in__signin-response-details{
      padding: 0 10px;
      .sign-in__signin-response-detail{
        text-indent: 0;
        color: var(--orange);
      }
    }
  }
}