.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}

.account-create-method {
    width: 100%;
    &__content{
        @extend .d-flex;
        flex-direction: column;
        align-items: stretch;
        gap: var(--s-element);
        position: relative;
    #payment-element{
    // background-color: var(--gray-80-o);
    // border-radius: var(--border-radius);
    // padding: var(--s-4);
    }
    &__submit{
        margin: 0;
        width: 100%;
    }
    }
}