.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    background-color: var(--gray-90);
    border-radius: var(--border-radius);
    overflow: hidden;
    border: solid 1px var(--gray-70);
    width: auto;
    &__header{
        @extend .d-flex;
        justify-content: space-between;
        width: auto;
        padding: var(--s-9) var(--s-9);
        @media(max-width: 900px) {
            gap:var(--s-5);
            justify-content: flex-start;
            flex-direction: column;
        }
        &--title{
            text-transform: capitalize;
            font-size: var(--s-3);
            color: var(--gray-50);
            font-family: Game;
            font-style: normal;
            @media(max-width: 900px) {
                width: 100%;
            }
        }
        &--filters{
            @extend .d-flex;
            justify-content: flex-end;
            gap: var(--s-9);
            @media(max-width: 900px) {
                width: 100%;
            }
        }
    }
    &__dows {
        @media(max-width: 900px) {
            display: none;
        }
    }

    &__dow {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: var(--s-9) var(--s-9) var(--s-9) 0;
        border-right: solid 1px var(--gray-70);
        text-transform: capitalize;
        color: var(--gray-50);
        background-color: var(--gray-80);
        line-height: 1;
        text-align: right;
    }

    &__date-container {
        width: auto;
        overflow: hidden;
        border-right: solid 1px var(--gray-80);
        border-bottom: solid 1px var(--gray-80);
        z-index: 1;
        @media(min-width: 1260px) {
            aspect-ratio: 1/1;
        }
    }
}