.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    background-color: var(--color-gray-90);
    border-radius: var(--default-border-radius);
    overflow: hidden;
    &__dow {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: var(--s-9) var(--s-9) var(--s-9) 0;
        border-right: solid 1px var(--color-gray-70);
        text-transform: capitalize;
        color: var(--color-gray-50);
        background-color: var(--color-gray-80);
        line-height: 1;
        text-align: right;
    }

    &__date-container {
        width: auto;
        overflow: hidden;
        border: solid 1px var(--color-gray-80);
    }
}