$shadow-size: 10px;
$badge: 19px;
$elPad: 14px;

.inherit {
  --ui-icon-color: inherit;
  --ui-icon-width: inherit;
  --ui-icon-height: inherit;
  text-decoration: inherit;
  color: inherit;
  background-color: inherit;
  height: inherit;
  min-height: inherit;
  max-height: inherit;
  width: inherit;
  min-width: inherit;
  max-width: inherit;
  padding: inherit;
  margin: inherit;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: inherit;
  gap: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  border: inherit;
  outline: inherit;
  border-radius: inherit;
  box-shadow: inherit;
  aspect-ratio: inherit;
  position: inherit;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
  position: relative;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  height: max-content;
  width: 100%;
  justify-content: center;

  &.form-control-inherit {
    @extend .inherit;
  }
.form-control__header{
  @extend .d-flex;
  justify-content: space-between;
  label {
    color: var(--color-gray-40);
    line-height: 3;
    font-size: 14px;
    font-weight: 300;
    font-size: 11px;
    font-style: italic;
    letter-spacing: 3px;
  }
  .form-control__header-invalid{
    color: var(--color-secondary);
    font-style: italic;
    font-size: var(--s-7);
  }
}

  .form-control__element {
    // overflow: hidden;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 1;
    height: calc(var(--default-element-height) - 2px);
    white-space: nowrap;
    color: var(--color-gray-60);
    --ui-icon-color: var(--color-gray-40);
    background-color: var(--color-gray-100);
    outline: solid 1px var(--color-gray-60);
    --ui-icon-height: 18px;
    --ui-icon-width: 18px;
    border-radius: var(--default-border-radius);

    &:focus-within {
      color: var(--color-gray-90);
      background-color: var(--color-gray-20);
    }

    .form-control__icon {
      &:first-child {
        border-radius: var(--default-border-radius) 0 0 var(--default-border-radius);
      }

      &:last-child {
        border-radius: 0 var(--default-border-radius) var(--default-border-radius) 0;
      }

      @extend .d-flex;
      height: 100%;
      width: var(--default-element-height);

      &.form-control__icon-dark {
        background-color: var(--color-gray-90);
      }
      &.form-control__icon-invalid {
        background-color: var(--color-invalid-bg);
      }
    }


 

    .form-control__icon-placeholder {
      width: calc(var(--default-element-height) * .5)
    }

    &.form-control__element-center {
      gap: 0;

      .form-control_before-icon,
      .form-control_after-icon {
        // padding:0 10px;

        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(var(--default-element-height) * 1);
        height: 100%;
        --ui-icon-height: var(--default-element-height);
        --ui-icon-color: var(--color-gray-80);

        &:hover {
          --ui-icon-color: var(--color-gray-50);
          background-color: var(--color-gray-60-opaque);
          outline: solid 1px var(--color-gray-50);
        }

        &:focus,
        &:active {
          --ui-icon-color: var(--color-gray-20);
          background-color: var(--color-gray-70);
          outline: solid 1px var(--color-gray-20);
        }
      }
    }

    &[class$="-glow"] {
      background-color: var(--color-gray-100);
      color: white;
      animation: none; // Stop the animation on hover.

      &:hover {
        animation: glow 2s ease-in; // Use the glow animation, duration is 2 seconds.
        background: var(--color-primary-opaque-1);
        box-shadow: 0 0 calc($shadow-size / 2) var(--color-primary) 0 0 $shadow-size var(--color-primary);
      }
    }

    @keyframes glow {
      0% {
        box-shadow: 0 0 calc($shadow-size / 4) var(--color-primary), 0 0 calc($shadow-size / 2) var(--color-primary);
      }

      50% {
        box-shadow: 0 0 $shadow-size var(--color-primary), 0 0 $shadow-size var(--color-primary);
      }

      100% {
        box-shadow: 0 0 calc($shadow-size / 4) var(--color-primary), 0 0 calc($shadow-size / 2) var(--color-primary);
      }
    }


    &[class$="-nav-item"],
    &[class$="-wordmark"],
    &[class$="-flat"],
    &[class$="-link"],
    &[class$="-disabled-icon"],
    &[class$="-icon"] {
      pointer-events: none;
      background-color: transparent;
      outline: solid 1px transparent;
    }

    &[class$="-inherit"] {
      @extend .inherit;
    }

    &[class$="-nav-item"] {
      @media (max-width: 900px) {
        justify-content: flex-start;
      }

      outline: solid 1px transparent;

      &:hover {
        --ui-icon-color: var(--color-blue-10);
        color: var(--color-blue-10);
        border-bottom: solid 1px var(--color-blue-10);
      }
    }

    &[class$="-select__disabled"] {
      background-color: transparent;
      color: var(--color-gray-50);
      --ui-icon-color: var(--color-gray-50);
      border: none;
      outline: none;

      &:hover {
        background-color: transparent;
        --ui-icon-color: var(--color-gray-40);
        color: var(--color-gray-40);

        &::after {
          content: "COMING SOON";
          width: auto;
          height: 1.3rem;
          line-height: 1;
          background-color: var(--color-gray-50);
          color: var(--color-gray-40);
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          right: 0;
          top: 0;
          font-size: 0.8rem;
          font-weight: 600;
          font-style: italic;
          border-radius: 0.7rem;
          padding: 0 10px;
        }
      }
    }

    &[class$="-flat"],
    &[class$="-nav-item"],
    &[class$="-nav-item__active"] {
      border-radius: 0;
      --ui-icon-height: var(--s-6);
      --ui-icon-width: auto;
    }

    &[class$="-wordmark"] {
      justify-content: flex-start;
      width: 160px;
      --ui-icon-height: 33px;
      --ui-icon-width: 140px;
    }

    &[class$="-icon-blue"] {
      --ui-icon-color: var(--color-blue);
    }

    &[class$="-disabled"] {
      cursor: default;
      color: var(--color-gray-60);
      --ui-icon-color: var(--color-gray-60);

      &:hover {
        color: var(--color-gray-60);
        --ui-icon-color: var(--color-gray-60);
        background-color: var(--color-gray-70);
        outline: solid 1px var(--color-gray-60);
      }
    }

    &[class$="-link"] {
      border-radius: none;
      height: auto;
      padding: 0 3px;
      line-height: 1;
      outline: none;
      color: var(--color-blue);
      text-transform: none;
    }

    &[class$="-primary"] {
      color: var(--color-white);
      background-color: var(--color-primary);
    }

    &[class$="-disabled-icon"] {
      --ui-icon-color: var(--color-gray-60);
    }

    &[class$="-mini"] {
      color: var(--color-gray-40);
      background-color: transparent;
      height: 35px;
      outline: none;
    }

    &[class$="-miniactive"] {
      color: var(--color-gray-40);
      background-color: var(--color-gray-60, --mini-background-color);
      height: 35px;
      outline: none;
    }

    &[class$="-nav-item__active"] {
      cursor: default;
      color: var(--color-blue-10);
      --ui-icon-color: var(--color-blue-10);
      background-color: transparent;
      border-bottom: solid 1px var(--color-blue-10);
      // background-color: var(--color-gray-70, --background-color);
      outline: none;
      overflow: visible;

      @media (max-width: 900px) {
        background-color: transparent;
        color: var(--color-blue);
        --ui-icon-color: var(--color-blue);
      }
    }

    &[class$="-active"] {
      color: var(--color-gray-20);
      --ui-icon-color: var(--color-gray-20);
      background-color: var(--color-gray-70, --background-color);
      outline: none;
    }

    &[class$="-disabled-icon"],
    &[class$="-icon"] {
      --ui-icon-height: 12px;
      --ui-icon-width: 12px;
    }
    &[class$="dark"] {
      color: var(--color-gray-50);
      background-color: var(--color-gray-90-opaque);
      &:hover,
      &:focus,
      &:active {
        color: var(--color-gray-20);
      }

      &.form-control__element-disabled {
        color: var(--color-gray-60);
      }
    }



    .form-control__badge {
      position: absolute;
      top: 0;
      right: calc($badge * .7);
      height: $badge;
      width: $badge;
      min-width: $badge;
      min-height: $badge;
      background-color: rgb(235, 23, 0);
      border-radius: 50%;
      text-align: center;
      padding-top: calc($badge * .08);
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: '';
        display: block;
        padding-bottom: 100%;
      }

      .form-control__badge-content {
        font-size: calc($badge * .7);
        font-weight: 700;
        letter-spacing: 0ch;
        text-transform: none;
        color: rgb(255, 255, 255);
        display: block;
        font-variant-ligatures: no-common-ligatures;
      }

    }

    // RESPONSIVE
    &.form-control__element-responsive {
      width: var(--default-element-height);
      padding: 0;
      height: max-content;
      flex-direction: column-reverse;

      .form-control_before-icon,
      .form-control_after-icon {
        height: var(--default-element-height);
      }

    }

    // RESPONSIVE
  }
}