.product-listing{
    height: auto;
    margin: var(--padding) 0;
    border-radius: var(--border-radius);
    padding: var(--padding);
    background-color: var(--gray-100);
    box-shadow: var(--box-shadow);
}