$defSize: 10px;
$el_spacing: 12px;
$el_gap: 7px;

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select {
  cursor: pointer;
  position: relative;
  display: block;
  align-items: inherit;
  justify-content: space-between;
  outline: none;
  border: none;
  width: 100%;
  height: inherit;
  gap: inherit;
  text-transform: inherit;
  font-size: inherit;
  font-weight: inherit;
  // box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);

  &:hover {
    color: inherit;
  }

  &-sm {
    width: max-content;
  }

  &__clear {
    z-index: 4;
    @extend .d-flex;
    justify-content: flex-end;
    position: relative;
    min-height: var(--s-5);

    &:after {
      font-size: var(--s-7);
      color: var(--gray-60);
      position: absolute;
      padding: var(--s-12) var(--s-9);
      background-color: var(--gray-90);
      border-style: solid;
      border-width: 1px;
      border-color: var(--gray-70-o) var(--gray-70-o) transparent var(--gray-70-o);
      // border: solid 1px var(--gray-70);
      bottom: calc(var(--s-11) * -1);
      right: 0;
      content: 'clear';
      border-radius: var(--s-1) var(--s-9) 0 0;
    }

    &:hover {
      &:after {

        color: var(--gray-50);
        background-color: var(--gray-80);
        border-color: var(--gray-70) var(--gray-70) transparent var(--gray-70);
      }
    }
  }

  &.nav-item {
    background-color: transparent;

    @media (max-width: 900px) {
      width: 100%;
      justify-content: space-between;
    }
  }

  &.flat {
    background-color: transparent;

    @media (max-width: 900px) {
      justify-content: space-between;
    }
  }

  .select__selected {

    color: inherit;
    height: inherit;
    line-height: inherit;
    display: flex;
    gap: $el_gap;
    white-space: nowrap;
    cursor: pointer;
    --ui-icon-height: inherit;
    --ui-icon-width: inherit;
    text-transform: capitalize;
    align-items: center;
    width: 100%;

    &.nav-item {
      width: 100%;
    }
  }

  .select__options {
    left: 0;
    position: absolute;
    overflow: hidden;
    top: calc(100% + 3px);

    .left {
      left: auto;
      right: 0;
    }

    &.left {
      left: auto;
      right: 0;
    }

    .right {
      left: 0;
      right: auto;
    }

    &.right {
      left: 0;
      right: auto;
    }

    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    z-index: 3;
    min-width: 100%;
    width: max-content;

    &.nav-item--active {
      right: 0;

      @media (max-width: 900px) {
        z-index: 3;
        margin-top: 0;
        outline: none;
      }
    }
  }
}

.select.up .select__options {
  bottom: 100%;
}

.select.down .select__options {
  top: calc(100% + 5px);
}