$defSize: 10px;
$el_spacing: 12px;
$el_gap: 7px;

.menu {
  color: var(--gray-10);
  --ui-icon-color: var(--gray-90);
  min-width: calc(100% - calc($el_gap * 2));
  border-radius: var(--border-radius);
  overflow: hidden;
  z-index: 2;
  background-color: var(--gray-70-opaque);

  backdrop-filter: blur(7px);
  border: solid 1px var(--gray-80);
  .menu__search {
    padding: 12px;
  }

  .menu__no-results {
    height: var(--element-height);
    line-height: 1;
    display: flex;
    align-items: center;
  }

  &.menu__nav-item__active,
  &.menu__nav-item {
    --ui-icon-color: var(--gray-40);
    @media (max-width: 900px) {
      background-color: var(--gray-90);
    }
  }


  &.menu__flat {
    width: 100%;
    overflow: hidden;
    
    .menu__option {
      &:hover {
        background-color: var(--primary-opaque);
      }

      &.active {
        color: var(--gray-30);
        --ui-icon-color: var(--gray-30);
      }
    }

    // background-color: var(--primary);
  }

  .menu__option {
    &:not(:last-child){
      border-bottom: solid 1px var(--gray-80);
    }
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--element-height) + 0px);
    --ui-icon-width: 16px;
    line-height: 1;
    cursor: pointer;
    justify-content: space-between;
    width: inherit;

    &:hover {
      background-color: var(--primary-opaque);
      border-bottom-color: var(--color-primary-opaque);
    }

    &.active {
      background-color: var(--primary);
      color: var(--gray-30);
      --ui-icon-color: var(--gray-30);
    }

    &.disabled {
      --ui-icon-color: var(--gray-50);
      color: var(--gray-50);
      // cursor: not-allowed;
      cursor: default;
      position: relative;
      overflow: visible;
    }
  }

}