$defSize: 10px;
$el_spacing: 12px;
$el_gap: 7px;

.menu {
  color: var(--gray-10);
  --ui-icon-color: var(--gray-70);
  min-width: calc(100% - calc($el_gap * 2));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: max-content;
  overflow: hidden;
  .menu__search {
    padding: 12px;
  }
  .menu__no-results {
    height: var(--element-height);
    line-height: 1;
    display: flex;
    align-items: center;
  }

  &.menu__nav-item__active,
  &.menu__nav-item {
    @media (max-width: 900px) {
      background-color: var(--gray-90);
    }
  }


  &.menu__flat {
    border-radius: unset;
    width: 100%;
    .menu__option {
      overflow: hidden;
      &:hover{
        background-color: var(--primary-opaque);
      }
      &.active{
        color: var(--gray-30);
        --ui-icon-color: var(--gray-30);
      }
    }
    
    // background-color: var(--primary);
  }

  .menu__option {
    $brdr: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--element-height) + 0px);
    --ui-icon-width: 16px;
    line-height: 1;
    cursor: pointer;
    justify-content: space-between;
    width: calc(100% - calc($brdr * 2));
    &:first-child{border-radius: var(--border-radius) var(--border-radius) 0 0;}
    &:last-child{border-radius:0 0 var(--border-radius) var(--border-radius);}
    border-width: $brdr;
    border-style: solid;
    border-color: var(--gray-80);
    background-color: var(--gray-80);

    &:hover{
      background-color: var(--gray-70);
    }
    &.active{
      background-color: var(--primary);
      color: var(--gray-30);
      --ui-icon-color: var(--gray-30);
    }
    &.disabled {
      --ui-icon-color: var(--gray-50);
      color: var(--gray-50);
      // cursor: not-allowed;
      cursor: default;
      position: relative;
      overflow: visible;
    }
  }

}