@keyframes grow-up {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

@keyframes grow-right {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.graph {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  height: 100%;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  overflow-x: auto;
  
  &::-webkit-scrollbar {
    width: 10px;
    aspect-ratio: 1/1;
    background-color: #00000033;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #2e5082;
    border-radius: 3px;
  }
  &:hover{
    &::-webkit-scrollbar-thumb {
      background-color: var(--color-blue);
    }
  }

  @media(max-width:900px) {
    overflow-x: hidden;
    font-size: 12px;
    align-items: flex-start;
    margin-top: 20px;
    overflow-y: auto;
  }

  .graph-content {
    width: 100%;
    @media(min-width:900px) {
      padding: 20px;
      display: inline-flex;
      gap: 10px;
    }

    .graph-column {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      &:hover{
        filter:brightness(1.2)
      }
      @media(max-width:900px) {
        height: 35px;
        max-width: calc(100% - 20px);
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        &::before {
          content: attr(data-key);
          white-space: nowrap;
          color: var(--color-gray-50);
        }
      }

      .graph-bar-container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        @media(min-width:900px) {
          animation: grow-up 2s;
        }

        @media(max-width:900px) {
          flex-direction: row-reverse;
          animation: grow-right 2s;
        }
        
        .graph-value {
          visibility: hidden;
          text-align: center;
          padding:0 10px;
          @media(max-width:900px) {
            visibility: visible;
          }
        }

        &:hover {
          &::before {
            color: white;
          }
          .graph-value {
            visibility: visible;
          }
          .graph-bar,
          .graph-bar-mobile {
            &.pos,
            &.neg {
              opacity: 1;
            }
          }

          .graph-x {
            color: white;
          }
        }

        .graph-bar{
          &.pos,
          &.neg {
            opacity: .5;
          }

          &.pos {
            background-color: var(--color-green-60);
          }
          &.neg {
            background-color: var(--color-red-60);
          }
        }
        .graph-bar-mobile {
          &.pos {
            background-color: var(--color-green-60);
          }
          &.neg {
            background-color: var(--color-red-60);
          }
        }
        .graph-bar {
          width: 100%;
          border-radius: 3px;
          @media(max-width:900px) {
            display: none;
          }
        }

        .graph-bar-mobile {
          border-radius: 3px;
          height: 10px;
          display: none;
          @media(max-width:900px) {
            display: unset;
          }
        }
      }

      .graph-x {
        font-size: 12px;
        color: var(--color-gray-50);
        white-space: nowrap;
        text-align: center;
        @media(max-width:900px) {
          display: none;
        }
      }
    }
  }
}