@keyframes fade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-col {
    @extend .d-flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cart {
    @extend .d-flex-col;
    width: 100%;
    z-index: 1;
    margin-top: var(--s-element);
    .cart__header {
        gap:var(--s-9);
        @extend .d-flex;
        width: var(--s-border-width);
        align-items: flex-start;
        justify-content: space-around;
        .cart__header-title {
            font-size: 22px;
        }
        @media(max-width:900px){
            gap: 7px;
            flex-direction: column;
            width: var(--s-padding-width);
        }
    }

   
}
