@keyframes fade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-col {
    @extend .d-flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cart {
    @extend .d-flex-col;
    width: 100%;
    .cart__header {
        @extend .d-flex;
        gap: 7px;
        width: 100%;
        align-items: flex-start;
        .cart__header-title {
            font-size: 22px;
        }
        @media(max-width:900px){
            flex-direction: column;
            width: 100%;
        }
    }

   
}
