
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   

.documents-none{
    border-radius: var(--border-radius);
    background-color: var(--gray-80);
    @extend .d-flex;
    height: 500px;
    font-size: var(--s-2);
    font-weight: 900;
    color: var(--secondary);
    
    text-transform: capitalize;
    &--content{
        background-color: var(--gray-90);
        @extend .d-flex;
        border-radius: var(--border-radius);
        width: var(--padding-width);
        height: var(--padding-width);
    }
}