.adapt-container {
  position: relative;
  overflow: hidden;
  background-color: var(--gray-100);
  .adapt-container__content {
    width: 100%;
    display: flex;
    height: inherit;
    overflow-x: auto;
    &::-webkit-scrollbar-thumb {
      background-color: var(--blue-60);
    }

    &::-webkit-scrollbar {
      width: 10px;
      aspect-ratio: 1/1;
      background-color: #00000033;
    }
  }
  .adapt-container__btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    pointer-events: all;
    touch-action: none;
  }
}
