.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.admin-customer-forms{
 width: 100%;
 height: 100%;
 @extend .d-flex;
 flex-direction: column;
 gap:var(--s-9);
&__header{}
}