$background: var(--color-gray-80);

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-col {
    @extend .d-flex;
    flex-direction: column;
}

.collapse {
    @extend .d-flex-col;
    overflow-y: hidden;
    // overflow: visible;
    border-radius: var(--default-border-radius);
    width: calc(100% - 4px);
    background-color: var(--color-gray-70);
    border: solid 1px var(--color-gray-60);
    outline: solid 1px var(--color-gray-80);
    color: var(--color-gray-50);
    --ui-icon-color: var(--color-gray-60);
    margin-bottom: 10px;
    z-index: 1;

    &.collapse-dark {
        background-color: $background;
    }

    .collapse__content {
        animation: open 1s forwards ease-out;
        animation-play-state: paused;
        height: max-content;
    }


    &.collapse-closed {
        .collapse__content {
            animation: close 1s forwards ease-in;
            animation-play-state: running;
        }
    }

    .collapse__button {
        z-index: 3;
        overflow: hidden;
        background-color: $background;
        width: calc(100% - 20px);
        .collapse__button-content {
            text-transform: capitalize;
            width: 100%;
            height: var(--default-element-height);
            @extend .d-flex;
            justify-content: space-between;
            font-size: var(--s-4);
            &:hover {
                cursor: pointer;
                color: var(--color-primary);
                --ui-icon-color: var(--color-primary);
            }
        }
    }

    .collapse__content {
        opacity: 1;
        z-index: 1;
        width: calc(100% - 28px);
        transform: translateY(calc(-100% - 8px));
        @extend .d-flex-col;
        height: 0px;
        padding: 0 12px 0;

    }
}

@keyframes btnBorder {
    0% {
        color: var(--color-gray-60);
        --ui-icon-color: var(--color-gray-60);
        border-bottom: solid 1px #f30;
    }

    100% {
        color: var(--color-white);
        border-bottom: solid 1px transparent;
        --ui-icon-color: var(--color-white);
    }
}

@keyframes close {
    0% {
        display: flex;
        filter: blur(0);
        opacity: 1;
        transform: translateY(0);
        padding-bottom: 25px;
    }

    20% {
        filter: blur(3px);
    }

    70% {
        filter: blur(6px);
    }

    100% {
        display: none;
        opacity: 0;
        transform: translateY(-100%);
        padding-bottom: 0;
        filter: blur(0);
    }
}

@keyframes open {
    0% {
        display: none;
        opacity: 0;
        height: 0;
        transform: translateY(-100%);
        padding-bottom: 0;
        filter: blur(0);
    }

    20% {
        filter: blur(9px);
    }

    70% {
        filter: blur(3px);
    }

    100% {
        display: flex;
        filter: blur(0);
        opacity: 1;
        height: auto;
        transform: translateY(0);
        padding-bottom: 25px;
    }
}


// // @keyframes close {
// //     0% {
// //         display: flex;
// //         filter: blur(0);
// //         opacity: 1;
// //         transform: translateY(0);
// //         padding-bottom: 25px;
// //     }
// //     20%{
// //         filter: blur(3px);
// //     }
// //     80% {
// //         filter: blur(6px);
// //         opacity: 1;
// //     }
// //     99% {
// //         filter: blur(0);
// //         opacity: .5;
// //         transform: translateY(0);
// //         padding-bottom: 25px;
// //     }
// //     100% {
// //         display: none;
// //     }
// // }