// Variables
$button_height: calc(var(--element-height) - 2px);
$actColorClose: var(--gray-30);

// Mixins
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

$pad: 4px;
$wid: calc(100%);

@mixin actionAnimation($startColor, $midColor, $endColor) {

    0%,
    100% {
        color: $startColor;
        --ui-icon-color: $startColor;
        border-bottom: solid 1px var(--gray-70);
    }

    50% {
        color: $midColor;
    }

    99% {
        color: $midColor;
    }
}

@keyframes openCollapse {
    0% {
        height: $button_height;
    }

    20% {
        height: 50%;
    }

    100% {
        height: max-content;
    }
}

@keyframes closeCollapse {
    0% {
        height: max-content;
    }

    20% {
        height: 50%;
    }
    
    100% {
        height: $button_height;
    }
}

@keyframes openAction {
    @include actionAnimation($actColorClose, var(--gray-40), $actColorClose);
}

@keyframes closeAction {
    @include actionAnimation($actColorClose, var(--gray-60), $actColorClose);
}

@keyframes openBody {
    0% {
        transform: translateY(-100%);
        height: var(--element-height);
    }

    100% {
        transform: translateY(0);
        margin-top: calc(var(--element-height) - 2px);
        height: max-content;
    }
}

@keyframes closeBody {
    0% {
        transform: translateY(0);
        height: max-content;
    }

    100% {
        transform: translateY(calc(-100% + var(--element-height)));
        height: 0;
    }
}

// Styles
.d-flex {
    @include flexCenter;
}

.collapse {
    width: 100%;
    border: solid 1px var(--gray-70);
    position: relative;
    z-index: 1;
    border-radius: var(--border-radius);
    overflow: hidden;
    color: var(--gray-60);
    flex-direction: column;
    @include flexCenter;
    height: $button_height;
    min-height: $button_height;
    background-color: var(--gray-90);

    @media(max-width:900px) {
        padding: 0;
    }

    &__opened {
        height: max-content;
    }
    &__open {
        animation: openCollapse 1s forwards;
    }

    &__close {
        animation: closeCollapse 1s forwards;
    }

    &__action {
        background-color: var(--gray-70);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 0 var(--s-7);

        height: $button_height;
        @include flexCenter;
        text-transform: capitalize;
        font-size: var(--s-5);
        font-weight: 700;
        @media(max-width:1100px) {
            font-size: var(--s-5);
        }

        color: $actColorClose;
        --ui-icon-color: $actColorClose;
        z-index: 2;
        cursor: pointer;
        justify-content: space-between;
        line-height: 1;

        &:hover {
            background-color: var(--gray-80);
        }
        &__opened {
            color: var(--gray-40);
        }
        &__open {
            animation: openAction 1s forwards;
        }

        &__closed {
            animation: closeAction 1s forwards;
        }
    }
    &__document{
        .collapse__body {
            $btm: var(--element-height);
            $nbtm: calc($btm * -1);
            box-shadow: inset 0 $nbtm $btm $nbtm var(--gray-100), inset 0 8px 8px -8px var(--gray-90);
            width: 100%;
            max-height: 800px;
            overflow-x: none;
            border: solid 1px var(--gray-70);
            overflow-y: scroll;
        }
        .collapse__action{
        background: var(--primary-opaque);
            backdrop-filter: blur(4px);

        }
    }
    &__flat {
        padding: 0;
        width: $wid;
        border-style: solid;
        border-width: 0 0 1px 0;
        
        margin: 0;
        border-radius: 0;
        .collapse__action {
            border-radius: unset;
            // background-color: var(--gray-100);
            ---ui-icon-color: var(--gray-50);
            &:hover{
                background-color: var(--gray-80);
            }
            &__open, &__opened {
                background-color: var(--primary);
            }
        }
        
        .collapse__body {
            width: 100%;
            padding: 0 !important;
            background-color: var(--gray-80);
            &__open, &__opened {
                padding-top: var(--element-height);
            }
        }
    }
}

.collapse__body {
    width: calc(100% - var(--padding));
    height: var(--element-height);
    padding: var(--padding) 0;
    &__open {

        animation: openBody 1s forwards;
    }
    &__opened {
        transform: translateY(0);
        margin-top: calc(var(--element-height) - 2px);
        height: max-content;
    }
    &__close {
        animation: closeBody 1s forwards;
    }
}