// Variables
$button_height: calc(var(--default-element-height) - 4px);
$actColorClose: var(--color-gray-30);

// Mixins
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}




@mixin actionAnimation($startColor, $midColor, $endColor) {
    0%, 100% {
        color: $startColor;
        --ui-icon-color: $startColor;
        border-bottom: solid 1px var(--color-gray-80-opaque);
    }
    50% {
        color: $midColor;
        border-bottom: solid 1px var(--color-gray-70-opaque);
    }
    99% {
        color: $midColor;
        border-bottom: solid 1px var(--color-gray-60-opaque);
    }
}

@keyframes openCollapse {
    0%{
        height: $button_height;
        width: calc(100% - calc(var(--default-padding) * 2));
        padding: 0 var(--default-padding);
    }
    20%{
        height: 50%;
        width: calc(100% - calc(var(--default-padding) * 2));
        padding: 0 var(--default-padding);
    }
    100%{
        width: calc(100% - calc(var(--default-padding) * 2));
        padding: var(--default-element-height) var(--default-padding) var(--default-padding);
        height: max-content;
    }
}
@keyframes closeCollapse {
    0%{
        width: calc(100% - calc(var(--default-padding) * 2));
        padding: var(--default-element-height) var(--default-padding) var(--default-padding);
        height: max-content;
    }
    20%{
        height: 50%;
        width: calc(100% - calc(var(--default-padding) * 2));
        padding: 0 var(--default-padding);
    }
    100%{
        height: $button_height;
        width: calc(100% - calc(var(--default-padding) * 2));
        padding: 0 var(--default-padding);
    }
}
@keyframes openAction {
    @include actionAnimation($actColorClose, var(--color-gray-40), $actColorClose);
}

@keyframes closeAction {
    @include actionAnimation($actColorClose, var(--color-gray-60), $actColorClose);
}
@keyframes openBody {
    0%{
        height: $button_height;
    }
    20%{
        height: 50%;
    }
    100%{
        height: max-content;
    }
}
@keyframes closeBody {
    0%{
        height: max-content;
    }
    20%{
        height: 50%;
    }
    100%{
        height: $button_height;
    }
}
// Styles
.d-flex {
    @include flexCenter;
}


.brdr {
    outline: solid 1px var(--color-gray-60);
    border: solid 1px var(--color-gray-80);
    width: calc(100% - 2px);
}

.collapse {
    @extend .brdr;
    position: relative;
    z-index: 1;
    border-radius: var(--default-border-radius);
    overflow: hidden;
    color: var(--color-gray-60);
    background-color: var(--color-gray-40);
    flex-direction: column;
    @include flexCenter;
    width: calc(100% - calc(var(--default-padding) * 2));
    padding: 0 var(--default-padding);
    height: $button_height;
    animation: openCollapse 1s forwards; 
    /* &__open{ 
    }
    &__close{ animation: closeCollapse 1s forwards; } */
    &__action {
        background-color: var(--color-gray-60);
        position: absolute;
        top:0;
        width: calc(100% - var(--default-padding));
        padding: 0 var(--default-padding);
        height: $button_height;
        @include flexCenter;
        /* background-color: var(--color-gray-50); */
        text-transform: capitalize;
        font-size: var(--s-6);
        color: $actColorClose;
        --ui-icon-color: $actColorClose;
        z-index: 2;
        cursor: pointer;
        justify-content: space-between;
        line-height: 1;
 

        animation: closeAction 1s forwards;
        animation-play-state: paused;

        &:hover {
            background-color: var(--color-gray-70);
        }

        &.collapse__action-open {
            animation: openAction 1s forwards;
            animation-play-state: running;
        }

        &.collapse__action-closed {
            animation: closeAction 1s forwards;
            animation-play-state: running;
        }
    }
    .collapse__body{
        overflow: hidden;
        width: 100%;
        &.__open{ 
            border: solid 1px #f30;
            animation: openBody 1s forwards; 
        }
        &.collapse__body__close{ 
            animation: closeBody 1s forwards; 
        }
    }
}
