.info {
  gap: 10px;
  --ui-icon-height: 16px;
  --ui-icon-width: 16px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;

  @media(max-width:900px) {
    float: right;
    height: 16px;
    padding: 0;
  }

  .bordered {
    --ui-icon-color: white;
    padding: 4px;
    border-radius: 4px;
    background-color: var(--color-gray-60);
  }
}

.report-details_subheader {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  display: flex;
  gap:16px;
  @media(max-width:900px){
    flex-direction: column;
    width: 100%;
  }
  .report-details_subheader-column {
    display: flex;
    font-size: 14px;
    gap:6px;
    flex-direction: column;
    // height:40px;
    justify-content: space-between;
    @media(max-width:900px){
      flex-direction: row;
      align-items: center;
    }
    .report-details_subheader-key {
      white-space: nowrap;
      color: var(--color-gray-50);
      text-transform: capitalize;
    }
    .report-details_subheader-value {
      display: flex;
      align-items: flex-end;
      font-size:16px;
      height:20px;
      .report-details__subheader-link{
        color:var(--color-blue);
        &:hover{
          filter: brightness(1.3);
        }
      }
    }
  }
}