$magnifySize: 15px;
$bRad: 5px;
$defaultPadding: 15px;

.adaptable-header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 10px 10px;
  @media(max-width: 900px){
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    @media(max-width: 450px){
      padding: 10px 5px;
    }
  }.adaptable-header__search-input{
    @media(max-width: 900px){
      width: 100%;
    }
    @media(max-width: 450px){
      padding: 0 5px;
      width: calc(100% - 10px);
    }
  }
  .adaptable-header__table-title { 
    display: flex;
    width: 100%;
    align-items: center;
    height: var(--element-height);
    gap: calc($defaultPadding / 2);
    text-transform: capitalize;
    
    .adaptable-header__logo {
      --ui-icon-width: var(--s-2); 
      --ui-icon-height: var(--s-2);
      --ui-icon-color: var(--gray-40);
      @media(max-width:900px){
        --ui-icon-color: var(--gray-40);
        --ui-icon-width: var(--s-2); 
        --ui-icon-height: var(--s-2);
      }
    }
    
    .adaptable-header__title {
      display: flex;
      width: 100%;
      align-items: center;
      padding: 0;
      height: inherit;
      font-size: var(--s-4);
      font-weight: 500;
    }
  }

  .adaptable-header__filters {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    .adaptable-header__filter{
      @media(max-width:900px){
        width: 100%;
      }
    }
  }
}