.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes bump {
    0% {
        transform: rotate(0deg);
        background-color: var(--gray-70);
    }

    30% {
        transform: rotate(10deg);
        background-color: var(--error);
    }

    70% {
        transform: rotate(-5deg);
        background-color: var(--gray-70);
    }

    100% {
        transform: rotate(0deg);
        background-color: var(--error);
    }
}


@keyframes glowTxt {
    0% {
        text-shadow: 0 0 var(--s-9) var(--primary);
    }

    100% {
        text-shadow: 0 0 var(--s-8) var(--secondary);
    }
}

// Helpers
%element-color {
    --ui-icon-color: var(--gray-40);
    background-color: var(--gray-80);

    &:focus-within {
        color: var(--gray-40);

        .form-control__icon {
            --ui-icon-color: var(--gray-40);
        }
    }

    &:hover {
        transition: all 300ms;
        --ui-icon-color: var(--gray-50);
        color: var(--gray-50);
        background-color: var(--gray-80);
        border: solid 1px var(--gray-60);
    }

    &-disabled {
        filter: brightness(.7) blur(2px);

        &:hover {
            color: var(--gray-60);
            --ui-icon-color: var(--gray-60);
            background-color: var(--gray-70);
            outline: solid 1px var(--gray-60);
        }
    }
}



.b-rad {
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    outline: solid 1px transparent;
    border-radius: var(--border-radius);
}

// FORM CONTROL ELEMENT
// FORM CONTROL ELEMENT
// FORM CONTROL ELEMENT

.form-control__element {
    color: var(--gray-50);
    font-size: var(--font-size);
    --ui-icon-width: var(--font-size);
    --ui-icon-height: var(--font-size);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    font-weight: 300;
    @extend .d-flex;
    line-height: 1;
    height: calc(var(--s-element) - 2px);
    white-space: nowrap;
    width: auto;

    // SIZES
    &-xs,
    &-sm,
    &-md,
    &-lg,
    &-xl,
    &-xxl {
        height: auto;
        width: max-content !important;
        line-height: 1.5;
    }

    &-xs {
        font-size: var(--s-9);
    }

    &-sm {
        font-size: var(--s-7);
        padding: 0 ;
    }

    &--input {
        &-sm{
            font-size: var(--s-8);
            height: var(--s-4);
            padding: 0 var(--s-9);
        }
    }

    &-md {
        font-size: var(--s-6);
    }

    &-lg {
        font-size: var(--s-4);
    }

    &-xl {
        font-size: var(--s-3);
    }

    &-xxl {
        font-size: var(--s-2);
    }

    // PSUEDO's
    // FORM CONTROL ELEMENTS - APPLY HELPERS

    &:not(&--warning, &--center, &--glow, &--checkbox, &--primary,&--inherit, &--dark, &--lite, &--flat, &--secondary, &--link,  &--select, &--invalid, &--input, &--textarea, &--signature) {
        @extend %element-color;
    }

    &:not( &--signature, &--checkbox) {
        @extend .b-rad;
    }

    // HANDLE ICONS
    &:not(&--before-icon, &--after-icon){
        padding: 0 var(--s-9);
    }
    // &--before-icon:not(&-sm,  &--link) {
    //     padding-left: var(--s-element);
    // }

    // &--after-icon:not(&-sm,  &--link) {
    //     padding-right: var(--s-element);
    // }
    // HANDLE ICONS
    &--before-icon {
        &.form-control__element--link{
            gap: var(--s-9);
        }
    }

    &--after-icon--link {
        &.form-control__element--link{
            gap: var(--s-9);
        }
    }

    // ELEMENTS
    &--button {
        color: inherit;
        border-style: solid;
        border-width: 1px;
        border-color: unset;
        filter: brightness(.8);

        &:hover,
        &:focus {
            filter: brightness(1);
        }
    }

    &--checkbox {
        width: max-content;
        padding: 0;
        height: var(--s-element);
    }

    &--input,
    &--textarea {

        --ui-icon-color: var(--gray-50);
        background-color: var(--gray-60-opaque);
        border: solid 1px var(--gray-50-opaque) !important;
        box-shadow: inset 1px 1px 3px 2px var(--gray-80-opaque);

        &:not( &--signature) {
            font-family: 'Game', sans-serif;
            font-style: italic;
        }

        &:focus-within {
            &:not(.form-control__element--nav-item, .form-control__element--signature) {
                border: solid 1px var(--gray-10) !important;
                --ui-icon-color: var(--gray-10);
                color: var(--gray-10);
                background-color: var(--gray-70);
            }
        }

        &:not(&--signature, &--dark, &--disabled) {
            &:hover:not(&:focus-within) {
                // border-radius:0 0  var(--border-radius) var(--border-radius);

                background-color: var(--gray-60);
                font-weight: 500;
                color: var(--gray-100);
                --ui-icon-color: var(--gray-100);
            }
        }

        &:nth-child(2) {
            padding-left: var(--s-8);
        }
    }

    &--textarea {
        height: max-content;
        max-width: inherit;
        padding-top: 4px;
        min-height: var(--s-element);
    }

    &-disabled,
    &--disabled {
        &:hover {
            user-select: none;
            cursor: not-allowed;
        }
    }

    &-sm:not(&--after-icon),
    &-sm:not(&--before-icon) {
        padding: 0 var(--s-9)
    }
    &--flat{
        &--after-icon{
            padding: 0 var(--s-2);
            &-sm{
                padding: 0 var(--s-10);
            }
        }
    }

    &--input-color {
        padding: 0;
        height: 100%;
        background-color: transparent;
    }


    // FORM CONTROL ELEMENTS - VARIANT DEFINITIONS
    @mixin variant($name,
        $bg, $c, $bc,
        $hBg, $hC, $hBc,
        $fBg, $fC, $fBc,
    ) {
        &--#{$name} {
            background-color: $bg;
            border: solid 1px $bc;
            color: $c;
            --ui-icon-color: $c;

            &:hover {
                background-color: $hBg;
                border: solid 1px $hBc;
                color: $hC;
                --ui-icon-color: $hC;
            }

            &:focus-within {
                background-color: $fBg;
                border: solid 1px $fBc;
                color: $fC;
                --ui-icon-color: $fC;
            }
        }
    }


    @include variant('primary',
        var(--primary-opaque), var(--gray-30), var(--primary-opaque),
        var(--primary-opaque), var(--primary), var(--primary),
        var(--primary), var(--white), transparent,
    );

    &--secondary {
        background-color: var(--secondary-opaque);
        color: var(--gray-20);

        &:hover {
            background-color: var(--secondary);
            color: var(--white);
        }
    }

    @include variant('warning',
        var(--gray-80), var(--warning), var(--warning-hover),
        var(--warning-hover), var(--gray-40), var(--warning-focus),
        var(--warning-focus), var(--gray-10), transparent,
    );
    @include variant('signature',
        inherit, var(--gray-40), transparent,
        inherit, var(--gray-50), transparent,
        inherit, var(--gray-30), transparent,
    );

    &--center {
        min-width: 150px;
        justify-content: space-between;
    }

    &--fit-text {
        white-space: unset;
        justify-content: flex-start;
        height: auto;
    }

    &--signature {
        @extend .d-flex;
        position: relative;
        overflow: visible;

        &:hover {
            border-color: transparent;
        }

        &::before {
            @extend .d-flex;
            position: absolute;
            content: "x";
            left: 0;
            color: var(--gray-70);
            font-size: var(--s-5);
            bottom: calc(var(--s-9) * -1);
            background-color: inherit;
            z-index: 1;
            width: var(--s-1);
            text-align: center;
            line-height: 1;
        }

        &::after {
            position: absolute;
            content: '';
            bottom: 0;
            border-top: solid 1px var(--gray-70);
            width: calc(100% - var(--s-padding));
        }

        &:hover {
            &::before {
                color: var(--gray-50);
            }

            &::after {
                border-top-color: var(--gray-50);
            }
        }

        &:focus-within:not(&:hover) {
            &::before {
                color: var(--gray-30);
            }

            &::after {
                border-top-color: var(--gray-30);
            }
        }
    }

    @include variant('lite',
        var(--gray-40), var(--gray-70), var(--gray-10),
        var(--gray-30), var(--gray-70), var(--secondary),
        var(--gray-40), var(--gray-50), var(--gray-50));
    @include variant('dark',
        var(--gray-100), var(--gray-50), var(--gray-80),
        var(--gray-70-opaque), var(--primary), var(--primary),
        var(--primary-opaque), var(--gray-50), var(--gray-50));
    @include variant('secondary',
        var(--secondary-opaque), var(--gray-20), var(--gray-20),
        var(--secondary-opaque), var(--gray-20), var(--gray-20),
        var(--secondary-opaque), var(--gray-20), var(--gray-20));
    @include variant('link',
        transparent, var(--blue), transparent,
        transparent, var(--blue-10), transparent,
        transparent, var(--blue-10), transparent);

        @keyframes glow {
            0%, 100% {
                color: var(--gray-20); /* Adjusted for demonstration, replace with var(--gray-10-opaque) or any color */
                --ui-icon-color: var(--gray-20); /* Adjusted for demonstration, replace with var(--gray-10-opaque) or any color */
                background-color: var(--primary-opaque); /* Semi-transparent, adjust as needed */
                border-color: var(--primary-opaque); /* Example hex, replace with var(--primary) or any color */
                box-shadow: 0 0 4px 0 var(--primary); /* Soft glow, adjust color and opacity */
            }
        
            50% {
                --ui-icon-color: var(--white); /* Brighter color for the pulse peak */
                background-color: var(--primary); /* More visible than start/end */
                border-color: var(--primary); /* Keep consistent or adjust for effect */
                box-shadow: 0 0 2px 3px var(--primary-lite);
            }
        }
        
         &--glow {
            border: solid 1px;
            overflow: visible;
            margin: 0 5px;
            animation: glow 3s infinite ease-in-out;
        }
        
         &--glow:focus,
         &--glow:focus-within {
            background-color: var(--gray-80); /* Adjusted for visibility, replace with var(--gray-80) */
        }
        
         &--glow:hover:not(:focus, :focus-within) {
            animation: none;
            background-color: var(--primary-lite); /* Slightly lighter, replace with var(--gray-70) */
            color: var(--gray-10); /* Example hex, represents a lighter primary color, replace with var(--primary-lite) */
            box-shadow: 0 0 8px 2px var(--primary); /* Soft glow, adjust as needed */
        }

    // &--glow {
    //     border: solid 1px;
    //     overflow: visible;
    //     margin: 0 5px;
    //     animation: glow 3s infinite ease-out;
    //     &:focus,
    //     &:focus-within {
    //         background-color: var(--gray-80);
    //     }

    //     &:hover:not(&:focus, &:focus-within) {
    //         animation: unset;
    //         background-color: var(--gray-70);
    //         color: var(--primary-lite);
    //         box-shadow: 0 0 3px 1px var(--primary-opaque);
    //     }
    // }

    &--link {
        padding: 0;
        width: max-content;
        gap: var(--s-10);
        &:hover {
            animation: glowTxt 1s infinite;
        }
    }

    // &--link.form-control__element--after-icon {
    //     padding-right: var(--s-5);
    // }

    // &--link.form-control__element--before-icon {
    //     padding-left: var(--s-5) !important;
    // }

    &--bump {
        animation: bump .3s;
    }

    &--pill {
        border: solid 1px var(--gray-70);
        width: max-content;
    }

    // FORM CONTROL ELEMENTS - INVALID DEFINITIONS
    &--error {
        position: relative;
        color: var(--invalid-border) !important;
        --ui-icon-color: var(--invalid-border) !important;

        &:not(&--signature) {
            border: solid 1px var(--invalid-border) !important;
        }

        &--signature {
            border: solid 1px transparent !important;

            .form-control__invalid {
                color: var(--error) !important;
            }
        }

        .form-control__invalid {
            position: absolute;
            font-family: Play;
            font-style: italic;

            right: var(--s-2);
            font-size: var(--s-3);
            font-weight: bold;
            user-select: none;
            color: var(--secondary-opaque);
            opacity: .5;
        }
    }

    &--select {
        &--flat{
            background-color: var(--gray-70-opaque);
            color: var(--gray-70-opaque);
            --ui-icon-color: var(--gray-70-opaque);
            border: solid 1px transparent;
            
            &:hover,
            &:focus-within {
                background-color: var(--gray-70);
                color: var(--gray-30);
                --ui-icon-color: var(--gray-70);
                border: solid 1px var(--gray-90);
            }
        }
    }

    // FORM CONTROL ELEMENTS - ELEM TYPES
    &--select:not( &--flat) {
        color: var(--gray-90);
    }
    &--select:not( &--flat, &--lite) {
            color: var(--gray-60);
            --ui-icon-color: var(--gray-60);
            background-color: var(--gray-90);


        &:hover {
            color: var(--gray-40);
            --ui-icon-color: var(--gray-40);
        }

        &:focus-within {
            color: var(--white);
            --ui-icon-color: var(--white);
            background-color: var(--gray-70);
        }
    }
}