.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark {
  border-radius: calc(var(--border-radius) - var(--s-12));
  width: calc(var(--s-element) - var(--s-10));
  margin: 4px 3px;
  height: calc(var(--s-element) - var(--s-10));
  aspect-ratio: unset;
  background-color: var(--dark-o);

  &:hover {
    background-color: var(--primary-o);
  }
}

.form-control-icon {

  @extend .d-flex;
  --ui-icon-color: inherit;
  --ui-icon-size: var(--s-5);
  padding: 0 var(--s-9) 0 var(--s-10);
  &-nav-item {
    justify-content: flex-end;
    position: relative;
    padding: 0;
    @media(max-width:1100px) {
      position: relative;
    }
  }
  &-flat{
    width: var(--s-2);
  }
  &-link {
    width: var(--s-5);
    @media(max-width:1100px) {
      position: relative;
    }
  }

  &-sm {
    position: relative;
    --ui-icon-height: var(--s-7);
    --ui-icon-width: 100%;
   }

  // &__before {
  //   left: 0;
  // }

  // &__after {
  //   right: 0;
  // }
}