.element-color{
    --ui-icon-color: var(--color-gray-50);
    background-color: var(--color-gray-90);
    &:focus-within {
        color: var(--color-gray-40);
        .form-control__icon {
            --ui-icon-color: var(--color-gray-40);
        }
    }

    &:hover {
        --ui-icon-color: var(--color-gray-50);
        color: var(--color-gray-50);
        background-color: var(--color-gray-80);
        border: solid 1px var(--color-gray-60);
    }


    &-disabled {
        filter: brightness(.7);
        &:hover {
            color: var(--color-gray-60);
            --ui-icon-color: var(--color-gray-60);
            background-color: var(--color-gray-70);
            outline: solid 1px var(--color-gray-60);
        }
    }
}

.form-control__element {
    color: var(--color-gray-50);
    &:not(&--flat){
        @extend .element-color;
    }
    font-size: var(--default-font-size);
    --ui-icon-width: var(--default-font-size);
    --ui-icon-height: var(--default-font-size);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 1;
    height: calc(var(--default-element-height) - 2px);
    white-space: nowrap;
    width: auto;
    &--has-icon {
        padding: 0 var(--s-1);
    }
    &--input {
        &:nth-child(2) {
            padding-left: var(--s-9);
        }
    }
    &-disabled {
        &:hover {
            user-select: none;
            cursor: not-allowed;
        }
    }
}