$shadow-size: 8px;
$badge: 19px;
$elPad: 14px;

.inherit {
  // Inherits properties from the parent
  --ui-icon-color: inherit;
  --ui-icon-width: inherit;
  --ui-icon-height: inherit;
  text-decoration: inherit;
  color: inherit;
  background-color: inherit;
  height: inherit;
  min-height: inherit;
  max-height: inherit;
  width: inherit;
  min-width: inherit;
  max-width: inherit;
  padding: inherit;
  margin: inherit;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: inherit;
  gap: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  border: inherit;
  outline: inherit;
  border-radius: inherit;
  box-shadow: inherit;
  aspect-ratio: inherit;
  position: inherit;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
  width: var(--s-border-width);
  position: relative;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  height: max-content;
  justify-content: space-around;

  // &--input, &--textara{
  // &:hover:not( &:focus-within) {
  //     // border-radius: var(--border-radius);
  //     // background-color: var(--gray-80);
  //     // border: solid 1px var(--gray-50);
  //   }
  // }
  &:hover:not( &:focus-within) {
      label {
        color: var(--gray-50);
      }
  }
  &:focus-within{
    label{color: var(--gray-20) !important}
  }

  border: solid 1px transparent;

  &__badge {
    @extend .d-flex;
    top: 0;
    right: 0;
    position: absolute;
    background-color: #f30;
    width: var(--s-5);
    height: var(--s-5);
    font-size: var(--s-7);
    color: var(--white);
  }

  .form-control__header {
    @extend .d-flex;
    justify-content: space-between;
    min-height: var(--s-4);

    label {
      text-indent: var(--s-10);
      text-transform: uppercase;
      color: var(--gray-50-opaque);
      line-height: 2;
      font-weight: bold;
      font-size: var(--s-8);
      letter-spacing: 3px;

      @media(max-width: 900px) {
        font-size: var(--s-9);
      }
    }
  }

  &-sm {
    .form-control__header {
      min-height: unset;

      label {
        text-indent: var(--s-9);
        font-size: var(--s-9);
      }
    }
  }

  &.form-control--inherit {
    @extend .inherit;
  }

  &--maxY {
    height: 100%;
  }

  &.form-control--invalid {
    label {
      color: var(--orange);
    }
  }

  // VARIANT DEFINITIONS
  &--signature {
    gap: var(--s-4);
    background-color: var(--gray-90);
    height: max-content;

    &:hover {
      background-color: var(--gray-90);
    }
  }

  &--link,
  &--checkbox {
    width: auto;
  }

  &--dark {
    .form-control__header {
      label {
        color: var(--gray-100);
      }
    }
  }

}