.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}

.form-control-icon {
    @extend .d-flex;
    --ui-icon-color: inherit;
    position: absolute;
    width: var(--element-height);
    --ui-icon-width: var(--s-5);
    &-sm{
      width: calc(var(--s-9) * 2.33);
      --ui-icon-width: var(--s-9);
    }
    &__before{
      left: 0;
    }
    &__after{
      right: 0;
    }
  }