.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.surveillance-details{
    @extend .d-flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    gap:var(--s-9);
    width: 100%;
    &__header, &__body{
        @extend .d-flex;
        width: 100%;
    }
    &__header{
        gap:var(--s-1);
        @extend .d-flex;
        
        &--title{
            width: max-content;
            color:var(--primary-70);
            width: 100%;
            @extend .d-flex;

            justify-content: flex-end;
            font-size: var(--s-1);
            white-space:no-wrap;
            text-transform: capitalize;
        }
    }
    &__body{
        align-items: flex-start;
        @extend .d-flex;
        width: 100%;
        height: max-content;
        flex-direction: column;
        @media(max-width:1100px){
            align-items: center;
        }
        &--media, &--controls{
            min-width: none;
            
            min-height: max-content;
            @extend .d-flex;
            flex:1;
            padding:var(--s-9);
            max-height: 33vh;
        }
        &--media{
            height: max-content;
            // padding: 0;
            //         border-radius: var(--border-radius);
            // overflow: hidden;
            // width: 100%;
            // margin: 0;
            // height: 100%;
            // align-items: flex-start;
            // justify-content: flex-start;
            // @media (min-width:1100px) {
            //     flex:2;
            // }
        }
        &--controls{
            flex-direction: column;
            gap:var(--s-9);
            justify-content: flex-end;
        }
    }
}