img{
    width: 100%;
    height: auto;
    z-index: 1;
    position: relative;
    .d-flex{
     display: flex;
     justify-content: center;
     align-items: center;
    }

    @extend .d-flex;
}
.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.media__refresh{
    // position: absolute;
    width: 200px;
    // height: 100%;
    gap: var(--padding);
    @extend .d-flex;

}