$defSize: 10px;
$el_spacing: 12px;
$el_gap: 7px;

.select {
  cursor: pointer;
  position: relative;
  display: block;
  align-items: inherit;
  justify-content: space-between;
  // justify-content: inherit;
  outline: none;
  border: none;
  width: 100%;
  height: inherit;
  gap: inherit;
  text-transform: inherit;
  font-size: inherit;
  font-weight: inherit;
  &:hover {
    color: inherit;
  }

  &.nav-item {
    background-color: transparent;

    @media (max-width: 900px) {
      width: 100%;
      justify-content: space-between;
    }
  }

  &.flat {
    background-color: transparent;

    @media (max-width: 900px) {
      justify-content: space-between;
    }
  }

  .select__selected {
    color: inherit;
    height: inherit;
    line-height: inherit;
    display: flex;
    gap: $el_gap;
    white-space: nowrap;
    cursor: pointer;
    --ui-icon-height: inherit;
    --ui-icon-width: inherit;
    text-transform: capitalize;
    align-items: center;
    width: 100%;
    &.nav-item {
      width: 100%;
    }
  }
  .select__options {
    left: 0;
    position: absolute;
    // box-shadow: var(--default-box-shadow);
    z-index: 3;
    &.right {
      left: auto;
      right: 0;
    }
    // max-height: 500px !important;
    // overflow: auto;
    min-width: 100%;
    width: max-content;
    &.nav-item__active {
      // left: auto;
      right: 0;
      @media (max-width: 900px) {
        z-index: 3;
        margin-top: 0;
        padding-left: $el_spacing;
        outline: none;
      }
    }
  }
}

.select.up .select__options {
  // bottom: calc(100% + 5px);
  bottom: 100%;
}

.select.down .select__options {
  // top: calc(100% + 5px);
  top: 100%;
}
