$dur: 1s; // Duration of the animation
$hite: 500px;
$pad: 18px;

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-slider {
  position: relative;
  width: 100%;
  overflow-x: scroll;
  position: relative;
  white-space: nowrap;
  scroll-snap-type: mandatory;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-x: contain;
  margin: 10px 0;
  height: $hite;

  &::-webkit-scrollbar {
    display: none;
  }

  .product-slider__carousel {
    position: absolute;
    @extend .d-flex;
    gap: $pad;

    .product-slider__product {
      @extend .d-flex;
      aspect-ratio: 3/4;
      border-radius: $pad;
      background-color: var(--color-gray-80);
      height: $hite;

      .product-slider__product-content {
        height: calc(100% - 40px);
        margin: $pad;
        @extend .d-flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;

        .product-slider__product-header {
          // background-color: #e0e0e0;
          height: calc($hite * .25);
          width: inherit;

          .product-slider__product-title {
            font-size: 22px;
          }

          .product-slider__product-title {
            font-size: 22px;
          }
        }
      }
      
      .product-slider__product-footer {
        height: calc($hite * .25);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
    }
  }
}