.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}



.tabs {
    @media(max-width:900px){
        width: 100vw;
        height: 100vh;
    }

    &__content {
        @extend .d-flex;
        min-height: calc(100vh - 190px);
        flex-direction: column;
        width: 100%;
        @media(max-width:900px){
            min-height: unset;
        }
        align-items: stretch;
        /* Updated to stretch */
        border-radius: var(--default-border-radius);
        width: 100%;
        .tabs__tabs{
            // height: 100px;
            @extend .d-flex;
            justify-content: center;
            .tabs-layout__tab{
                background-color: var(--color-gray-70);
                position: relative;
                @extend .d-flex;
                text-transform: capitalize;
                width: 100%;
                height: var(--default-element-height);
                box-shadow: 2px 2px 10px var(--color-gray-100);
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    width: auto;
                    height: 0;
                    border-style: solid;
                    border-width: 0 5px 5px;
                    border-color: transparent var(--color-gray-100) transparent var(--color-gray-100);
                  }
                &:hover{
                    cursor: pointer;
                    background-color: var(--color-gray-50);
                }
                &__active{
                    background-color: var(--color-primary);
                    &:not(:last-child):before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        z-index: 1;
                        right: -5px;
                        width: 10px;
                        height: 0;
                        border-style: solid;
                        border-width: 0 10px 10px 10px;
                        border-color: transparent transparent var(--color-primary) var(--color-primary);
                    }
                    &:hover{
                        &:not(:last-child):before {
                            border-color: transparent transparent var(--color-gray-50) var(--color-gray-50);
                        }
                    }
                }
            }
        }
    }
    .tabs__actions {
        background-color: var(--color-dark);
        // background-color: #f30;
        border-right: inset 1px var(--color-primary);
        width: 400px;
        @media(max-width:900px){
            padding: var(--default-padding);
            width: calc(100% - calc(var(--default-padding) * 2));
        }
    }

    .tabs__view {

        
        background-color: var(--color-gray-90);
        padding: var(--default-padding);
        @extend .d-flex;
        flex-direction: column;
        justify-content: flex-start;
        border-left: solid 5px var(--color-gray-100);
        align-items: stretch;
        height: 100%;
        min-height: calc(100vh - 230px);
        // width: calc(100% - 400px);
        @media(max-width:900px){
            height: max-content;
            overflow: visible;
            width: inherit;
        }
        border: solid 1px;
        .tabs__view__title {
            font-size: var(--s-1);
            line-height: 2.5;
            text-transform: capitalize;
            color: var(--color-gray-70);
        }
    }
}