.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}



.tabs {
    @media(max-width:900px) {
        width: 100vw;
        height: 100vh;
    }
    height: inherit;
    background-color: var(--gray-90);
    border-radius: var(--border-radius);
    border: solid 1px var(--gray-70);
    overflow: hidden;
    
    &__content {
        @extend .d-flex;
        flex-direction: column;
        align-items: stretch;
        height: inherit;
        width: 100%;
        .tabs__tabs {
            border-bottom: solid 1px var(--gray-70);
            background-color: var(--gray-80);
            --ui-icon-color: transparent;
            @extend .d-flex;
            justify-content: center;
            overflow: hidden;
            z-index: 1;
            .active{
                background-color: var(--gray-60);
                --ui-icon-color: var(--gray-60);
            }
            .tabs-layout__tab {
                position: relative;
                @extend .d-flex;
                text-transform: capitalize;
                width: 100%;
                height: var(--s-element);

                &:hover {
                    z-index: 2;
                    cursor: pointer;
                    @extend .active;
                }
                &--icon {
                    width: var(--s-element);
                    position: absolute;
                    --ui-icon-width: var(--s-element);
                    --ui-icon-height: var(--s-element);
                    right: unset;
                    left: unset;
                }

                &--icon:first-child {
                    right: calc(var(--s-element) * -1);
                }

                &--icon:last-child {
                    transform: rotate(180deg);
                    left: calc(var(--s-element) * -1);
                }
                &__active {
                    position: relative;
                    z-index: 2;
                    @extend .active;
                }
            }

        }

    }

    .tabs__actions {
        background-color: var(--dark);
        // background-color: #f30;
        border-right: inset 1px var(--primary);
        width: 400px;

        @media(max-width:900px) {
            padding: var(--s-4);
            width: var(--s-4-width);
        }
    }

    .tabs__view {
        padding: var(--s-4);
        width: auto;
        @extend .d-flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        height: inherit;
        @media(max-width:900px) {
            border-left: solid 5px var(--gray-100);
            height: max-content;
            overflow: visible;
            width: inherit;
        }
        
        .tabs__view__title {
            font-size: var(--s-1);
            line-height: 2.5;
            text-transform: capitalize;
            color: var(--gray-70);
        }
    }
}