.ui-loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--default-element-height) * 2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
z-index: 2;
min-height: 100px;
  .ui-loader__loading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    .ui-loader__loading-text-container {
      justify-content: space-around;
      color: var(--color-gray-50);
      font-size: 1.5rem;
      line-height: 1;
      font-weight: 500;
      width: 100%;
      height: var(--default-element-height);
      white-space: nowrap;
      display: flex;
      align-items: center;
      gap: 6px;
      text-transform: uppercase;
      .ui-loader__loading-text {
        /* Equal width for the text and dots */
        display: flex;
        justify-content: flex-end;
        width: 100%;
      }
      &.ui-loader__loading-text-container-no-dots{
        width: 100%;
        justify-content: center;
        .ui-loader__loading-text {
          display: flex;
          justify-content: center;
          width: 100%;
        }
      }
      .ui-loader__loading-text-dots {
        /* Equal width for the text and dots */
        display: flex;
        justify-content: flex-start;
        width: 100%;
      }
    }

    .ui-loader__icon-wrapper {
      /* Set a fixed width for the wrapper to prevent scaling */
      width: 120px;
    }

    .ui-loader__icon-container {
      min-height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1/1;
      .ui-loader__icon {
        --ui-icon-color: var(--color-gray-60);
        --ui-icon-height: auto;
        --ui-icon-width: 100%;
        min-width: 70px;
        width: inheriit;
      }
    }
  }

}