.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-loader {
  height: 100%;
  width: 100%;
  --ui-icon-color: var(--gray-10-opaque);
  color: var(--gray-50);
  @extend .d-flex;
  &--content {
    margin: auto;
    @extend .d-flex;
    gap: var(--padding);
    flex-direction: column;
    aspect-ratio: 1;
    width: 50%;
    position: relative;
    height: 100%;
  }
  &__icon {
    flex: 1;
    padding-top: 20%;
    @extend .d-flex;
    align-items: flex-end;
    width: 100%;
    &-content{
      width: 50%;
      @media(max-width: 1100px){
        width: 70%;
      }
      @media(max-width: 900px){
        width: var(--padding-width);
      }
      --ui-icon-width: 100%;
      --ui-icon-height: 100%;
    }
  }
  
  &__text {
    width: 100%;
    line-height: 1;
    @extend .d-flex;
    white-space: nowrap;
    align-items: flex-start;
    font-size: var(--s-5);
    --ui-icon-size: var(--s-5);
    text-transform: uppercase;
    --ui-icon-color: var(--primary);
    flex: 1;
    gap: var(--s-9);
  }
}
