.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
 }
.ui-loader {

  @extend .d-flex;
 
  gap: calc(var(--element-height) * 2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  min-width: 200px;
  min-height: 200px;
  // border: solid 1px #090;
  
  .ui-loader__loading {
    // border: solid 1px #ff0;
    @extend .d-flex;
    flex-direction: column;
    gap: 5%;
    justify-content: space-between;

    height: 100%;
    font-size: 120%;

    position: relative;
    .ui-loader__loading-text-container {
      gap: 6px;
      height: 50%;
      white-space: nowrap;
      gap: 6px;
      text-transform: uppercase;
      .ui-loader__loading-text,
      .ui-loader__loading-text-dots {
        display: inline-block; // Use inline-block for proper alignment
      }

      &.ui-loader__loading-text-container-no-dots {
        text-align: center;
        transform: translateX(0) !important;
        .ui-loader__loading-text {
          margin-right: auto;
          margin-left: auto;
        }
      }
    }

    .ui-loader__icon-wrapper {
      /* Set a fixed width for the wrapper to prevent scaling */
      width: 120px;
    }

    .ui-loader__icon-container {
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1/1;
      .ui-loader__icon {
        @extend .d-flex;
        --ui-icon-color: var(--gray-60);
        --ui-icon-width:  50%;
        min-width: 100%;
      }
    }
  }

}