.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-loader {
  width: 100%;
  --ui-icon-color: var(--gray-10-opaque);
  color: var(--gray-50);
  @extend .d-flex;
  height: 100%;
  &--content {
    height: 100%;
    margin: auto;
    @extend .d-flex;
    gap: var(--s-1);
    flex-direction: column;
    position: relative;
  }
  &__icon {
    flex: 1;
    width: max-content;
    height: max-content;
    &-content{
      overflow: visible;
      @extend .d-flex;
      align-items: flex-end;
      width: 100%;
      height: 100%;
      --ui-icon-width: var(--icon-size, 150px);
      --ui-icon-height: var(--icon-size, 150px);
    }
  }
  
  &__text {
    width: 100%;
    line-height: 1;
    @extend .d-flex;
    align-items: flex-start;
    white-space: nowrap;
    font-size: var(--s-5);
    --ui-icon-size: var(--s-5);
    text-transform: uppercase;
    --ui-icon-color: var(--primary);
    flex: 1;
    gap: var(--s-9);
  }
}
