img{
    width: 100%;
    height: max-content;
    z-index: 1;
    position: relative;
    .d-flex{
     display: flex;
     justify-content: center;
     align-items: center;
    }

    @extend .d-flex;
}
.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
