img {
    width: 100%;
    height: inherit;
    z-index: 1;
    position: relative;
    .d-flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @extend .d-flex;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
// video.ui-media--background{
//     // position: fixed;
//     // top: 0;
//     // left: 0;
//     // z-index: -1;
// }
.ui-media {
    min-height: 100%;
    z-index: 2;
&__children{
    @extend .d-flex;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
}
    &__iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
.ui-media--background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  pointer-events: none;
  user-select: none;
}

// img.ui-media--background {
//   display: block;
//   width: 100vw;
//   height: 100vh;
//   object-fit: cover;
//   object-position: center;
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: -1;
//   pointer-events: none;
// }


    // &--background {
    //     position: fixed;
    //     top:0;
    //     left: 0;
    //     z-index: -1;
    //     width: 100vw;
    //     max-width: 100vw;
    //     height: 100vh;

    //         // width: inherit;
    //     // height: inherit;
    //     // top: var(--s-nav-height);
    //     // @extend .d-flex;
    //     // justify-content: flex-start;
    //     // min-width: 100%;
    //     // /* Set up positioning */
    //     // position: fixed;
    //     // left: 50%;
    //     // transform: translateX(-50%);
    //     // @media(max-width:1100px){
    //     //     width: auto;
    //     // }

    // }

    &--poster {
        @extend .d-flex;
        z-index: 3;
        background: var(--gray-90-o);
        // -webkit-background-size: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;

        &__content {
            @extend .d-flex;
            width: var(--s-10-width);
            height: var(--s-10-width);
            text-align: center;
            color: var(--primary-10);
            text-shadow: 0 0 10px var(--primary-50);
            font-size: var(--s-1);
            mix-blend-mode: color-dodge;
            cursor: pointer;

            &:hover {
                color: var(--white);
                text-shadow: 0 0 var(--s-3) var(--primary-10);
            }
        }
    }
}