.table-loader{
  width: auto;
  margin:10px;
  border:solid 1px var(--gray-60);
  border-radius: 5px;
  background-color: var(--gray-70);
  display: flex;
  justify-content: center;
  align-items: center;
  height:33vh;
  position: relative;
}