.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


.admin-customer {
    @extend .d-flex;
    justify-content: flex-start;
    $rat: 20px;
    $nrat: calc($rat * -1);
    flex-direction: column;
    height: max-content;
    width: 100%;
    align-items: stretch;
    gap: var(--s-padding);
    &--product-request{
        overflow: hidden;
        background-color: var(--primary-opaque);
        border-radius: var(--border-radius);
        border: solid 1px var(--primary);

        @extend .d-flex;
        flex-direction: column;
        width: var(--s-border-width);
        &__header{
            width: var(--s-padding-width);
            @extend .d-flex;
            justify-content: flex-start;
            padding: var(--s-padding);
            background-color: var(--gray-100-opaque);
            .title{
                white-space: nowrap;
                font-size: var(--s-3);
                margin-right: auto;
            }
            .actions{
                @extend .d-flex;
                flex-direction: column;
                gap: var(--s-9);
                align-items: flex-end;
            }
        }
    }
    &__header {
        background-color: var(--gray-90);
        color: var(--gray-40);
        border: solid 1px var(--gray-70);
        border-radius: var(--border-radius);
        height: auto;
        @extend .d-flex;
        justify-content: space-between;
        flex-direction: column;
        gap: var(--s-padding);
        align-items: flex-start;
        overflow: hidden;
        &--title{
            @extend .d-flex;
            width: 100%;
            background-color: var(--gray-70);
            padding: 0 var(--s-9);
            height: var(--s-element);
            justify-content: flex-start;
            font-size: var(--s-4);
        }
        &--info{
            flex: 1;
            &-name{
                font-size: var(--s-3);
            }
        }
        &--contact{
            padding: 0 var(--s-padding) var(--s-padding);
            @extend .d-flex;
            flex-direction: column;
            align-items: flex-end;
            gap: var(--s-padding);
            width: var(--s-padding-width);
        }
     
    }
    &__content{
        @extend .d-flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: var(--s-padding);
    }
    &__delete {
        width: max-content;
        margin: var(--s-1) 0 0 auto;
        opacity: 0.5;
        transition: opacity 1s; /* Use transition for smooth animation */
        
        &:hover {
            opacity: 1;
        }
    }
  

    &__info {
        @extend .d-flex;
        align-items: flex-start;
        flex-direction: column;
        gap: var(--s-9);
        width: auto;
        border-radius: var(--border-radius);
        padding: var(--s-padding);
        background-color: var(--gray-70);

        &--field {
            &--key {
                font-weight: 900;
                text-transform: capitalize;
            }
        }
    }
}