.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


.admin-customer-detail{
    @extend .d-flex;
    flex-direction: column;
    gap:var(--s-9);
    &__form{
        // width: var(--s-9-width);
        // padding: var(--s-9);
        // background-color: var(--gray-80);
    }
}