.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes light-wipe {
    0%,100% {
        // width: 70px;
        // left: -100%;
        // color:#FFC300;
        // --ui-icon-color:#FFC300 ;
        color: var(--gray-10);
        --ui-icon-color: var(--gray-30);
        background-color: var(--gray-80);
    }
    
    50% {
        color: var(--primary-30);
        --ui-icon-color: var(--primary-30);
        background-color: var(--primary-50);
    }
}
@keyframes no-header {
    0% {
        min-height: 200px;
        color: var(--primary-30);
        --ui-icon-color: var(--primary-30);
        background-color: var(--primary-50);
    }
    100% {
        color: var(--gray-10);
        --ui-icon-color: var(--gray-30);
        background-color: var(--gray-80);
        min-height: 0;
    }
    

}
.product-build {
    color: var(--primary-30);
    background-color: var(--gray-100);
    border-radius: var(--border-radius);
    --ui-icon-color: var(--primary-50);
    @extend .d-flex;
    flex-direction: column;
    gap: var(--s-1);
    position: relative;
    max-width: 900px;
    margin: var(--s-element) auto 0;
    &--header,
    &--body {
        width: 100%;
        @extend .d-flex;
        
    }
    width:var(--s-9-width);
    padding:var(--s-element) var(--s-9);
    margin-bottom: 200px;
    
    @media (max-width:1100px) {
        // width: var(--s-9-width);
        // background-color: #f30;
        // padding: 0 var(--s-9);
        max-width: 95vw;
        // min-height: 100vh;
        height: max-content;
        justify-content: flex-start;
        
    }
    
    &--no-header {
        transform: translateY(-100%);
        animation:no-header 1s forwards;
    }
    &--header {
        gap:var(--s-9);
        min-height: max-content;
        align-items: flex-start;
        // flex-direction: column;
        width: 100%;
        @media (max-width:1100px) {
            gap:var(--s-1);
            flex-direction: column-reverse;
        }
        &__marquee{
            @extend .d-flex;
            justify-content: flex-start;
            line-height: 1;
            font-size: var(--s-1);
            color:var(--primary-90);
            --ui-icon-color:var(--primary-90);
            flex:1;
            gap:var(--s-5);
            // background-color: #03f;
            --ui-icon-size: var(--s-element);
            height: 100%;
            align-items: flex-end;
            @media (max-width:1100px) {
                width: 100%;
                align-items: center;
                --ui-icon-size: 100px;
                gap:var(--s-1);
                // margin: 0 auto var(--s-element);
                flex-direction: column;
            }
        }
        &__nav {
            // width: 100%;

            min-height: var(--s-1);
            justify-content: flex-end;
            width: 100%;
            // color:var(--primary-90);
            &>div{
                @extend .d-flex;
            }
        }

        &__nav,
        &__total {
            @extend .d-flex;
            flex: 1;
        }
    }

    &__submit {
        width: 100%;
        
        @media (max-width:900px) {
            background: var(--gray-50-o);
            backdrop-filter: blur(2px);
            position: fixed;
            bottom: 0;
            border-radius: var(--s-9) var(--s-9) 0 0;
            right: 0;

            width: var(--s-9-width);
            inline-size: var(--s-9-width);
            padding: var(--s-1) var(--s-9) var(--s-element);
        }
    }

    &--body {
        flex-direction: column;
        align-items: stretch;
        // background-color: var(--gray-90);

        border: solid 1px var(--gray-70);
        border-radius: var(--border-radius);
        width: calc(var(--s-5-width) - 2px);
        // padding: var(--s-9) var(--s-9) var(--s-element);
        padding: var(--s-9) var(--s-5) var(--s-element);
        overflow: visible;
        min-height: var(--s-element);
        gap:var(--s-9);
        animation: light-wipe 1.2s ease-in-out forwards;
        box-shadow: 
        -2px -2px 0  var(--gray-60),
        1px 1px 2px 5px var(--black);
        &__title,&__description {
            line-height: 1;
        }
        &__title {
            font-size: var(--s-1);
            color:var(--white);
            text-transform: uppercase;
        }

        &__description {
            font-size: var(--s-4);
            // line-height: 1;
            color:var(--gray-50);
            margin-bottom: var(--s-element);

        }

        @media (max-width:1100px) {
            // background-color: #090;
            // height: 100vh;
            padding-top:var(--s-5);
            border: unset;
            justify-content: flex-start;
        }
    }
}