.d-flex, .nirvana-energy__content .list, .nirvana-energy__content--first .list, .nirvana-energy__content--label, .nirvana-energy__content--first--label, .nirvana-energy__content--title, .nirvana-energy__content--first--title, .nirvana-energy__content, .nirvana-energy__content--first, .nirvana-energy, .nirv--icon, .nirv, h3, .configure-btn__model, .configure-btn__text, .nirvana-energy__bg-overlay--content__text, .nirvana-energy__bg-overlay--content__glb, .nirvana-energy__bg-overlay--content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nirvana-energy {
  position: relative;
  padding-bottom: 100px !important;
}
.nirvana-energy__bg-overlay {
  height: 100%;
  width: 100%;
  cursor: pointer;
  color: var(--primary-50);
}
@media (max-width: 1100px) {
  .nirvana-energy__bg-overlay {
    top: 0;
    height: 100vh;
  }
}
.nirvana-energy__bg-overlay:hover {
  color: var(--gray-10);
  text-shadow: var(--s-9) var(--s-9) var(--s-9) var(--primary-50);
}
.nirvana-energy__bg-overlay--content {
  width: 100%;
  z-index: 2;
  gap: var(--s-9);
  cursor: pointer;
  height: 100vh;
}
@media (max-width: 1260px) {
  .nirvana-energy__bg-overlay--content {
    flex-direction: column;
  }
}
.nirvana-energy__bg-overlay--content__text, .nirvana-energy__bg-overlay--content__glb {
  height: 100%;
  flex: 1;
}
.nirvana-energy__bg-overlay--content__text {
  width: 50%;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 1000;
  transition: all 100ms ease-in;
}
@media (min-width: 1100px) {
  .nirvana-energy__bg-overlay--content__text {
    justify-content: center;
    align-items: center;
  }
}
.nirvana-energy__bg-overlay--content__text__inner {
  width: 100%;
  height: 50vh;
}
@media (max-width: 1100px) {
  .nirvana-energy__bg-overlay--content__text__inner {
    height: 50%;
  }
}
.nirvana-energy__bg-overlay--content:hover .nirvana-energy__bg-overlay--content__text {
  transform: translateY(-2px);
}
.nirvana-energy__bg-overlay--content__glb {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.configure-btn__text {
  flex: 1;
  text-transform: capitalize;
  cursor: pointer;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  width: 50%;
  font-weight: bold;
  /* Optional: Customize text style */
}
@media (max-width: 1100px) {
  .configure-btn__text {
    text-align: center;
    width: 100%;
  }
}

.configure-btn__model {
  flex: 1;
  width: 100%;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
h2 {
  justify-content: flex-start;
  width: 100%;
  white-space: nowrap;
  color: var(--primary-50);
  font-size: var(--s-1);
}

h3 {
  background-color: var(--primary-o);
  border-radius: var(--border-radius);
  margin: var(--s-element) 0 var(--s-9);
  padding: var(--s-9) var(--s-4);
  color: var(--primary-10);
  align-items: flex-start;
}

h4 {
  line-height: 1.2;
  --ui-icon-height: var(--s-6);
  color: var(--gray-30);
  --ui-icon-color: var(--gray-40);
  width: auto;
}

.survey {
  width: 100%;
  position: relative;
}

.nirv,
.nirvana-energy__competitor {
  text-transform: uppercase;
  font-size: var(--s-4);
  font-family: Play;
}

.nirv {
  position: relative;
  font-size: var(--s-2);
  justify-content: flex-start;
}
.nirv--icon {
  width: var(--s-element);
  --ui-icon-height: var(--s-1);
  --ui-icon-width: var(--s-1);
  width: var(--s-element);
}

.nirvana-energy {
  gap: var(--s-1);
  flex-direction: column;
  padding-bottom: 100px;
  width: 100%;
}
@media (max-width: 1260px) {
  .nirvana-energy {
    margin: auto;
  }
}
@media (max-width: 900px) {
  .nirvana-energy {
    width: 100%;
    padding: 0;
  }
}
.nirvana-energy__content, .nirvana-energy__content--first {
  gap: var(--s-1);
  flex-direction: column;
}
@media (max-width: 900px) {
  .nirvana-energy__content, .nirvana-energy__content--first {
    width: var(--s-9-width);
    overflow: hidden;
  }
}
.nirvana-energy__content--title, .nirvana-energy__content--first--title {
  align-items: flex-start;
  font-size: var(--s-1);
  color: var(--primary-30);
  width: var(--s-9-width);
  padding: var(--s-9);
  inline-size: auto;
  border-radius: var(--border-radius);
  background-color: var(--gray-70);
}
.nirvana-energy__content--sub-title, .nirvana-energy__content--first--sub-title {
  font-size: var(--s-3);
  color: var(--primary-50);
}
.nirvana-energy__content--label, .nirvana-energy__content--first--label {
  font-family: Game;
  font-size: var(--s-4);
  color: var(--gray-60);
  width: var(--s-9-width);
  padding: 0 var(--s-9);
  gap: var(--s-9);
  flex-wrap: wrap;
}
.nirvana-energy__content .list, .nirvana-energy__content--first .list {
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: var(--s-4);
}/*# sourceMappingURL=NirvanaEnergy.css.map */