.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
}
.transaction{
    @extend .d-flex;
    flex-direction: column;
    .transaction__header{
        width: 100%;
        .transaction__title{
            @extend .d-flex;
            justify-content: flex-start;
            font-size: 32px;
            color: var(--color-primary);
            padding: var(--default-padding) 0;
        }
    }
}