.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width:100%;
    .sign-up__forgot-password-link{
      color: var(--blue-60);
      cursor: pointer;
      &:hover{
        filter:brightness(1.3)
      }
  }
}
.sign-up__login{
  margin-top: var(--s-4);
  width: 100%;
}
.authentication__authentication-status{
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}
