.d-flex{
 display: flex;
 align-items: center;
}
.globe{
    width: 100%;
    @extend .d-flex;
    overflow: hidden;
    @media(max-width:900px){
        height: inherit;
        width: 100%;
    }
}
