
.summary-title {
  text-transform: capitalize;
  padding-top: 25px;
}

.summary-value-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  .summary-value-number {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 40px;
  }

  padding:20px 0;

  .summary-value-trend {
    display: flex;
    gap: 6px;
    align-items: center;
    --ui-icon-width: 12px;
    --ui-icon-height: 12px;

    font-family: 'Atkinson Hyperlegible', sans-serif;
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 12px;

    &.none {
      display: none;
    }

    &.pos {
      --ui-icon-color: var(--color-green-60);
      color: var(--color-green-60);
      background-color: #00990050;
    }

    &.neg {
      --ui-icon-color: var(--color-red-60);
      color: var(--color-red-60);
      background-color: #ff550050;
    }
  }
}