.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.brdr {
    border: solid 1px var(--gray-80);
    outline: solid 1px var(--gray-60);
}
.body {
    padding: 0 var(--padding);
    width: calc(calc(100% - 1px) - calc(var(--padding) * 2));
}
.account-methods {
    @extend .d-flex;
    flex-direction: column;
    gap: var(--padding);
    justify-content: flex-start;
    min-height: var(--element-height);
    width: 100%;

    .account-methods__existing {
        @extend .d-flex;
        flex-direction: column;
        .account-methods__list {
            @extend .d-flex;
            flex-direction: column;
            gap: var(--s-7);
            .account-methods__list-item {
                width: 100%;
                min-height: var(--element-height);
            }
        }
    }
}