.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


.brdr {
    border: solid 1px var(--gray-80);
    outline: solid 1px var(--gray-60);
}
.body {
    padding: 0 var(--padding);
}
.account-methods {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    width: 100%;
    .account-methods__existing {
        @extend .d-flex;
        box-sizing: border-box; /* Include padding and border in the width calculation */
        flex-direction: column;
        gap: var(--padding);
        padding: var(--padding);
        background-color: var(--gray-80);
        border-radius: var(--border-radius);
        border: solid 1px var(--gray-70);
        &--title{
            width: 100%;
            font-size: var(--s-3);
            text-transform: capitalize;
            color: var(--gray-40);
        }
        .account-methods__list {
            @extend .d-flex;
            width: 100%;
            flex-direction: column;
            gap: var(--s-7);
            .account-methods__list-item {
                width: 100%;
                min-height: var(--element-height);
            }
        }
    }
    
}