$gap: 10px;
$pad: 10px;

$space: 14px;

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-list {
    @extend .d-flex;
    margin-top: $pad;
    width: calc(100%);

    .cart-list__item {
        border-radius: 7px;
        background-color: var(--gray-80-opaque);
        padding: $space;

        &:not(:last-child) {
            margin-bottom: calc($space * .75);
        }

        width: calc(100% - calc($space * 2));
        @extend .d-flex;
        justify-content: flex-start;

        @media(max-width: 900px) {
            &:first-child{
                margin-top: var(--element-height);
            }
        }
        
        .cart-list__item-content {
            @media(max-width: 900px) {
                flex-direction: column;
            }
            @extend .d-flex;
            gap: 7px;
            height: 100%;
            margin: auto;
            justify-content: flex-start;
            width: calc(100% - 2px);

            &.cart-list__item-content-mini {
                justify-content: space-between;

                .cart-list__item-name,
                .cart-list__item-description {
                    line-height: 1;
                    height: auto;

                    @media(max-width:900px) {
                        display: none;
                    }
                }

                .cart-list__item-body {
                    display: none;
                }

                .cart-list__item-image {
                    &::before {
                        line-height: 1.5;
                        content: attr(data-name);
                        @extend .d-flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        font-size: var(--s-3);
                    }
                }
            }
            .cart-list__item-body {
                display: flex;
                flex-direction: column;
                // justify-content: space-between;
                height: 100%;
                color: var(--gray-40);
                margin-right: auto;
                @media(max-width: 900px) {
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                }
                .cart-list__item-name {
                    font-size: var(--s-1);
                    text-transform: capitalize;
                    @media(max-width: 900px) {
                        line-height: calc(var(--s-1) * 1.5);
                        font-size: var(--s-3);
                    }
                }
                // .cart-list__item-description {}
                .cart-list__item-amount {
                    @media(min-width:900px){
                        margin-top: auto;
                    }
                    font-size:  var(--s-4);
                    line-height: var(--s-1);
                }
                
            }
            .cart-list__item-image{
                @media(max-width: 900px) {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    order: 2;
                }
            }

            .cart-list__item-action {
                @extend .d-flex;
                height: 100%;
                @media(max-width: 900px) {
                    order: 3;
                }
                @media(max-width: 900px) {
                    width: 100%;
                    justify-content: flex-end;
                }
            }
        }


    }
}

.cart-list__collapse-label {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: var(--s-8);
    --ui-icon-width: var(--s-5);
    --ui-icon-height: var(--s-5);

    .cart-list__collapse-label-items {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        line-height: 1;
        font-size: var(--s-7);
        gap:2px;
        // .cart-list__collapse-label-item {
        // }
    }
}