$gap: 10px;

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-list {
    @extend .d-flex;
    width: 100%;

    .cart-list__item {
        @extend .d-flex;
        justify-content: flex-start;
        width: 100%;

        @media(max-width: 900px) {
            flex-direction: column;
        }


        .cart-list__item-content {
            @extend .d-flex;

            @media(max-width: 900px) {
                width: 100%;
            }

            border: solid 1px;

            .cart-list__item-image {
                aspect-ratio: 1/1;
            }

            .cart-list__item-body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                margin: auto auto auto $gap;

                .cart-list__item-name,
                .cart-list__item-description,
                .cart-list__item-amount {
                    display: flex;
                    height: 100%;
                    border: solid 1px;

                    @media(max-width: 900px) {}
                }

                .cart-list__item-name {
                    font-size: var(--s-2);
                    text-transform: capitalize;
                    @media(max-width: 900px) {
                        font-size: var(--s-3);
                    }
                }

                // .cart-list__item-description {}
                .cart-list__item-amount {
                }
                .cart-list__item-action {
                    @media(max-width: 900px) {
                        margin: 10px 0;
                        width: 100%;
                    }
                }
            }
        }


    }
}