input, textarea {
  width: 100%;
  height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
  letter-spacing: 1.5px;
  outline: none;
  color: inherit;
  border: none;
  cursor: inherit;
  background-color: transparent;
  /* Chrome, Safari, Edge, Opera */
  -webkit-text-fill-color: inherit;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button, textarea::-webkit-outer-spin-button, textarea::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=button], textarea[type=button] {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active, input:-internal-autofill-selected, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, textarea:-webkit-autofill:active, textarea:-internal-autofill-selected {
  color: inherit !important;
  background-color: transparent !important;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-transition: background-color 5000s ease-in-out 0s !important;
  transition: background-color 5000s ease-in-out 0s !important;
}
input.nav-item, textarea.nav-item {
  padding: 0;
  justify-content: center;
}
input.input__has-icons, textarea.input__has-icons {
  text-indent: 8px;
}
input.center, textarea.center {
  text-align: center;
  text-indent: 0;
  min-height: var(--s-element);
  height: 100%;
  min-width: var(--s-element);
  width: 0;
}
input.center:focus, input.center:hover, textarea.center:focus, textarea.center:hover {
  background-color: transparent;
}
input.invalid, textarea.invalid {
  text-shadow: 1px 1px #f30;
  background-color: transparent;
  z-index: 2;
  -webkit-text-decoration: underline dashed;
          text-decoration: underline dashed;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: var(--red-70);
}
input.signature, textarea.signature {
  padding-left: var(--s-3);
  font-size: var(--s-2);
  font-family: "Ephesis", cursive;
}
input.signature ::-moz-placeholder, textarea.signature ::-moz-placeholder {
  color: var(--gray-70);
  padding: 0;
  font-size: var(--s-2);
}
input.signature ::placeholder, textarea.signature ::placeholder {
  color: var(--gray-70);
  padding: 0;
  font-size: var(--s-2);
}
input.signature::-moz-placeholder:hover, textarea.signature::-moz-placeholder:hover {
  color: var(--gray-10);
}
input.signature::placeholder:hover, textarea.signature::placeholder:hover {
  color: var(--gray-10);
}
input.signature::-moz-placeholder:focus-within:not(input.signature:hover, textarea.signature:hover)::before, textarea.signature::-moz-placeholder:focus-within:not(input.signature:hover, textarea.signature:hover)::before {
  color: var(--gray-40);
}
input.signature::placeholder:focus-within:not(input.signature:hover, textarea.signature:hover)::before, textarea.signature::placeholder:focus-within:not(input.signature:hover, textarea.signature:hover)::before {
  color: var(--gray-40);
}
input.signature::-moz-placeholder:focus-within:not(input.signature:hover, textarea.signature:hover)::after, textarea.signature::-moz-placeholder:focus-within:not(input.signature:hover, textarea.signature:hover)::after {
  border-top-color: var(--gray-40);
}
input.signature::placeholder:focus-within:not(input.signature:hover, textarea.signature:hover)::after, textarea.signature::placeholder:focus-within:not(input.signature:hover, textarea.signature:hover)::after {
  border-top-color: var(--gray-40);
}

*::-moz-placeholder {
  font-style: italic;
  padding: 0;
  font-size: inherit;
  animation: fadeIn 0.6s ease-in-out;
}

*::placeholder {
  font-style: italic;
  padding: 0;
  font-size: inherit;
  animation: fadeIn 0.6s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.input__message {
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  color: var(--orange-50);
  height: var(--s-element);
  line-height: 1;
  display: none;
  text-indent: var(--s-4);
}
.input__message.input__message-show {
  display: flex;
}/*# sourceMappingURL=UiInput.css.map */