input, textarea {

  // Define your custom styles for the input elements/
  width: 100%;
  height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
  letter-spacing: 1.5px;
  // font-weight: 300;
  outline: none;
  color: inherit;
  border: none;
  cursor: inherit;
  background-color: transparent;
  // ARROWS for TYPE='number'
  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  &[type=button]{
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
  }
  // &.input-disabled {
  //   user-select: none;
  //   cursor: pointer;
  //   &:focus {
  //     caret-color: transparent;
  //   }
  // }

  -webkit-text-fill-color: inherit;

  // Override the autofilled input styles
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active,
  &:-internal-autofill-selected
  {
    color: inherit !important;
    background-color: transparent !important;
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    transition: background-color 5000s ease-in-out 0s !important;
  }
  &.nav-item{
    padding: 0;
    justify-content: center;
  }
  &.input__has-icons{
    text-indent: 8px;
  }
  &.center {
    text-align: center;
    text-indent: 0;
    min-height: var(--s-element);
    height: 100%;
    min-width: var(--s-element);
    width: 0;
    @media(max-width: 900px) {}

    &:focus,&:hover {
      background-color: transparent;
    }
  }

  // VARIANTS
  &.invalid {
    background-color: transparent;
    z-index: 2;
    text-decoration: underline dashed;
    border-width: 0px 0px 2px 0px;
    border-bottom-color: var(--red-70);
  }
  // &:focus,
  // &:-webkit-autofill:focus{
  //   background-color: #f30 !important;
  // }


  &.signature{
    padding-left: var(--s-3);
    ::placeholder {
      color: var(--gray-70);
      padding: 0;
      font-size: var(--s-2);
    }
    &::placeholder:hover{
      color: var(--gray-10);
    }
    &::placeholder:focus-within:not(&:hover) {
      &::before {
          color: var(--gray-40);
      }
      &::after {
          border-top-color: var(--gray-40);
      }
  }

    font-size: var(--s-2);
    font-family: 'Ephesis', cursive;
  }
}
*::placeholder {
  font-style: italic;
  padding: 0;
  font-size: inherit;
  @keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 0;}
  }
  animation: fadeIn .6s ease-in-out;
}

.input__message{
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  color: var(--orange-50);
  height: var(--s-element);
  line-height: 1;
  display: none;
  text-indent: var(--s-4);
  &.input__message-show{
    display: flex;
  }
}