.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.contact-form {
    width: 100%;
    @extend .d-flex;
    align-items: flex-start;
    flex-direction: column;
&__title{
    font-size: var(--s-1);
    color: var(--gray-40);
    margin: var(--s-padding) 0;
    text-transform: capitalize;
}
    &--action {
        --ui-icon-color: var(--gray-20);
    }
}