.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.lights {
    width: 100%;

    &__light {
        @extend .d-flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        width: var(--padding-width);
        padding: var(--padding);
        min-height: 200px;
        gap: var(--padding);
        &-header{
            width: 100%;
            @extend .d-flex;
            text-transform: capitalize;
            justify-content: flex-start;
            border-radius: var(--border-radius);
            background-color: var(--gray-80);
        }
    }
}