$hite: 50px;
$agg: var(--border-radius);

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar {
  width: 100%;
  &__primary{
    background-color: var(--primary-opaque);
  }
  .bar__container {
    &:hover {
      .bar__bars-container {
        .bar__percentage {
          color: var(--white);
          text-shadow: #f30 1px 0 10px;
          user-select: none;
          visibility: visible;
        }
      }
    }
    .bar__header {
      @extend .d-flex;
      overflow: hidden;
      min-height: var(--s-element);
      white-space: nowrap;
      position: relative;
      line-height: 1;
    }
    .bars__icon {
      @extend .d-flex;
      height: var(--s-element);
      padding-top: 20px;
      --ui-icon-color: var(--gray-60);
      padding: 30px 0 20px;
    }
    .bars__status {
      position: absolute;
      right: var(--s-9);
      top: 4px;
      text-transform: capitalize;
      font-size: var(--s-7);
      color: var(--yellow-opaque);
      --ui-icon-width: var(--s-6);
      .bars__status-low {
        align-items: center;
        justify-content: flex-end;
        display: flex;
        gap: 5px;
      }
    }
    .bar__bars-container {
      position: relative;
      display: flex;
      justify-content: stretch;
      flex-direction: column-reverse;
      gap: $agg;
      overflow: hidden;
      border-radius: var(--border-radius);
      .bar__percentage {
        font-size: var(--s-1);
        visibility: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        @extend .d-flex;
        text-align: center;
        color: var(--gray-20-opaque);
      }
    }
  }
}
  .bar__bars-content {
    box-shadow: inset 0 0 4px 2px var(--gray-100-opaque);
    border: solid 1px var(--gray-70);
    overflow: hidden;
    border-radius: $agg;
    transform: rotate(180deg);
    height: var(--s-element);
    background-color: var(--gray-70-opaque);
    .bar__bars-bar {
      &-partial{
        border-top: solid 1px var(--gray-70);
      }
      &-filled, &-partial{
        height: 100%;
        background-color: var(--bar-background, var(--yellow));
      }
    }
}
.bar__timestamp {
  width: 100%;
  font-size: var(--s-9);
  padding-bottom: var(--s-9);
  line-height: 1;
  color: var(--gray-50);
  white-space: nowrap;
  text-align: right;
}
