$hite: 50px;
$agg: var(--border-radius);

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar {
  // width: 140px;
  // margin: 20px;
  width: 100%;
  @media(max-width:900px){
    margin: 20px 5px;
  }
  .bar__container {
    background-color: var(--gray-90);
    border-radius: $agg;
    border: solid 1px var(--gray-60);
    padding: 10px 6px;
    &:hover {
      .bar__bars-container {
        .bar__percentage {
          color: var(--white);
          text-shadow: #f30 1px 0 10px;
          user-select: none;
          visibility: visible;
        }
      }
    }
    .bar__header {
      color: var(--gray-30);
      --ui-icon-color: var(--gray-30);
      @extend .d-flex;
      position: relative;
      gap: var(--s-9);
      line-height: 1;
      height: var(--element-height);
      --ui-icon-height: var(--s-5);
    }
    .bars__icon {
      @extend .d-flex;
      height: var(--element-height);
      padding-top: 20px;
      --ui-icon-color: var(--gray-60);
      padding: 30px 0 20px;
    }
    .bars__status {
      position: absolute;
      right: var(--s-9);
      top: 4px;
      text-transform: capitalize;
      font-size: var(--s-7);
      color: var(--yellow-opaque);
      --ui-icon-width: var(--s-6);
      .bars__status-low {
        align-items: center;
        justify-content: flex-end;
        display: flex;
        gap: 5px;
      }
    }
    .bar__bars-container {
      position: relative;
      display: flex;
      justify-content: stretch;
      flex-direction: column-reverse;
      gap: $agg;
      .bar__percentage {
        font-size: var(--s-1);
        visibility: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        @extend .d-flex;
        text-align: center;
        color: var(--gray-20-opaque);
      }
    }
  }
}
.bar__bars-content {
  height: 50px;
  border-radius: $agg;
  border: solid 1px var(--gray-60);
  transform: rotate(180deg);
  .bar__bars-bar {
    height: 100%;
  }
}
.bar__timestamp {
  width: 100%;
  font-size: var(--s-9);
  padding-bottom: var(--s-9);
  line-height: 1;
  color: var(--gray-50);
  white-space: nowrap;
  text-align: right;
}
