.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Changed from flex-start to center */
}

.p-fix {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
.modal__overlay {
    @extend .d-flex;
    @extend .p-fix;
    cursor: pointer;
    z-index: 999;
    background: var(--gray-70-opaque); // Adjusted for semi-transparent overlay
    backdrop-filter: blur(5px);
    &__dragging{
        cursor: url('/icons/fa-hand-back-fist.svg'), auto;
    }
}

.modal {
    position: fixed; // Use fixed to keep it relative to the viewport
    z-index: 1000;
    top: 350px; // Center vertically
    left: 50%; // Center horizontally
    transform: translateX(-50%); // Adjust position to truly center the modal
    overflow-y: auto; // Allow scrolling for overflow content
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    
    @media(max-width: 900px){
        margin: 0 auto;
        top: 70px;
        width: var(--padding-width);
    }
    &__dragging{
        cursor: url('/icons/fa-hand-back-fist.svg'), auto;
        filter: blur(3px);
    }
    &__fullscreen {
        top: 0;
        height: 100%;
        padding: 0;
    }
    
    &__content {
        overflow: hidden;
        border: solid 1px var(--gray-80);
        padding: 0 var(--padding);
        height: auto;
        margin: auto;
        backdrop-filter: blur(5px);
        color: var(--gray-30);
        border-radius: var(--border-radius);
        min-width: 600px;
        min-height: 600px;
        box-shadow: var(--box-shadow-xl);
        min-height: max-content;
        transition: all 1s;
        position: relative;
        &:hover {transition: all 1s;}
        &::-webkit-scrollbar-thumb {
            background-color: var(--blue);
            border-radius: 5px;
        }
        &::-webkit-scrollbar {
            width: 10px;
            aspect-ratio: 1/1;
            background-color: #00000033;
        }

        @media(max-width:900px) {
            justify-content: flex-start;
            width: var(--padding-width);
            min-width: unset;
        }

        &__fullscreen {
            width: 100vw;
            padding: 0;
            &:hover {
                background-color: #ffffff00;
            }
        }

    }

    &__header {
        position: absolute;
        left: 0;
        @extend .d-flex;
        justify-content: space-between;
        padding: 0 var(--s-9);
        width: calc(100% - calc(var(--s-9) * 2));
        @media(max-width: 1100px){
            right: 0;
        }
        &:not(&__no-drag){
            &:hover{
                cursor: url('/icons/fa-hand.svg'), auto;
                background-color: var(--gray-80);

            }
            :focus, &:focus-within, &:visited, &:active{
                cursor: url('/icons/fa-hand-back-fist.svg'), auto;
            }
        }
        &__dragging{
            cursor: url('/icons/fa-hand-back-fist.svg'), auto;
        }
        &__no-drag{
            cursor: default;
        }
        min-height: var(--element-height);
        --ui-icon-color: var(--gray-40);
        color: var(--gray-40);
        .modal-overlay__title{
            font-size: var(--s-4);
            text-transform: capitalize;
        }
        .modal-overlay__icon {
            // @extend .d-flex;
            
            // --ui-icon-size: var(--s-5);
            // cursor: pointer;
            // width: var(--element-height);
            // height: var(--element-height);
            // &:hover {
            //     background-color: var(--gray-60);
            //     --ui-icon-color: var(--primary);
            // }
        }

        &__fullscreen {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 2;
            padding-right: var(--padding);
            margin: 0;
            min-height: var(--element-height);
            border-radius: unset;
            border: unset;
            &:hover {
                background-color: var(--gray-100);
            }
        }
    }

    &__body {
        word-wrap: break-word;
        overflow-y: auto;
        margin-bottom: var(--padding);
        overflow-x: hidden;
        padding-top: var(--element-height);
        &__fullscreen {
            z-index: 1;
            margin-bottom: 0;
            padding: 0;
            width: 100%;
        }

        .modal-overlay__confirm {
            @extend .d-flex;
            gap: var(--s-9);
            padding: var(--s-8) var(--s-9);
            // background-color: var(--gray-70-opaque);
            border-radius: var(--border-radius);
            overflow: hidden;
            margin-top: var(--padding);
            @media(max-width: 1100px){
                flex-direction: column;
            }
            &-btn{
                width: 100%;
            }
        }
    }
}