.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Changed from flex-start to center */
}

.p-fix {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.modal__overlay {
    @extend .d-flex;
    @extend .p-fix;
    width: 100%;
    min-width: 100vw;
    height: 100%;
    min-height: 100vh;
    filter: blur(5px);
    backdrop-filter: blur(5px);
    cursor: pointer;
    z-index: 1000;
    background: var(--gray-90-opaque);
    -webkit-backdrop-filter: blur(6.6px);
}

.modal {
    min-height: 500px;
    $hundredWidth: calc(100% - 10px);
    $maxWidth: 900px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    cursor: auto;
    z-index: 1000;
    @extend .d-flex;
    align-items: flex-start;
    width: $hundredWidth;
    margin: var(--element-height) 5px 0;
    height: max-content;
    overflow-y: auto;
    overflow-x: hidden;

    @media (orientation: portrait) {
        height: 100vh;
        /* Limit the modal height to 80% of the viewport height */
    }

    @media(min-width: 1100px) {
        width: 800px; // Set a fixed width for larger screens
        // max-width: 90%; // Add a max-width to ensure it doesn't get too wide on very large screens
        height: auto; // Height can be auto for scrollable content
        margin: var(--element-height) auto;

        @media (orientation: landscape) {
            height: calc(100vh - 90px);
        }

        @media (orientation: portrait) {
            // margin-top: 100px;
            margin: 0;
            // max-width: $hundredWidth;
            transform: translate(calc(50vw - 400px), 200px); // Center the modal
        }

        &__fullscreen {
            transform: unset;
        }
    }

    &__fullscreen {
        width: 100vw;
        height: auto;
        margin: 0;
    }

    &__content {
        position: relative;
        @extend .d-flex;
        flex-direction: column;
        width: 800px;
        height: auto;
        backdrop-filter: blur(5px);
        color: var(--gray-30);
        border: solid 1px var(--gray-70);
        background: var(--gray-90);
        border-radius: var(--border-radius);
        padding: calc(var(--padding) * 1.5) var(--padding);
        box-shadow: var(--box-shadow-xl);
        min-height: max-content;
        transition: all 1s;
        &::-webkit-scrollbar-thumb {
            background-color: var(--blue);
            border-radius: 5px;
        }

        &:hover {
            transition: all 1s;
            background-color: var(--gray-100);
        }

        &::-webkit-scrollbar {
            width: 10px;
            aspect-ratio: 1/1;
            background-color: #00000033;
        }

        @media(max-width:1260px) {
            @media (orientation: portrait) {
                margin-top: 100px;
                max-width: $hundredWidth;
            }
        }

        @media(max-width:900px) {
            margin: var(--s-9);
            // background-color: var(--gray-100-opaque);
            justify-content: flex-start;
        }

        &__fullscreen {
            width: 100vw;
            padding: 0;

            &:hover {
                background-color: #ffffff00;
            }
        }

    }

    &__header {
        @extend .d-flex;
        align-self: flex-start;
        justify-content: space-between;
        width: 100%;
        font-size: var(--s-4);

        .modal-overlay__icon {
            --ui-icon-color: var(--gray-40);

            &:hover {
                cursor: pointer;
                --ui-icon-color: var(--primary);
            }
        }

        &__fullscreen {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 2;
            padding: 0 var(--padding);
            width: var(--padding-width);
            min-height: var(--element-height);

            &:hover {
                background-color: var(--gray-100);
            }
        }
    }

    &__body {
        word-wrap: break-word;
        width: calc(100% - 2px);
        max-height: calc(100vh - var(--element-height));
        /* Limit the modal body height to 75% of the viewport height */
        overflow-y: auto;
        overflow-x: hidden;
        @media(max-width: 900px) {
            max-height: calc(100vh - 60px);
            /* Adjust the height to account for other modal elements */
        }

        &__fullscreen {
            z-index: 1;
        }

        .modal-overlay__confirm {
            @extend .d-flex;
            gap: var(--s-9);
            padding: var(--s-8) var(--s-9);
            background-color: var(--gray-70-opaque);
            border-radius: var(--border-radius);
            overflow: hidden;
            margin-top: var(--padding);
            @media(max-width: 1100px){
                flex-direction: column;
            }
            &-btn{
                width: 100%;
            }
        }
    }
}