.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Changed from flex-start to center */
}

.p-fix {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.modal__overlay {
    @extend .d-flex;
    @extend .p-fix;
    cursor: pointer;
    z-index: 999;
    background: var(--gray-70-opaque); // Adjusted for semi-transparent overlay
    backdrop-filter: blur(5px);

    &__dragging {
        cursor: url('/icons/fa-hand-back-fist.svg'), auto;
    }
}

.modal {
    position: fixed; // Use fixed to keep it relative to the viewport
    z-index: 1000;
    top: 200px;
    left: 50%; // Center horizontally
    transform: translateX(-50%); // Adjust position to truly center the modal
    overflow-y: auto; // Allow scrolling for overflow content
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: var(--gray-90);
    border: solid 1px var(--gray-70);
    outline: solid 1px var(--gray-50);
    border-radius: var(--border-radius);

    @media(max-width: 900px) {
        margin: 0 auto;
        top: 70px;
        width: var(--s-padding-width);
    }

    &__dragging {
        cursor: url('/icons/fa-hand-back-fist.svg'), auto;
        filter: blur(3px);
    }

    &__fullscreen {
        top: 0;
        right: 0;
        border: none;
        border-radius: unset;
        height: max-content;
        width: 100%;
        padding: 0;
    }

    &__content {
        overflow: hidden;
        padding: var(--s-10) var(--s-padding) var(--s-padding);
        height: 100%;
        margin: auto;
        backdrop-filter: blur(5px);
        color: var(--gray-30);
        min-width: 600px;
        min-height: 600px;
        box-shadow: var(--box-shadow-xl);
        min-height: max-content;
        transition: all 1s;
        position: relative;
        @extend .d-flex;
        flex-direction: column;
        &:hover {
            transition: all 1s;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--blue);
            border-radius: 5px;
        }

        &::-webkit-scrollbar {
            width: 10px;
            aspect-ratio: 1/1;
            background-color: #00000033;
        }

        @media(max-width:900px) {
            justify-content: flex-start;
            width: var(--s-padding-width);
            min-width: unset;
        }

        &__fullscreen {
            width: 100vw;
            padding: 0;
            margin: 0;
            &:hover {
                background-color: #ffffff00;
            }
        }

    }

    &__header {
        // position: absolute;
        // left: 0;
        @extend .d-flex;
        justify-content: space-between;
        // padding: var(--s-9) var(--s-padding);
        width: 100%;
        @media(max-width: 1100px) {
            right: 0;
        }

        &:not(&__no-drag) {
            &:hover {
                cursor: url('/icons/fa-hand.svg'), auto;
                background-color: var(--gray-80);

            }

            :focus,
            &:focus-within,
            &:visited,
            &:active {
                cursor: url('/icons/fa-hand-back-fist.svg'), auto;
            }
        }

        &__dragging {
            cursor: url('/icons/fa-hand-back-fist.svg'), auto;
        }

        &__no-drag {
            cursor: default;
        }

        min-height: var(--s-element);
        --ui-icon-color: var(--gray-40);
        color: var(--gray-40);

        .modal-overlay__title {
            font-size: var(--s-4);
            text-transform: capitalize;
        }

      

        &__fullscreen {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 2;
            padding-right: var(--s-padding);
            margin: 0;
            min-height: var(--s-element);
            border-radius: unset;
            border: unset;

            &:hover {
                background-color: var(--gray-100);
            }
        }
    }

    &__body {
        word-wrap: break-word;
        overflow-y: auto;
        overflow-x: hidden;
        @media(min-width: 1100px){
            width: 100%;
        }
        &__fullscreen {
            z-index: 1;
            margin-bottom: 0;
            padding: 0;
            width: 100%;
        }

        .modal-overlay__confirm {
            @extend .d-flex;
            gap: var(--s-9);
            padding: var(--s-8) var(--s-9);
            // background-color: var(--gray-70-opaque);
            border-radius: var(--border-radius);
            overflow: hidden;
            margin-top: var(--s-padding);

            @media(max-width: 1100px) {
                flex-direction: column;
            }
            &-col{
                flex-direction: column;
            }
            &-btn {
                width: 100%;
            }
        }
    }
}