.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Changed from flex-start to center */
}

.p-fix {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.modal__overlay {
    @extend .d-flex;
    @extend .p-fix;
    cursor: pointer;
    z-index: 999;
    background: var(--gray-70-o); // Adjusted for semi-transparent overlay
    backdrop-filter: blur(5px);

    &__dragging {
        cursor: url('/icons/fa-hand-back-fist.svg'), auto;
    }
}

.modal {
    position: fixed; // Use fixed to keep it relative to the viewport
    z-index: 1000;
    top: 200px;
    left: 50%; // Center horizontally
    transform: translateX(-50%); // Adjust position to truly center the modal
    overflow-y: auto; // Allow scrolling for overflow content
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: var(--dark);
    border: solid 1px var(--gray-80);
    outline: solid 1px var(--gray-70-o);
    border-radius: var(--border-radius);
    @media(max-width: 900px) {
        margin: 0 auto;
        top: var(--s-9);
        width: calc(100% - calc(var(--s-9) * 2));
    }
    &__popup {
        top: calc(var(--s-element) + var(--s-9));
        left: 0;
        // bottom: calc(var(--s-element) + var(--s-9));
        margin: auto;
        max-height: calc(100vh - calc(var(--s-padding) + calc(var(--s-9) + 2px)));
        right: 0;
        width: var(--s-padding-width);
        transform: unset;
        @media(max-width:1100px){top: var(--s-padding);}
    }



    &__dragging {
        cursor: url('/icons/fa-hand-back-fist.svg'), auto;
        filter: blur(3px);
    }

    &__fullscreen {
        top: 0;
        right: 0;
        border: none;
        border-radius: unset;
        height: max-content;
        width: 100%;
        padding: 0;
    }

    &__content {
        overflow: hidden;
        // padding: 0 var(--s-padding) var(--s-1);
        padding-bottom: var(--s-2);
        height: 100%;
        margin: auto 0;
        backdrop-filter: blur(5px);
        color: var(--gray-30);
        min-width: 600px;
        height: max-content;
        justify-content: flex-start;
        transition: all 1s;
        position: relative;
        @extend .d-flex;
        flex-direction: column;
        gap: var(--s-5);
        &__popup{
            margin: 0;
            @media(max-width: 1100px){
                
                padding: 0 var(--s-9) var(--s-element);
            }
        }
        
        &:hover {
            transition: all 1s;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: var(--blue);
            border-radius: 5px;
        }
        
        &::-webkit-scrollbar {
            width: 10px;
            aspect-ratio: 1/1;
            background-color: #00000033;
        }
        
        @media(max-width:900px) {
            justify-content: flex-start;
            min-width: unset;
        }

        &__fullscreen {
            width: 100vw;
            padding: 0;
            margin: 0;

            &:hover {
                background-color: #ffffff00;
            }
        }

    }

    &__header {
        @extend .d-flex;
        justify-content: space-between;
        min-height: var(--s-element);
        backdrop-filter: blur(5px);
        @media(max-width: 1100px) {
            position: relative;
        }


        cursor: default;
        &:hover,
        &:focus,
        &:focus-within,
        &:visited,
        &:active {
            cursor: pointer;
            // cursor: url('/icons/fa-hand-back-fist.svg'), auto;
            --ui-icon-color: var(--primary);

        }

        min-height: var(--s-element);
        width: 100%;
        position: relative;
        .modal-overlay__title {
            font-size: var(--s-1);
            text-transform: capitalize;
            font-family: Game;
            letter-spacing: var(--s-11);
            font-weight: 100;
            padding: var(--s-9) var(--s-5);
            width: auto;
            color: var(--primary);
        }
     
        .modal-overlay__icon{
            position: absolute;
            right: var(--s-10);
            top: var(--s-10);
            font-size: var(--s-2);
            font-family: Orbitron;
            font-weight: 900;
            color:var(--primary-o);
            transition: all .5s ease-in;
            &:hover{
                color:var(--dark);
                background-color: var(--primary-o);
            }
            @extend .d-flex;
            border-radius: calc(var(--border-radius) * .8);
            width: var(--s-2);
            aspect-ratio: 1;
            line-height: 1;
        }

        &__fullscreen {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 2;
            padding-right: var(--s-padding);
            margin: 0;
            min-height: var(--s-element);
            border-radius: unset;
            border: unset;

            &:hover {
                background-color: var(--gray-100);
            }
        }
                // &:not(&__no-drag) {
        //     &:hover {
        //         cursor: url('/icons/fa-hand.svg'), auto;
        //         background-color: var(--gray-80);

        //     }

        //     :focus,
        //     &:focus-within,
        //     &:visited,
        //     &:active {
        //         cursor: url('/icons/fa-hand-back-fist.svg'), auto;
        //     }
        // }

        // &__dragging {
        //     cursor: url('/icons/fa-hand-back-fist.svg'), auto;
        // }

        // &__no-drag {
        //     cursor: default;
        // }
    }

    &__body {
        @extend .d-flex;
        flex-direction: column;
        height: auto;
        width: calc(100% - calc(var(--s-5) * 2));
        // width: var(--s-padding-width);
        &__fullscreen {
            z-index: 1;
            margin-bottom: 0;
            padding: 0;
            width: 100%;
        }
        &__popup{
            border-radius: var(--border-radius);
            height:max-content;
            width: var(--s-padding-width);
            // width: calc(100% - calc(var(--s-padding) * 4)); 
            overflow-y: auto;
            overflow-x: hidden;
            padding: var(--s-padding) var(--s-padding) var(--s-element);
        }
        .modal-overlay__confirm {
            @extend .d-flex;
            gap: var(--s-padding);
            border-radius: var(--border-radius);
            overflow: hidden;
            margin-top: var(--s-padding);
            width: var(--s-padding-width);
            padding: var(--s-padding);
            flex-direction: column;
            border: solid 1px var(--gray-70);
            background-color: var(--gray-90);
            &-col {
                flex-direction: column;
            }

            &-btn {
                width: 100%;
            }
        }
    }
}