.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Changed from flex-start to center */
}

.p-fix {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.modal__overlay {
    @extend .d-flex;
    @extend .p-fix;
    cursor: pointer;
    overflow: hidden;
    z-index: 998;
    background: var(--gray-70-o); // Adjusted for semi-transparent overlay
    backdrop-filter: blur(5px);

    &__dragging {
        cursor: url('/icons/fa-hand-back-fist.svg'), auto;
    }
}

.modal {
    position: fixed; // Use fixed to keep it relative to the viewport
    z-index: 1000;
    font-family: Game;
    top: 200px;
    left: 50%; // Center horizontally
    transform: translateX(-50%); // Adjust position to truly center the modal
    display: flex;
    overflow-x:hidden;
    flex-direction: column;
    background: linear-gradient(var(--gray-90),var(--gray-100));
    border: solid 1px var(--gray-80-o);
    outline: solid 1px var(--gray-70-o);
    box-shadow: 2px 4px 15px 5px var(--dark);
    border-radius: var(--s-7);
    gap: var(--s-1);
    min-width: 450px;
    max-width: var(--s-6-width);
    @media(max-height: 900px) {
        top:var(--s-9);
        bottom:var(--s-9);
    }
    @media(max-width: 900px) {
        min-width: unset;
        max-width: var(--s-9-width);
        width: var(--s-9-width);
        margin: 0 auto;
        padding-bottom:var(--s-9);
        top: var(--s-9);
        bottom: var(--s-9);
        height: max-content;
    }
    &__popup {
        width: var(--s-4-width);
        @keyframes popup{
            0% { min-width: 0px; }
            100% { min-width: 450px; }
        }
    }
    &__fullscreen {
        top: 0;
        border: none;
        border-radius: unset;
        height: max-content;
        width: 100%;
        padding: 0;
    }

    &__dragging {
        cursor: url('/icons/fa-hand-back-fist.svg'), auto;
        filter: blur(3px);
    }

    &__content {
        overflow: hidden;
        padding: var(--s-10) 0 var(--s-4);
        height: 100%;
        margin: auto 0;
        backdrop-filter: blur(5px);
        color: var(--gray-30);
        height: max-content;
        justify-content: flex-start;
        transition: all 1s;
        position: relative;
        @extend .d-flex;
        flex-direction: column;
        gap: var(--s-5);
        &__popup {
            margin: 0;
            @media(max-width: 1100px) {
                height: 100%;
            }
        }
        
        &:hover {
            transition: all 1s;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: var(--blue-60);
            border-radius: 5px;
        }
        
        &::-webkit-scrollbar {
            width: 10px;
            aspect-ratio: 1/1;
            background-color: #00000033;
        }
        
        @media(max-width: 900px) {
            justify-content: flex-start;
            min-width: unset;
        }

        &__fullscreen {
            width: 100%;
            padding: 0;
            margin: 0;
            &:hover {
                background-color: #ffffff00;
            }
        }
    }

    &__header {
        @extend .d-flex;
        justify-content: space-between;
        backdrop-filter: blur(5px);
        padding: var(--s-8) var(--s-9) 0 var(--s-4);
        gap: var(--s-4);
        position: relative;
        @media(max-width: 1100px) {
            position: relative;
        }

        cursor: default;
        &:hover,
        &:focus,
        &:focus-within,
        &:visited,
        &:active {
            cursor: pointer;
            --ui-icon-color: var(--primary-50);
        }
   
        .modal-overlay__title {
            font-size: var(--s-1);
            text-transform: capitalize;
            font-family: Play;
            letter-spacing: var(--s-12);
            color: var(--primary-50);
            @media(max-width: 900px) {
                font-size: var(--s-4);
            }
        }
     
        &__fullscreen {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 2;
            margin: 0;
            min-height: var(--s-element);
            border-radius: unset;
            border: unset;

            &:hover {
                background-color: var(--gray-100);
            }
            top: var(--s-9);
        }
    }

    &__body {
        position: relative;
        @extend .d-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--s-4);
        font-family: FreightSans;
        font-weight: 500;
        height: auto;
        background: linear-gradient(var(--gray-90), var(--gray-100));
        color: var(--gray-50);
        padding: var(--s-4);
        overflow-y: auto; 
        overflow-x: hidden; 

        max-height: 80vh; // Set a maximum height for the modal body
        @media(max-width: 900px) {
            align-items: center;
            height: max-content;
            // width: 100%;
            padding: var(--s-9);
        }
        &__fullscreen {
            z-index: 1;
            margin-bottom: 0;
            padding: 0;
            width: 100%;
        }
      
        &__popup {
            border-radius: var(--border-radius);
            height: max-content;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .modal-overlay__confirm {
            font-family: Play;
            @extend .d-flex;
            gap: var(--s-6);
            border-radius: var(--border-radius);
            overflow: hidden;
            flex-direction: column;
            width: 100%;
            &--header, .header {
                @extend .d-flex;
                flex-direction: column;
                align-items: flex-start;
                margin: auto 0 var(--s-4);
                width: 100%;
                color: var(--gray-60);
                font-size: var(--s-7);

                .header--title {
                    font-size: var(--s-6);
                    color: var(--gray-50);
                    font-weight: bold;
                }
            }
            &-col {
                flex-direction: column;
            }
            &-btn {
                width: 100%;
            }
        }
    }
}
