@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Montserrat:wght@800&family=Play:wght@400;700&family=Poppins&display=swap');


.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}


.documents {
    width: 100%;
    margin: auto;
    height: 100%;

    .documents__list {
        background-color: var(--gray-90);
        padding: var(--padding);
        border-radius: var(--border-radius);
        .documents--document{

            &__terms{
                @extend .d-flex;
                align-items: flex-start;
                flex-direction: column;
                gap: var(--padding);
                margin: var(--element-height) auto;
                &--term{
                    &__title{
                        font-size: var(--s-5);
                        color:var(--gray-40);
                    }
                    &__body{
                        font-size: var(--s-7);
                        line-height: 1.5;
                        color:var(--gray-50);
                    }
                }
            }
        }
    }
    &__actions{
        @extend .d-flex;
        flex-direction: column;
        gap: var(--padding);
    }
}