.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.home-grid-item {
    // width: calc(100% - calc(var(--default-padding) * 2));
    justify-content: flex-start;
    @extend .d-flex;
    border-radius: var(--default-border-radius);
    gap: var(--default-padding);
    flex-direction: column;
    background-color: var(--color-gray-90);
    // padding: var(--default-padding);
    padding: var(--default-element-height) var(--default-padding);
    width: calc(100% - calc(var(--default-padding) * 2));
    // @media(max-width: 900px){
    // }
    &__header{
        width: 100%;
        @extend .d-flex;
        flex-direction: column;
        gap:var(--default-padding);
    }
    &__title {
        height: 100%;
        color: var(--color-secondary);
        font-size: var(--s-3);
        text-transform: capitalize;
    }
    &__body {
        color: var(--color-gray-40);
    }
    &__icon {
        @extend .d-flex;
        height: 90px;
        --ui-icon-width: 90px;
        --ui-icon-height: 90px;
        --ui-icon-color: var(--color-primary);
    }
    
    &__center {
        text-align: center;
        font-size: var(--s-5);
        line-height: 1.5;
    }
}
