.ui-tooltip{
    background: linear-gradient(135deg, var(--gray-90), var(--gray-80));
    color:var(--gray-10);
    text-transform: uppercase;
    font-family: Decimal;
    font-size: var(--s-9);
    padding:var(--s-11);
}