$dur: 1s; // Duration of the animation
$hite: 450px;
$pad: 18px;

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-slider {
  position: relative;
  width: 100%;
  overflow-x: scroll;
  position: relative;
  white-space: nowrap;
  scroll-snap-type: mandatory;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-x: contain;
  margin: var(--s-7) 0;
  min-height: 500px;
  @media(max-width:900px){
    height: 100%;
    max-width: 100vw;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  
  .product-slider__carousel {
    position: absolute;
    @extend .d-flex;
    height: max-content;
    gap: var(--s-9);
    @media(max-width:900px){
      position: unset;
      justify-content: flex-start;
      gap:var(--s-2);
      flex-direction: column;
      
      align-items: flex-start;
    }
    
    @media(max-width:600px){
      flex-direction: column;
      width: 100%;
    }
  }
}

.product-slider__product{
  margin: 2px 0;
  border-radius: var(--border-radius);
  border: solid 1px var(--blue-10);
  outline: solid 1px var(--blue);
  padding: var(--padding);
  cursor: pointer;
  width: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  $dHite: 80px;
  @media(max-width:900px){
    flex-direction: row;
    background-color: var(--gray-90);
    width: calc(100% - calc(var(--padding) * 2.5));
    padding:var(--s-7) var(--padding);
  }
  @media(max-width:600px){
    background-color: var(--gray-50);
    flex-direction: column-reverse;
    padding: var(--s-8) 0;
  }
 
  &__description{
    height: 100%;
    color:var(--gray-30);
    font-size: var(--s-5);
    line-height: 2;
    font-weight: 500;
    margin-bottom: var(--s-9);
    text-transform: capitalize;
    @media(max-width:600px){
      height: max-content;
    }
  }
  @media(max-width:900px){
    &-title{
      font-size: var(--s-2);
      line-height: 1;
    }
  }
  @media(max-width:600px){
    
    padding: 0;
    &-title{
      color: var(--gray-100);
      font-weight: 900;
      padding:var(--s-8) 0 0 var(--s-9);
    }
  }
  &__image{
    height: calc($hite - $dHite);
    position: relative;
    @media(max-width:900px){
      height: 500px;
      width: calc(50vw - var(--padding));
    }
    @media(max-width:600px){
      width: 100%;
      height: auto;
    }
    &__action{
      position: absolute;
      @media(max-width:900px){
        right: 0;
      }
      @media(max-width:600px){
        right: var(--s-4);
      }
      bottom: var(--s-7);
      right: var(--s-9);
    }
  }
}