.d-flex, .product-listing-item__grid .product-listing-item__price, .product-listing-item__grid .product-listing-item__info, .product-listing-item__grid .product-listing-item__header, .product-listing-item__grid .product-listing-item__body, .product-listing-item__grid .product-listing-item__images, .product-listing-item__grid, .product-listing-item__list .product-listing-item__price--item, .product-listing-item__list .product-listing-item__body, .product-listing-item__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

small {
  color: var(--green-10);
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--s-11);
  background: rgba(0, 0, 0, 0.56);
  -webkit-backdrop-filter: blur(4px), opacity(0.4);
          backdrop-filter: blur(4px), opacity(0.4);
}
small::before {
  color: var(--gray-10);
  content: "DEV: ";
  display: block;
  width: 100%;
}

@keyframes bobble {
  50% {
    transform: scale(1.005);
  }
  100% {
    transform: scale(1);
    background-color: var(--gray-50-o);
    box-shadow: inset 1px 1px 1px 0.5px var(--gray-30), inset 0 0 1px 1px var(--gray-40);
  }
}
.product-listing-item__list {
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row-reverse;
  padding: var(--s-9);
  cursor: pointer;
  border-radius: var(--border-radius);
  position: relative;
  border: solid 1px var(--gray-60-o);
  background-color: var(--gray-80-o);
}
@media (max-width: 1100px) {
  .product-listing-item__list {
    width: var(--s-border-width);
    padding: 0;
  }
}
.product-listing-item__list:hover {
  background-color: var(--gray-50-o);
  border: solid 1px var(--gray-30);
}
.product-listing-item__list:hover .product-listing-item__price {
  opacity: 1;
}
.product-listing-item__list .product-listing-item__header {
  width: auto;
}
.product-listing-item__list .product-listing-item__body {
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}
.product-listing-item__list .product-listing-item__info h3 {
  color: var(--gray-80);
  text-transform: capitalize;
  white-space: nowrap;
  justify-content: flex-start;
}
.product-listing-item__list .product-listing-item__info p {
  font-family: Game;
  color: var(--gray-60);
  height: 100%;
}
.product-listing-item__list .product-listing-item__price {
  opacity: 0;
  position: absolute;
  right: var(--s-9);
  bottom: var(--s-9);
  transition: all 500ms ease;
}
.product-listing-item__list .product-listing-item__price--item {
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}
.product-listing-item__list .product-listing-item__images {
  position: relative;
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.product-listing-item__list .product-listing-item__images--item.main {
  aspect-ratio: 1;
  width: 150px;
  border-radius: var(--border-radius);
  --ui-icon-width: var(--s-1-width);
  --ui-icon-margin: var(--s-1) var(--s-1) 0 var(--s-1);
  --ui-icon-height: auto;
  opacity: 1;
}
.product-listing-item__list.xl .product-listing-item__images {
  position: relative;
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.product-listing-item__list.xl .product-listing-item__images--item.main {
  aspect-ratio: 1;
  width: 350px;
}

.product-listing-item__grid {
  flex-direction: column;
  justify-content: space-between;
  gap: var(--s-11);
  border-radius: var(--border-radius);
  position: relative;
  overflow: hidden;
  align-self: stretch;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: inset 1px 1px 1px 0.5px var(--gray-80-o), inset 1px 1px 3px 3px var(--gray-60-o);
  background-color: var(--gray-70);
  height: calc(100% - 4px);
}
.product-listing-item__grid:hover {
  animation: bobble 0.3s forwards;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}
.product-listing-item__grid:hover__images {
  filter: blur(1.5px);
  border-bottom: solid 1px transparent;
}
.product-listing-item__grid:active {
  cursor: pointer;
  background-color: var(--primary-70);
}
.product-listing-item__grid:active__images {
  filter: unset;
}
.product-listing-item__grid .product-listing-item {
  flex: 1;
}
.product-listing-item__grid .product-listing-item__header, .product-listing-item__grid .product-listing-item__body, .product-listing-item__grid .product-listing-item__images {
  flex-direction: column;
  width: var(--s-border-width);
}
.product-listing-item__grid .product-listing-item__body {
  width: var(--s-9-width);
  padding: 0 var(--s-9) var(--s-9);
}
.product-listing-item__grid .product-listing-item__info {
  flex-direction: column;
  height: var(--s-9-width);
  padding: var(--s-9) 0;
  align-items: flex-start;
  width: 100%;
  line-height: 1;
}
.product-listing-item__grid .product-listing-item__info h3 {
  color: var(--gray-80);
  text-transform: capitalize;
  white-space: nowrap;
  font-weight: 900;
}
.product-listing-item__grid .product-listing-item__info p {
  font-family: Game;
  color: var(--gray-60);
  height: 100%;
}
.product-listing-item__grid .product-listing-item__price {
  height: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  flex-wrap: wrap;
  overflow: hidden;
}
.product-listing-item__grid .product-listing-item__images {
  flex-wrap: wrap;
  align-items: stretch;
  position: relative;
  transition: all 1s ease-in-out;
}
.product-listing-item__grid .product-listing-item__images--item {
  flex: 1;
  width: 100%;
  aspect-ratio: 1;
  min-width: 300px;
}
.product-listing-item__grid .product-listing-item__images--item.main {
  max-width: unset;
  --ui-icon-width: var(--s-1-width);
  --ui-icon-margin: var(--s-1) var(--s-1) 0 var(--s-1);
  --ui-icon-height: auto;
  opacity: 1;
}
.product-listing-item__grid:hover {
  animation: bobble 0.3s forwards;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}
.product-listing-item__grid:hover__images {
  filter: blur(1.5px);
}
.product-listing-item__grid:active {
  cursor: pointer;
  background-color: var(--primary-70);
}
.product-listing-item__grid:active__images {
  filter: unset;
}/*# sourceMappingURL=ProductListingItem.css.map */