.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-request-survey {
    @extend .d-flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: var(--border-radius);
    width: 100%;
    padding: var(--s-3) var(--s-6) var(--s-1);

    @media(min-width:1100px) {
        width: 80%;
    }

    @media(min-width:900px) {
        width: 50%;
    }
    @media(max-width:900px) {
        margin-bottom: 100px;
    }

    background-color: var(--gray-90);
    gap: var(--padding);
    min-height: 490px;
    color: var(--gray-30);
    height: 100%;

    &__success {
        @extend .d-flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: var(--element-height);
        width: 100%;
        flex: 1;
        gap: var(--element-height);

        &--email {
            font-size: var(--s-4);
            color: var(--primary);
            font-weight: 600;
        }

        &--status {
            @extend .d-flex;
            background-color: var(--gray-30-opaque);
            gap: var(--s-9);
            color: var(--green-60);
            --ui-icon-color: var(--green-60);
            text-transform: capitalize;
            font-size: var(--element-height);
            --ui-icon-size: var(--s-1);
            line-height: 1;
            width: max-content;
            outline: solid var(--s-9);
            border-radius: var(--border-radius);
            padding: var(--s-9) var(--s-6);
        }

        &--message {
            font-size: var(--s-5)
        }

        &--action {
            margin-top: auto;
            width: 50%;

            @media(max-width: 900px) {
                width: 100%;
            }
        }
    }

    #product-request-survey__options {
        width: 100%;
    }

    &__select-title {
        width: 100%;
        text-transform: capitalize;
        font-size: var(--s-4);
        color: var(--gray-50);

    }



    &__title {
        font-size: var(--s-1);
        line-height: 1;
        width: 100%;
        color: var(--gray-50);
        @media(max-width:900px){
            font-size: var(--s-5);
        }
    }

    &__instructions {
        font-size: var(--s-4);
        color: var(--orange-opaque);
        width: 100%;
        text-align: center;
    }

    &__submit {
        width: 100%;
        margin: var(--element-height) 0 0;
        @media(max-width:900px) {
            position: fixed;
            bottom: 0;
            background-color: var(--gray-90);
            backdrop-filter: blur(4px);
            border-radius: 0 0 0 var(--border-radius);
            right: 0;
            padding: var(--padding);
            border:solid 1px  var(--gray-100);
            border-color: transparent transparent transparent var(--gray-70);

            width: 80%;
        }
    }

    position: relative;

    &__selected {
        background-color: var(--gray-80);
        // width: calc(100% - calc(var(--s-7) * 2));
        width: 100%;
        position: relative;
        font-size: var(--s-6);
        border-radius: var(--border-radius);
        padding: calc(var(--element-height) * 2) var(--s-9) var(--s-7);
        display: flex;
        min-height: var(--element-height);
        gap: var(--s-9);
        flex-wrap: wrap;
        color: var(--gray-50);
        width: calc(100% - calc(var(--s-9) * 2));
        
        @media(max-width:900px) {
            position: fixed;
            border:solid 1px  var(--gray-100);

            border-color:  var(--gray-70) transparent transparent var(--gray-70);

            bottom: 60px;
            background-color: var(--gray-90);
            box-shadow: var(--box-shadow);
            backdrop-filter: blur(4px);
            right: 0;
            width: 80%;
        }
        
        &--header {
            position: absolute;
            text-transform: capitalize;
            left: var(--s-8);
            top: var(--s-9);
            
            @media(max-width:900px) {
            top: var(--s-1);
            color: var(--gray-70);
            font-size: var(--s-7);
            left: 0;
            padding: var(--s-9);
            width: auto;
        }
        }

        .product-request-survey__tools {
            position: absolute;
            right: var(--s-5);
            top: var(--s-9);
            color: inerit;
            width: 100%;
            @extend .d-flex;
            justify-content: flex-end;
            @media(max-width:900px) {
                color: var(--gray-70);
                font-size: var(--s-8);
            }
            &--tool {
                cursor: pointer;

                &:hover {
                    filter: brightness(1.5)
                }
            }
        }

    }


    &__sub-title {
        width: 100%;
        font-size: var(--s-4);
        color: var(--primary);
        text-transform: capitalize;
        line-height: 1;
    }


    .product-description__choice {
        color: var(--gray-40);
        cursor: pointer;
        border: solid 1px transparent;
        height: var(--element-height);
        @extend .d-flex;
        border-radius: var(--border-radius);
        --ui-icon-color: var(--white);
        border: solid 1px var(--gray-50);
        background-color: var(--gray-80);

        &:hover {
            color: var(--gray-10);
            border: solid 1px var(--gray-20);
            background-color: var(--gray-70);
        }

        &--selected {
            text-indent: unset;
            width: max-content;
            background-color: none;
            justify-content: space-around;

            &:hover {
                color: var(--white);
                background-color: var(--primary);
            }
        }

        &--choice {
            background-color: var(--primary-opaque);
            border: solid 1px var(--primary-lite);

            &:hover {
                color: var(--white);
                background-color: var(--primary);
            }
        }

        &__name {
            @extend .d-flex;
            width: calc(100% - var(--s-4));

            justify-content: space-between;
            font-size: 1rem;
            text-transform: capitalize;
        }

    }

    &__action {
        width: 100%;
        justify-content: flex-start;

        div {
            width: max-content;
        }
    }
}