.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.rectangle3d{
    @extend .d-flex;
    height: auto;
    max-height: 500px;
    width: auto;
    margin: auto;
    // background-color: var(--gray-70-opaque);
}