.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes brightnessIncrease {
    0% {
        filter: brightness(.5) blur(1px);
        color: var(--gray-90);
        --ui-icon-color: var(--gray-90);
    }

    100% {
        filter: brightness(1) blur(0);
        color: var(--gray-80);
        --ui-icon-color: var(--gray-80);
    }
}

@keyframes brightnessHover {
    0% {}

    100% {
        filter: brightness(1) blur(0);
        color: var(--gray-50);
        --ui-icon-color: var(--gray-50);
        background-color: transparent;
    }
}

.settings-nav {
    @extend .d-flex;
    flex-direction: column;
    gap: var(--s-10);
    position: relative;
    transition: all 0.5s ease-in;
    animation-play-state: paused;
    .nav-item {
        width: var(--s-9-width);
        z-index: 2;
        background-color: var(--gray-90);
        flex-wrap: nowrap;
        @extend .d-flex;
        font-size: var(--s-6);
        color: var(--gray-70);
        --ui-icon-color: var(--gray-70);
        padding: var(--s-10) var(--s-9);
        text-transform: capitalize;
        border-radius: var(--s-element);
        white-space: nowrap;
        cursor: pointer;
        position: relative;
        animation: brightnessIncrease 5s infinite alternate;
        --ui-icon-size: var(--s-7);
        
        z-index: 1;
        &:hover {
            color: var(--gray-60) !important;
            --ui-icon-color: var(--gray-60) !important;
            background-color: var(--gray-80) !important;
        }
        &--selected-icon{
            position: absolute;
            right:var(--s-10);
            --ui-icon-color: var(--blue) !important;
        }
        &--selected{
            color: var(--blue) !important;
            background-color: var(--gray-70) !important;
            filter:blur(0) !important;
            @media(max-width: 1100px){
                padding-right: var(--s-2);
            }
        }
    }
    
    &:hover {
        // animation-play-state: running;
        // border: solid 1px var(--gray-90);
        // box-shadow: inset 2px 2px 3px 3px var(--black);
        .nav-item {
            animation: brightnessHover .2s forwards;
        }
    }
    @media(max-width: 1100px){
        background-color: var(--gray-100-o);
        padding:var(--s-9) 0;
        overflow-x: auto;
        flex-direction: row;
        width: var(--s-9-width);
        justify-content: flex-start;
        margin: 0 var(--s-9);

        &::-webkit-scrollbar{display: none;}
    }
}