.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.admin-accounts {
    @extend .d-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap:var(--s-9);
    width: var(--s-9-w);
    overflow: hidden;
    &__account {
        width: 100%;
        @extend .d-flex;
        flex-direction: column;
        &--line {
            border: solid 1px;
            @extend .d-flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            width: var(--s-border-width);
            gap: 2px;
            line-height: 20px;
            font-size: 16px;
            &-key {
                color: var(--primary-50);
            }
            &-value {
                color: var(--gray-10);
                word-break: break-word;
            }
        }
    }
}
