.d-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 0px;
  gap: 10px;
}

.account {
  width: 100%;
  @extend .d-grid;
  position: relative;

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }

  .account__view {
    .account__view__title {
      text-transform: capitalize;
      font-size: var(--s-2);
      line-height: 2;
      padding: none;
    }
  }
}