.d-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 0px;
  gap: 10px;
}

.account {
  width: 100%;
  @extend .d-grid;
  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }

  .account__content {
    width: 100%;
    height: 100%;
    @media (max-width: 900px) {
      height: max-content;
    }
  }
  .account__card{
    width: 100%;
    height: auto;
  }
}
