.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.dev{
    min-width: 200px;
    position: relative;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 35px 15px 10px;
    margin: 15px;
    background-color: #000000;
    border:solid 1px  #0f9;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    z-index: 999;
    max-width: calc(100vw - 60px);
    text-wrap: wrap;
    flex-wrap: wrap;
    cursor:pointer;
    animation: all 1s ease-in;
    &::before{
        position: absolute;
        top: 5px;
        left: 5px;
        content: "Development";
      font-style: italic;
      font-weight: 500;
      text-decoration: underline;
      }
    .dev-item{
        width: 100%;
        max-width: inherit;
        flex-wrap: wrap;

        .dev-key{
            @extend .d-flex;
            color:var(--orange);
        }
        .dev-value{
            @extend .d-flex;
            color:var(--green-10);
        }
        display: flex;
        // justify-content: space-between;
        gap:var(--s-9);
    }
}
