// Variables
$defaultPadding: 10px;
$defaultHeight: 80px;
$cellHite: 50px;
$bRad: 5px;
$gap: 15px;
$selectHite: 35px;
$magnifySize: 15px;
$overBreakPoint: 1350px;


.adaptable {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: $bRad;
  font-weight: 300;
  @media(max-width:1100px){
    overflow: hidden;
  }
  @media(max-width:900px){
    background-color: var(--gray-90);
  }
  background-color: var(--gray-90);
  font-size: 14px;
  &.adaptable-mini{
    font-size: 16px;
    background-color: transparent;
    color: var(--gray-30);
  }
}