.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.checkout {
    @extend .d-flex;
    margin: var(--s-nav-height) auto 0;
    height: 100%;
    width: 100%;
    gap: var(--s-4);
    justify-content: space-between;
    flex-direction: column;
    @media(max-width:1100px) {
        width: var(--s-9-width);
    }
    .checkout__title{
        line-height: 2;
        font-size: var(--s-1);
        --ui-icon-width: var(--s-2);
        --ui-icon-height: var(--s-2);
        gap:var(--s-9);
        @extend .d-flex;
        color: var(--gray-50);
        --ui-icon-color: var(--gray-50);
    }
    &__cart-list{
        width: 100%;
        @extend .d-flex;
        flex-direction: column;
        align-items: flex-start;
        flex:1;
    }
    &__view{
        flex:2;
        width: var(--s-4-width);
        padding: var(--s-4);
        background-color: var(--gray-90);
        border: solid 1px var(--gray-80);
        border-radius: var(--border-radius);
    }
}

.checkout__body {
    @extend .d-flex;
    align-items: flex-start;
    @media(max-width:1100px) {
        justify-content: flex-start;
        flex-direction: column;

    }
    gap:var(--s-4);
    height: 100%;
    width: 100%;
    i{
        width: 100%;
        line-height: 1;
        color: var(--orange-50);
        padding:0;
        margin:0;
    }
}
.checkout-modal {
    @extend .d-flex;
    height: 900px;
    padding: 50px 0;
    width: 100%;
} 
