.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.checkout {
    @extend .d-flex;
    height: 100%;
    width: 100%;
    gap: var(--s-padding);
    justify-content: space-between;
    flex-direction: column;
    .checkout__title{
        line-height: 2;
        font-size: var(--s-1);
        --ui-icon-width: var(--s-2);
        --ui-icon-height: var(--s-2);
        gap:var(--s-9);
        @extend .d-flex;
        color: var(--gray-50);
        --ui-icon-color: var(--gray-50);
    }
    &__cart-list{
        width: 100%;
        @extend .d-flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.checkout__body {
    @extend .d-flex;
    justify-content: flex-start;
    flex-direction: column;
    gap:var(--s-padding);
    height: 100%;
    width: 100%;
    i{
        width: 100%;
        line-height: 1;
        color: var(--orange);
        padding:0;
        margin:0;
    }
}
.checkout-modal {
    @extend .d-flex;
    height: 900px;
    padding: 50px 0;
    width: 100%;
} 
