.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.checkout {
    @extend .d-flex;
    height: 100%;
    flex-direction: column;
    .checkout__title{
        line-height: 2;
        font-size: var(--s-4);
        gap:7px;
        @extend .d-flex;
        color: var(--gray-30);
        --ui-icon-color: var(--gray-30);
    }
}

.checkout__body {
    @extend .d-flex;
    justify-content: center;
    flex-direction: column;
    gap:var(--padding);
    height: 100%;
    width: 100%;
    i{
        width: 100%;
        line-height: 1;
        color: var(--orange);
        padding:0;
        margin:0;
    }
}
.checkout-modal {
    @extend .d-flex;
    height: 900px;
    padding: 50px 0;
    width: 100%;
} 
.checkout__button{
    width: 100%;
    margin: 10px 0 auto;
    padding-bottom: var(--s-7);
}