
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-description{
    justify-content: flex-start;
    color: var(--gray-30);
    flex-direction: column;
    @extend .d-flex;
    height: 100%;
    background-color: var(--gray-100);
    .product__img-default{
        .img-placeholder{
            padding: var(--element-height) 10px;
            height: auto;
            width: 100%;
            @extend .d-flex;
        }
        --ui-icon-height: 66%;
        width: 100%;
        --ui-icon-width: 66%;
        border-radius: var(--border-radius);
        overflow: hidden;
        @extend .d-flex;
        --ui-icon-color: var(--gray-70);
    
    }
    .product-description__info-panel{
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        padding: 20px 10px 10px;
        align-items: flex-start;
        width: calc(100% - 40px);
        
        .product-description__info-panel_header{
            display: flex;
            border-bottom: solid 1px var(--gray-60);
            min-height: var(--element-height);
            flex-direction: column;
            width: 100%;

            .product-description__info-panel_title{
                font-size:var(--s-3);
            }
        }
        .product-description__info-panel_body{
            @extend .d-flex;
            align-items: flex-start;
            height: 100%;
            color: var(--gray-50);
        }
    }

}