@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Montserrat:wght@800&family=Play:wght@400;700&family=Poppins&display=swap');


.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}


.documents {
    width: 100%;

    margin: auto;
    height: 100%;
    &__header{
        @extend .d-flex;
        justify-content: flex-start;
        padding: 0 0 var(--padding);
        &--title{
            font-size: var(--s-3);
            color: var(--gray-30);
            font-style: italic;
            font-weight: 900;
        }
    }
    .documents__list {
        .documents--document{
            &__terms{
                @extend .d-flex;
                align-items: flex-start;
                flex-direction: column;
                gap: var(--padding);
                margin: var(--s-9);
                &--term{
                    max-width: calc(100% - calc(var(--s-5) * 2));
                    &__title{
                        font-size: var(--s-5);
                        color:var(--gray-40);
                    }
                    &__body{
                        font-size: var(--s-7);
                        line-height: 1.5;
                        color:var(--gray-50);
                    }
                }
            }
            
        }
    }
    &__actions{
        padding: calc(var(--element-height) * 2) var(--padding) calc(var(--element-height) * 2);
        @extend .d-flex;
        flex-direction: column;
        gap: var(--element-height);
    }
}