$gray90: var(--gray-90);
$gray40: var(--gray-40);
$gray50: var(--gray-50);
$gray50: var(--gray-50);
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    85% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
// .td-hover {
//     display: none;
//   }
  .td-content {
    display: flex;
    align-items: center;
    min-height: max-content;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  .td-hover {
    flex-direction: column;
    position: absolute;
    bottom: 90%;
    left: 0;
    right: 0;
    z-index: 3;
    border-radius: 5px;
    background-color: $gray90;
    width: max-content;
    max-width: 80vw;
    animation: fadeIn .5s;
    .td-hover-content {
      padding: 5px 8px 8px;

      .td-hover-key {
        line-height: 1.5;
        width: 50%;
        text-transform: capitalize;
        color: $gray50;
      }

      .td-hover-key-value {
        background-color: $gray40;
        line-height: 1;
        color: var(--blue);
        padding: 8px;
        border-radius: 4px;
        white-space: wrap;
      }
    }
  }