.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.d-flex_j-fs_a-fs{
    @extend .d-flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.d-flex-col{
    @extend .d-flex;
    flex-direction: column;
}
.d-flex-col_j-fs_a-fs{
    @extend .d-flex-col;
    @extend .d-flex_j-fs_a-fs;
}
.ui-div, .div{
    height: max-content;
    @extend .d-flex-col_j-fs_a-fs;
    gap: var(--default-padding);
    font-size: var(--s-5);
    &__lite{
        color:var(--color-gray-70);
        background-color: var(--color-gray-50);
    }
    &__card{
        color: var(--color-gray-50);
        outline: solid 1px var(--color-gray-80);
        border: solid 1px var(--color-gray-60);
        border-radius: var(--default-border-radius);
        min-height: var(--default-element-height);
    }
    &__mc{
        color: var(--color-gray-40);
        border-width: 4px;
        border-style: outset;
        background-color: var(--color-gray-70);
        border-color: 
        var(--color-gray-40-opaque)
        var(--color-gray-40-opaque)
        var(--color-gray-60-opaque)
        var(--color-gray-20-opaque);
    }
    &__dark{
        background-color: var(--color-gray-90);
    }
    &__shadow{
        box-shadow: var(--default-box-shadow);
    }
}