.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.d-flex_j-fs_a-fs{
    @extend .d-flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.d-flex-col{
    @extend .d-flex;
    flex-direction: column;
}
.d-flex-col_j-fs_a-fs{
    @extend .d-flex-col;
    @extend .d-flex_j-fs_a-fs;
}
.ui-div, .div{
    height: max-content;
    @extend .d-flex-col_j-fs_a-fs;
    gap: var(--s-padding);
    font-size: var(--s-5);
    width: 100%;
    &__card{
        color: var(--gray-50);
        outline: solid 1px var(--gray-80);
        border: solid 1px var(--gray-60);
        border-radius: var(--border-radius);
        min-height: var(--s-element);
        border-radius: var(--border-radius);
    }
    &__mc{
        color: var(--gray-40);
        background-color: var(--gray-80);
        border-radius: var(--border-radius);
        border-style: outset;
        border-color: 
        var(--gray-40-o)
        var(--gray-40-o)
        var(--gray-60-o)
        var(--gray-20-o);
        border-width: 2px;
        padding: var(--s-padding);
        width: calc(calc(100% - 4px) -  calc(var(--s-padding) * 2));
    }
    &__lite{
        color:var(--gray-70);
        background-color: var(--gray-50);
    }
    &__dark{
        background-color: var(--gray-90);
    }
    &__shadow{
        box-shadow: var(--box-shadow);
    }
}