.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.card{
    width: var(--s-padding-width);
    border-radius: var(--border-radius);
    padding: var(--s-padding);
    background-color: var(--gray-90);
}
.verify-payment{
    @extend .d-flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--s-padding);
    width: 100%;
    &__item{
        width: 100%;
    }
   &__token-needed{
        @extend .d-flex, .card;
        flex-direction: column;
        color: var(--secondary);
        font-size: var(--s-3);
        height: 100%;
        min-height: 400px;
        width: auto;
    }
    &--header, &--content{
        @extend .d-flex;
        justify-content: flex-start;
    }
    &--header{
        text-transform: capitalize;
        width: 100%;
        color: var(--gray-40);
        font-size: var(--s-2);
    }
    &--content{
        flex-direction: column;
        color: var(--gray-40);
        gap: var(--s-padding);
        width: 100%;
        &__contact-form{
            @extend .d-flex, .card;
            margin-bottom: var(--s-element);
        }
    }
}