.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-col {
  @extend .d-flex;
  flex-direction: column;
  gap: var(--default-padding);
}

.form {
  @extend .d-flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;

  .form__field {
      width: 100%;
      @extend .d-flex-col;
      margin: auto;
  }
  &__submit {
    // existing styles
    border-style: outset;
    border-color: transparent;
    border-top-color: var(--color-gray-60);
    border-width: 2px;
    width: calc(100%);
    padding-top: 10px;
    margin-top: 10px;
  
    // new gradient background
    background-image: linear-gradient(to bottom, var(--color-gray-60), transparent);
  }
}
