.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-col {
  @extend .d-flex;
  flex-direction: column;
  gap: var(--default-padding);
}

.form {
  @extend .d-flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  gap: var(--s-8);
  &__title{
    text-transform: capitalize;
    font-size: var(--s-2);
    height: var(--default-element-height);
    @extend .d-flex;
    justify-content: flex-start;
    padding: var(--default-padding) 0;
  }
  .form__field {
      width: 100%;
      @extend .d-flex-col;
      margin: auto;
  }
  &__submit {
    // existing styles
    border-style: outset;
    border-color: transparent;
    border-top-color: var(--color-gray-60);
    border-width: 2px;
    width: calc(100%);
    margin-top: var(--default-padding);
    padding-top: var(--default-element-height);
    
    // // new gradient background
    // background-image: linear-gradient(to bottom, var(--color-gray-60), transparent);
  }
}
input{
  @extend .d-flex;
  width: var(--default-element-height);
  height: 100%;
  text-align: center;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  --ui-icon-color: inherit;
  &:focus{
    color: inherit;
  }
}