.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;

}
// .account-create-method {
//     width: 100%;
//     min-height: var(--element-height);
//     .account-create-method__title{
//         @extend .d-flex;
//         height: var(--element-height);
//         justify-content: flex-start;
//         font-size: var(--s-5);
//         text-transform: capitalize;
//         color: var(--gray-40);
//     }
//     .account-create-method__method {
//         width: 100%;
//         .account-create-method__status{
//             @extend .d-flex;
//             height: max-content;
//             padding: var(--padding) calc(var(--padding) * .66);
//             width: calc(100% - calc(calc(var(--padding) * .66) * 2));
//             justify-content: flex-start;
//             height: var(--element-height);
//             color: var(--gray-40);
//             &.account-create-method__status-error{
//                 color: var(--orange);
//             }
//             &.account-create-method__status-success{
//                 color: var(--green-60);
//             }
//         }
//     }
//     .account-create-method__exp{
//         @extend .d-flex;
//         gap: 10px;
//     }
//     .account-create-method__action{
//         @extend .d-flex;
//         justify-content: flex-end;
//         margin-top: var(--element-height)
//         // visibility: hidden;
//     }
// }
form {
    @extend .d-flex;
    flex-direction: column;
    gap: var(--padding);
}