// .d-flex{
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  width: 100%;

// }
// .account-create-method {
//     width: 100%;
//     min-height: var(--default-element-height);
//     .account-create-method__title{
//         @extend .d-flex;
//         height: var(--default-element-height);
//         justify-content: flex-start;
//         font-size: var(--s-5);
//         text-transform: capitalize;
//         color: var(--color-gray-40);
//     }
//     .account-create-method__method {
//         width: 100%;
//         .account-create-method__status{
//             @extend .d-flex;
//             height: max-content;
//             padding: var(--default-padding) calc(var(--default-padding) * .66);
//             width: calc(100% - calc(calc(var(--default-padding) * .66) * 2));
//             justify-content: flex-start;
//             height: var(--default-element-height);
//             color: var(--color-gray-40);
//             &.account-create-method__status-error{
//                 color: var(--color-orange);
//             }
//             &.account-create-method__status-success{
//                 color: var(--color-green-60);
//             }
//         }
//     }
//     .account-create-method__exp{
//         @extend .d-flex;
//         gap: 10px;
//     }
//     .account-create-method__action{
//         @extend .d-flex;
//         justify-content: flex-end;
//         margin-top: var(--default-element-height)
//         // visibility: hidden;
//     }
// }
form {
    width: 100%;

    .account-create-method__card-element {
        min-height: var(--default-element-height);
        
    }

    // .myCardElement {
    //     // Example styles
    //     background: white;
    //     padding: 10px;
    //     border-radius: 4px;
    //     border: 1px solid #ccc;
    //     box-shadow: 0 1px 3px 0 #e6ebf1;
    //     transition: box-shadow 150ms ease;

    //     &:focus {
    //       box-shadow: 0 1px 3px 0 #cfd7df;
    //     }

    //     .StripeElement--invalid {
    //       border-color: #fa755a;
    //     }

    //     .StripeElement--webkit-autofill {
    //       background-color: #fefde5 !important;
    //     }
    //   }
}