.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__mobile {
    display: none;
    margin: 0;
    width: 100%;
    --ui-icon-color: var(--gray-40);
    position: relative;
    @media(max-width: 1260px) {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    &--actions {
        @extend .d-flex;
        justify-content: flex-start;
    }
    
    &--content {
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: var(--s-9);
        height: max-content;
        justify-content: space-between;
    }
}