.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__mobile {
    display: none;
    min-width: 600px;
    margin:  0;
    width: 100%;
    @media(max-width: 1260px) {
        min-width: unset;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: var(--element-height);
    }
    &--actions{
        @extend .d-flex;
        justify-content: flex-start;
    }
    &--content {
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
        gap: var(--padding);
        height: max-content;
        justify-content: space-between;
        // padding: calc(var(--element-height) * 2) var(--padding) var(--element-height);
        
        &__brand{
            gap: var(--s-9);
            // position: absolute;
            // top: var(--s-2);
            // left: var(--padding);
            height: var(--element-height);
            padding:0 var(--padding) var(--s-1);
            right: auto;
            width: 100%;
            justify-content: flex-start;
            text-transform: capitalize;
            font-size: var(--s-1);
            @extend .d-flex;
            color:var(--primary-opaque);
            --ui-icon-color:var(--primary);
            --ui-icon-width:var(--element-height);
            --ui-icon-height:var(--element-height);
            // --ui-icon-size: var(--s-1);
            // --ui-icon-width: var(--s-1);
            // line-height: 1;
            cursor: pointer;
            &:hover{
                color:var(--primary);
                --ui-icon-color:var(--primary);
            }
       

        }
        &__nav-item{
            @extend .d-flex;
            border: solid 1px var(--gray-70);
            border-radius: var(--border-radius);
            &:hover{
                background-color: var(--gray-90);
            }
        }
    }
}