// src/webstack/components/Graphs/UiEarth/controller/UiEarth.scss

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-earth {
    @extend .d-flex;
    flex-direction: column;
    position: relative;
    height: inherit;

    &__header {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
    }

    &__tools {
        position: absolute;
        top: var(--s-10);
        @extend .d-flex;
        padding:var(--s-padding);
        justify-content: flex-end;
        opacity: 0.5;
        right: var(--s-9);
        @media(max-width: 1100px) {
            top: calc(var(--s-element) + var(--s-9));
        }

        &:hover{
            opacity: 1;
        }
    }

    width: inherit;
    &__container {
        width: inherit;
    }
}
.globe-marker{
    min-width: var(--s-element);
    padding: var(--s-padding);
    background-color: #f30;
    z-index: 1111;
}