// src/webstack/components/Graphs/UiEarth/controller/UiEarth.scss

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-earth {
    @extend .d-flex;
    flex-direction: column;
    @media(max-width: 1100px) {
        height: inherit;
    }
    position: relative;
    &__header {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
    }

    &__tools {
        position: absolute;
        top: calc(var(--element-height)*2.5);
        right: 0;
        @extend .d-flex;
        padding:var(--padding);
        justify-content: flex-end;
        opacity: 0.5;
        &:hover{
            opacity: 1;
        }
    }

    width: inherit;
    &__container {
        width: inherit;
        @media(max-width: 1100px) {}
    }
}
.globe-marker{
    min-width: var(--element-height);
    padding: var(--padding);
    background-color: #f30;
    z-index: 1111;
}