.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services {
    color:var(--gray-90);
    @extend .d-flex;
    padding: var(--s-nav-height) 0 0;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--s-element);
    width: 100%;
    // background: var(--gray-80);
    height: 100%;
    min-height: 100vh;
    @media(max-width: 900px) {
    }
    &-body,
    &-header {
        @extend .d-flex;
        color:var(--primary-50);
        justify-content: flex-start;
        .services--section{
            width: 100%;
            align-items: flex-start;
            @extend .d-flex;
            flex-direction: column;
            gap: var(--s-1);
            @media(max-width: 900px) {
                align-items: center;
                text-align: center;
            }
        }
    }
    &-body{
        padding-bottom: 200px;
        height: 100%;
        flex-direction: column;
        gap:var(--s-1);
    }
    &-header{
        --ui-icon-color:var(--primary-50);
        @extend .d-flex;
        gap:var(--s-9);
        align-items: flex-end;
        line-height: 1;
        --ui-icon-size: var(--s-element);
        font-size: var(--s-element);
        @media(max-width: 768px) {
            flex-direction: column;
            align-items: center;
            gap: var(--s-1);
            text-wrap: wrap;
            white-space: wrap;
            font-size: var(--s-4);
        }
    }
}