.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services {
    color:var(--gray-90);
    @extend .d-flex;
    padding: var(--s-nav-height) 0 0;
    justify-content: flex-start;
    // position: fixed;
    // top: 0;
    left: 0;
    flex-direction: column;
    gap: var(--s-element);
    width: 100%;
    background: var(--gray-80);
    height: 100%;
    min-height: 100vh;

    &-body,
    &-header {
        width: var(--s-9-width);
        padding: 0 var(--s-9);
        @extend .d-flex;
        color:var(--primary-50);
        justify-content: flex-start;
        .services--section{
            width: 100%;
            align-items: flex-start;
            @extend .d-flex;
            flex-direction: column;
            gap: var(--s-1);
        }
    }
    &-body{
        padding-bottom: 200px;
        height: 100%;
        flex-direction: column;
        gap:var(--s-1);
    }
    &-header{
        --ui-icon-color:var(--primary-50);
        @extend .d-flex;
        gap:var(--s-9);
        align-items: flex-end;
        line-height: 1;
        --ui-icon-size: var(--s-element);
        font-size: var(--s-element);
    }
}