.d-flex, .settings__view .settings__content, .settings__view, .settings__footer, .settings__nav--content, .settings__nav, .settings__content, .settings__header, .settings, .settings__trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.s-9, .settings__footer, .settings {
  padding: var(--s-9);
  width: var(--s-9-width);
}

.settings__trigger {
  position: fixed;
  top: 0;
  right: -10px;
  z-index: 1000;
  width: -moz-max-content;
  width: max-content;
}
@media (min-width: 1100px) {
  .settings__trigger.close {
    right: -100px;
    position: absolute;
    top: 0;
    background-color: var(--gray-90-o);
    border-radius: var(--border-radius);
  }
}
.settings__trigger--content {
  --ui-icon-size: var(--s-1);
  --ui-icon-color: var(--gray-70-o);
  width: var(--s-9-width);
  height: var(--s-9-width);
  padding: var(--s-9);
}
.settings__trigger--content:hover {
  background-color: var(--gray-10-o);
  --ui-icon-color: var(--primary-50);
}

.settings {
  flex-direction: column;
  max-height: calc(100vh - 70px);
  height: var(--s-9-width);
  overflow: hidden;
}
@media (max-width: 1100px) {
  .settings {
    max-height: -moz-max-content;
    max-height: max-content;
    height: -moz-max-content;
    height: max-content;
  }
}
.settings_light {
  color: var(--gray-70);
  background-color: var(--gray-50);
}
.settings__header {
  width: 100%;
  text-transform: capitalize;
  font-size: var(--s-1);
  justify-content: flex-start;
}
.settings__header_light {
  color: var(--gray-70);
  background-color: unset;
}
.settings__content {
  flex: 1;
  gap: var(--s-9);
  align-items: stretch;
}
@media (max-width: 1100px) {
  .settings__content {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.settings__nav {
  position: relative;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: stretch;
  border-radius: var(--border-radius);
  background-color: var(--gray-80);
  overflow-y: auto;
  overflow-x: hidden;
  min-width: -moz-min-content;
  min-width: min-content;
}
.settings__nav_light {
  color: var(--gray-70);
  background-color: var(--gray-40);
}
@media (max-width: 1100px) {
  .settings__nav {
    width: 100%;
    padding: var(--s-9) var(--s-9) var(--s-2);
    min-height: var(--s-element);
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (min-width: 1100px) {
  .settings__nav {
    z-index: 3;
  }
  .settings__nav.close {
    max-width: 0;
    padding: 0;
    background-color: unset;
    height: -moz-max-content;
    height: max-content;
    transform: translateX(calc(-1 * var(--s-1)));
    overflow: visible;
  }
  .settings__nav.open {
    width: 100%;
    transform: translateX(0);
  }
}
.settings__nav--content {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--s-11);
  padding: var(--s-9);
  width: var(--s-9-width);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
@media (min-width: 1100px) {
  .settings__nav--content.open {
    transform: translateX(0);
  }
  .settings__nav--content.close {
    height: -moz-max-content;
    height: max-content;
    max-width: var(--s-1);
  }
  .settings__nav--content.close .close {
    filter: blur(3.5px);
  }
}
@media (max-width: 1100px) {
  .settings__nav--content {
    padding: 0;
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: visible;
  }
}
.settings__footer {
  border-radius: var(--border-radius);
  background-color: var(--gray-100-o);
}
.settings__footer_light {
  color: var(--gray-60);
  background-color: var(--gray-40);
}
.settings--full-width {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  padding: var(--s-9);
  box-sizing: border-box;
  height: 100%;
}
@media (max-width: 1100px) {
  .settings--full-width {
    justify-content: flex-start;
  }
}

.settings__view {
  flex: 4;
  flex-direction: column;
  gap: var(--s-9);
  height: 100%;
}
.settings__view .settings__content {
  position: relative;
  flex-direction: column;
  overflow-y: auto;
  align-items: flex-start;
}
@media (max-width: 1100px) {
  .settings__view .settings__content {
    height: -moz-max-content;
    height: max-content;
  }
}
.settings__view .settings__content--full-width {
  width: var(--s-border-width);
}
.settings__view .settings__content_light {
  color: var(--gray-70);
  background-color: unset;
  padding: 0;
}/*# sourceMappingURL=UiSettingsLayout.css.map */