.d-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

$navDisplacement: var(--s-nav-height);


.settings {
  position: relative;
  z-index: 1000;

  @extend .d-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--s-9);
  width: 100%;

  &--no-view {
    max-width: 600px;
    margin: 200px auto;

    @media(max-width:1100px) {
      margin: 0 auto;
    }
  }

  &__title {
    @extend .d-flex;
    width: 100%;
    justify-content: flex-start;
  }

  &--full {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    // bottom: 0;
    z-index: 1000;
    // padding: calc(var(--s-nav-height) + var(--s-1)) var(--s-9);
    height: 100%;
    padding: var(--s-9);
    width: var(--s-9-w);

    min-height: var(--s-page-height);
    min-height: max-content;

    @media(max-width:1100px) {
      // top: calc(var(--s-nav-height) + var(--s-9));
    }
  }

  &__trigger {
    position: absolute;
    right: 0;
    top: 0;
    // top: 50%;
    cursor: pointer;
    width: max-content;
    min-width: var(--s-5);
    min-height: var(--s-5);
    @extend .d-flex;
    padding: var(--s-9);
    transform: translateY(50%);
    background-color: var(--blue-70);
    transform: rotate(90deg);

    &--closed {
      transform: translate(calc(100% + $navDisplacement), 0);
      opacity: .6;
      top: 0;

      &:hover {
        opacity: 1;
        color: white;
        --ui-icon-color: white;

        background-color: #000;
      }
    }
  }

  &__container {
    height: max-content;

    flex-direction: row;
    @extend .d-flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    min-height: var(--s-page-height);

    @media (max-width: 1100px) {
      flex-direction: column;
    }
  }

  &__nav {
    @extend .d-flex;
    transition: all 0.4s ease-out;
    flex: 1;
    overflow: hidden;
    background-color: var(--gray-90);
    box-shadow: var(--s-11) var(--s-9) var(--s-8) var(--s-11) var(--gray-100);
    z-index: 10101;
    padding: var(--s-5) var(--s-11);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    width: var(--s-11-w);
    min-width: 400px;
    position: relative;
    position: absolute;
    opacity: .5;
    top: calc(var(--s-nav-height) + var(--s-9));

    @media(max-width: 1100px) {
      top: 0;
      max-height: max-content;
      box-shadow: none;
    }

    &--open {
      opacity: 1;
      min-height: max-content;
    }

    &--closed {
      overflow: visible;
      transform: translateX(calc(calc(-100% + var(--s-9)) - $navDisplacement));
      min-width: unset;
      box-shadow: unset;

      @media(max-width: 1100px) {
        transform: translateX(0);
      }
    }

    &--full {
      @media(min-width: 1100px) {
        position: fixed;
        left: var(--s-9);
      }
    }

    @media (max-width: 1100px) {
      width: 100%;
      padding: unset;
      // flex: 1 1 100%;
    }
  }

  &__view {
    @extend .d-flex;
    flex: 5;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;

    &--full {
      // width: 100%;
      overflow-x: hidden;

      @media(max-width:1100px) {
        top: var(--s-nav-height);
      }
    }


    &--content {
      width: 100%;
      position: relative;
    }
  }
}