.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings {
    width: 100%;
    padding-top: var(--s-element);
    
    &__nav {
        display: flex;
        position: relative;
        padding: var(--s-9) 0;

        @media(min-width:1101px) {
            width: var(--s-9-width);
            padding: var(--s-9);
        }
    }

    &__loader {
        min-height: 100%;
        @extend .d-flex;
    }

    

    &-view {
        @keyframes viewBorderAnimation {
            0% {
                border-color: transparent;
            }

            25% {
                border-color: transparent;
            }

            50% {
                border-color: var(--primary);
            }

            100% {
                border-color: var(--primary);
            }
        }

        z-index: 1;
        animation: viewBorderAnimation 5s infinite;
        border: solid 1px var(--gray-90);

        margin: 0;

        @media (min-width: 1101px) {
            border-radius: var(--border-radius);
            background-color: var(--gray-100-o);
        }

        &--content {
            min-height: 500px;
            @extend .d-flex;
            justify-content: flex-start;
            flex-direction: column;
            position: relative;
            @media (min-width: 1101px) {
                width: var(--s-4-width);
                height: var(--s-9-width);
                padding: var(--s-9) var(--s-4) var(--s-4);
            }
        }
    }
}

#settings {
    width: 100%;
    margin: var(--s-9) auto;
    border-spacing: var(--s-9) var(--s-5);

    @media (max-width: 1100px) {
        border-spacing: 0 var(--s-5);
    }

    @media (max-width: 1100px) {
        display: flex;
        flex-direction: column;
        margin: var(--s-1) auto;
        width: var(--s-9-width);
        border-spacing: var(--s-9) 0;
        gap: var(--s-5);

        tr {
            display: inline-flex;
            flex-direction: column;
            width: 100%;
            gap: var(--s-9);
        }
    }

    tbody {
        tr {
            vertical-align: top;
        }
    }
}

@keyframes brightnessHover {
    0% {}

    100% {
        filter: brightness(1) blur(0);
        color: var(--gray-60);
        --ui-icon-color: var(--gray-60);
        background-color: transparent;
        border: solid 1px var(--gray-80);
    }
}

@keyframes navItemHighlight {
    0% {
        border-color: transparent;
    }

    25% {
        border-color: var(--gray-60-o);
    }

    75% {
        border-color: var(--gray-90-o);
    }

    100% {
        border-color: transparent;
    }
}

@keyframes viewHighlight {
    0% {
        border-color: transparent;
    }

    25% {
        border-color: transparent;
    }

    50% {
        border-color: var(--primary);
    }

    100% {
        border-color: var(--primary);
    }
}

.settings-nav--content {
    transition: all 0.5s ease-in;
    animation-play-state: paused;
    @extend .d-flex;
    flex-direction: column;
    gap: var(--s-10);
    padding-left: 0;

    @media(max-width: 1100px) {
        width: var(--s-9-width);
        box-shadow: inset 4px 2px 3px 3px var(--black);
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        height: 100%;
        border: solid 1px var(--gray-80-o);
        z-index: 1;
        border-radius: var(--s-1);
        overflow: hidden;
        overflow-x: auto;
        flex-direction: row;
        padding: var(--s-10) var(--s-9);
        justify-content: flex-start;

        &::-webkit-scrollbar {
            display: none;
        }

        background-color: var(--gray-90-o);
    }

    .nav-item {
        width: calc(var(--s-4-width) - 2px);
        cursor: pointer;


        height: var(--s-2);
        user-select: all;
        background-color: var(--gray-100);
        flex-wrap: nowrap;
        @extend .d-flex;
        font-size: var(--s-6);
        color: var(--gray-70);
        --ui-icon-color: var(--gray-70);
        padding: var(--s-11) var(--s-1);
        text-transform: capitalize;
        border-radius: var(--s-element);
        white-space: nowrap;
        cursor: pointer;
        position: relative;
        --ui-icon-size: var(--s-5);
        border: solid 1px transparent;
        z-index: 1;
        animation: navItemHighlight 5s infinite;
        animation-delay: calc(var(--animation-order) * 0.5s);
        /* Dynamic delay */

        @media (max-width: 1100px) {
            padding: var(--s-9) var(--s-4);
            gap: var(--s-9);
        }

        &:hover {
            color: var(--gray-60) !important;
            --ui-icon-color: var(--gray-60) !important;
            background-color: var(--gray-90-o) !important;
        }

        &--selected-icon {
            position: absolute;
            right: var(--s-7);

            @media(max-width: 1100px) {
                position: relative;
                right: 0;
            }

            --ui-icon-color: var(--primary) !important;
        }
        filter: blur(1px);

        &--selected {
            color: var(--primary) !important;
            background-color: var(--dark) !important;
            filter: blur(0) !important;
        }
    }

    &:hover {
        .nav-item {
            animation: brightnessHover 0.1s forwards;
        }
    }
}

.settings-view {
    animation: viewHighlight 5s infinite;
    width: 100%;

    @media(max-width:1100px) {
        animation: unset;
        border: none;
    }

    box-shadow: inset var(--s-11) -2px var(--s-10) var(--s-11) var(--gray-100-o);
    animation-delay: calc(0.5s * var(--total-nav-items));
    position: relative;
    z-index: 2;

    &--logo {
        z-index: -1;
        --ui-icon-color: var(--gray-70-o);
        @extend .d-flex;
        position: absolute;
        filter: blur(4px);
        top: 0;
        left: 0;
        --ui-icon-size: 300px;
        width: 100%;
        height: 100%;
    }

    min-height: 500px;
    /* Start after nav items */
}