.d-flex{
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.product-chapters{
    @extend .d-flex;
    justify-content: flex-start;
    width: 100%;
    color:var(--primary);
    gap: var(--s-padding);
    &__chapter{
        cursor: pointer;
        height: calc(var(--s-element) * 4);
        $color:var(--gray-40);
        width: 100%;
        max-width: 122px;
        color: $color;
        --ui-icon-color: $color;
        .chapter__content{
            @extend .d-flex;
            flex-direction: column;
            // border: solid 1px;
            height: 100%;
            .chapter__icon{
                width: 100%;
                @extend .d-flex;
                justify-content: center;
                // border: solid 1px;
                height: 65%;
                --ui-icon-width: calc(100% - calc(var(--s-1) * 2));
                --ui-icon-height: auto;
            }
            .chapter__body{
                @extend .d-flex;
                flex-direction: column;
                gap:var(--s-9);
                justify-content: flex-end;
                height: 35%;
                .chapter__title{
                    font-weight: 900;
                    font-size: var(--s-6);
                    color: var(--primary);
                }
                .chapter__extras{
                    font-size: var(--s-8);

                }
            }
        }
    }
}
