.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-pad {
    padding: var(--s-padding);
    width: calc(100% - calc(var(--s-padding) * 2))
}

.index__clouds {
    height: 100vh;
    width: 100vw;

}
.d-flex-column{
    @extend .d-flex;
    flex-direction: column;
}

.index {
    width: 100%;
    color: var(--gray-20);
    @extend .d-flex-column;
    justify-content: flex-start;
    padding: 0;
    height: inherit;
    gap: var(--s-9);
    position: relative;
    @media(max-width: 1260px) {
        width: var(--s-padding-width);
        // padding: var(--s-padding);
        margin: auto;
    }

    &--title {
        width: 100%;
        text-align: center;
        padding: var(--s-element) 0 0;
        text-transform: capitalize;
        font-size: var(--s-1);
        color: var(--gray-10);
    }

    .index__full-max {
        width: 100%;
        z-index: 1;
        aspect-ratio: 1;
    }

    .index__full {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: var(--s-padding);
        margin: var(--s-padding) 0 0;
        &--max {
            height: 80vw;
            z-index: 1;
            width: 100%;
        }
        &.no-wrap{
            flex-wrap: nowrap;
            @media(max-width:900px){
                flex-wrap: wrap-reverse;
            }
        }
        &-ol {
            @extend .d-flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 0;
            line-height: 1.5;
            padding: var(--s-padding) 0 var(--s-element);
            h2{
                color: var(--primary);
            }
            & > div{
                font-family: Game;
                color: var(--gray-20);
                padding: 0 var(--s-9);
                font-size: var(--s-5);
                --ui-icon-size: var(--s-5);
                --ui-icon-color: var(--gray-40);
                @extend .d-flex;

                justify-content: flex-start;
                gap: var(--s-9);
                position: relative;
            }
        }

        &-li {
            width: 100%;

            &--title {
                font-size: var(--s-5);
            }

            &--body {
                padding: var(--s-padding);
                font-size: var(--s-7);
            }
        }

        /* Adjust the gap as needed */
        &--title {
            width: 100%;
            text-transform: capitalize;
            color: var(--primary);
            --ui-icon-color: var(--primary);
            gap: var(--s-9);
            font-size: var(--s-1);
            white-space: normal;
            /* Updated to allow text wrapping */
            font-family: Play;
            line-height: 1;
            margin: var(--s-element) 0 var(--s-padding);
            --ui-icon-size: var(--s-1);
            @extend .d-flex;
            justify-content: flex-start;
            &.main{
                font-size: 45px;
                --ui-icon-size: 45px;
            }
            &-deepturn {
                font-size: 40px;
                --ui-icon-size: 50px;
                color: var(--gray-20);
                --ui-icon-color: var(--gray-20);
                text-transform: uppercase;
                filter: drop-shadow(4px 5px 3px var(--gray-60));
            }

            // justify-content: flex-start;
            // text-transform: capitalize;
            // color: var(--gray-20);
            // --ui-icon-color: var(--gray-20);
            // gap: var(--s-9);
            // font-size: var(--s-1);
            // white-space: nowrap;
            // font-family: Play;
            // line-height: 1;
            // --ui-icon-size: var(--s-1);
        }

        &-padding {

            position: relative;
            // background-color: #f30;
            border-radius: var(--border-radius);
            white-space: nowrap;
            outline: solid 1px var(--gray-90);
            // text-underline-position:

            // &::before{
            //     left: calc(var(--s-padding) * -1.33);
            //     border-radius: var(--border-radius) 0 0 var(--border-radius);
            //     // border-radius: 20px .5rem
            // }
            // &::after{
            //     right: calc(var(--s-padding) * -1.33);
            //     border-radius: 0 var(--border-radius) var(--border-radius) 0;
            //     // border-radius: 50% 20px;
            // }
            background-color: var(--gray-90);
            // &::before, &::after{
            //     background-color: var(--gray-70);
            //     position: absolute;
            //     top: 0;
            //     content: "";
            //     bottom: 0;
            //     width: var(--s-padding);
            // }
            padding: var(--s-9) var(--s-padding);
            // min-height: var(--s-element);
            // background-color: var(--dark);

            // background-color: var(--gray-80-opaque);
            width: calc(var(--s-padding-width) - var(--s-padding) * 2);
            margin: 0;

            &--title {
                width: var(--s-padding-width);
                padding: var(--s-9) var(--s-1);
            }
        }
    }

    .index__sub-title {
        width: 100%;
        // border: solid 1px;
        text-transform: capitalize;
        font-size: var(--s-4);
        color: var(--gray-50);

    }


    &__half {
        display: block;
        width: 50%;
    }



    &__sub-title {
        color: var(--gray-30);
        font-size: var(--s-4);
    }


}