.d-flex, .index .index__full--title, .index .index__full-ol > div, .index .index__full-ol, .d-flex-column, .index {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-pad {
  padding: var(--s-4);
  width: calc(100% - var(--s-4) * 2);
}

.index__clouds {
  height: 100vh;
  width: 100vw;
}

.d-flex-column, .index {
  flex-direction: column;
}

.index {
  width: 100%;
  color: var(--gray-20);
  justify-content: flex-start;
  padding: 0;
  gap: var(--s-9);
  position: relative;
  height: 100%;
}
@media (max-width: 1260px) {
  .index {
    width: calc(100% - var(--s-9) * 2);
    margin: auto;
    height: 100% !important;
  }
}
.index--title {
  width: 100%;
  text-align: center;
  padding: var(--s-element) 0 0;
  text-transform: capitalize;
  font-size: var(--s-1);
  color: var(--gray-10);
}
.index .index__full-max {
  width: 100%;
  z-index: 1;
  aspect-ratio: 1;
}
.index .index__full {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--s-4);
  margin: var(--s-4) 0 0;
  /* Adjust the gap as needed */
}
.index .index__full--max {
  height: 80vw;
  z-index: 1;
  width: 100%;
}
.index .index__full.no-wrap {
  flex-wrap: nowrap;
}
@media (max-width: 900px) {
  .index .index__full.no-wrap {
    flex-wrap: wrap-reverse;
  }
}
.index .index__full-ol {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
  line-height: 1.5;
  padding: var(--s-4) 0 var(--s-element);
}
.index .index__full-ol h2 {
  color: var(--primary-50);
}
.index .index__full-ol > div {
  font-family: Game;
  color: var(--gray-20);
  padding: 0 var(--s-9);
  font-size: var(--s-5);
  --ui-icon-size: var(--s-5);
  --ui-icon-color: var(--gray-40);
  justify-content: flex-start;
  gap: var(--s-9);
  position: relative;
}
.index .index__full-li {
  width: 100%;
}
.index .index__full-li--title {
  font-size: var(--s-5);
}
.index .index__full-li--body {
  padding: var(--s-4);
  font-size: var(--s-7);
}
.index .index__full--title {
  width: 100%;
  text-transform: capitalize;
  color: var(--primary-50);
  --ui-icon-color: var(--primary-50);
  gap: var(--s-9);
  font-size: var(--s-1);
  white-space: normal;
  /* Updated to allow text wrapping */
  font-family: Play;
  line-height: 1;
  margin: var(--s-element) 0 var(--s-4);
  --ui-icon-size: var(--s-1);
  justify-content: flex-start;
}
.index .index__full--title.main {
  font-size: 45px;
  --ui-icon-size: 45px;
}
.index .index__full--title-deepturn {
  font-size: 40px;
  --ui-icon-size: 50px;
  color: var(--gray-20);
  --ui-icon-color: var(--gray-20);
  text-transform: uppercase;
  filter: drop-shadow(4px 5px 3px var(--gray-60));
}
.index .index__full-padding {
  position: relative;
  border-radius: var(--border-radius);
  white-space: nowrap;
  outline: solid 1px var(--gray-90);
  background-color: var(--gray-90);
  padding: var(--s-9) var(--s-4);
  width: calc(var(--s-4-width) - var(--s-4) * 2);
  margin: 0;
}
.index .index__full-padding--title {
  width: var(--s-4-width);
  padding: var(--s-9) var(--s-1);
}
.index .index__sub-title {
  width: 100%;
  text-transform: capitalize;
  font-size: var(--s-4);
  color: var(--gray-50);
}
.index__half {
  display: block;
  width: 50%;
}
.index__sub-title {
  color: var(--gray-30);
  font-size: var(--s-4);
}/*# sourceMappingURL=Index.css.map */