.all-lites {
  width: max-content;
  margin: 10px 0;
  @media (max-width: 900px) {
    width: 100%;
  }
}
.light {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: calc(100% - 20px);
  gap: 20px;
  height: max-content;
  @media (max-width: 900px) {
    height: inherit;
    justify-content: space-around;
  }
}
.show {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 15vh;
  left: 20vw;
  right: 20vw;
  background-color: #e0e0e050;
  backdrop-filter: blur(10px);
  z-index: 4;
  height: 80vh;
  border-radius: 10px;
  gap: 50px;
  .close {
    position: absolute;
    right: 15px;
    top: 15px;
    --ui-icon-size: 30px;
  }
}
