.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-click,
.right-click-default {
    @extend .d-flex;
    width: 100%;
    flex-direction: column;
    .right-click-header{
        @extend .d-flex;
        color: var(--gray-50);
        font-size: var(--s-1);
        height: var(--s-element);
        margin-bottom: var(--s-padding);
        border-bottom: solid 1px;
        width: 100%;
        line-height: 1;
        
        text-align: start;
    }
    .right-click-body{
        @extend .d-flex;
        width: 100%;
        justify-content: flex-start;
        font-size: var(--s-5);
     
    }
}