$pb:15px;
.no-header{
  height: 60px;
}
.header {
  width: 100%;
  color: var(--header-primary);
  background-color: var(--header-primary-bg);
  position: relative;
  z-index: 1;
  border-bottom: var(--header-primary-border);
  height: max-content;
  margin-top: 60px;
  
  @media(max-width:900px){
    min-width: 100vw;
  //   padding-top:80px;
  }
  .header-content {
    min-height: 105px;
    padding: 0 20px 20px;
    max-width: 1260px;
    margin: auto;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    @media(max-width:900px){
      flex-direction: column;
      padding: 0 20px 0;
    }
    .header-left,
    .header-right { 
      display: flex;
      @media(max-width:900px){
        padding-bottom:$pb;
      }
    }
    
    .header-left {
      flex-direction: column;
      justify-content: flex-end;
      .header-title {
        font-size: 40px;
        @media(max-width:900px){
          font-size: 30px;
        }
        font-weight: 600;
        line-height: 1;
        text-transform: capitalize;
      }
    }
    
    .header-right {
      align-items: flex-end;
      justify-content: flex-end;
      height: inherit;
      gap:10px;
      margin-top: auto;
    }
  }
  .subheader{
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: var(--header-primary-border);
    height: 80px;
    width: 100%;
    @media(max-width:900px){
      flex-direction: column;
      height: auto;
      padding: 20px 0;
      justify-content: flex-start;
    }
    .subheader-content{
      height:100%;
      width: calc(100% - 40px);
      background-color: var(--header-primary-bg);
      display: flex;
      align-items: center;
      gap:20px;
      max-width:1260px;
    }
  }
}
