.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


.header__container {
  z-index: 998;
  width: 100vw;
  position: relative;
  color: var(--gray-40-opaque);
  background-color: var(--gray-100);
  box-shadow: var(--box-shadow);
  color: var(--gray-30);
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-opaque);

  @media(max-width: 1100px) {
    flex-direction: row-reverse;
    background-color: transparent;
    width: max-content;
    border-bottom: unset;
    box-shadow: unset;
    align-items: flex-start;
  }

  margin-bottom: var(--s-1);

}

.header {
  left: 0;
  z-index: 1;
  height: max-content;
  background-color: inherit;
  color: inherit;

  @media(max-width:1100px) {
    width: max-content;
    padding: 0;
    margin: 0;
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-200px);
      cursor: pointer;
      // &::after{}
    }

    5% {
      height: max-content;
      cursor: unset;
    }

    100% {
      height: max-content;
      transform: translateY(0);
    }
  }

  .header-content {
    margin: auto;
    width: auto;
    height: 5px;
    transform: translateY(-200px);
    cursor: pointer;

    &__show {
      animation: slideDown 1s forwards;
    }
    
    @media(max-width: 1100px) {
      animation: slideDown 1s forwards;
    }
    @media(min-width: 1260px) {
      max-width: calc(1260px - calc(var(--padding) * 2));
      inline-size: var(--padding-width);
    }

    @media(max-width:1260px) {
      padding: 0 var(--padding);
      flex-direction: column;
    }


    .header-left,
    .header-right {
      display: flex;
      width: 100%;
    }

    .header-left {
      flex-direction: column-reverse;

      @media(max-height: 500px) {
        flex-direction: row-reverse;
        align-items: center;
        gap: var(--s-4);
      }

      padding-top: var(--s-9);
      color: inherit;

      .header-title {
        @extend .d-flex;
        justify-content: flex-start;
        font-size: var(--s-1);
        --ui-icon-size: var(--s-2);
        gap: var(--s-9);
        color: var(--gray-40);
        --ui-icon-color: var(--gray-40);
        
        line-height: 1;
        font-weight: 700;
        text-transform: capitalize;
        @media(max-width: 1100px) {
          --ui-icon-size: unset;
          --ui-icon-width: var(--s-1);
          --ui-icon-height: var(--s-1);

          font-size: var(--s-5);
          align-items: flex-end;
          gap: 4px;
          line-height: 1;
        }
      }
    }

    .header-right {
      align-items: flex-end;
      justify-content: flex-end;
      height: inherit;
      gap: 10px;
      margin-top: auto;
    }
  }

  .subheader {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: var(--header-primary-border);
    width: 100%;

    @media(max-width:1100px) {
      flex-direction: column;
      height: auto;
      padding: 20px 0;
      justify-content: flex-start;
    }

    .subheader-content {
      height: 100%;
      width: calc(100% - 40px);
      background-color: var(--header-primary-bg);
      display: flex;
      align-items: center;
      gap: 20px;
      max-width: 1260px;
    }
  }
}