$pb:15px;
$div:calc(var(--default-padding) * -1);

.header__container {
  z-index: 998;
  width: 100vw;
  // position: fixed;
  // left: 0;
  // top: 0;
  // right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  border-bottom: solid 1.5px var(--color-primary);
  background-color: var(--color-gray-100);
  box-shadow: 0 5px 7px var(--color-gray-70-opaque); /* Add this line */
}



.header {
  background-color: var(--color-gray-90);
  left: 0;
  color: var(--header-primary);
  z-index: 1;
  height: max-content;
  padding: var(--s-8) var(--s-8) 0;

  @media(max-width:900px){
    padding: 0 var(--s-8);
  }
  .header-content {
    height: max-content;
    margin: auto;
    width: auto;
    @media(min-width:1260px){
      max-width: 1240px;
    }
    @media(max-width:1260px){
      flex-direction: column;
    }
    @media(max-width:1100px){
      padding: var(--default-padding);
    }
    @media(max-width:900px){
      padding: var(--s-9) 0;
      width: 100%;
    }
    .header-left,
    .header-right { 
      display: flex;
      width: 100%;
    }    
    .header-left {
      flex-direction: column-reverse;
      @media(max-height: 500px){
        flex-direction: row-reverse;
        align-items: center;
        gap:var(--s-4);
      }
      .header-title {
        font-size:var(--s-1);
        line-height: 1.3;
        font-weight: 600;
        text-transform: capitalize;
      }
    }
    
    .header-right {
      align-items: flex-end;
      justify-content: flex-end;
      height: inherit;
      gap:10px;
      margin-top: auto;
    }
  }
  .subheader{
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: var(--header-primary-border);
    width: 100%;
    @media(max-width:900px){
      flex-direction: column;
      height: auto;
      padding: 20px 0;
      justify-content: flex-start;
    }
    .subheader-content{
      height:100%;
      width: calc(100% - 40px);
      background-color: var(--header-primary-bg);
      display: flex;
      align-items: center;
      gap:20px;
      max-width:1260px;
    }
  }
}
