$gap-small: 5px;
$gap-medium: 12px;
$cell-height: 100%;

@keyframes fade-out {
  0%,
  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes grow-right {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
.adapt-table-cell__member-initials {
  background-color: var(--color-gray-60);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31px;
  width: 31px;
  border-radius: 50%;
  @media (max-width: 900px) {
    display: none;
  }
}
.adaptable-cell__invalid-cell {
  height: inherit;
  line-height: inherit;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 200;
  color: var(--color-gray-50);
  padding: 4px 6px;
  border-radius: 4px;
  font-style: italic;
}

// SHARED
.adaptable-cell__id {
  height: $cell-height;
  display: flex;
  align-items: center;
}

.cell-flex {
  display: flex;
  height: $cell-height;
  justify-content: center;
  gap: $gap-small;
}

.adaptable-cell__icon-label {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  width: max-content;
  gap: $gap-medium;
  .icon-label--label{
    white-space: nowrap;
  }
}

.adaptable-cell__product,
.adaptable-cell__member,
.adaptable-cell__date,
.adaptable-cell__copy-id {
  @extend .cell-flex;
  // .adaptable-cell__copy-label{
  //   // padding: 0 10px;
  //   // width: max-content;
  // }
}

.adaptable-cell__date {
  display: flex;
  flex-direction: column;
  line-height: 1;

  & > div {
    white-space: nowrap;
  }
}

.adaptable-cell__member-container {
  line-height: 1;
  display: flex;
  --ui-icon-height: 24px;
  --ui-icon-width: 24px;
  --ui-icon-color: white;
  gap: $gap-medium;
  align-items: center;
  @media (max-width: 450px) {
    gap: unset;
    height: max-content;
  }
  .adaptable-cell__member {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    @media (max-width: 900px) {
      align-items: flex-end;
    }
    @media (max-width: 450px) {
      align-items: flex-start;
    }
    .adaptable-cell__member-title {
      white-space: nowrap;
      display: flex;
      align-items: center;
      gap: $gap-small;
      line-height: 1;
      .adaptable-cell__member-id {
        color: var(--color-gray-50);
      }
    }
  }
}

.adaptable-cell__product {
  display: flex;
  flex-direction: column;

  .adaptable-cell__product-description {
    line-height: 1;
    white-space: nowrap;
  }

  .adaptable-cell__product-icon {
    --ui-icon-size: 16px;
  }
}

.adaptable-cell__currency-crypto {
  display: flex;
  gap: 4px;
  align-items: center;
  --ui-icon-width: 16px;
  --ui-icon-height: 16px;
  line-height: 16px;
  .status {
    margin-left: auto;
  }
}

.wallet-common {
  gap: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  --ui-icon-color: var(--color-gray-40);
  --ui-icon-width: 16px;
  --ui-icon-height: 16px;
  overflow: visible;
  max-width: max-content;
}

.adaptable-cell__wallet-address {
  position: relative;
  width: inherit;
  @extend .wallet-common;
  .adaptable-cell__wallet-condensed {
    &:hover {
      .adaptable-cell__wallet-preview {
        display: block;
      }
    }
  }
}

.adaptable-cell__copy {
  @extend .wallet-common;
  aspect-ratio: 1/1;
  height:16px;
  border-radius: 3px;
  padding: 6px;
  position: relative;
  z-index: 1;
  &:not(.adaptable-cell__copied):hover {
    --ui-icon-color: white;
    background-color: var(--color-gray-50);
    &::before {
      animation: fade-out 3s forwards;
      font-size: 12px;
      position: absolute;
      left: auto;
      right: 0;
      bottom: calc(100% + 4px);
      top: auto;
      padding: $gap-small $gap-medium;
      content: "copy";
      background-color: var(--color-gray-30);
      color: var(--color-gray-70);
      border-radius: 4px;
      width: max-content;
      // @media (max-width: 900px) {
 
      // }
    }
  }

  &:active {
    &::before {
      display: none;
    }
  }

  &.adaptable-cell__copied {

    &::after {
      font-size: 12px;
      position: absolute;
      left: auto;
      right: 0;
      top: calc(100% + 4px);
      bottom: auto;
      padding: $gap-small $gap-medium;
      content: "copied!";
      background-color: var(--color-gray-30);
      color: var(--color-gray-70);
      border-radius: 4px;
      width: max-content;
      @media (max-width: 900px) {

      }
    }
  }
}
.adaptable-cell__etherscan-link {
  @extend .wallet-common;
  position: relative;
  aspect-ratio: 1/1;
  border-radius: 3px;
  padding: 6px 2px;
  z-index: 1;
  &:hover {
    &::after {
      font-size: 12px;
      position: absolute;
      left: calc(100% + 10px);
      top: 0;
      padding: $gap-small $gap-medium;
      content: "view transaction details";
      background-color: var(--color-gray-30);
      color: var(--color-gray-70);
      border-radius: 4px;
      width: max-content;
      @media (max-width: 900px) {
        left: auto;
        right: 0;
        bottom: 100%;
        top: auto;
      }
    }
  }
}
