@keyframes fade-out {
  0%, 70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes grow-right {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.adapt-table-cell__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.adapt-table-cell__member-initials {
  background-color: var(--gray-60);
  text-transform: uppercase;
  letter-spacing: 0;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  aspect-ratio: 1;
  padding: var(--s-10);
}
@media (max-width: 900px) {
  .adapt-table-cell__member-initials {
    display: none;
  }
}

.adaptable-cell__invalid-cell {
  height: inherit;
  line-height: inherit;
  display: flex;
  align-items: center;
  font-size: inherit;
  font-weight: 200;
  color: var(--gray-50);
  padding: 4px 6px;
  border-radius: 4px;
  font-style: italic;
}

.adapt-table-cell__id {
  overflow: hidden;
  width: inherit;
  text-overflow: ellipsis;
}

.cell-flex, .adaptable-cell__product,
.adaptable-cell__member,
.adaptable-cell__date,
.adaptable-cell__copy-id {
  display: flex;
  height: 100%;
  justify-content: center;
  gap: 5px;
}

.adaptable-cell__icon-label {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  width: -moz-max-content;
  width: max-content;
  gap: 12px;
}
.adaptable-cell__icon-label .icon-label--label {
  white-space: nowrap;
}

.adaptable-cell__date {
  display: flex;
  flex-direction: column;
  line-height: 1;
}
.adaptable-cell__date > div {
  white-space: nowrap;
}

.adaptable-cell__member-container {
  line-height: 1;
  display: flex;
  --ui-icon-height: 24px;
  --ui-icon-width: 24px;
  --ui-icon-color: white;
  gap: 12px;
  align-items: center;
}
@media (max-width: 450px) {
  .adaptable-cell__member-container {
    gap: unset;
    height: -moz-max-content;
    height: max-content;
  }
}
.adaptable-cell__member-container .adaptable-cell__member {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
@media (max-width: 900px) {
  .adaptable-cell__member-container .adaptable-cell__member {
    align-items: flex-end;
  }
}
@media (max-width: 450px) {
  .adaptable-cell__member-container .adaptable-cell__member {
    align-items: flex-start;
  }
}
.adaptable-cell__member-container .adaptable-cell__member .adaptable-cell__member-title {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 1;
}
.adaptable-cell__member-container .adaptable-cell__member .adaptable-cell__member-title .adaptable-cell__member-id {
  color: var(--gray-50);
}

.adaptable-cell__product {
  display: flex;
  flex-direction: column;
}
.adaptable-cell__product .adaptable-cell__product-description {
  line-height: 1;
  white-space: nowrap;
}
.adaptable-cell__product .adaptable-cell__product-icon {
  --ui-icon-size: 16px;
}

.adaptable-cell__currency-crypto {
  display: flex;
  gap: 4px;
  align-items: center;
  --ui-icon-width: 16px;
  --ui-icon-height: 16px;
  line-height: 16px;
}
.adaptable-cell__currency-crypto .status {
  margin-left: auto;
}

.wallet-common, .adaptable-cell__etherscan-link, .adaptable-cell__copy, .adaptable-cell__wallet-address {
  gap: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  --ui-icon-color: var(--gray-40);
  --ui-icon-width: 16px;
  --ui-icon-height: 16px;
  overflow: visible;
  max-width: -moz-max-content;
  max-width: max-content;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.adapt-table-cell__address {
  display: flex;
  flex-wrap: wrap;
}
.adapt-table-cell__address--line1, .adapt-table-cell__address--line2, .adapt-table-cell__address--city, .adapt-table-cell__address--state, .adapt-table-cell__address--postal_code, .adapt-table-cell__address--country {
  font-size: inherit;
  padding: 0 2px;
  line-height: 1.2;
  color: inherit;
  overflow: hidden;
  font-size: inherit;
  text-overflow: ellipsis;
}
.adapt-table-cell__address--line1 {
  font-weight: 900;
}
.adapt-table-cell__address--city::after {
  content: ", ";
}
.adapt-table-cell__address--state::after {
  content: ", ";
}
.adaptable-cell__wallet-address {
  position: relative;
  width: inherit;
}
.adaptable-cell__wallet-address .adaptable-cell__wallet-condensed:hover .adaptable-cell__wallet-preview {
  display: block;
}

.adaptable-cell__copy {
  aspect-ratio: 1/1;
  height: 16px;
  border-radius: 3px;
  padding: 6px;
  position: relative;
  z-index: 1;
}
.adaptable-cell__copy:not(.adaptable-cell__copied):hover {
  --ui-icon-color: white;
  background-color: var(--gray-50);
}
.adaptable-cell__copy:not(.adaptable-cell__copied):hover::before {
  animation: fade-out 3s forwards;
  font-size: 12px;
  position: absolute;
  left: auto;
  right: 0;
  bottom: calc(100% + 4px);
  top: auto;
  padding: 5px 12px;
  content: "copy";
  background-color: var(--gray-30);
  color: var(--gray-70);
  border-radius: 4px;
  width: -moz-max-content;
  width: max-content;
}
.adaptable-cell__copy:active::before {
  display: none;
}
.adaptable-cell__copy.adaptable-cell__copied::after {
  font-size: 12px;
  position: absolute;
  left: auto;
  right: 0;
  top: calc(100% + 4px);
  bottom: auto;
  padding: 5px 12px;
  content: "copied!";
  background-color: var(--gray-30);
  color: var(--gray-70);
  border-radius: 4px;
  width: -moz-max-content;
  width: max-content;
}
.adaptable-cell__etherscan-link {
  position: relative;
  aspect-ratio: 1/1;
  border-radius: 3px;
  padding: 6px 2px;
  z-index: 1;
}
.adaptable-cell__etherscan-link:hover::after {
  font-size: 12px;
  position: absolute;
  left: calc(100% + 10px);
  top: 0;
  padding: 5px 12px;
  content: "view transaction details";
  background-color: var(--gray-30);
  color: var(--gray-70);
  border-radius: 4px;
  width: -moz-max-content;
  width: max-content;
}
@media (max-width: 900px) {
  .adaptable-cell__etherscan-link:hover::after {
    left: auto;
    right: 0;
    bottom: 100%;
    top: auto;
  }
}/*# sourceMappingURL=AdaptTableCell.css.map */