.d-flex {
    display: flex;
}

.three-tree {
    background-color: var(--gray-50);
    border-radius: var(--border-radius);
    @extend .d-flex;
    // aspect-ratio: 5/4;
    @media(max-width: 1100px){
        // aspect-ratio: 1;
    }
    position: relative;
    height: auto;
    width: 100%;
    overflow: visible;
  
} 