.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.survey-form {
    position: relative;
    font-size: var(--s-6);
    display: flex;
    min-height: 70px;
    gap: var(--s-4);
    color: var(--gray-50);
    z-index: 5;
    opacity: .9;
    width: var(--s-border-width);
    @extend .d-flex;
    @media(max-width: 1100px) {
        gap: var(--s-element);
        flex-direction: column;
    }
&__instructions{
    width: 100%;
    @extend .d-flex;
    min-height: var(--s-element);
    background-color: var(--gray-80);
    border-radius: var(--border-radius);
}

    @keyframes slideUp {
        0% {
            opacity: .9;
            bottom: 0;
        }

        100% {
            opacity: 1;
            bottom: 65px;
        }
    }

    align-items: stretch;
    &__selection,
    .selection {
        height: 100%;
        justify-content: flex-start;
        padding: var(--s-9) var(--s-4) var(--s-4);
        width: 100%;
        flex-wrap: wrap;
        @extend .d-flex;
        gap: var(--s-9);
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        @media(max-width: 1100px) {
            border-radius: var(--border-radius);
            width: var(--s-9-width);
            padding: var(--s-9);
        }


        &__header {
            text-transform: capitalize;
            @extend .d-flex;
            flex-wrap: nowrap;
            width: 100%;
            justify-content: space-between;
            &--title{
                color: var(--primary-lite);
                font-size: var(--s-4);
            }
            @media(max-width:900px) {
                flex-direction: column-reverse;
                gap:var(--s-9);
                font-size: var(--s-4);
            }
        }



        &__tools {
            right: var(--s-5);
            color: inerit;
            @extend .d-flex;
            justify-content: flex-end;
            font-size: var(--s-6);
            @media(max-width:900px) {
                color: var(--gray-70);
                width: 100%;

            }



            &--tool {
                cursor: pointer;
                &:hover {
                    filter: brightness(1.5);

                }
            }
        }

        &--selected {
            height: 100%;
            gap: var(--s-10);
            @extend .d-flex;
            flex-wrap: wrap;
            max-height: var(--s-element);

            justify-content: flex-start;
            align-items: flex-start;

            .selected-button {
                background-color: var(--gray-10);
                padding-left: var(--s-9);
                color: var(--primary);
                user-select: none;
                position: relative;
                border-radius: var(--border-radius);

                &:hover {
                    background-color: var(--gray-30);
                }
            }

        }


    }


    .survey-form__options {
        border-radius: var(--border-radius);
        background-color: var(--gray-80-o);
        box-shadow: inset var(--box-shadow);
        border: solid 1px var(--gray-80);
        padding:var(--s-4);
        @extend .d-flex;
        flex-direction: column;
        gap: var(--s-4);
        @media(min-width: 1100px) {
            width: var(--s-4-width);

        }
        .option {
            color: var(--gray-40);
            min-height: var(--s-element);
            width: auto;

            @media(max-width:900px) {
                justify-content: flex-start;
                padding: var(--s-9);
                align-items: flex-start;
                min-height: unset;
            }

            cursor: pointer;
            border: solid 1px transparent;
            @extend .d-flex;
            border-radius: var(--border-radius);
            --ui-icon-color: var(--white);
            border: solid 1px var(--gray-50);
            background-color: var(--gray-80);

            &:hover {
                color: var(--gray-10);
                border: solid 1px var(--gray-20);
                background-color: var(--gray-70);
            }

            &--selected {
                text-indent: unset;
                width: 100%;

                background-color: none;
                justify-content: space-around;
                flex-direction: column;

                &:hover {
                    color: var(--white);
                    background-color: var(--primary);
                }
            }

            &--choice {
                background-color: var(--primary-o);
                border: solid 1px var(--primary-lite);

                &:hover {
                    color: var(--white);
                    background-color: var(--primary);
                }
            }


            position: relative;

            overflow: hidden;

            &__name {
                @extend .d-flex;
                width: 100%;
                user-select: none;
                text-align: center;
                text-transform: capitalize;
                @media (max-width: 900px) {
                    justify-content: center;
                }
                
                &--icon {
                    flex-direction: column;
                    background-color: var(--green-20-o);
                    backdrop-filter: blur(2px);
                    color: var(--white);
                    text-shadow: 1px 1px var(--black);
                    z-index: 3;
                    font-size: var(--s-3);
                    --ui-icon-height: var(--s-4);
                    --ui-icon-width: var(--s-4);
                    position: absolute;
                    
                    top: 0;
                    right: 0;
                    height: 100%;
                    box-shadow: 1px 1px var(--gray-100);
                    width: var(--s-element);
                    @extend .d-flex;
                    @media (max-width: 900px) {
                        gap:var(--s-11);
                        font-size: var(--s-6);
                        flex-direction: row;
                        width: max-content;
                        padding: 0 var(--s-9);
                    }
                }
                
                &--icon::after {
                    content: "amps";
                    font-size: var(--s-7);
                    text-transform: uppercase;
                    @media (max-width: 900px) {
                        font-size: var(--s-6);
                    }
                }

            }

        }
    }

    &__submit {
        width: 100%;

        @media(max-width: 1100px) {
            // padding: var(--s-element) 0 var(--s-4);
        }
    }
}