
.partner{
  width:calc(100% - 26px);
  padding:10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 1;
  .partner-wordmark{
    --ui-icon-height:50px;
    --ui-icon-size:85px;
  }
  .partner-revenue-header{
    padding:10px 0 10px;
    font-size: 14px;
  }
  .partner-revenue{
    font-size: 20px;
  }
}