
.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.water-mark{
width: max-content;
font-family: Nabla;
z-index: 1000;
position: fixed;
color:var(--green);
// text-shadow: -9px -5px var(--green-10);
bottom:0;
// -webkit-text-fill-color: inherit;
// -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
padding:var(--s-5) var(--s-1);
right:0;
fieldset{
    font-size: var(--s-5);
    border-color: transparent;
    line-height: 1;
    height: max-content;
    position: relative;
    legend{
        position: absolute;
        right:0;
        bottom:0;
        height: max-content;
        line-height: 1;
        font-size: 50%;
    }
}
}