.reports{
    margin-top: 60px;
    border-radius: var(--default-border-radius);
    padding: 10px 25px 25px;
    background-color: var(--color-gray-80);
    h2{
        line-height: 1;
        color: var(--color-gray-30);
    }
    p{
        line-height: 1.5;
        color: var(--color-gray-50);
        padding-bottom: 25px;
        border-bottom: solid 1px;
    }
}