.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.transaction {
    @extend .d-flex;
    flex-direction: column;
    gap:var(--s-padding);
    width: 100%;
    @media(max-width: 1260px){
        margin: auto;       
        width: var(--s-padding-width);
    }
    @media(max-width: 1100px){
        margin: auto;       
        width: 100%;
    }
    &__header {
        @extend .d-flex;
        width: var(--s-padding-width);
        min-height: var(--s-element);
        .transaction__title {
            @extend .d-flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: var(--s-1);
            color: var(--primary);
        }
        
    }
    
    
    &__error {
        @extend .d-flex;
        flex-direction: column;
        gap: var(--s-padding);
        padding: var(--s-padding);
        color: var(--orange);
    }
    
    &__content {
        @extend .d-flex;
        flex-direction: column;
        background-color: var(--gray-90);
        border-radius: var(--border-radius);
        gap:var(--s-padding);
        padding: var(--s-padding) var(--s-padding) var(--s-1);
        width: var(--s-padding-width);
    
        &--header{
            width: 100%;
            &-title{
                width: 100%;
                @extend .d-flex;
                justify-content: space-between;
            }
        }
    }

    &--list {
        min-height: var(--s-element);
        background-color: var(--gray-80);
        border-radius: var(--border-radius);
        gap: var(--s-12);
        width: 100%;
        .transaction__item {
            width: var(--s-padding-width);
            padding:0 var(--s-padding);
            @extend .d-flex;
            @media(max-width: 900px){
                flex-direction: column;
                height: max-content;
                padding: var(--s-padding);
                margin: auto;
            }
            justify-content: flex-start;
            gap: var(--s-padding);
            height: calc(var(--s-element) * 1.5);

            &-identity {
                white-space: nowrap;
                color: var(--gray-30);
                .identity-name{
                    font-size: var(--s-3);
                }
                .identity-id{
                    font-size: var(--s-7);
                    color:var(--gray-50);
                }
            }

            &-description {
                @extend .d-flex;
                
                font-size: var(--s-7);
                font-family: Game;
                color: var(--gray-40);
            }

            &-amount {
                font-family: Game;
                margin-left: auto;
                color: var(--gray-40);
            }
        }

    }
    &--date{
        white-space: nowrap;
    }
    &--pi{
        font-size: var(--s-4);
        color: var(--primary-lite);
        @extend .d-flex;
        @media(max-width: 1100px){
            flex-direction: column;
            gap: var(--s-padding);
            padding: var(--s-padding) 0;
            font-size: var(--s-7);
            & > div:first-child{
                font-size: var(--s-2);
            }
        }
    }
    &--pi, &--email,&--date{
        @extend .d-flex;
        justify-content: space-between;
        min-height: var(--s-element);
    }

    &--total {
        text-transform: capitalize;
        font-size: var(--s-4);
        @extend .d-flex;
        font-weight: bold;
        justify-content: space-between;
        align-items: flex-end;
        color: var(--gray-10);
        width: var(--s-padding-width);
        padding:0 var(--s-padding) var(--s-padding);
        border-top: solid 1px var(--gray-60);
        height: var(--s-element);
        margin: auto;
    }
}