.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadslider {
    @extend .d-flex;
    min-height: 100px;
    min-width: 100%;
    background-size: 200% 100%;
}



.verify {

    // margin-top: var(--s-4);
    // aspect-ratio: 5/4;
    min-height: 500px;
    @media(max-width:900px) {
        // aspect-ratio: 4/5;
        margin-top: 0;
    }
    color:var(--white);

    &--header {
        color: var(--gray-40);
        width: var(--s-4-width);
        max-width: var(--s-4-width);
        overflow: hidden;
        padding: var(--s-4) 0;
        flex-wrap: wrap;
        text-overflow: ellipsis;

        &--title {
            color: var(--gray-50);
            font-size: var(--s-3);
        }
    }

    &__default {
        p {
            color: var(--gray-50);
        }

        border: solid 1px var(--gray-60);
        box-shadow: var(--box-shadow-xl);
        color: var(--gray-40);
        background-color: var(--gray-80);
        align-items: flex-start;
        justify-content: flex-start;
    }

    &__error {
        @extend .d-flex;
        border: solid 1px var(--dark);
        position: relative;
        justify-content: space-between;
        align-items: flex-start;
        h3{
            font-family: Orbitron;
        }
        background-color: var(--gray-70);

        &-header {
            @extend .d-flex;
            justify-content: flex-start;
            font-size: var(--s-element);
            gap:var(--s-5);
            width: 100%;

            .c-error{
                line-height: 1;
                text-transform: capitalize;
                padding:var(--s-9) var(--s-1);
                font-size: var(--s-1);
            }
        }
        p {
            background-color: var(--orange-o);
            display: flex;
            font-family: Game;
            border:solid 1px var(--orange-50);
            justify-content: flex-start;
            padding:var(--s-4);
            width: var(--s-4-width);
            font-size: var(--s-3);
            color: var(--orange-50);
            flex:1;
            border-radius: var(--border-radius);
        }
        
        .error--more-info {
            @extend .d-flex;
            width: 100%;
            color: var(--gray-60);
            font-family: Game;
            text-decoration: underline;
            font-size: var(--s-8);

        }
    }

    &__default,
    &__error {
        min-height: 50vh;
        line-height: 1;
        padding: var(--s-4);
        @extend .d-flex;
        flex-direction: column;
        gap: var(--s-4);
        border-radius: var(--border-radius);



        @media(max-width:1260px) {
            width: var(--s-4-width);
            margin: var(--s-4);
        }

        h1,
        p {
            line-height: 1;
            margin: 0;
        }
    }
}