.mbone{
    width: 100%;
    height: 100%;
    display: flex;
    .background-video {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX( -50%);
        min-width: calc(100vw + var(--s-1));
        width: auto;
        height: 100%;
        min-height: calc(100vh + var(--s-1));
        // filter: blur(var(--s-9));
        z-index: -1;
        // mix-blend-mode: color-burn;
        // filter: brightness(5);
        /* Full height */
        height: 100%;
        
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        // background-image: url("/assets/backgrounds/lava1.jpeg");
    }
}