
$brdr: 14px;
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.d-flex-col {
  @extend .d-flex;
  flex-direction: column;
}
h1{
    color: var(--gray-40);
    text-transform: capitalize;
    margin-top: var(--s-element);
}
.cart__empty-cart {
    @extend .d-flex-col;
    z-index: -1;
    position: fixed;
    left: 0;
    width: 100vw;
    bottom: 0;
    .cart__emtpy-cart-canvas {
        z-index: -1;
        @extend .d-flex;
        --ui-icon-color: var(--gray-90-o);
        filter: blur(1px);
        transform: skew(20px, 20px);
        --ui-icon-height: 90%;
        overflow: hidden;
        --ui-icon-width: 100%;
        aspect-ratio: 1/1;
    }
}