
$brdr: 14px;
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.d-flex-col {
  @extend .d-flex;
  flex-direction: column;
}
h1{
    color: var(--gray-40);
    text-transform: capitalize;
    margin-top: var(--element-height);
}
.cart__empty-cart {
    @extend .d-flex-col;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    
    .cart__emtpy-cart-canvas {
        z-index: 1;
        @extend .d-flex;
        --ui-icon-color: var(--gray-100-opaque);
        --ui-icon-height: 90%;
        overflow: hidden;
        --ui-icon-width: 100%;
        aspect-ratio: 1/1;
    }
}