
input {
  // Define your custom styles for the input elements/
  width: inherit;
  height: inherit;
  font-size: inherit;
  outline: none;
  color: inherit;
  border: none;
  background-color: transparent;
  font-family:Verdana, Geneva, Tahoma, sans-serif;


  // Override the autofilled input styles
  &:-webkit-autofill,
  // &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active,
  &:-internal-autofill-selected {
    -webkit-text-fill-color: var(--color-primary) !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    transition: background-color 5000s ease-in-out 0s !important;
  }
  &.center{
    text-align: center;
    text-indent: 0;
    min-height: var(--default-element-height);
    height: 100%;
    width: var(--default-element-height);
    @media(max-width: 900px){
    }
    &:focus{
      background-color: var(--color-gray-70);
    }
    &:hover{
      background-color: var(--color-gray-70-opaque);
    }
  }
       // VARIANTS
    &.invalid {
      background-color: #370002;
      border-width: 0px 0px 2px 0px;
      border-bottom-color: #E34150;
    }
}

input::placeholder {
  font-style: italic;
  color: var(--default-placeholder-color);
  padding: 0;
  font-size: 16px;
}
