.breadcrumbs {
  display: flex;
  align-items: center;
  height: var(--default-element-height);
  
  .crumb {
    display: flex;
    align-items: center;
    white-space: nowrap;
    --ui-icon-width: 26px;
    --ui-icon-height: 14px;
    --ui-icon-color: var(--color-gray-50);
    color: var(--color-gray-50);
    text-transform: capitalize;
    font-weight: 300;
    cursor: pointer;
    @media(max-height: 500px){
      height: var(--s-1);
      align-items: flex-end;
     }
    &:last-child{
      cursor: default;
    }
    &.active {
      color: white;
    }
  }
}