.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.breadcrumbs {
  @extend .d-flex;
  justify-content: flex-start;
  line-height: 1;
  width: var(--s-4-width);
  font-family: Game;
  @media(max-width: 1100px){
    --ui-icon-color: var(--gray-10);
    color: var(--gray-30);
  }
  
  .crumb {
    @extend .d-flex;
    min-width: var(--s-1);
    align-items: center;
    white-space: nowrap;
    --ui-icon-height:var(--s-7);
    --ui-icon-width:var(--s-3);
    text-transform: capitalize;
    cursor: pointer;
    @media(max-height: 500px){
      align-items: flex-end;
    }
    &:last-child{
      cursor: default;
    }
    &.active {
      color: white;
      @media(max-width: 1100px){
        --ui-icon-color: var(--gray-50);
        color: var(--gray-10);
       }
    }
    &:hover{
      color:var(--primary-lite)
    }
  }
}