.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
$space: var(--s-7);
.product-listing{
    background-color: var(--gray-100);
    margin: var(--padding) 0;
    padding: var(--padding);
    @extend .d-flex;
    justify-content: flex-start;
    .product-listing__header {
        width: 100%;
    }
}