.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
$space: var(--s-7);
.product-listing{
    margin: var(--padding) 0;
    height: 100%;
    @extend .d-flex;
    justify-content: flex-start;
    gap: var(--element-height);
    .product-listing__header {
        width: 100%;
    }
}