.d-flex{
 display: flex;
 align-items: center;
 justify-content: center;
}
.admin-customer{
    @extend .d-flex;
    flex-direction: column;
    gap:var(--s-4);
    width: var(--s-4-width);
    padding: var(--s-4);
    border-radius: var(--border-radius);
    background-color: var(--gray-90);
    &__header-container{
        width: 100%;
        @extend .d-flex;
        justify-content: space-between;
        align-items: flex-end;
        @media(max-width: 1100px){
            flex-direction: column;
            align-items: flex-start;
        }
        .header{
            @extend .d-flex;
            position: relative;
            // padding: 0.5vw 1vw;
            // @media(max-width: 1100px){
            //         display: flex;
            //         flex-direction: column;
            //         align-items: flex-start;
            //     }
            margin-bottom:var(--s-1);
            &--title{
                display: table;
                color: var(--primary);
                text-transform: capitalize;
                font-size: var(--s-element);
            }
            &--subtitle{
                position: absolute;
                display: table;
                padding:var(--s-12) var(--s-9);
                border-radius: var(--s-3);
                text-transform: uppercase;
                
                text-shadow:-2px -1px 4px var(--gray-90);
                right: 0;
                transform: translate(50%, var(--s-11));
                bottom: 0;
                line-height: 1;
                font-size: var(--s-4);
                @media(max-width: 1100px){
                    // right: calc(var(---s-1) * -2);
                }
            }
        }
        .actions{
            gap: var(--s-9);
            @extend .d-flex;
        }
    }
}