.d-flex{
 display: flex;
 align-items: center;
 justify-content: center;
}
.admin-customer{

    @extend .d-flex;
    flex-direction: column;
    gap: var(--padding);
    width: 100%;
    &__header{
        width: 100%;
        @extend .d-flex;
        justify-content: flex-end;
        gap: var(--s-9);
        .admin-customer__actions{
            gap: var(--s-9);
            @extend .d-flex;
        }
    }
}