.d-flex{
 display: flex;
 align-items: center;
 justify-content: center;
}
.admin-customer{
    @extend .d-flex;
    flex-direction: column;
    width: 100%;
    gap:var(--s-padding);
    &__header{
        width: 100%;
        @extend .d-flex;
        justify-content: space-between;
        &--title{
            font-size: var(--s-1);
            color: var(--gray-50);
            text-transform: capitalize;
        }
        &--actions{
            gap: var(--s-9);
            @extend .d-flex;
        }
    }
}