.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-list-item {
    border-radius: var(--border-radius);
    border: solid 1px var(--gray-70);
    background-color: var(--gray-90);
    padding: var(--s-4);
    &:hover {
        background-color: var(--gray-80);
    }
    @media(max-width: 900px) {
        padding: var(--s-3) var(--s-4);

    }
    &-image {
        @extend .d-flex;
        --ui-icon-color: var(--gray-40);
        --ui-icon-height: 100%;
        overflow: hidden;
        @extend .d-flex;
        width: 100px;
        height: 100px;
        position: relative;
        --ui-icon-width: 75px;
        --ui-icon-height: 75px;
        max-height: 100px;

        @media(max-width: 900px) {
            --ui-icon-width: 200px;
            --ui-icon-height: 200px;
            max-height: unset;
            min-height: 250px;
            height: 100%;
            width: 250px;
            margin: 0;
            display: flex;
            order: 2;
        }
    }





    &__content {
        @extend .d-flex;
        gap: var(--s-9);
        height: 100%;
        margin: auto;
        justify-content: flex-start;
        @media(max-width: 900px) {
            gap: 0;
            width: var(--s-border-width);
            flex-direction: column;
        }


        .cart-list-item-body {
            @extend .d-flex;
            flex-direction: column;
            height: 100%;
            color: var(--gray-40);
            justify-content: flex-start;
            gap: var(--s-9);
            align-items: stretch;
            margin-right: auto;
            @media(max-width: 900px) {
            }

            .cart-list-item-name {
                font-size: var(--s-1);
                color: var(--gray-30);
                text-transform: capitalize;

                @media(max-width: 900px) {
                    font-size: var(--s-3);
                }
            }

            // .cart-list-item-description {}
            .cart-list-item-amount {
                color: var(--gray-50);
                font-size: var(--s-5);

            }

        }

        &.cart-list-item__content-mini {
            justify-content: space-between;

            .cart-list-item-name,
            .cart-list-item-description {
                height: auto;

                @media(max-width:900px) {
                    display: none;
                }
            }

            .cart-list-item-body {
                display: none;
            }

            .cart-list-item-image {

                &::before {
                    line-height: 1.5;
                    content: attr(data-name);
                    @extend .d-flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    font-size: var(--s-3);
                }
            }
        }


        .cart-list-item-action {
            @extend .d-flex;
            align-items: flex-end;
            height: 100%;

            @media(max-width: 900px) {
                order: 3;
            }

            @media(max-width: 900px) {
                width: 100%;
                justify-content: flex-end;
            }
        }
    }


}