
@keyframes abled {
  0%{
    cursor: default;
    position: relative;
    color: transparent;
    text-shadow: 0 0 2px var(--color-gray-60);
  }
  100%{
    color: inherit;
    text-shadow: none;
  }
}
@keyframes disable {
  0%{
    color: inherit;
    text-shadow: none;
  }
  100%{
    cursor: default;
    position: relative;
    color: transparent;
    text-shadow: 0 0 2px var(--color-gray-60);
  }
}

button {
  display: flex;
  align-items: inherit;
  justify-content: center;
  color: inherit;
  background-color: inherit;
  outline: none;
  border: none;
  height: inherit;
  line-height: inherit;
  width: 100%;
  gap: inherit;
  text-transform: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  cursor: inherit;
  // border-radius: inherit;
  overflow: hidden;
  padding: 0;
  &.flat {
    margin: 0;
    
  }
  &.link,
  &.flat {
    padding: 0;
  }
  &.miniactive, &.mini {
    padding: 0;
    // aspect-ratio: 4/5;
  }

  .busy-spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--input-border-radius);
    // background-color: #00000045;
    --ui-icon-color: var(--color-blue);
  }
  &.icon, &.disabled-icon{
    padding: 0 7px;
  }
  &.nav-item{
    @media(max-width:1100px){
      text-indent: 7px;
      justify-content: flex-start;
    }
  }
  &.nav-item__active{
    @media(max-width:1100px){
      text-indent: 7px;
      justify-content: flex-start;
    }
  }
  // &:disabled{
  //   user-select: none;
  //   cursor:not-allowed !important;
  //   animation: disable 1s forwards;
  // }
  // &:not(disabled){
  //   animation: abled 1s forwards;
  // }
}
.ui-button__link {
  color: inherit;
  text-decoration: none !important;
  border: solid 1px #f30 !important;
}