.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-upload {
  @extend .d-flex;
  // width: 100%;
  flex-direction: column;
  // overflow: hidden;
  // white-space: wrap;
  // text-wrap: word-break;
  width: var(--s-9-w);
  padding:var(--s-7) var(--s-9);
  border-radius: var(--border-radius);
  background-color: var(--gray-70-o);
  @media (min-width: 900px) {
    align-items: flex-start;
    gap: var(--s-11);
  }
  .fake{
    @extend .d-flex;
    height:var(--s-element);
    background-color: var(--gray-60);
    border-radius: var(--border-radius);
    width: 100%;
    white-space: nowrap;
    --ui-icon-color:var(--gray-100);
    user-select:contain;
    cursor:crosshair;
    gap:var(--s-9);
    --ui-icon-color:var(--gray-70);
    &:hover{
      min-height: 500px;
    }
  }
  &--actions {
    width: 100%;
    @media (min-width: 900px) {
      min-width: 200px;
    }
    // &:hover{
      // }
    }
    
    &__preview {
    }
    
    &__image {
      max-width:300px;
      height: 100%;
      width: auto;
      max-height: 200px;
      border-radius: 0.5rem;
    }
    
    &__info {
      font-size: 0.875rem;
      color: var(--gray-60);
      margin-top: 0.5rem;
    }
    &__preview{
      @extend .d-flex;
      flex-direction: column;
      align-items: center;
      gap: var(--s-11);
      padding:var(--s-11);
      width:var(--s-11-w);
      border-radius: 0.5rem;
      background-color: var(--gray-30);
      &__remove{
        width: 100%;
      }
    }

}
