.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* Make sure it fills the height of the screen */
}

.remote-access-viewer {
  @extend .d-flex;
  width: 100%;
  height: 100%;
  min-height: 1024px;
  padding-bottom: var(--s-element);
  position: relative; /* Make the parent container positionable */
}

.remote-access-viewer__iframe {
  width: 100%;
  height: 100%;
  border: none;
  min-height: 50vh; /* Ensure the iframe takes at least 50% of the viewport height */
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Make sure content inside the iframe scales well */
  position: absolute; /* Allow it to fill the parent container */
  top: 0;
  left: 0;
}
