.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  gap: 25px;
  width:100%;
  // .form-control{
  //   display: flex;
  //   flex-direction: column;
  //   gap:10px;
  //   text-transform: capitalize;
  //   .form-control-header{
  //     display: flex;
  //     justify-content: space-between;
  //   }
    .sign-in__forgot-password-link{
      color: var(--color-blue);
      cursor: pointer;
      &:hover{
        filter:brightness(1.3)
      }
    // }
  }
}

