$brk: 25px;
.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  gap: $brk;
  width:100%;
    .sign-in__forgot-password-link{
      color: var(--color-blue);
      cursor: pointer;
      &:hover{
        filter:brightness(1.3)
      }
  }
}
.sign-in__login{
  margin-top: calc($brk * 3);
  width: 100%;
}

