.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-col {
  @extend .d-flex;
  flex-direction: column;
  gap: var(--s-padding);
}

.form {
  @extend .d-flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  gap: var(--s-8);
  &--mini{
    border: solid 1px var(--gray-80);
    border-radius: var(--border-radius);
    padding: 9px 7px;
    gap: 4px;
    &__submit {
      border-top: unset !important;
    }
  }
  &--card{
    background-color: var(--gray-90);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: var(--s-padding);
    width: var(--s-padding-width);
  }
  &__title{
    text-transform: capitalize;
    font-size: var(--s-2);
    height: var(--s-element);
    @extend .d-flex;
    line-height: 1;
    justify-content: flex-start;
    padding-bottom: var(--s-9);
  }
  .form__field {
      width: 100%;
      @extend .d-flex-col;
      align-items: flex-start;
  }

  &__submit {
    // existing styles
    border-style: outset;
    border-color: transparent;
    // border-top-color: var(--gray-40);
    // border-width: 1px;
    width: 100%;
    margin-top: var(--s-padding);
    padding-top: var(--s-element);
    &--mini{
      margin-top: 0;
      padding-top: var(--s-9);
        border-top: unset !important;
    }
  }
}
input{
  @extend .d-flex;
  width: var(--s-element);
  height: 100%;
  text-align: center;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  --ui-icon-color: inherit;
  &:focus{
    color: inherit;
  }
}