hr{
  width: 100%;
  border-color: var(--gray-70);
}
/* HEIARCHY */
.heiarchy{
  font-size: var(--s-9);
  display: flex;
  flex-direction: column;
  /* gap:var(--s-11); */
  padding:var(--s-11) var(--s-10);
  border-radius: var(--s-11);
  border:solid 1px var(--green);
  width: max-content;
  background-color: var(--black);
}
.heiarchy-item{
  display: flex;
  gap:var(--s-11);
  /* min-height: var(--s-5); */
  overflow:hidden;
}
.heiarchy-item > div{
  padding:var(--s-11) 0;
  height: 100%;
}
.heiarchy-item > div:first-child{
  color: var(--green);
}
.heiarchy-item > div:first-child:after{
  content:": "
}