
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');




:root {
  --header-height: 175px;
  /* PAGE BREAKS */
  --breakpoint-xs: 600px;
  --breakpoint-sm: 1100px;
  --breakpoint-md: 1100px;
  --breakpoint-lg: 1400px;
  --breakpoint-xl: 1600px;
  --default-border-radius: 8px;
  --default-element-height: 45px;

  /* COLORS */
  --color-gray-10: #f8f8f8;
  --color-gray-10-opaque: #f8f8f850;
  --color-gray-20: #f5f5f5;
  --color-gray-20-opaque: #f5f5f550;
  --color-gray-30: #e0e0e0;
  --color-gray-30-opaque: #e0e0e050;
  --color-gray-40: #d4d4d4;
  --color-gray-40-opaque: #d4d4d450;
  --color-gray-50: #a3a3a3;
  --color-gray-50-opaque: #a3a3a350;
  --color-gray-60: #737373;
  --color-gray-60-opaque: #73737350;
  --color-gray-70: #525252;
  --color-gray-70-opaque: #52525250;
  --color-gray-80: #404040;
  --color-gray-80-opaque: #40404050;
  --color-gray-90: #262626;
  --color-gray-90-opaque: #26262650;
  --color-gray-100: #171717;
  --color-gray-100-opaque: #17171750;

  --color-white: white;
  --color-white-opaque: #ffffff50;
  --color-yellow: #fbff00;
  --color-yellow-opaque: #fbff0070;
  --color-orange: #f90;
  --color-orange-opaque: #ff911050;
  --color-red: #f30;
  --color-green-60: #22c553;
  --color-red-60: #ef4444;
  --color-blue: #4f96ff;
  --color-blue-10: #54E3FF;

  --color-body:var(--color-dark);

  --color-lite: #e0e0e0;

  --color-dark:#111f3d;
  --color-dark-opaque:#111f3d50;
  
  --color-primary: #1E88E5;
  --color-primary-lite: #75a2ca;
  --color-primary-opaque: rgba(30, 136, 229, 0.6);
  --color-primary-opaque-1: #1e88e530;
  --color-secondary: #FF5722;
  --color-secondary-opaque: rgba(255, 87, 34, 0.6);
  --color-invalid-bg: #751700;
  --color-invalid-border: #E34150;

  --default-box-shadow: 2px 2px 10px var(--color-gray-100);
  --default-box-shadow-inset:inset 2px 2px 10px var(--color-gray-100);
  --default-box-shadow-sm: 2px 2px 5px var(--color-gray-100);
  --default-box-shadow-xl: 
    0px 4px 6px var(--color-gray-100-opaque),
    0px 2px 4px var(--color-gray-80-opaque),
    0px 10px 20px var(--color-gray-100-opaque);

  @media(max-width: 1100px) {
    --default-box-shadow-xl: 
      0px 2px 3px var(--color-gray-90-opaque),
      0px 1px 2px var(--color-gray-70-opaque),
      0px 5px 10px var(--color-gray-90-opaque);
  }

  /* SIZES */
  --s-1: 33px;
  --s-2: 31px;
  --s-3: 26px;
  --s-4: 23px;
  --s-5: 19px;
  --s-6: 16px;
  --s-7: 14px;
  --s-8: 12px;
  --s-9: 10px;
  @media(max-width: 1100px){
    --default-border-radius: 5px;
  }
}

body {
  font-family: 'Play', sans-serif;
  background: var(--color-body);
}

@media screen and (min-height: 400px) {
  body {
    overflow-x: hidden;
    overflow-y: auto;
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--color-blue);
    border-radius: 5px;
  }

  body::-webkit-scrollbar {
    width: 10px;
    background-color: var(--color-gray-60);
  }
}


.no-scroll::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
  font-weight: 700;
}

.bodycopy {
  font-size: 16px;
  line-height: 1.5em;
  color: #ccc;
}

.bodycopy a {
  color: #4f96ff;
  text-decoration: none;
  cursor: pointer;
}

.bodycopy a:hover {
  text-decoration: underline;
}

.bodycopy p {
  margin-top: 0;
  line-height: 1.25em;
  margin-bottom: 1.25em;
}

.bodycopy p:last-child {
  margin-bottom: 0;
}

/* DIV */
div {

  --default-padding: 20px;
  --default-padding-sm: calc(--default-padding * 2);
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    width: 11px;
    overflow: hidden;
  }

  &::-webkit-scrollbar {

    overflow: hidden;
    border-radius: 0 7px 7px 0;
    width: 10px;
    background-color: #40404060;
  }

  @media(max-width: 1100px) {
    --default-padding: 10px;
  }
}

/* Forms */

.ui-text-box {
  --ui-form-label-color: #ccc;
  --ui-input-border-radius: 4px;
  --ui-input-background-color: #484848;
  --ui-input-border: 1px solid red;
  --ui-input-text-color: #fff;
}

.ui-text-box input {
  border: none;
  border-bottom: 1px solid #666;
  outline: none;
}

.ui-text-box input:hover {
  --ui-input-background-color: #545454;
  border-bottom-color: #727272;
}

.ui-text-box input:focus {
  --ui-input-background-color: #1B364F;
  border-bottom-color: #2274B8;
}

.ui-text-box.has-error input {
  --ui-input-background-color: #370002;
  border-bottom-color: #E34150;
}

.ui-text-box .error-message,
.ui-checkbox .error-message {
  padding-top: 5px;
  font-size: 14px;
  color: #E34150;
}


.ui-error-list .error {
  color: #E34150;
}

.ui-checkbox {
  --ui-form-label-color: #ccc;
  --ui-checkbox-size: 18px !important;
}

.ui-checkbox input[type="checkbox"] {
  accent-color: #3f8bff;
}

/* Box */
.ui-box {
  --ui-box-color: #333;
}

/* Buttons */

.ui-button.default {
  --ui-button-color: rgba(255, 255, 255, 0.15);
  --ui-button-text-color: #ccc;
}

.ui-button.default:hover {
  --ui-button-color: rgba(255, 255, 255, 0.25);
  --ui-button-text-color: #fff;
}

.ui-button.primary {
  --ui-button-color: #27a1ff;
  --ui-button-text-color: #fff;
}

.ui-button.primary:hover {
  --ui-button-color: #1d78ff;
  /* 10% */
}

.ui-button.disabled {
  --ui-button-color: rgba(255, 255, 255, 0.10);
  --ui-button-text-color: rgba(255, 255, 255, 0.2);
}

.light-container .ui-button.default {
  --ui-button-color: #666;
  --ui-button-text-color: #fff;
}

.light-container .ui-button.default:hover {
  --ui-button-color: #505050;
}






/* NAVBAR  NAVBAR  NAVBAR  NAVBAR  NAVBAR  */
nav {
  --default-nav-height: 70px;
  --nav-item-height: 45px;
  --nav-item-active: var(--color-gray-70);
  --nav-item-icon-color: var(--color-gray-40);
  --nav-background-color: var(--color-gray-100);
  --nav-hide-lg: none;
  --nav-items-position: unset;
  --nav-items-bg: unset;
  --nav-box-shadow-sm: unset;
  --nav-items-min-width: auto;
  --nav-hide-sm: unset;
  --nav-position: relative;
  --nav-trigger-display: none;
  --nav-backdrop-filter: blur(8);
  --nav-item-justify-content: space-around;
  --nav-items-flex-direction: row;
  --nav-border-radius: calc(var(--default-border-radius) * .66);
  --nav-box-shadow-lg: 1px 2px 10px #00000050;
}

@media screen and (max-width: 1100px) {
  nav {
    --nav-hide-lg: unset;
    --nav-hide-sm: none;
    --nav-height: auto;
    --nav-backdrop-filter: unset;
    --nav-trigger-display: flex;
    --nav-position: absolute;
    --nav-background-color: var(--color-gray-100);
    /* --nav-background-color:unset; */
    /* --nav-background-color: #00000050; */
    --nav-items-flex-direction: column;
    --nav-items-position: absolute;
    --nav-items-min-width: 270px;
    --nav-items-bg: var(--color-gray-90);
    --nav-box-shadow-sm: 1px 2px 10px #00000050;
    --nav-box-shadow-lg: unset;

    --nav-item-justify-content: flex-start;
    --nav-item-height: var(--default-element-height);

  }
}

.dashboard-item {
  --default-color: var(--color-gray-20);
  --default-bg: var(--color-gray-70);

  --hover-color: white;
  --hover-bg: var(--color-gray-60);

  --unavailable-color: var(--color-gray-50);
  --unavailable-bg: var(--color-gray-80);
}

.header {
  --header-primary-bg: var(--color-gray-100);
  --header-primary-border: solid 1px var(--color-gray-80);
  --header-primary: var(--color-gray-30);
  --header-width: var(--full-width);
}

.select,
.input,
.form-control,
.input-date-range,
button {

  --default-height: var(--default-element-height);
  --default-font-size: 16px;

  --default-color: var(--color-gray-20);
  --default-background-color: var(--color-gray-70);
  --default-border-color: var(--color-gray-60);

  --default-placeholder-color: var(--color-gray-50);

  --focus-color: var(--color-gray-40);
  --focus-background-color: var(--color-gray-60);
  --focus-border-color: var(--color-gray-40);

  --invalid-background-color: var(--color-orange);
  --input-primary: var(--color-gray-30);
  --input-primary-bg: var(--color-gray-70);

  --input-secondary: var(--color-gray-50);
  --input-secondary-bg: var(--color-gray-80);
  --input-focus-bg: var(--color-gray-60);
  --input-option-hover: var(--color-gray-40);
  --input-box-shadow: var(--default-box-shadow);
  --input-border-radius: calc(var(--default-border-radius) * .66);
  --select-option-selected: var(--color-blue);
  --select-option-selected-bg: #c8def0;

  --select-default-color: var(--color-gray-50);
}

.grid {
  --card-primary-bg: var(--color-gray-80);
}

.adaptable {
  --header-height: 80px;
  --header-border-radius: var(--default-border-radius);
}

.dev {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #00000070;
  color: #0f9;
  border-radius: 5px;
  top: 0;
  left: 0;
  z-index: 999;
}

/* ELEMENTS */
.embossed-theme{
  width: calc(100% - 4px);
  border-width: 4px;
  border-style: outset;
  border-color: var(--color-gray-50-opaque) var(--color-gray-100-opaque) var(--color-gray-90-opaque) var(--color-gray-20-opaque);
}