@import url("https://fonts.googleapis.com/css2?family=Play:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

@font-face {
  font-family: "Game";
  src: url("/fonts/gamestationcondobl.otf") format("opentype");
  /* font-weight: normal; */
  font-style: italic;
}

@font-face {
  font-family: "Game";
  src: url("/fonts/gamestationtextobl.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Game";
  src: url("/fonts/gamestationdisplayoutline.otf") format("opentype");
  font-weight: 500;
  font-style: oblique;
}

@font-face {
  font-family: "Eros";
  src: url("/fonts/erosyt.ttf") format("opentype");
  font-style: normal;
}

:root {
  --primary: #8c7a6b;
  /* Updated to a more nuanced earthy brown, reminiscent of worn leather or soil */
  --primary-lite: #a89b8d;
  /* A lighter, warmer shade, akin to sunlit earth */
  --primary-opaque: rgba(140, 122, 107, 0.5);
  /* 50% opacity for subtle overlays */
  --primary-opaque-1: rgba(140, 122, 107, 0.3);
  /* 30% opacity for even subtler overlays */

  --secondary: #c5b9a8;
  /* A muted, sandy beige, softer and more aligned with natural landscapes */
  --secondary-opaque: rgba(197, 185, 168, 0.25);
  /* 25% opacity for light, airy backgrounds */

  --error: #8b0000;
  /* A deeper, more intense shade of red, signaling errors with a natural, urgent tone */
  --invalid-border: #d14343;
  /* A less saturated red, ensuring visibility against various backgrounds */

  --body: #1d1d1d;
  /* Updated to a slightly lighter shade of grey for improved readability */
  --lite: #f0edeb;
  /* A very light grey, evoking the subtle variations found in natural stones */
  --dark: #16191d;
  /* A deep, dark blue-grey, reminiscent of the night sky or deep waters */
  --dark-opaque: rgba(22, 25, 29, 0.5);
  /* Adding a touch of opacity for overlay elements */

  --warning: #d4661a;
  /* A darker, earth-toned orange for warnings */
  --warning-hover: #e77a3f;
  /* A darker hover state for warning elements */
  --warning-focus: #b35816;
  /* A darker focus state for warning elements */

  /* Darkened grayscale spectrum to reflect more natural, subdued tones */
  /* COLORS */
  --black: #111111;
  --gray-10: #f8f8f8;
  --gray-10-opaque: #f8f8f850;
  --gray-20: #f5f5f5;
  --gray-20-opaque: #f5f5f550;
  --gray-30: #e0e0e0;
  --gray-30-opaque: #e0e0e050;
  --gray-40: #d4d4d4;
  --gray-40-opaque: #d4d4d450;
  --gray-50: #a3a3a3;
  --gray-50-opaque: #a3a3a350;
  --gray-60: #737373;
  --gray-60-opaque: #73737350;
  --gray-70: #525252;
  --gray-70-opaque: #52525250;
  --gray-80: #404040;
  --gray-80-opaque: #40404050;
  --gray-90: #262626;
  --gray-90-opaque: #26262650;
  --gray-100: #171717;
  --gray-100-opaque: #17171750;
  /* INVERTED  */
  /* --black: #f8f8f8; 
 --gray-10: #171717;
 --gray-10-opaque: rgba(23, 23, 23, 0.5);
 --gray-20: #262626;
 --gray-20-opaque: rgba(38, 38, 38, 0.5);
 --gray-30: #404040; 
 --gray-30-opaque: rgba(64, 64, 64, 0.5);
 --gray-40: #525252;
 --gray-40-opaque: rgba(82, 82, 82, 0.5);
 --gray-50: #737373;
 --gray-50-opaque: rgba(115, 115, 115, 0.5);
 --gray-60: #a3a3a3; 
 --gray-60-opaque: rgba(163, 163, 163, 0.5); 
 --gray-70: #d4d4d4;
 --gray-70-opaque: rgba(212, 212, 212, 0.5); 
 --gray-80: #e0e0e0; 
 --gray-80-opaque: rgba(224, 224, 224, 0.5); 
 --gray-90: #f5f5f5; 
 --gray-90-opaque: rgba(245, 245, 245, 0.5); 
 --gray-100: #f8f8f8; 
 --gray-100-opaque: rgba(248, 248, 248, 0.5);  */

  --white: #ffffff;
  --white-opaque: rgba(255, 255, 255, 0.5);
  --yellow: #fbff00;
  --yellow-opaque: rgba(251, 255, 0, 0.7);
  --orange: #ff9900;
  --orange-opaque: rgba(255, 153, 0, 0.5);
  --red: #dd4400;
  --green: #44b432;
  --green-opaque: rgba(68, 180, 50, 0.62);
  --green-60: #22c553;
  --red-60: #ef4444;
  --blue: #4f96ff;
  --blue-opaque: rgba(79, 150, 255, 0.5);
  --blue-10: #54e3ff;
  --blue-10-opaque: rgba(84, 227, 255, 0.5);
  /*   
   */
  /* MORE PASTEL */
  /* --yellow: #f4f4c1;
   --yellow-opaque: rgba(244, 244, 193, 0.7);
   --orange: #f9bea6;
   --orange-opaque: rgba(249, 190, 166, 0.5);
   --red: #e89a8a; 
   --green: #a0d9af;
   --green-opaque: rgba(160, 217, 175, 0.62);
   --green-60: #8cc69b;
   --red-60: #f2a4a4;
   --blue: #a3c1e2; 
   --blue-opaque: rgba(163, 193, 226, 0.5);
   --blue-10: #b3d4f2; 
   --blue-10-opaque: rgba(179, 212, 242, 0.5);  */

  /* Box shadow presets */
  --box-shadow: 2px 2px 10px rgba(23, 23, 23, 0.5);
  --box-shadow-inset: inset 2px 2px 10px rgba(23, 23, 23, 0.5);
  --box-shadow-sm: 2px 2px 5px rgba(23, 23, 23, 0.5);
  --box-shadow-xl: 0px 4px 6px rgba(23, 23, 23, 0.3),
    0px 2px 4px rgba(64, 64, 64, 0.2), 0px 10px 10px rgba(23, 23, 23, 0.3);

  @media (max-width: 1100px) {
    --box-shadow-xl: 0px 2px 3px rgba(38, 38, 38, 0.3),
      0px 1px 2px rgba(82, 82, 82, 0.2), 0px 5px 10px rgba(38, 38, 38, 0.3);
  }

  /* SIZES */
  --s-1: 32px;
  --s-2: 28px;
  --s-3: 24px;
  --s-4: 20px;
  --s-5: 18px;
  --s-6: 16px;
  --s-7: 14px;
  --s-8: 12px;
  --s-9: 10px;
  --s-10: 8px;
  --s-11: 2px;

  --s-padding: 20px;
  --s-padding-width: calc(100% - calc(var(--s-padding) * 2));
  --s-border-width: calc(100% - 2px);
  --s-border-padding-width: calc(var(--s-padding-width) - 2px);
  --s-padding-sm: calc(--s-padding * 2);
  --s-element-width: calc(100% - calc(var(var(--s-element))));

  /* PAGE BREAKS */
  --breakpoint-xs: 600px;
  --breakpoint-sm: 1100px;
  --breakpoint-md: 1100px;
  --breakpoint-lg: 1400px;
  --breakpoint-xl: 1600px;
  --border-radius: 8px;
  --s-element: 45px;

  @media (max-width: 1100px) {
    --border-radius: 5px;
  }

  --border: solid 1px rgba(82, 82, 82, 0.5);
  --border-hover: solid 1px rgba(163, 163, 163, 0.5);
  --border-focus: solid 1px rgba(224, 224, 224, 0.5);
  --header-height: 175px;
  /* Fixed header height */

  --s-padding: 20px;
  --s-padding-width: calc(100% - calc(var(--s-padding) * 2));
  --s-border-width: calc(100% - 2px);
  --s-padding-sm: calc(--s-padding * 2);
}

.error {
  color: var(--error);
  font-style: italic;
}

.globe-marker {
  user-select: all;
  cursor: pointer;
  pointer-events: all;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: max-content;
  padding: var(--s-9);
  background-color: var(--gray-100-opaque);
  border-radius: var(--border-radius);
  font-size: 10px;
  /* Use transition to specify which properties to animate */
  transition: all 0.5s;

  &:hover {
    font-size: var(--s-7);
    /* This will now animate smoothly */
    background-color: var(--gray-100);
    /* So will this */
  }
}

.globe-html {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.globe-html--title {
  font-weight: 900;
  text-transform: capitalize;
}

/* 
.globe-marker:hover{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--s-9);
  padding:var(--s-9);
  background-color: var(--gray-80);
  border-radius: var(--border-radius);
  overflow: visible;
  width: calc(100% - calc(var(--s-9) * 2));
  opacity: 1;
  .globe-html{
    margin: auto;
    min-width: var(--s-element);
    white-space: nowrap;
    opacity: 1;
  }
} */

.card {
  cursor: pointer;
  color: var(--gray-50);
  --ui-icon-color: var(--gray-50);
  background-color: var(--gray-80-opaque);
  border: var(--border);
  border-radius: var(--border-radius);

  &:hover {
    color: var(--gray-30);
    --ui-icon-color: var(--gray-30);
    background-color: var(--gray-80);
    border: var(--border-hover);
  }

  &:focus,
  &:focus-within,
  &:target,
  &:active {
    background-color: var(--gray-60);
    border: var(--border-focus);
  }
}

/* GOOGLE ADDRESS STYLES */

.pac-container {
  font-family: "Game";
  font-style: italic;
  letter-spacing: 1.5px;
  background-color: var(--gray-70);
  border: 1px solid var(--gray-50);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  &::after {
    display: none;
  }

  .pac-item {
    display: flex;
    color: var(--gray-40);
    align-items: center;
    padding: 0 var(--s-9);
    cursor: pointer;
    line-height: normal;
    height: var(--s-element);
    font-size: var(--s-6);

    .pac-icon {
      margin: 0 4px 0 0;
    }

    .pac-item-query {
      color: var(--gray-20);
      font-size: var(--s-6);

      .pac-match {
        color: inherit;
      }
    }

    &:hover {
      color: var(--gray-10);
      background-color: var(--gray-60);

      .pac-item-query {
        color: var(--white);

        .pac-match {
          color: inherit;
        }
      }
    }
  }
}

body {
  font-family: "Play", sans-serif;
  margin: 0;
  background: var(--body);
  color: var(--gray-40);
  font-size: var(--s-5);
  font-weight: 300;
  #__next {
    overflow-y: visible;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
  }
}

@media screen and (min-height: 400px) {
  body {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 5px;
  }

  body::-webkit-scrollbar {
    width: 10px;
    background-color: var(--dark);
  }
}

.no-scroll::-webkit-scrollbar {
  display: none;
}
.p-fix{position: fixed;}
.p-abs{position: absolute;}
.z-n-1{z-index: -1;}
/* FLEX CLASS DEFINITIONS */
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-start {
  align-items: flex-start;
}
/* @media(max-width:900px){} */
.sm-align-start {
  @media(max-width:900px){
    align-items: flex-start;
  }
}
.md-align-start {
  @media(max-width:1100px){align-items: flex-start;}
}
.lg-align-start {
  @media(min-width:1100px){align-items: flex-start;}
}
.sm-justify-start {
  @media(max-width:900px){
    justify-content: flex-start;
  }
}
.md-justify-start {
  @media(max-width:1100px){justify-content: flex-start;}
}
.lg-justify-start {
  @media(min-width:1100px){justify-content: flex-start;}
}

.align-end {
  align-items: flex-end;
}
/* GAPs */
.gap-1 {
  gap: var(--s-1);
}

.gap-2 {
  gap: var(--s-2);
}

.gap-3 {
  gap: var(--s-3);
}

.gap-4 {
  gap: var(--s-4);
}

.gap-5 {
  gap: var(--s-5);
}

.gap-6 {
  gap: var(--s-6);
}

.gap-7 {
  gap: var(--s-7);
}

.gap-8 {
  gap: var(--s-8);
}

.gap-9 {
  gap: var(--s-9);
}

.gap-10 {
  gap: var(--s-10);
}

.gap-11 {
  gap: var(--s-11);
}

.gap-element {
  gap: var(--s-element);
}
.gap-sm-element {
  @media(max-width: 900px){
    gap: var(--s-element);
  }
}
.gap-md-element {
  @media(max-width: 1100px){
    gap: var(--s-element);
  }
}
.gap-lg-element {
  @media(min-width: 1100px){
    gap: var(--s-element);
  }
}
.gap-padding {
  gap: var(--s-padding);
}

.overflow-hidden {
  overflow: hidden;
}

/* PERCENT SIZES */
.s-w-100 {
  width: 100%;
}
.s-h-100 {
  height: 100%;
}

.s-h-50 {
  height: 50%;
}
.s-w-50 {
  width: 50%;
}




.s-border-width {
  width: var(--s-border-width);
}

.s-border-width-50 {
  width: calc(50% - 2px);
}
.s-sm-border-width {
  @media (max-width: 900px) {width: var(--s-border-width);}
}
.s-sm-border-width-50 {
  @media (max-width: 900px) {width: calc(50% - 2px);}
}
.s-md-border-width {
  @media (max-width: 1100px) {width: var(--s-border-width);}
}
.s-md-border-width-50 {
  @media (max-width: 1100px) {width: calc(50% - 2px);}
}
.s-lg-border-width {
  @media (min-width: 1100px) {width: var(--s-border-width);}
}
.s-lg-border-width-50 {
  @media (min-width: 1100px) {width: calc(50% - 2px);}
}

.s-element-width {
  width: var(--s-element-width);
}

.s-element-width-50 {
  width: calc(50% - 2px);
}
.s-sm-element-width {
  @media (max-width: 900px) {width: var(--s-element-width);}
}
.s-sm-element-width-50 {
  @media (max-width: 900px) {width: calc(50% - calc(var(--s-element) * 2));}
}
.s-md-element-width {
  @media (max-width: 1100px) {width: var(--s-element-width);}
}
.s-md-element-width-50 {
  @media (max-width: 1100px) {width: calc(50% - calc(var(--s-element) * 2));}
}
.s-lg-element-width {
  @media (min-width: 1100px) {width: var(--s-element-width);}
}
.s-lg-element-width-50 {
  @media (min-width: 1100px) {width: calc(50% - calc(var(--s-element) * 2));}
}

.margin-auto{
  margin: auto;
}

.s-padding-width {
  width: var(--s-padding-width);
}

.s-padding-width-50 {
  width: calc(50% - calc(var(--s-padding) * 2));
}

.s-sm-padding-width {
  @media (max-width: 900px) {
    width: var(--s-padding-width);
  }
}

.s-sm-padding-width-50 {
  @media (max-width: 900px) {
    width: calc(50% - calc(var(--s-padding) * 2));
  }
}

.s-md-padding-width {
  @media (max-width: 1100px) {
    width: var(--s-padding-width);
  }
}

.s-md-padding-width-50 {
  @media (max-width: 1100px) {
    width: calc(50% - calc(var(--s-padding) * 2));
  }
}

.s-lg-padding-width {
  @media (min-width: 1100px) {
    width: var(--s-padding-width);
  }
}

.s-lg-padding-width-50 {
  @media (min-width: 1100px) {
    width: calc(50% - calc(var(--s-padding) * 2));
  }
}

.s-sm-100 {
  @media (max-width: 900px) {
    width: 100%;
  }
}

.s-md-100 {
  @media (max-width: 1100px) {
    width: 100%;
  }
}

.s-lg-100 {
  @media (min-width: 1100px) {
    width: 100%;
  }
}

.s-sm-50 {
  @media (max-width: 900px) {
    width: 50%;
  }
}

.s-md-50 {
  @media (max-width: 1100px) {
    width: 50%;
  }
}

.s-lg-50 {
  @media (min-width: 1100px) {
    width: 50%;
  }
}

/* PADDING */
.padding {
  padding: var(--s-padding);
}

.padding-x {
  padding: 0 var(--s-padding);
}

.padding-y {
  padding: var(--s-padding) 0;
}

.padding-top {
  padding-top: var(--s-padding);
}

.padding-bottom {
  padding-bottom: var(--s-padding);
}

.padding-left {
  padding-left: var(--s-padding);
}

.padding-right {
  padding-right: var(--s-padding);
}

/* FONTs */
h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-weight: 400;
  margin: 0;
}

h1 {
  gap: var(--s-8);
  font-size: var(--s-1);
  --ui-icon-size: var(--s-1);
  color: inherit;
}

h2 {
  gap: var(--s-9);
  font-size: var(--s-2);
}

h3 {
  gap: var(--s-9);
  font-size: var(--s-3);
  color: var(--color, var(--gray-50));
}

h4 {
  gap: var(--s-10);
  font-size: var(--s-4);
}

h5 {
  font-size: var(--s-5);
}

h6 {
  font-size: var(--s-6);
  font-weight: 700;
}

.bodycopy {
  font-size: 16px;
  line-height: 1.5em;
  color: #ccc;
}

.bodycopy a {
  color: #4f96ff;
  text-decoration: none;
  cursor: pointer;
}

.bodycopy a:hover {
  text-decoration: underline;
}

.bodycopy p {
  margin-top: 0;
  line-height: 1.25em;
  margin-bottom: 1.25em;
}

.bodycopy p:last-child {
  margin-bottom: 0;
}

/* DIV */
div,
ol {
  &::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 5px;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: var(--dark);
  }

  @media (max-width: 1100px) {
    --s-padding: 10px;
  }
}

/* Forms */

.ui-text-box {
  --ui-form-label-color: #ccc;
  --ui-input-border-radius: 4px;
  --ui-input-background-color: #484848;
  --ui-input-border: 1px solid red;
  --ui-input-text-color: #fff;
}

.ui-text-box input {
  border: none;
  border-bottom: 1px solid #666;
  outline: none;
}

.ui-text-box input:hover {
  --ui-input-background-color: #545454;
  border-bottom-color: #727272;
}

.ui-text-box input:focus {
  --ui-input-background-color: #1b364f;
  border-bottom-color: #2274b8;
}

.ui-text-box.has-error input {
  --ui-input-background-color: #370002;
  border-bottom-color: #e34150;
}

.ui-text-box .error-message,
.ui-checkbox .error-message {
  padding-top: 5px;
  font-size: 14px;
  color: #e34150;
}

.ui-error-list .error {
  color: #e34150;
}

.ui-checkbox {
  --ui-form-label-color: #ccc;
  --ui-checkbox-size: 18px !important;
}

.ui-checkbox input[type="checkbox"] {
  accent-color: #3f8bff;
}

/* Box */
.ui-box {
  --ui-box-color: #333;
}

/* Buttons */

.ui-button.default {
  --ui-button-color: rgba(255, 255, 255, 0.15);
  --ui-button-text-color: #ccc;
}

.ui-button.default:hover {
  --ui-button-color: rgba(255, 255, 255, 0.25);
  --ui-button-text-color: #fff;
}

.ui-button.primary {
  --ui-button-color: #27a1ff;
  --ui-button-text-color: #fff;
}

.ui-button.primary:hover {
  --ui-button-color: #1d78ff;
  /* 10% */
}

.ui-button.disabled {
  --ui-button-color: rgba(255, 255, 255, 0.1);
  --ui-button-text-color: rgba(255, 255, 255, 0.2);
}

.light-container .ui-button.default {
  --ui-button-color: #666;
  --ui-button-text-color: #fff;
}

.light-container .ui-button.default:hover {
  --ui-button-color: #505050;
}

/* NAVBAR  NAVBAR  NAVBAR  NAVBAR  NAVBAR  */
nav {
  --nav-height: 70px;
  --nav-item-height: 45px;
  --nav-item-active: var(--gray-70);
  --nav-item-icon-color: var(--gray-40);
  --nav-background-color: var(--gray-100);
  --nav-hide-lg: none;
  --nav-items-position: unset;
  --nav-items-bg: unset;
  --nav-box-shadow-sm: unset;
  --nav-items-min-width: auto;
  --nav-hide-sm: unset;
  --nav-position: relative;
  --nav-trigger-display: none;
  --nav-backdrop-filter: blur(8);
  --nav-item-justify-content: space-around;
  --nav-items-flex-direction: row;
  --nav-border-radius: calc(var(--border-radius) * 0.66);
  --nav-box-shadow-lg: 1px 2px 10px #00000050;
}

@media screen and (max-width: 1100px) {
  nav {
    --nav-hide-lg: unset;
    --nav-hide-sm: none;
    --nav-height: auto;
    --nav-backdrop-filter: unset;
    --nav-trigger-display: flex;
    --nav-position: absolute;
    --nav-background-color: var(--gray-100);
    /* --nav-background-color:unset; */
    /* --nav-background-color: #00000050; */
    --nav-items-flex-direction: column;
    --nav-items-position: absolute;
    --nav-items-min-width: 270px;
    --nav-items-bg: var(--gray-90);
    --nav-box-shadow-sm: 1px 2px 10px #00000050;
    --nav-box-shadow-lg: unset;

    --nav-item-justify-content: flex-start;
    --nav-item-height: var(--s-element);
  }
}

.dashboard-item {
  --color: var(--gray-20);
  --bg: var(--gray-70);

  --hover-color: white;
  --hover-bg: var(--gray-60);

  --unavailable-color: var(--gray-50);
  --unavailable-bg: var(--gray-80);
}

.header {
  --header-primary-bg: var(--gray-100);
  --header-primary-border: solid 1px var(--gray-80);
  --header-primary: var(--gray-30);
  --header-width: var(--full-width);
}

.select,
.input,
.form-control,
.input-date-range,
button {
  --height: var(--s-element);
  --font-size: 18px;

  --color: var(--gray-20);
  --background-color: var(--gray-70);
  --border-color: var(--gray-60);

  --placeholder-color: var(--gray-50);

  --focus-color: var(--gray-40);
  --focus-background-color: var(--gray-60);
  --focus-border-color: var(--gray-40);

  --invalid-background-color: var(--orange);
  --input-primary: var(--gray-30);
  --input-primary-bg: var(--gray-70);

  --input-secondary: var(--gray-50);
  --input-secondary-bg: var(--gray-80);
  --input-focus-bg: var(--gray-60);
  --input-option-hover: var(--gray-40);
  --input-box-shadow: var(--box-shadow);
  --input-border-radius: calc(var(--border-radius) * 0.66);
  --select-option-selected: var(--blue);
  --select-option-selected-bg: #c8def0;
  --select-default-color: var(--gray-50);
}

.grid {
  --card-primary-bg: var(--gray-80);
}

.adaptable {
  --header-height: 80px;
  --header-border-radius: var(--border-radius);
}

a:-webkit-any-link {
  color: var(--blue);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-shadow: 0 0 var(--s-9) var(--blue-10);
    color: var(--blue);
  }
}

.dev {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #00000070;
  color: #0f9;
  border-radius: 5px;
  bottom: 0;
  max-width: calc(100vw - 30px);
  left: 0;
  z-index: 999;
  overflow-wrap: break-word;
}

/* ELEMENTS */
.embossed-theme {
  width: calc(100% - 4px);
  border-width: 4px;
  border-style: outset;
  border-color: var(--gray-50-opaque) var(--gray-100-opaque)
    var(--gray-90-opaque) var(--gray-20-opaque);
}
