.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.admin-customer-add{
    // background-color: var(--gray-90);
    // padding: var(--s-element) var(--s-4) var(--s-4);
    // border-radius: var(--border-radius);
    &__title{
        font-size: var(--s-3);
        color: var(--gray-40);
        text-transform: capitalize;
        padding-bottom: var(--s-4);
    }
    &__modal-body{
        @extend .d-flex;
        width: 100%;
        justify-content: flex-start;
        height: 100%;
        .body--key, .body--value{
            @extend .d-flex;
            padding:var(--s-11) var(--s-9);
            height: inherit;
            border: solid 1px;
            border-color: var(--gray-70);
        }
        .body--key{
            border-radius: var(--s-10) 0 0 var(--s-10);
            background-color: var(--gray-70);
        }
        .body--value{
            --ui-icon-height: 100%;
            --ui-icon-width: var(--s-3);
            max-height: var(--s-element);
            border-radius:  0 var(--s-10) var(--s-10) 0;
        }
    }
}