
.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.account-create-method {
    width: 100%;
    min-height: 100px;
    .account-create-method__method {
        @extend .d-flex;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        padding: 10px 0;
    }
    .account-create-method__exp{
        @extend .d-flex;
        width: 100%;
        gap: 10px;
    }
    .account-create-method__action{
        // visibility: hidden;
    }

}