/* Deepturn.scss */
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deepturn {

  &__bg, &__map{
  top: 0;
  left:0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  }
  &__bg {
    z-index: -1;
    mix-blend-mode: color-dodge;
  }
  &__map{
    z-index: 2;
  }
}

.front{
    // background-color: #ff330080;
    @extend .d-flex;
    border:solid 150px var(--gray-100-o);
    box-shadow: inset 0px 0px 5vw 5vw var(--gray-100-o);
    width:100vw;
    height:100vh;

}
.back{
    // background-color: var(--gray-100);
    background:radial-gradient(circle, var(--gray-90) 34%, var(--blue-90) 100% );
    width:calc(100vw + 250px);
    height:calc(100vh + 250px);
}
.middle{
    width:calc(100vw + 150px);
    height:calc(100vh + 150px);

    background-size: 100% 100%;
    background-color: var(--gray-80-o);
    background-image: linear-gradient(var(--green-o) 1.5px, transparent 1.5px), linear-gradient(90deg, var(--green-30) 1.5px, transparent 1.5px), linear-gradient(var(--green-70) 1px, transparent 1px), linear-gradient(90deg, var(--green-o) 1px, transparent 1px);
  background-position: -1.5px -1.5px, -1.5px -1.5px, -1px -1px, -1px -1px;
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
}