.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


.component--map,
.component--terrain {
    left: 0;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.component--map {
    // z-index: 2;
    width: 100%;
    height: 100%;
}
@keyframes fadeOut {
    from{
        opacity: 1;
    }
    to{opacity: 0;}
}
.deepturn__coming-soon{
    min-height: 900px;
    @extend .d-flex;
    flex-direction: column;
    gap:var(--s-1);
    align-items: flex-start;
    max-width: var(--s-9-width);
    
    // animation: fadeOut 8s forwards ease-out;
    &--title{
        font-size:var(--s-element);
        color:var(--gray-10);
        max-width: 80vw;
    }
    &--body{
        max-width: 80vw;
        color:var(--gray-40);
        line-height: 1.5;
        white-space: wrap;

    }
}
.deepturn__business-select {
    @extend .d-flex;
    flex-direction: column;
    width: var(--s-1-width);
    padding: var(--s-1) var(--s-1)var(--s-element);
    gap: var(--s-element);
    box-shadow: var(--s-12) var(--s-10) var(--s-1) var(--s-9) var(--gray-100-o);

    @media(min-width:1100px) {
        max-width: 1100px;
        border: solid 1px var(--gray-80);
        background-color: var(--gray-90);
    }

    .business-select--marquee {
        @extend .d-flex;
        flex-direction: column;
        gap: var(--s-9);
        align-items: flex-start;
        width: 100%;

        @media(min-width:1100px) {
           &:first-child{
            padding-bottom: var(--s-element);
            border-bottom: solid 1px var(--gray-90-o);
           }
        }

        // background-color: #f30;
        &__title {
            @extend .d-flex;
            --ui-icon-color: var(--primary-50);
            font-size: var(--s-1);
            --ui-icon-size: var(--s-1);
            gap: var(--s-9);
        }

        &__description {
            line-height: 2;
            font-family: Game;
            font-size: var(--s-4);
        }
    }
}

.deepturn {

    pre {
        text-wrap: wrap;
        overflow: hidden;
        @extend .d-flex;
        padding: var(--s-5);
        width: var(--s-5-width);
    }

    max-width: 100vw;
    overflow: hidden;
    background:radial-gradient(circle, var(--dark) 34%, #040404 100%);
    flex-wrap: wrap;
    @extend .d-flex;
    width: 100%;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @media (max-width: 1100px) {
        flex-direction: column;
    }

    &__components {
        position: relative;
        z-index: 1;
    }
}


.map-container {
    width: 100%;
    height: 100%;
    flex: 3;
    @extend .d-flex;
}