$line_height: calc(var(--default-element-height) * 2);
.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
input{
    width: 100%;
    height: var(--default-element-height);
    padding: 0;
    background-color: transparent;
    outline: unset;
    border: unset;
    box-shadow: unset;
    color: var(--color-gray-50);
    font-size: var(--s-5);
    &:hover{
        color: var(--color-gray-30);
    }
}
.profile-form{
    width: 100%;
    // $pad: var(--default-padding);
    // padding: $pad;
    // width: calc(100% - calc($pad * 2));
    @extend .d-flex;
    gap: var(--default-padding);
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    color: var(--color-gray-90);
    .profile-form__name, .profile-form__contact, .profile-form__address{
        padding: 1px;
        width: 100%;
        gap: 10px;
        @extend .d-flex;
        @media(max-width: 900px){
            flex-direction: column;
        }
    }
}

  .profile-form__action{
    width: 100%;
    margin-top: var(--default-padding);
  }