$line_height: calc(var(--default-element-height) * 2);

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    padding: 0 var(--default-padding);
    width: calc(100% - calc(var(--default-padding) * 2));
}

.profile-form {
    width: 100%;
    .profile-form__title {
        @extend .d-flex, .body;
        height: var(--default-element-height);
        font-size: var(--s-6);
        color: var(--color-gray-20);
        background-color: var(--color-gray-60);
    }
    &__body {
        @extend .d-flex, .body;
        flex-direction: column;
        .profile-form__name,
        .profile-form__contact,
        .profile-form__address {
            width: 100%;
            gap: 10px;
            @extend .d-flex, .body;
            @media(max-width: 900px) {
                flex-direction: column;
            }
        }
    }
    .profile-form__action {
        width: 100%;
        margin-top:calc(var(--default-element-height) * 1.5);
    }
}
.profile-form__collapse-label{
    @extend .d-flex;
    flex-direction: column;
    align-items: flex-start;

}
.profile-form__display{
    width: 100%;
    @extend .d-flex;
    flex-direction: column;
    // justify-content: flex-start;
    align-items: flex-start;
    gap: var(--s-8);
    .profile-form__display__item{
        width: 100%;
    }
    .profile-form__display, .profile-form__footer{
        @extend .d-flex;
        width: 100%;
    }
    .profile-form__footer{
        justify-content: flex-end;
    .profile-form__action{
        width: 200px;
    }
    }

}