.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.d-flex-col {
    @extend .d-flex;
}

.adapt-to-window {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;

    .adapt-to-window-content {
        @extend .d-flex;
        height: 100%;
        width: 100%;
        position: relative;

        // .key {
        //     &::before {
        //         position: absolute;
        //         width: max-content;
        //         padding: 10px;
        //         top: 0;
        //         left: 10px;
        //         background-color: var(--gray-90-o);
        //     }
        // }
        .adapt-to-window__element {
            // display: none;
            position: fixed;
            @extend .d-flex-col;
            width: max-content;
            height: max-content;
            overflow: hidden;
            @media(max-width:1100px){
                left: 10px;
                width:calc(100vw - 60px);
                max-width:calc(100vw - 60px);
            }
            @media(max-width:900px){
                left: 10px;
                width:calc(100vw - 40px);
                max-width:calc(100vw - 40px);
            }
            &__top {
                top: var(--s-padding);
            }
            &__center {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &__right {
                right: var(--s-padding);
            }

            &__bottom {
                bottom: var(--s-padding);
            }
            
            &__left {
                left: var(--s-padding);
            }

            &__card {
                padding: var(--s-padding);
                background-color: var(--gray-40);
                border: solid 1px var(--gray-60);
                outline: solid 1px var(--gray-80);
                border-radius: var(--border-radius);
                color: var(--white);
                --ui-icon-color: var(--white);
                width: max-content;
                height: max-content;
            }
        }
    }
}