.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.instagram {
    @extend .d-flex;
    flex-direction: column;
    color: var(--gray-90);
    gap:var(--s-4);
    height: 100%;
    width: 100%;
    min-height: 500px;
    border-radius: var(--border-radius);
}