.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-btn {
    @extend .d-flex;
    justify-content: flex-start;
    width: 100%;
}

.product-survey-card {
    @extend .d-flex;
    gap: var(--s-4);
    flex-direction: column;
    width: 100%;
    border-radius: var(--border-radius);
    background-color: var(--gray-90);
    min-height: 400px;
    border: solid 1px var(--gray-80);
    @media(max-width: 900px) {
        gap: var(--s-9);
        background-color: #f30 !important;
        width: var(--s-9-width);
    }
}

.product-survey__success,
.product-survey__invalid {
    @extend .product-survey-card;
    &--email {
        font-size: var(--s-4);
        color: var(--primary-50);
        font-weight: 600;
    }

    &--status {
        @extend .d-flex;
        gap: var(--s-9);
        padding:var(--s-9);
        text-transform: capitalize;
        font-size: var(--s-element);
        --ui-icon-size: var(--s-1);
        line-height: 1;
        width: max-content;
        border: solid var(--s-9);
        border-radius: var(--border-radius);
        @media(max-width: 900px) {
            gap: var(--s-9);
            width: var(--s-9-width);
        }
    }

    &--message {
        font-size: var(--s-5);
    }

    &--action {
        margin-top: auto;
        width: 50%;
        @media(max-width: 900px) {
            width: 100%;
        }
    }
}

.product-survey__invalid {
    color: var(--orange-50);
    --ui-icon-color: var(--orange-50);
}

.product-survey {
    @extend .d-flex;
    transition: all 1s ease-out;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    position: relative;
    width: var(--s-border-width);
    gap: var(--s-4);
    color: var(--gray-30);
    overflow: hidden; 
    @media(min-width: 1100px) {
        margin: 0;
    }

    &__contact-form {
        @extend .product-survey-card;
        width: calc(var(--s-9-width) - 2px);
        padding: var(--s-1) var(--s-9) var(--s-5);
    }

    &__description {
        text-align: center;
        margin-bottom: var(--s-6);
        h2 {
            font-size: var(--s-2);
            color: var(--gray-50);
        }
        p {
            font-size: var(--s-4);
            color: var(--gray-40);
        }
    }

    &__select-title {
        width: 100%;
        text-transform: capitalize;
        font-size: var(--s-4);
        color: var (--gray-50);
    }

    &__title {
        line-height: 1.5;
        color: var(--gray-40);
        @extend .d-flex;
        font-size: var(--s-1);
        justify-content: flex-start;
        width: 100%;
    }

    &__instructions {
        font-size: var(--s-4);
        color: var(--orange-o);
        width: 100%;
        text-align: center;
    }

    &__sub-title {
        width: 100%;
        font-size: var(--s-4);
        color: var(--gray-30-o);
        text-transform: capitalize;
        line-height: 1;
    }

    &__action {
        width: 100%;
        justify-content: flex-start;
        div {
            width: max-content;
        }
    }

    &-btn-view {
        height: max-content;
        @extend .product-survey-card;
        text-align: center;
        background-color: transparent;
        cursor: pointer;
        filter: blur(2px) brightness(.77);
        font-weight: 900; 
        user-select: none;
        font-family: Orbitron;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.6;
        letter-spacing: 1vw;
        font-size: 9vw; 
        background-image: url("/merchant/nirv1/backgrounds/redrock-wall.jpeg");
        background-position: bottom;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: var(--primary-o);
        width: calc(var(--s-9-width) - 2px);
        .button-text {
            @extend .d-flex;
        }
        &:hover {
            @keyframes hover {
                0% {
                    background-position: bottom;
                    -webkit-text-fill-color: var(--primary-o);
                    opacity: .7;
                }
                100% {
                    background-position: top;
                    opacity: 1;
                    filter: blur(0) brightness(1.2);
                    position: relative;
                }
            }
            animation-play-state: running;
            animation: hover 1s forwards ease-in-out;
        }
        
        @media(max-width: 1100px) {
            font-size: calc(12vw - var(--s-4));
        }
        @media(max-width: 900px) {
            line-height: 2;
            font-size: calc(14vw - var(--s-4));
        }
        @media(min-width: 1500px) {
            font-size: calc(6.5vw - var(--s-4));
        }

        &__cancel {
            width: 100%;
            margin-top: var(--s-element);
        }

        .product-survey__title {
            display: none;
        }
    }
}

.mobile-selected {
    @media(max-width: 900px) {
        border-style: solid;
        border-width: 1px;
        bottom: 0;
        z-index: 4;
        padding: var(--s-9);
        background-color: var(--gray-90);
    }
}
