.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-btn {
    @extend .d-flex;
    justify-content: flex-start;
    width: 100%;
}

.product-survey__success {
    color: var(--green-60);
    --ui-icon-color: var(--green-60);
}

.product-survey__invalid {
    color: var(--orange);
    --ui-icon-color: var(--orange);

}

.product-survey__success,
.product-survey__invalid {
    @extend .d-flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: var(--s-element) 0;
    width: 100%;
    flex: 1;
    gap: var(--s-element);

    &--email {
        font-size: var(--s-4);
        color: var(--primary);
        font-weight: 600;
    }

    &--status {
        @extend .d-flex;
        background-color: var(--gray-30-opaque);
        gap: var(--s-9);

        text-transform: capitalize;
        font-size: var(--s-element);

        --ui-icon-size: var(--s-1);
        line-height: 1;
        width: max-content;
        border: solid var(--s-9);
        border-radius: var(--border-radius);
        padding: var(--s-9) var(--s-6);
    }

    &--message {
        font-size: var(--s-5)
    }

    &--action {
        margin-top: auto;
        width: 50%;

        @media(max-width: 900px) {
            width: 100%;
        }
    }
}

.product-survey {
    position: relative;
    @extend .d-flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: var(--border-radius);
    padding: var(--s-padding);
    transition: all .5s;
    background-color: var(--gray-90);
    gap: var(--s-padding);
    color: var(--gray-30);
    height: 100%;
    transition: all .5s;
    &-btn-view{
        height: calc(100vh - 250px);
        background-color: transparent;
        .product-survey__title{
            display: none;
        }
    }
    &__btn-view {
        height: 100%;
        // border-radius: var(--border-radius);
        @extend .d-flex;
        justify-content: flex-start;
        cursor: pointer;
        width: var(--s-padding-width);
        &-text {
            background-image: url("/merchant/nirv1/backgrounds/redrock-wall.jpeg");
            background-position: bottom;
            
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: var(--primary-opaque);
            font-family: Orbitron;
            font-weight: 900;
            text-transform: uppercase;
            text-align: center;
            font-size: 7vw;
            filter: blur(2px) brightness(.6);
            transition: all .5s;
            &:hover{
                background-position: top;
                filter: blur(0) brightness(1);
            }
        }
    }

    @media(min-width:1100px) {
        margin: 0;
    }


    @media(max-width:900px) {
        margin: 0;
        padding: var(--s-padding) var(--s-padding) var(--s-5);
        // padding: var(--s-9);
        // width: calc(100% - calc(var(--s-9) * 2));
        // margin-bottom: 100px;
    }





    #product-survey__options {
        width: 100%;
    }

    &__select-title {
        width: 100%;
        text-transform: capitalize;
        font-size: var(--s-4);
        color: var(--gray-50);

    }



    &__title {
        line-height: 1.5;
        width: 100%;
        color: var(--gray-40);
        font-size: var(--s-1);
    }

    &__instructions {
        font-size: var(--s-4);
        color: var(--orange-opaque);
        width: 100%;
        text-align: center;
    }

    &__submit {
        width: 100%;
        margin: var(--s-element) 0 0;

        @extend .mobile-selected;

        @media(max-width:900px) {
            margin: 0;
            bottom: 0;
            $zss: 6px;
            box-shadow: calc($zss * .5) calc($zss * -1) $zss var(--black);
            border-radius: 0 0 0 var(--border-radius);
            border-color: transparent transparent transparent var(--gray-70);

        }
    }


    &__selected {
        background-color: var(--gray-80);
        width: 100%;
        position: relative;
        font-size: var(--s-6);
        border-radius: var(--border-radius);
        padding: var(--s-element) var(--s-9) var(--s-7);
        display: flex;
        min-height: 70px;
        gap: var(--s-9);
        flex-wrap: wrap;
        color: var(--gray-50);
        width: calc(100% - calc(var(--s-9) * 2));
        @extend .mobile-selected;

        @media(max-width:900px) {
            padding: calc(var(--s-element) * 2) var(--s-9) var(--s-7);
            background: var(--gray-80-opaque);
            z-index: 2;
            border-color: var(--gray-70) transparent transparent var(--gray-70);
            height: max-content;

            padding-top: 65px !important;
            box-shadow: var(--box-shadow);
        }

        &--header {
            position: absolute;
            text-transform: capitalize;
            left: var(--s-8);
            top: var(--s-9);

            @media(max-width:900px) {

                top: var(--s-padding);
                color: var(--gray-10);
                font-size: var(--s-7);
                left: 0;
                padding: var(--s-9);
                width: auto;
            }
        }

        z-index: 5;
        opacity: .9;

        @keyframes slideUp {
            0% {
                opacity: .9;
                bottom: 0;
            }

            100% {
                opacity: 1;
                bottom: 65px;
            }
        }

        @media (max-width:900px) {
            bottom: calc(var(--s-element) * -1);

            &:hover {
                animation: slideUp 1s forwards;
            }
        }

        &--content {
            height: 100%;
            @extend .d-flex;
            flex-wrap: wrap;

            @media(max-width: 1100px) {
                background-color: var(--gray-80);
                border-radius: var(--border-radius);
            }

            justify-content: flex-start;
            padding: var(--s-9);
            width: 100%;
            gap: var(--s-9);
        }

        .product-survey__tools {
            position: absolute;
            right: var(--s-5);
            top: var(--s-9);
            color: inerit;
            width: 100%;
            @extend .d-flex;
            justify-content: flex-end;

            @media(max-width:900px) {
                color: var(--gray-70);
                width: auto;
                font-size: var(--s-8);
            }

            &--tool {
                cursor: pointer;

                &:hover {
                    filter: brightness(1.5);

                }
            }
        }

    }


    &__sub-title {
        width: 100%;
        font-size: var(--s-4);
        color: var(--gray-30-opaque);
        text-transform: capitalize;
        line-height: 1;
    }


    .product-description__choice {
        color: var(--gray-40);
        min-height: var(--s-element);
        width: auto;

        @media(max-width:900px) {
            justify-content: flex-start;
            padding: var(--s-9);
            align-items: flex-start;
        }

        cursor: pointer;
        border: solid 1px transparent;
        @extend .d-flex;
        border-radius: var(--border-radius);
        --ui-icon-color: var(--white);
        border: solid 1px var(--gray-50);
        background-color: var(--gray-80);

        &:hover {
            color: var(--gray-10);
            border: solid 1px var(--gray-20);
            background-color: var(--gray-70);
        }

        &--selected {
            text-indent: unset;
            width: max-content;
            background-color: none;
            justify-content: space-around;

            &:hover {
                color: var(--white);
                background-color: var(--primary);
            }
        }

        &--choice {
            background-color: var(--primary-opaque);
            border: solid 1px var(--primary-lite);

            &:hover {
                color: var(--white);
                background-color: var(--primary);
            }
        }


        position: relative;

        overflow: hidden;

        &__name {
            @extend .d-flex;
            text-align: center;

            @media (max-width: 900px) {
                justify-content: space-between;
                font-size: var(--s-7);
                text-align: unset;
            }

            text-transform: capitalize;
            width: 100%;

            &--icon {
                flex-direction: column;
                background-color: var(--green-opaque);
                backdrop-filter: blur(2px);
                color: var(--white);
                text-shadow: 1px 1px var(--black);
                z-index: 3;
                font-size: var(--s-3);
                --ui-icon-height: var(--s-9);
                --ui-icon-width: var(--s-9);
                position: absolute;

                top: 0;
                right: 0;
                height: 100%;
                box-shadow: 1px 1px var(--gray-100);
                width: var(--s-element);
                @extend .d-flex;

            }

            &--icon::after {
                content: "amps";
                font-size: var(--s-9);
                text-transform: uppercase;
            }

        }

    }

    &__action {
        width: 100%;
        justify-content: flex-start;

        div {
            width: max-content;
        }
    }
}


.mobile-selected {
    @media(max-width:900px) {
        border-style: solid;
        border-width: 1px;
        position: fixed;
        width: 80vw;
        bottom: 0;
        z-index: 4;
        padding: var(--s-9);
        background-color: var(--gray-90);
        right: 0;
    }
}