


.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-btn {
    @extend .d-flex;
    justify-content: flex-start;
    width: 100%;
}

.product-survey__success {
    color: var(--green-60);
    --ui-icon-color: var(--green-60);
}

.product-survey__invalid {
    color: var(--orange);
    --ui-icon-color: var(--orange);

}

.product-survey__success,
.product-survey__invalid {
    @extend .d-flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: var(--s-element) 0;
    width: 100%;
    flex: 1; 
    gap: var(--s-element);

    &--email {
        font-size: var(--s-4);
        color: var(--primary);
        font-weight: 600;
    }

    &--status {
        @extend .d-flex;
        background-color: var(--gray-30-o);
        gap: var(--s-9);

        text-transform: capitalize;
        font-size: var(--s-element);

        --ui-icon-size: var(--s-1);
        line-height: 1;
        width: max-content;
        border: solid var(--s-9);
        border-radius: var(--border-radius);
        padding: var(--s-9) var(--s-6);
    }

    &--message {
        font-size: var(--s-5)
    }

    &--action {
        margin-top: auto;
        width: 50%;

        @media(max-width: 900px) {
            width: 100%;
        }
    }
}

.product-survey {
    width: var(--s-padding-width);
    @media(max-width: 900px){
        width: var(--s-9-width);
    }
    padding: var(--s-padding);
    background-color: var(--gray-90);
    position: relative;
    @extend .d-flex;
    flex-direction: column;
    justify-content: stretch;
    border-radius: var(--border-radius);
    gap: var(--s-padding);
    color: var(--gray-30);
    overflow: hidden; 
  
    

    @media(min-width:1100px) {
        margin: 0;
    }


    @media(max-width:900px) {
        margin: 0;
    }





  


    &__select-title {
        width: 100%;
        text-transform: capitalize;
        font-size: var(--s-4);
        color: var(--gray-50);

    }



    &__title {
        line-height: 1.5;
        color: var(--gray-40);
        @extend .d-flex;
        font-size: var(--s-1);
        justify-content: flex-start;
        width: 100%;
    }

    &__instructions {
        font-size: var(--s-4);
        color: var(--orange-o);
        width: 100%;
        text-align: center;
    }

 

  


    &__sub-title {
        width: 100%;
        font-size: var(--s-4);
        color: var(--gray-30-o);
        text-transform: capitalize;
        line-height: 1;
    }




    &__action {
        width: 100%;
        justify-content: flex-start;

        div {
            width: max-content;
        }
    }
    
    &-btn-view {
        height: max-content;
        @extend .d-flex;
        text-align: center;
        padding: var(--s-1) 0;
        background-color: transparent;
        cursor: pointer;
        filter: blur(2px) brightness(.77);
        font-weight: 900; 
        user-select: none;
        font-family: Orbitron;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.6;

        letter-spacing: 1vw;
        font-size: 9vw; 
        background-image: url("/merchant/nirv1/backgrounds/redrock-wall.jpeg");
        background-position: bottom;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: var(--primary-o);
        text-align: center;
        height: max-content;
        background-position: bottom;
        -webkit-text-fill-color: var(--primary-o);
        width: var(--s-padding-width);
        margin: 0 auto;
        aspect-ratio: 20/9;
        .button-text{
            @extend .d-flex;
        }
        &:hover {
            @keyframes hover {
                0% {
                    background-position: bottom;
                    -webkit-text-fill-color: var(--primary-o);
                    opacity: .7;
                }
                100% {
                    background-position: top;
                    opacity: 1;
                    filter: blur(0) brightness(1.2);
                    position: relative;
                }
            }
            animation-play-state: running;
            animation: hover 1s forwards ease-in-out;
        }
        
        @media(max-width: 1100px){
            font-size: calc(12vw - var(--s-padding));
        }
        @media(max-width: 900px){
            font-size: calc(10vw - var(--s-padding));
        }
        @media(min-width: 1500px){
            font-size: calc(6.5vw - var(--s-padding));
        }
        &__cancel{
            width: 100%;
            margin-top: var(--s-element);
        }
        .product-survey__title {
            display: none;
        }
    }
}


.mobile-selected {
    @media(max-width:900px) {
        border-style: solid;
        border-width: 1px;
        // position: fixed;
        // width: 80vw;
        bottom: 0;
        z-index: 4;
        padding: var(--s-9);
        background-color: var(--gray-90);
        // right: 0;
    }
}