.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.verify-email {
    @extend .d-flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius:var(--border-radius);
    margin: var(--s-element) 0;
    color: var(--gray-70);
    background-color: var(--gray-80);
    min-height: 500px;
    
    @media(max-width: 1100px) {
        margin: var(--s-element) var(--s-padding);
        width: var(--s-padding-width);
        align-items: center;
    }

    &__content {
        @extend .d-flex;
        margin: var(--s-padding);
        width: var(--s-padding-width);
        flex-direction: column;
        height: 100%;
        &--loader{
            height: 100%;
            @extend .d-flex;
            @media(max-width: 1100px){
                height: 100%;
            }
        }
        // &--success{
        //     align-items: flex-start;
        //     .verify-email__content--loader{
        //         justify-content: flex-start;
        //         height: 120px;
        //         width: max-content;
        //         transition: --ui-loader-size 1s;
        //         margin: 0 0 var(--s-3);
        //     }

        // }
  
        &__sign-in{
            width: 100%;
            &--title{
                font-size: var(--s-2);
                color: var(--gray-20);
                line-height: 2;
            }
        }
    }
}