$hite: calc(100% - 20px);
// $hite: 200px;
// @keyframes scale {
//     0% {
//         transform: scale(1);
//     }
    
//     10% {
//         transform: scale(1.05);
//     }
    
//     100% {
//         transform: scale(1);
//     }
// }
.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.product-image {
    @extend .d-flex;
    overflow: hidden;
    .product-image__content {
        overflow: hidden;
        @extend .d-flex;
        --ui-icon-width: calc(100% - 22px);
        --ui-icon-height: calc(100% - 22px);
        @media(max-width:900px){
            --ui-icon-width: inherit;
            --ui-icon-height: 100px;
            width: 100%;
            height: auto;
        }
        // &:hover{
        //     animation: scale 1s forwards;
        // }
    }
}