$hite: calc(100% - 20px);
// $hite: 200px;
@keyframes scale {
    0% {
        transform: scale(1);
    }
    
    10% {
        transform: scale(1.05);
    }
    
    100% {
        transform: scale(1);
    }
}
.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.product-image {
    @extend .d-flex;
    overflow: hidden;

    &__description{
        width: 100%;
        height: 500px;
        position: relative;
    }
  
    .product-image__content {
        @extend .d-flex;
        --ui-icon-width: 50%;
        --ui-icon-height: 50%;
        --ui-icon-color: var(--gray-10);
        @media(max-width:1100px){
            --ui-icon-width: inherit;
            --ui-icon-height: 100px;
            height: auto;
        }
        width: 100%;
        @media(max-width: 1100px){
            width: calc(100vw - 100px);
        }            
        &__description{
            position: absolute;
            // width: 700px;
            width: 100%;

        }
        &:hover{
            animation: scale 1s forwards;
        }
        &__table{
            height: var(--element-height);
            width: auto;
        }
    }

    &__slider{
        width: 100%;
        height: 100%;
        --ui-icon-size: 100px;
        @media(min-width:1100px){
            margin: auto;
        }
        --ui-icon-color: var(--gray-10);
        .product-image__content{

            height: var(--padding-width);
            width: auto;
            @media(max-width: 1100px){
                width: var(--padding-width);
                height: auto;
                // padding: var(--padding);
            }   
        }
    }
}
