.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-btn{
    @extend .d-flex;
    justify-content: flex-start;
    width: 100%;
    height: var(--s-element);
}
.ui-view-layout {
    position: relative;
    @extend .d-flex;
    flex-direction: column;
    width: 100%;
    &.start{
        & > *.back-btn{
            display: none;
        }
    }
    // gap:var(--s-4);
    min-height: 100%;
    &__header,
    &__actions {
        @extend .d-flex;
    }
    
    &__actions {
        justify-content: flex-end;
        @extend .d-flex;
        gap:var(--s-9);
    }

    &__view{
        height: 100%;
        @extend .d-flex;
        flex-direction: column;
        gap:var(--s-4);
    }
    &__view,
    &__actions {
   
        width: 100%;
    }

    &__header {
        width: var(--s-4-width);
        justify-content: flex-start;
        padding: 0 var(--s-4) var(--s-9);
        @media(max-width:1100px) {
            width: var(--s-9-width);
            padding: 0 var(--s-9) var(--s-9);
        }
        &-title {
            font-size: var(--s-1);
            --ui-icon-color: var(--primary);
            color: var(--primary);
            text-transform: capitalize;
        }
    }
}
.current{
    position: absolute;
    top: calc(var(--s-4) * .5);
    color:var(--gray-30-o);
    right: var(--s-9);
    height: var(--s-6);
    line-height: 1;
}