

.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}


.current-method--container {
    width: 100%;

}
.current-method__response{
    @extend .d-flex;
    justify-content: flex-start;
    padding: 0 10px;
    height: var(--s-element);
    color: var(--primary);
    background-color: var(--gray-60);
    &.current-method__response-error{
        color: var(--orange);
    }
}