$pad: 18px;
$delW: 60px;
$min: calc(100% - calc(calc($pad * 2) + $delW));
$max: calc(100% - calc($pad * 2));

$color: var(--color-gray-50);
$colorHover: var(--color-primary);
$contentBackground: var(--color-gray-80);
$contentBackgroundHover: var(--color-gray-70-opaque);
$background: var(--color-gray-90);
$outlineColor: var(--color-gray-80);
$borderColor: var(--color-gray-60);
@keyframes show {
    0% {
        width: $max;
    }

    100% {
        width: $min;
    }
}

@keyframes hide {
    0% {
        width: $min;
    }

    100% {
        width: $max;
    }
}

.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}

// .account-current-method{
//     @extend .d-flex;
//     width: 100%;
//     border: solid 1px;
//     .account-current-method__content{
//         @extend .d-flex;
//         width: 100%;
//         justify-content: space-between;
//     }
// }
.account-current-method {
    cursor: pointer;
    border-radius: var(--default-border-radius);
    outline: solid 1px $outlineColor;
    background-color: $background;
    color: $color;
    height: var(--default-element-height);
    position: relative;
    @extend .d-flex;
    flex-direction: row;
    justify-content: flex-start;
    --ui-icon-color: $color;
    width: calc(100% - 4px);

    .account-current-method__content {
        line-height: 1;
        font-size: var(--s-4);
        // height: var(--default-element-height);
        background-color: $contentBackground;
        @extend .d-flex;
        flex-direction: row;
        border-radius: var(--default-border-radius);
        outline: solid 1px $borderColor;
        z-index: 2;
        justify-content: space-between;
        padding: calc($pad * .66) $pad;
        width: calc(100% - calc($pad * 2));
        // animation-play-state: paused;

        &.account-current-method__content-show {
            animation: show 1s forwards;
            animation-play-state: running;
        }

        &.account-current-method__content-hide {
            animation: hide 1s forwards;
            animation-play-state: running;
        }

        &:hover {
            color: $colorHover;
            --ui-icon-color: $colorHover;
        }

        &:active {
            background-color: #005eb8;
        }

        .account-current-method__info {
            @extend .d-flex;
            justify-content: flex-start;
            flex-direction: row;
            gap: $pad;
            --ui-icon-width: max-content;
            --ui-icon-height: 16px;
        }

        .account-current-method__exp {
            @extend .d-flex;
            justify-content: flex-end;
            flex-direction: row;
        }
    }

    .account-current-method__delete {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        
        z-index: 1;
        justify-content: center;
        align-items: center;
        width: var(--default-element-height);
        // --ui-icon-width: var(--default-element-height);
        height: var(--default-element-height);
        // --ui-icon-height: var(--default-element-height);
        // height: calc(var(--default-element-height) + calc($pad * 2));
        border-radius: 9px;
        display: flex;
        
        &:hover {
            --ui-icon-color: var(--color-red);
            background-color: $contentBackgroundHover;
        }
    }
}
.account-current-method__response{
    @extend .d-flex;
    justify-content: flex-start;
    padding: 0 10px;
    height: var(--default-element-height);
    color: var(--color-primary);
    &.account-current-method__response-error{
        color: var(--color-orange);
    }
}