$pad: 18px;
$delW: 50px;
$min: calc(100% - calc(calc($pad * 2) + $delW));
$max: calc(100% - calc($pad * 2));

$color: var(--color-gray-60);
$colorHover: var(--color-gray-50);
$colorActive: var(--color-primary);
$contentBackground: var(--color-gray-60);
$contentBackgroundHover: var(--color-gray-70-opaque);
$background: var(--color-primary-opaque);
$outlineColor: var(--color-gray-70);
$borderColor: var(--color-gray-40);


@keyframes tease {
    0% {
        width: $max;
    }
    40%{
        width: calc($max - var(--s-1));
    }
    50%{
        width: calc($max - var(--s-4));
    }
    70%{
        width: calc($max - var(--s-3));
    }
    100% {
        width: $max;
    }
}


@keyframes show {
    0% {
        width: $max;
    }

    100% {
        width: $min;
    }
}

@keyframes hide {
    0% {
        width: $min;
    }

    100% {
        width: $max;
    }
}

.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}


.account-current-method {
    cursor: pointer;
    background-color: $background;
    color: $color;
    height: var(--default-element-height);
    position: relative;
    @extend .d-flex;
    flex-direction: row;
    justify-content: flex-start;
    --ui-icon-color: $color;
    width: 100%;
    overflow: hidden;
    // box-shadow: var(--default-box-shadow);
    box-shadow: inset 0 0 5px 5px  var(--color-gray-80-opaque);
    .account-current-method__content {
        background-color: var(--color-gray-40);
        line-height: 1;
        height: 100%;
        font-size: var(--s-5);
        @media(max-width: 900px){
            font-size: var(--s-6);
        }
        // height: var(--default-element-height);
        @extend .d-flex;
        box-shadow: 5px 0 5px 0 var(--color-gray-80-opaque);
        flex-direction: row;
        border-radius: var(--default-border-radius);
        outline: solid 1px var(--color-gray-80);
        z-index: 2;
        justify-content: space-between;
        padding: calc($pad * .66) $pad;
        width: calc(100% - calc($pad * 2));
        animation-play-state: paused;
        &.account-current-method__content-show {
            animation: show 1s forwards;
            animation-play-state: running;
        }

        &.account-current-method__content-hide {
            animation: hide 1s forwards;
            animation-play-state: running;
        }
        &.account-current-method__content__hoverable{
            &:hover {
                animation: tease 1s forwards;
                animation-play-state: running;
                color: $colorHover;
                --ui-icon-color: $colorHover;
            }
        }

        &:active {
            background-color: $colorActive;
        }

        .account-current-method__info {
            @extend .d-flex;
            justify-content: flex-start;
            flex-direction: row;
            gap: $pad;
            --ui-icon-size: var(--s-2);
            @media(max-width: 900px){
                --ui-icon-size: var(--s-5);
            }
            letter-spacing: 2px;
            
        }

        .account-current-method__exp {
            @extend .d-flex;
            justify-content: flex-end;
            flex-direction: row;
        }
    }

    .account-current-method__delete {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        
        z-index: 1;
        justify-content: center;
        align-items: center;
        width: $delW;
        // --ui-icon-width: var(--default-element-height);
        height: var(--default-element-height);
        display: flex;
        --ui-icon-color: var(--color-white);
        &:hover {
            background-color: var(--color-red);
        }
    }
}
.account-current-method__response{
    @extend .d-flex;
    justify-content: flex-start;
    padding: 0 10px;
    height: var(--default-element-height);
    color: var(--color-primary);
    background-color: var(--color-gray-60);
    &.account-current-method__response-error{
        color: var(--color-orange);
    }
}