.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadein {
  0% {
    opacity: 0;
    filter: blur(2px)
  }

  100% {
    opacity: 1;
    filter: blur(0)
  }
}

.map-container {

  background-color: #000;
  @extend .d-flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  @media(max-width: 1100px){
    flex-direction: column;
  }
}

.map {
  width: 100%;
  height: 100%;
  position: relative;
  &-content{
    @extend .d-flex;
    width: 100%;
    height: 100%;
    position: relative;
    @media(max-width: 1100px){
      flex-direction: column;
    }
  }
  &__vessel-details {
    display: flex;
    width: max-content;
    height: max-content;
  }

  &-tools {
    @extend .d-flex;
    gap: var(--s-9);
    cursor: pointer;
    color: var(--white);
    --ui-icon-color: var(--white);
    position: absolute;
    bottom: var(--s-element);
    left: var(--s-9);
    right: var(--s-9);
    bottom: 0;
    padding: var(--s-1);
    --ui-icon-color: var(--gray-30);
    animation-delay: 1s;
    animation: fadein 1s ease-in forwards;
    transition: all 1s ease-in-out;
    height: max-content;

  
  }
}



