.map {
  width: 100%;
  height: 100%;
  position: relative;
  &-tools__main{
    color: var(--green);
    position: absolute;
    bottom: var(--s-9);
    right: var(--s-9);
    padding: var(--s-9);
    --ui-icon-color: var(--white);
  }
}