$space: var(--s-7);

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.products-listing__banner {
    width: calc(100% - calc(var(--default-padding) * 2));
    padding: var(--default-padding);
    background-color: var(--color-gray-30);
    gap: var(--s-7);
    border-radius: var(--default-border-radius);
    &--title {
        width: 100%;
        font-size: var(--s-3);
        color: var(--color-gray-100);
        line-height: calc(var(--s-3) * 1.5);
    }
    
    &--body {
        @extend .d-flex;
        align-items: flex-start;
        gap: var(--default-element-height);
        width: 100%;
        color: var(--color-gray-60);
    }
}

