.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.d-flex-col{
  @extend .d-flex;
   flex-direction: column;
}
@keyframes dropIn{
  0%{transform: translateY(calc(20px - 100%));}
  90%{transform: translateY(var(--s-4));}
  100%{transform: translateY(0%);}
}
@keyframes dropOut{
  0%{transform: translateY(0%);}
  10%{transform: translateY(var(--s-4));}
  100%{transform: translateY(calc(20px - 100%)); display: none;}
}


.notification{
  @media(max-width: 900px){
    // font-size: var(--s-8);
  }
  position: fixed;
  left:0;
  right:0;
  top: 0;
  display: flex;
  justify-content: flex-start;
  z-index: 1004;
  width: 100vw;
  cursor: pointer;
  color: var(--secondary);
  animation: dropIn 1s forwards ease-out;
  @media(max-width:900px){
    height: 100%;
    width: 100%;

  }
  &__confirm{
    @extend .d-flex;
    width: 100%;
    justify-content: flex-end;
    gap:var(--s-9);
    background-color: var(--gray-90);
    border-radius: var(--border-radius);
    &-btn{
      width: 100%;
    }
  }
  &.notification-hide{
    animation: dropOut 1s forwards ease-in;
  }
  .notification__content{
    padding:  var(--s-4);
    @extend .d-flex-col;
    position: relative;
    background: var(--gray-90);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    align-items: flex-start;
    width: 100%;
    gap:var(--s-9);
    @media(max-width:900px){
      top: var(--s-4);
      border-radius:var(--border-radius);
      bottom: var(--s-4);
      width: var(--s-4-width);
      margin: 0 var(--s-4);
      height: max-content;
    }
    .notification__list{
      @extend .d-flex-col;
      border:solid 1px;
      background-color: var(--gray-80);
      border-radius: var(--border-radius);
      gap: var(--s-9);
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      padding:var(--s-9) 0;
      @media(max-width: 900px){
        min-height: 200px;
      }
      .notification__list-item{
        text-decoration: none;
        color: var(--gray-40);
        @extend .d-flex-col;
        gap: var(--s-9);
        text-transform: capitalize;
        align-items: flex-start;
        justify-content: flex-start;
        font-style: italic;
        position: relative;
        width: 100%;
        font-size: var(--s-7);
        padding:0 var(--s-4);
        line-height: 1;
        &__label{
          font-size: var(--s-4);
          top: var(--s-10);
          line-height: 1;
          font-style: normal;
          color: var(--orange-50);
        @media(max-width: 900px){
          align-items: flex-start;
          flex-direction: column;
        }
        }
      }
    }
  }
  .notification__close{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media(max-width:900px){
      height: var(--s-1);
    }
    --ui-icon-color: var(--gray-60);
  }
}