.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-date-modal {
    margin: var(--default-element-height) 2px;
    width: auto;

    @extend .d-flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--s-9);

    &__title {
        font-size: var(--s-2);
        line-height: 1;
    }

    &__event {
        border: solid 1px var(--color-gray-70);
        border-radius: var(--default-border-radius);
        width: 100%;

        &--header {
            @extend .d-flex;
            min-height: var(--default-element-height);
            justify-content: space-between;
            background-color: var(--color-gray-70);
            padding: 0 var(--s-8);

            &--title {
                font-size: var(--s-4);
                line-height: 1;
                text-transform: capitalize;
            }

            &--time {
                --ui-icon-size: var(--s-8);
                --ui-icon-color: var(--color-gray-40);
                color: var(--color-gray-40);
                font-size: var(--s-8);
                line-height: 1;
                @extend .d-flex;
                gap: var(--s-9);
            }
        }

        &--description,
        &--action {
            padding: var(--s-8);
        }
    }
}

.calendar-date {
    @extend .d-flex;
    align-items: flex-start;
    justify-content: stretch;
    flex-direction: column;
    position: relative;
    gap: var(--s-9);
    min-height: 90px;
    padding: 0 5px;
    width: auto;
    z-index: 1;
    height: 100%;
    @media(max-width: 900px) {
        gap: var(--s-4);
        padding: 5px 5px var(--default-padding);
    }
    &::before {
        z-index: 0;
        @extend .d-flex;
        content: attr(data-day);

        @media(max-width: 900px) {
            content: attr(data-mobile-day);
        }

        width: auto;
        line-height: 1;
        top: 0;

        @media(min-width: 900px) {
            right: 0;
        }

        color: var(--color-gray-80);
        padding: 5px 8px;
    }

    &__modal {
        gap: var(--s-4);
    }

    border: solid 1px transparent;

    &:hover {
        border: solid 1px var(--color-gray-60);
        background-color: var(--color-gray-60-opaque);

        &::before {
            background-color: var(--color-gray-30-opaque);
            border-radius: 0 0 4px 0;
        }
    }


    &__title {
        font-size: var(--s-2);
        color: var(--color-gray-30);
    }

    &__event {
        position: relative;
        cursor: pointer;
        padding: 2px 5px;
        font-size: var(--s-7);
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 1;
        border-radius: var(--s-9);
        text-transform: capitalize;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 10px);
        @media(min-width: 900px){
            width: auto;
            flex-direction: column;
            align-items: flex-start;
        }
        color: var(--color-gray-60);
        &:hover {
            color: var(--color-white);
            background-color: var(--color-primary);

        }
        &--title {
            white-space: nowrap;
            @media(max-width: 900px){
                margin-right: auto;
            }
            &:before {
                vertical-align: middle;
                padding-right: 5px;
                content: "·";
                font-weight: 900;
                font-size: var(--s-4);
            }
        }

        &--time {
            width: auto;
            font-size: var(--s-9);
            height: var(--s-9);
            line-height: 1;
            --ui-icon-size: var(--s-9);
            white-space: nowrap;
            display: flex;
            gap: 4px;
        }
    }

    .calendar-date__modal {
        &__event {
            flex-direction: column;
        }
    }
}