.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.admin-list-documents{
@extend .d-flex;
justify-content: flex-start;
align-items: flex-start;
flex-direction: column;
width: 100%;
overflow: hidden;
flex-wrap: wrap;
gap: var(--s-9);
margin: var(--s-4) 0;
&__list{
    width: 100%;
    // margin:  0;
    @extend .d-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--s-9);
    @media(max-width: 900px){
        margin: var(--s-9) 0;
        width: calc(100% - 2px);
        margin: var(--s-9) 0;
        border-radius: var(--border-radius);
    }
    &--item{
        @extend .d-flex;
        border-radius: var(--border-radius) ;
        background-color: var(--gray-90);
        width: 100%;
        @media(max-width: 900px){
            justify-content: space-between;
            flex-direction: column;
            padding: var(--s-4);
            width: var(--s-4-width);
            gap: var(--s-5);
        }
        & > &-action{
            margin: auto var(--s-9) var(--s-9) 0;
            @media(max-width: 900px){
                margin: 0 var(--s-4) 0 var(--s-4);
                width: 100%;
            }
        }
        & > &-content{
            @extend .d-flex;
            flex-direction: column;
            align-items: flex-start;
            width: var(--s-4-width);
            line-height: 1;
            border-radius: var(--border-radius);
            @media(max-width: 900px){
                border: solid 1px var(--gray-70);
                background-color: var(--gray-80);
                padding: var(--s-4) var(--s-4) var(--s-4);
            }
            padding: var(--s-4);
            font-family: Game;
            font-style: oblique;
            font-size: var(--s-5);

            strong{
                font-style: normal;
                color: var(--gray-50);
                margin-right: var(--s-9);
            }
        }

    }
}
}