$small: 1100px;
.nav-button{
    position: relative;
    cursor: pointer;
    padding: 0 var(--default-padding-sm);
    &__cart{
        width: calc(var(--default-element-height) + var(--default-padding));
    }
    // &:hover{
    //     background-color: var(--color-gray-60-opaque);
    // }
    .nav-button__cart{
        display: none;
        position: absolute;
        top:calc(100% + 10px);
        right:0;
        background-color: var(--color-gray-80);
        border: solid 1px var(--color-gray-60);
        // padding: 10px 15px;
        box-shadow: var( --default-box-shadow);
        border-radius: 4px;
        min-width: 400px;
        @media(max-width: $small){
            width: calc(100% - 20px);
        }
        &.nav-button__cart-show{
            display: block;
        }
        &.nav-button__cart-hide{
            display: none;
        }
        .nav-button__close{
            height: var(--default-element-height);
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
        }
    }
}