.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .toggle-switch input[type='checkbox'] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
  }
  
  .slider:before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  input:checked + .slider:not(.slider--disabled) {
    background-color: #2196f3;
  }
  input:checked + .slider.slider--disabled {
    cursor: not-allowed;
    background-color: var(--primary-opaque);
    &:before {
      background-color: var(--gray-50);
    }
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
  }
  