.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.product-listing {
    overflow: hidden;
    white-space: wrap;
    color: white;
    @extend .d-flex;

    width: var(--s-4-width);
    padding: var(--s-4);

    margin: auto;
    gap: var(--s-element);
    justify-content: stretch;
    align-items: stretch;
    &__header {
        color: var(--primary-50);
        @extend .d-flex;
        align-items: flex-start;
        gap:var(--s-4);
        flex-direction: column;
    }
    .product-listing__filters{
        padding:var(--s-4);
        margin: auto;
        border-radius: var(--border-radius);
        width: calc(100% - calc(var(--s-9) * 2));
        background-color: var(--gray-90);
    }
}
