.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


.products-listing {
    @extend .d-flex;
    flex-direction: column;
    height: inherit;
    color: white;
    gap:var(--s-element);
    width: 100%;
    @media(max-width:900px){
        height: 100%;
    }
    &__body{
        height: 100%;
        width: 100%;
        @extend .d-flex;
        overflow: auto;
        @media (min-width:1100px) {
                width: inherit;
                flex-direction: row;
                height: inherit;
        }
    }
    &__header {
        color: var(--primary-50);
        @extend .d-flex;
        align-items: flex-start;
        gap:var(--s-4);
        flex-direction: column;
        width: var(--s-9-width);
        padding: var(--s-9);
    }
    &__layout-actions{
        @extend .d-flex;
        justify-content: flex-end;
        width: 100%;
        gap:var(--s-9);
        &--item{
            // --ui-icon-color:var(--gray-80);
            transition: all .3s ease-in;
            &:hover{
                transform: scale(1.1);
                --ui-icon-color:var(--primary-50);
            }
        }
    }
    &__filters{
        width:100%;
        // @media(min-width:1400px){
        //     // min-width: 300px;
        // }
        @media(max-width:900px){
            min-width: unset;
            // height: 100%;
        }
    }

}
