$item-height: 500px;

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-slider--container {
  position: relative;
  height: max-content;
  padding: var(--s-padding);
  width: var(--s-padding-width);
  border: solid 1px var(--gray-60);
  background-color: var(--gray-100);
  @media(min-width: 1100px) {
    background-color: unset;
    // overflow: hidden; // Hide overflow here
    box-shadow: inset 0 0 var(--s-3) var(--s-9) var(--gray-100);
    border-radius: var(--border-radius);
    position: relative;
    height: $item-height;
    &:before, &:after{
      position: absolute;
      width: var(--s-element);
      content:'';
      top: 0;
      height: 100%;
    }
    &:before{
      border-radius: var(--border-radius) 0 0 var(--border-radius) ;
      left: 0;
      background: linear-gradient(to right,var(--gray-100), transparent);
    }
    &:after{
      border-radius: 0 var(--border-radius) var(--border-radius) 0;
      right: 0;
      background: linear-gradient(to right,transparent, var(--gray-100));
    }
  
  }

  .product-slider__left,
  .product-slider__right {
    @media(max-width: 900px){
      display: none;
    }
    position: absolute;
    top: 0;
    @extend .d-flex;
    z-index: 1000;
    transform: translateY(calc($item-height * .5));
    width: var(--s-element);
    height: calc(var(--s-element) + calc(var(--s-padding)* 2));
    --ui-icon-width: var(--s-1);
    --ui-icon-height: var(--s-1);
    --ui-icon-color: var(--gray-70-o);
    z-index: 1003;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
    &:hover {
      border-color: var(--gray-70);
      --ui-icon-color: var(--gray-70);
      background-color: var(--gray-90);
    }
  }

  .product-slider__left {
    left: -1px;
    border-width: 0 1px 1px 0;
    
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    &:focus {
      --ui-icon-color: var(--primary)
    }
  }
  
  .product-slider__right {
    right: -1px;
    border-width: 1px 0 0 1px;
    border-radius: var(--border-radius) 0 0 var(--border-radius) ;
    &:focus {
      --ui-icon-color: var(--primary)
    }
  }

  .product-slider {
    height: 100%;

    @media(min-width: 1100px) {
      white-space: nowrap;
      scroll-snap-type: x mandatory;
      overscroll-behavior-x: contain;
      -webkit-overflow-scrolling: touch;
      overflow-x: scroll; // Enable horizontal scrolling
      height: $item-height;
      width: 100%;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &__items {
      @extend .d-flex;
      flex-direction: column;
      gap: var(--s-9);

      @media(min-width: 1100px) {
        width: max-content;
        height: 100%; // Use 100% of the parent's height
        flex-direction: row;
        z-index: 1; // Ensure it's below the shadows
      }
    }



    &__item {
      cursor: pointer;
      width: 100%;
      color: var(--gray-10);

      background-color: var(--gray-80-o);
      border: solid 1px var(--gray-80);

      &:hover {
        color: var(--primary);
        background-color: var(--gray-70);
      }

      &--image,
      &--info {
        height: var(--s-padding-width);
        width: var(--s-padding-width);
      }

      &--image {
        @extend .d-flex;
        height: 100%;
      }

      &--info {
        padding: var(--s-padding);
        border-radius: var(--border-radius);
        @extend .d-flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--s-padding);

        &__name {
          text-transform: capitalize;
          font-size: var(--s-4);
        }

        &__description {
          line-height: 1.5;
          color: var(--gray-30);
          white-space: normal;
          /* Allows for wrapping text */
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 15;
          /* Approximate number of lines based on max-height and line-height */
          -webkit-box-orient: vertical;
        }

        &__action {
          width: 100%;
          @extend .d-flex;
          margin: auto auto 0;
          min-height: var(--s-element);
        }
      }


      @extend .d-flex;
      height: $item-height;
      border-radius: var(--border-radius);
      width: 100%;
      aspect-ratio: 4/5;




      @media(min-width: 1100px) {
        flex-direction: column;
        overflow: hidden;
        border-radius: var(--border-radius);

        &--image,
        &--info {
          padding: 0;
          width: 100%;
        }

        &--image {
          height: calc($item-height * .7);
          width: 100%;
        }

        &--info {
          width: 100%;

          height: calc($item-height * .3);
          border-radius: unset;

          &__name {
            padding: 0 var(--s-padding);
          }

          &__description {
            padding: 0 var(--s-padding);
            -webkit-line-clamp: 3;
            /* Approximate number of lines based on max-height and line-height */
          }

          &__action {
            margin-bottom: var(--s-9);
            width: auto;
            padding: 0 var(--s-padding);
          }
        }
      }

      @media(max-width: 900px) {
        flex-direction: column;
        background-color: var(--gray-90);

        &--image {
          height: 60%;
          margin-bottom: auto;
          // height: calc($item-height * .6);
        }

        &--info {
          justify-content: flex-end;
          height: max-content;
          border-radius: unset;
          background-color: transparent;
          padding: 0 var(--s-padding) 0;

          &__description {
            -webkit-line-clamp: 2;
            /* Approximate number of lines based on max-height and line-height */
          }

          &__action {
            justify-content: flex-end;
            width: 100%;
            margin-bottom: var(--s-padding);
          }
        }
      }
    }
  }
}