.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

;

p {
    font-size: var(--s-6);

    color: var(--gray-50);
}

ul,
p {
    font-family: Decimal;
    
    width: 100%;
}


.terms-of-service {
    @extend .d-flex;
    flex-direction: column;
    gap: var(--s-1);
    width: 100%;
    max-width: 100vw;

    &__content {
        background-color: var(--gray-100);
        @extend .d-flex;
        flex-direction: column;
        gap:Var(--s-9);
        width: var(--s-1-width);
        padding: var(--s-1) var(--s-1) 100px;
        p{
             font-size:var(--s-7);
             color:var(--gray-60);

        }
        strong {
            margin-bottom: var(--s-9);
            color: var(--primary-70);
            font-size: var(--s-4);
        }

        ul {
            @extend .d-flex;
            flex-direction: column;
            gap: var(--s-9);
            //   list-style-type:decimal;
            list-style-type: none;
            padding: 0 var(--s-9);
            flex-wrap: wrap;
            flex-direction: column;
            width:var(--s-9-width);
            li {
                width:100%;
                text-overflow: ellipsis;
                flex-direction: column;
                @extend .d-flex;
                align-items: flex-start;
                font-size:var(--s-7);
                color:var(--gray-50);
                strong {
                    text-indent: var(--s-9);
                    text-wrap: nowrap;
                    flex: 1;
                    color: var(--blue-10);
                    font-size: var(--s-5);
                }

            }
        }

        li {
            text-indent: var(--s-9);
            width: max-content;

             &::marker {
                display: none !important;
            }
        }
    }

    &__header {
        @extend .d-flex;
        flex-direction: column;
        gap:var(--s-9);
        align-content: center;
        width: 100%;
        --ui-icon-size:var(--s-element);
        // color:var(--primary-10);
        --ui-icon-color:var(--primary-50); 
        color:var(--primary-10); 
        p{
            text-align: center;
            font-size: var(--s-6);
            color: Var(--gray-80);
        }
        &--title {
            width: max-content;
        }

        font-size:var(--s-3);
    }
}