# Python specific files
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.pyc

# Compiled files
*.exe
*.dll
*.pyd
*.pyo
*.pyw
*.pyz
*.pyzw

# Cache and log files
__pycache__/
*.cache
*.log

# Test coverage
htmlcov/

# Dependency management
pip-selfcheck.json
requirements.txt

# Miscellaneous
*.bak
*.swp


# Ai Models
/models