$space: var(--s-7);

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.products-listing__banner {
    width: var(--s-padding-width);
    padding: var(--s-padding);
    background-color: var(--gray-30);
    gap: var(--s-7);
    border-radius: var(--border-radius);
    &--title {
        width: 100%;
        font-size: var(--s-3);
        color: var(--gray-100);
        line-height: calc(var(--s-3) * 1.5);
    }
    
    &--body {
        @extend .d-flex;
        align-items: flex-start;
        gap: var(--s-element);
        width: 100%;
        color: var(--gray-60);
    }
}

