.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.d3-link--lighting{
   stroke: #1050ff;
}

.d3-link--lighting_out{
  transition:all 1.5s ease-in-out;
   stroke: #1050ff20;
}

.d3-svg{
  overflow: visible;
  background-color: var(--black);
}
.d3-links {
  fill: none;
  stroke: var(--gray-80-o);
  /* stroke-opacity: 0.4; */
  stroke-width: 2;
}
.d3-node__content{
  fill:var(--green-o);
  color:var(--green-70);
}
.d3-node__path{
  fill:var(--gray-80);
  color:var(--green-50);
}
.d3-node--key {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100px;
  display: block;
  overflow: hidden;
  width: max-content;
  padding: 0 var(--s-10);
  border-radius: var(--s-11);
  border: solid 2px var(--blue-70);
  /* line-height: 1;
  background-color: var(--gray-50-o);
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center; */
}
.d3-node--key:hover{
filter: brightness(2)
}
/* .d3-node__foreign{
  overflow: visible;
  display: block;
  background-color: #00f;

}
.d3-node__foreign--hover{
  background-color: #f30;
} */

.d3-nodes {
  cursor: pointer;
  pointer-events: all;
}

.d3-node--circle {
  z-index: 1;
  stroke-opacity: 0.4;
  stroke-width: 4;
  r: 5px;
  cursor: pointer;
}


.d3-node--value {
  opacity: 0;
  transition: opacity 1s; /* Add transition for smooth opacity change */
}

.d3-node--hover .d3-node--value {
  opacity: 1;
}
/* NODE ITEM */
.d3-node {
  position: relative;
  transition: all 0.3s ease;
}



.d3-node--hover {
  box-shadow: inset 0 0 1px 1px var(--gray-40),
    inset 1px 1px 1px 1px var(--gray-90);
  background-color: var(--gray-30);
}

