

.vgap-1 > * {
  margin-bottom: 1px;
}
.vgap-1:last-child {
  margin-bottom: 0;
}

.vgap-2 > * { margin-bottom: 2px; }
.vgap-2 > *:last-child { margin-bottom: 0; }

.vgap-3 > * { margin-bottom: 3px; }
.vgap-3 > *:last-child { margin-bottom: 0; }

.vgap-5 > * { margin-bottom: 5px; }
.vgap-5 > *:last-child { margin-bottom: 0; }

.vgap-8 > * { margin-bottom: 8px; }
.vgap-8 > *:last-child { margin-bottom: 0; }

.vgap-10 > * { margin-bottom: 10px; }
.vgap-10 > *:last-child { margin-bottom: 0; }

.vgap-15 > * { margin-bottom: 15px; }
.vgap-15 > *:last-child { margin-bottom: 0; }

.vgap-20 > * { margin-bottom: 20px; }
.vgap-20 > *:last-child { margin-bottom: 0; }

.vgap-25 > * { margin-bottom: 25px; }
.vgap-25 > *:last-child { margin-bottom: 0; }

.vgap-30 > * { margin-bottom: 30px; }
.vgap-30 > *:last-child { margin-bottom: 0; }

.hgap-1 > * { margin-right: 1px; }
.hgap-1 > *:last-child { margin-right: 0; }
--ui-icon
.hgap-2 > * { margin-right: 2px; }
.hgap-2 > *:last-child { margin-right: 0; }

.hgap-3 > * { margin-right: 3px; }
.hgap-3 > *:last-child { margin-right: 0; }

.hgap-5 > * { margin-right: 5px; }
.hgap-5 > *:last-child { margin-right: 0; }

.hgap-8 > * { margin-right: 8px; }
.hgap-8 > *:last-child { margin-right: 0; }

.hgap-10 > * { margin-right: 10px; }
.hgap-10 > *:last-child { margin-right: 0; }

.hgap-15 > * { margin-right: 15px; }
.hgap-15 > *:last-child { margin-right: 0; }

.hgap-20 > * { margin-right: 20px !important; }

/* Flex */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-grow,
.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

/* Text */
.m-text-align-center {
  text-align: center;
}

/* Links */

a.g-textlink {
  color: #4f96ff;
  text-decoration: none;
  cursor: pointer;
}
a.g-textlink:hover {
  text-decoration: underline;
}

.m-disabled {
  user-select: none;
  pointer-events: none;
  opacity: 0.75;
  transition: opacity 500ms;
}

/* Column Sizing */
body {
  --full-width: 950px;
  /* --col-width-4: 230px; */ /* width of single column when there are 4 columns (not including gaps) */
  /* --gap: 10px; */
}

@media (min-width: 1050px) {
  body {
    --full-width: 1280px;
    /* --col-width-4: 245px; */
  }
}
