.crumb {
  font-weight: 300;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #a3a3a3;
  line-height:2;
  text-transform: capitalize;
}
.crumb.active{
  color: white;
}
.crumb.caret {
  color:#a3a3a3;
}
.crumb.caret:hover{
  color:white;
}
.crumb.caret:not(:last-child):after {
  content:"";
  border: solid #a3a3a3;
  border-width: 0 1px 1px 0;
  display: inline-block;
  margin: 2px 12px 2px 5px;
  padding: 2.5px;
  height: 1.2px;
  width: 1.2px;
  transform: rotate(-45deg);
}

.header-action{
  display: flex;
  justify-content: center;
  align-items: center;
  height:35px;
  border-radius: 5px;
  outline:none;
  border:none;
  font-size: 15px;
  text-transform: capitalize;
  color:#e5e5e5;
  background-color: #525252;
  cursor: pointer;
  text-decoration: none;
  padding:0 10px;
}

.header-action.blue{
  color:white;
  background-color: #4f96ff;
}