.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.home-grid-item {
    // width: calc(100% - calc(var(--s-padding) * 2));
    justify-content: flex-start;
    @extend .d-flex;
    border-radius: var(--border-radius);
    gap: var(--s-padding);
    flex-direction: column;
    background-color: var(--gray-90);
    overflow: hidden;
    // padding: var(--s-padding);
    padding: var(--s-element) var(--s-padding);
    width: var(--s-padding-width);
    // @media(max-width: 900px){
    // }
   
    &__header{
        width: 100%;
        @extend .d-flex;
        flex-direction: column;
        gap:var(--s-padding);
    }
    &__title {
        height: 100%;
        color: var(--blue-10);
        font-size: var(--s-3);
        text-transform: capitalize;
    }
    &__body {
        color: var(--gray-50);
    }
    &__icon {
        @extend .d-flex;
        height: 90px;
        --ui-icon-width: 90px;
        --ui-icon-height: 90px;
        --ui-icon-color: var(--blue-10);
    }
    
    &__center {
        text-align: center;
        font-size: var(--s-5);
        line-height: 1.5;
    }
}
