.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.home-grid-item {
    justify-content: flex-start;
    @extend .d-flex;
    border-radius: var(--border-radius);
    gap: var(--s-4);
    flex-direction: column;
    background-color: var(--gray-90);
    overflow: hidden;
    padding: var(--s-element) var(--s-4);
   
    &__header{
        width: 100%;
        @extend .d-flex;
        flex-direction: column;
        gap:var(--s-4);
    }
    &__title {
        height: 100%;
        color: var(--primary);
        font-size: var(--s-3);
        text-transform: capitalize;
    }
    &__body {
        color: var(--gray-50);
    }
    &__icon {
        @extend .d-flex;
        height: 90px;
        --ui-icon-width: 90px;
        --ui-icon-height: 90px;
        --ui-icon-color: var(--primary-o);
    }
    
    &__center {
        text-align: center;
        font-size: var(--s-5);
        line-height: 1.5;
    }
}
