.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.admin-data-header{
@extend .d-flex;
flex-direction: column ;
width: 100%;
gap:var(--s-1);
background-color: var(--gray-80);
width: var(--s-9-width);
padding:var(--s-9);
border-radius: var(--border-radius);//
&__actions{
    @extend .d-flex;
    width: var(--s-9-width);
    padding:var(--s-9);
    gap: var(--s-2);
    background-color: var(--gray-90);
    }
}