$actionsBg: var(--gray-90);

@keyframes borderAnimation {

    0%,
    100% {
        border-color: var(--dark);
    }

    25% {
        border-color: var(--dark-opaque);
    }

    50% {
        border-color: var(--primary);
    }

    75% {
        border-color: var(--primary-opaque);
    }
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.settings {
    z-index: 999;
    height: 100%;
    left: 0;
    z-index: 1;
    position: relative;
    padding: var(--padding) 0 0;
    width: 100%;

    &--icon {
        @extend .d-flex;
        --ui-icon-width: 100%;
        --ui-icon-height: var(--s-5);

        @media(min-width: 1100px) {
            display: flex;
        }

        display: none;
        position: absolute;

        &--hide {
            opacity: .5;
            left: var(--s-5);
        }

        // &--hide {
        //     opacity: .5;
        //     left: var(--s-5);
        // }

        top: var(--s-4);
        border-radius: var(--border-radius);
        left: var(--padding);
        z-index: 2;
        color: var(--primary);
        text-align: center;
        height: var(--s-2);
        width: var(--s-2);

        line-height: 1;
        font-size: var(--s-7);

        &:hover {
            border: solid 1px var(--gray-70);
        }
    }

    @media (min-width: 1100px) {
        margin: var(--padding) 0;
        padding: var(--padding);
        width: var(--padding-width);
    }

    &__content {
        @extend .d-flex;
        justify-content: stretch;
        align-items: flex-start;
       
        @media (min-width: 1100px) {
            padding: var(--element-height) 0 0;
        }

        @media (max-width: 1100px) {
            height: 100%;

            flex-direction: column;

        }

        @media(max-width: 1260px) {
            margin: auto;
            justify-content: center;
        }
     
    }

    @keyframes hideActions {
        0% {
            transform: translateX(0);
            opacity: 1;
            display: flex;
            width: auto;
        }

        10% {
            opacity: 0.3;
        }

        65% {
            opacity: 0;
        }

        98% {
            display: flex;
        }

        100% {
            opacity: 0;
            transform: translateX(-100%);
            width: 0px;
        }

    }
    @keyframes hideActionsSm {
        0% {
            transform: translateX(0);
            opacity: 1;
            display: flex;
            width: 100%;
        }


        100% {
            opacity: 0;
            transform: translateX(-100%);
            width: 0px;
        }

    }

    // ACTIONS
    .settings__actions {
        height: inherit;
        position: relative;
        z-index: 3;
        margin-right: var(--padding);
        
        &--hide {
            margin-right: unset;
            animation: hideActions 1s ease-in-out forwards;
            @media(max-width: 1100px){animation: hideActionsSm 1s ease-in-out forwards;}
        }
        
        &--show {
            animation: hideActions 1s ease-in-out forwards reverse;
            @media(max-width: 1100px){
                animation: unset;
                transform: translateX(0);
                opacity: 1;
                display: flex;
                width: 100%;
                border: none;
            }
        }

        &--content {
            border-radius: var(--border-radius);
            @extend .d-flex;
            width: 100%;
            animation: borderAnimation 5s infinite alternate;
            @media (min-width: 2100px) {
                margin-left: auto;
                max-width: 350px;
            }
            @media(max-width: 1100px) {
                border-radius: var(--border-radius) var(--border-radius) 0 0;
                border-bottom: solid 0px transparent !important;
                padding: var(--padding) 0;
            }
            @media(max-width: 900px) {
                padding: var(--padding);
                width: var(--padding-width);
                animation: unset;
            }

        }

        @media (min-width: 1100px) {
            min-height: auto;
        }

        @media (max-width: 1100px) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: max-content;
            overflow: visible;
        }

    }

    // VIEW
    .settings__view {
        color: var(--gray-40);
        height: 100%;
        width: 100%;
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;

        border-style: solid;
        border-width: 0 1px 1px 1px;

        border-radius: var(--border-radius);
        animation: borderAnimation 5s infinite alternate;

        &__fullwidth{
            .settings__view__content{
                width: auto;
                padding: 0; 
            }
        }
        @media (min-width: 1100px) {
            min-height: 100%;
            justify-content: flex-start;
            align-items: flex-start;
            position: unset;
            border-width: 1px;
            background-color: var(--gray-100);
        }

        
        @media (max-width: 1100px) {
            border-radius: var(--border-radius);
            background-color: var(--gray-100);
            border: solid 1px transparent;
            animation:unset;
            margin: auto;
            width: calc(100% - 2px);
            overflow-y: hidden;
        }
        @media (max-width: 900px) {
            width: calc(var(--padding-width) - 2px);

        }
        &--header {
            position: absolute;
            top: var(--s-5);
            z-index: 999;
            color: var(--gray-30);
            text-transform: capitalize;
            @extend .d-flex;

            @media (max-width: 1100px) {
                display: none;
            }

            &--title {
                font-size: var(--s-1);
            }

            z-index: -1;

            &--hide {
                transform: translateX(var(--element-height));
            }
        }

        &__content {
            z-index: 1000;
            @extend .d-flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: var(--s-4) var(--s-5); 
            height: 100%;
         
            @media (max-width: 1100px) {
                padding: var(--s-5) var(--s-8);
            }

            @media (max-width: 900px) {
                padding: var(--s-9) var(--s-9) var(--element-height);
            }
        }
    }
}