$actionsBg: var(--gray-90);

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes borderAnimation {
    0% {
        border-color: #ff303040;
    }

    25% {
        border-color: #ff990050;
    }

    50% {
        border-color: #0099ff90;
    }

    75% {
        border-color: #0f00ff;
    }

    100% {
        border-color: #ff303040;
    }
}


.settings {
    width: 100%;
    transform: translateY(-2px);
    min-height: inherit;
    height: inherit;
    z-index: 999;
    @media(min-width:1100px) {
        padding-top: var(--padding);
        background-color: $actionsBg;
    }
    
    &__content {
        @extend .d-flex;
        justify-content: stretch;
        align-items: stretch;
        height: inherit;
        min-height: inherit;

        @media(min-width: 1100px) {
            gap: var(--s-9);
            margin-left: var(--s-9);
        }

        @media(max-width:1100px) {
            height: 100%;
            flex-direction: column;
        }
    }

    // ACTIONS
    .settings__actions {
        height: inherit;
        position: relative;
        background-color: $actionsBg;


        &--content {
            border-bottom: solid 1px var(--gray-70);
            background-color: var(--gray-80);

            border-radius: var(--border-radius);
            border: solid 1px var(--gray-60);
            @extend .d-flex;
            width: 100%;
            @media(min-width:2100px) {
                margin-left: auto;
                max-width: 350px;
            }
        }

        @media(min-width:1100px) {
            min-height: auto;
        }

        @media(max-width:1100px) {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1px var(--s-5) var(--padding);
            width: auto;
            height: max-content;
            border-bottom: solid 1px var(--gray-70);
            overflow: visible;
        }
    }

    // VIEW
    .settings__view {
        width: 100%;
        color: var(--gray-40);
        background-color: var(--gray-100);
        height: auto;
        overflow: hidden;
        @media(min-width: 1100px) {
            min-height: 100%;
            justify-content: flex-start;
            align-items: flex-start;
            position: unset;
            border-top: solid 1px;
            border-left: solid 1px;
            border-radius: var(--border-radius) 0 0 0;
            animation: borderAnimation 5s infinite alternate;
        }

        @media(max-width:1100px) {
            border-left: unset;
            min-height: inherit;
        }

        &__content {
            z-index: 1000;
            height: calc(100% - calc(var(--s-5) * 2));
            @extend .d-flex;
            flex-direction: column;
            width: auto;
            padding: var(--s-4) var(--s-5);
            @media(max-width: 1100px) {
                padding: var(--s-5) var(--s-8);
            }

            @media(max-width: 900px) {
                padding: var(--s-7) var(--s-9);
            }
        }
    }
}