$actionsBg: var(--gray-90);

@keyframes borderAnimation {
    0%, 100% {
        border-color: var(--dark);
    }
    25% {
        border-color: var(--dark-opaque);
    }
    50% {
        border-color: var(--primary);
    }
    75% {
        border-color: var(--primary-opaque);
    }
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings {
    height: 100%;
    left: 0;
    position: relative;
    padding: var(--padding) 0 0;
    width: 100%;
    &--icon {
        z-index: 2;
        @extend .d-flex;
        --ui-icon-width: 100%;
        --ui-icon-height: var(--s-5);
        @media(min-width: 1100px) {
            display: flex;
        }
        display: none;
        position: absolute;
        &--hide {
            opacity: .5;
            left: var(--s-5);
        }
        top: var(--s-4);
        border-radius: var(--border-radius);
        left: var(--padding);
        color: var(--primary);
        text-align: center;
        height: var(--s-2);
        width: var(--s-2);
        line-height: 1;
        font-size: var(--s-7);
        &:hover {
            border: solid 1px var(--gray-70);
        }
    }

    @media (min-width: 1100px) {
        margin: var(--padding) 0;
        padding: var(--padding);
        width: var(--padding-width);
    }

    &__fullwidth {
        position: fixed;
        width: 100%;
        left: 0;
        right: 0;
        width: 100vw;
        overflow: hidden;
        padding: 0;
        .settings--icon{
            @media(min-width: 1100px) {
                top: 0;
            }
            display: flex;
            left: var(--s-9);
            height: var(--element-height);
            width: var(--element-height);
            background-color: var(--gray-90);
            --ui-icon-color: var(--primary);
            --ui-icon-width: 100%;
        }
    }

    &__content {
        z-index: 2;
        @extend .d-flex;
        justify-content: stretch;
        align-items: flex-start;
        width: inherit;

        @media (min-width: 1100px) {
            padding: var(--element-height) 0 0;
        }

        @media (max-width: 1100px) {
            height: 100%;
            flex-direction: column;
        }

        @media(max-width: 1260px) {
            margin: auto;
            justify-content: center;
        }
    }

    @keyframes hideActions {
        0% {
            transform: translateX(0);
            opacity: 1;
            display: flex;
            width: auto;
        }
        10% {
            opacity: 0.3;
        }
        65% {
            opacity: 0;
        }
        98% {
            display: flex;
        }
        100% {
            opacity: 0;
            transform: translateX(-100%);
            width: 0px;
        }
    }

    @keyframes hideActionsSm {
        0% {
            transform: translateX(0);
            opacity: 1;
            display: flex;
            width: 100%;
        }
        100% {
            opacity: 0;
            transform: translateX(-100%);
            width: 0px;
        }
    }

    .settings__actions {
        z-index: 2;
        height: inherit;
        position: relative;
        margin-right: var(--padding);
        &--hide {
            margin-right: unset;
            animation: hideActions 1s ease-in-out forwards;
            @media(max-width: 1100px) {
                animation: hideActionsSm 1s ease-in-out forwards;
            }
        }

        &--show {
            animation: hideActions 1s ease-in-out forwards reverse;

            @media(max-width: 1100px) {
                animation: unset;
                transform: translateX(0);
                opacity: 1;
                display: flex;
                width: 100%;
                border: none;
            }
        }

        &-fullwidth {
            position: absolute;
            top: calc(var(--element-height) + calc(var(--padding) + var(--s-9)));
        }

  

        &--content {
            border-radius: var(--border-radius);
            @extend .d-flex;
            width: 100%;
            animation: borderAnimation 5s infinite alternate;

            @media (min-width: 2100px) {
                margin-left: auto;
                max-width: 350px;
            }

            @media(max-width: 1100px) {
                border-radius: var(--border-radius) var(--border-radius) 0 0;
                border-bottom: solid 0px transparent !important;
                padding: var(--padding) 0;
            }

            @media(max-width: 900px) {
                padding: var(--padding);
                width: var(--padding-width);
                animation: unset;
            }
        }

        @media (min-width: 1100px) {
            min-height: auto;
        }

        @media (max-width: 1100px) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: max-content;
            overflow: visible;
        }
    }
    .settings__actions--show.settings__actions-fullwidth {
        border-radius: var(--border-radius);
        margin-left: 0;
        @media (min-width: 1100px) {
            margin-left: var(--s-9);
        }
    }
}
