

.d-flex{
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.settings {

    width: 100%;
    background-color: var(--color-dark-opaque) ;
    @media(max-width:1100px) {
        width: 100vw;
        height: 100vh;
    }
    @media(max-width:900px) {
        width: 100vw;
        height: 100vh;
    }

    &__full-screen {
        position: fixed;
        left: 0;
        right: 0;
        top: 187px;

        @media(max-width:900px) {
            top: 170px;
        }

        justify-content: flex-start;
        width: 100vw;
    }

    &__content {
        @extend .d-flex;
        min-height: calc(100vh - 190px);
        align-items: stretch;
        /* Updated to stretch */
        border-radius: var(--default-border-radius);
        width: 100%;
        @media(max-width:1100px) {
            width: 100vw;
        }
        @media(max-width:900px) {
            flex-direction: column;
            min-height: unset;
            width: 100vw;
        }
    }

    .settings__actions {
        background-color: var(--color-dark);
        border-right: solid 1px var(--color-primary);
        position: relative;
        &::after{
            position: absolute;
            content: '';
            top: 0;
            width: 1px;
            right: -2px;
            height: 100%;
            background-color: var(--color-primary-opaque);
        }
        // outline: solid 2px 
        width: 400px;
        @media(max-width:1100px) {
        width: 300px;
        }
        @media(max-width:900px) {
            padding: var(--default-padding);
            width: calc(100% - calc(var(--default-padding) * 2));
        }
    }

    .settings__view {
        padding: var(--default-padding);
        @extend .d-flex;
        flex-direction: column;
        justify-content: flex-start;
        border-left: solid 5px var(--color-gray-100);
        align-items: stretch;
        height: calc(100vh - 230px);
        @media(max-width:900px) {
            margin: auto;
            height: max-content;
            overflow: visible;
            width: 100%;
            border-left: unset;
            padding: unset;
            width: calc(100% - 20px);
        }
        
        .settings__view__title {
            font-size: var(--s-1);
            line-height: 2.5;
            text-transform: capitalize;
            color: var(--color-gray-40);
        }
        overflow-y: auto;
        
        &__content{
        // background-color: #f30;
            background-color: var(--color-dark);
            border-radius: var(--default-border-radius);
            padding: 10px;
            outline: solid 1px var(--color-primary);
            border: solid 1px var(--color-primary-opaque);
        }
    }
}