.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.add-field-form{
    width: 100%;
}
.add-field {
    // width: 100%;
    padding:var(--s-9);
    width: var(--s-9-w);
    max-width: max-content;
    @extend .d-flex;
    align-items: flex-start;
}