main {
  width: var(--s-padding-width);
  overflow-y: visible;
  position: relative;
  margin: var(--s-element) var(--s-padding) 100px;
  @media(min-width: 1260px){
    margin: 0 auto;
    padding: var(--s-1) 0;

    max-width: 1260px;
    min-height: calc(100vh - 200px);
    inline-size: var(--s-padding-width);
  }
  @media(max-width: 900px){
    height: max-content;
  }
}
