main {
  width: var(--padding-width);
  overflow-y: visible;
  position: relative;
  margin: 0 auto 0;
  @media(min-width: 1260px){
    margin-top: var(--element-height);
    max-width: 1260px;
    min-height: calc(100vh - 200px);
    inline-size: var(--padding-width);
  }
  padding: 0 0 100px;
  @media(max-width: 900px){
    width: 100%;
    height: max-content;
  }
}
