.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-table {
    width: 100%;
    @extend .d-flex;
    flex-direction: column;
    @media(max-width: 900px){
    }
    gap: 20px;
    .product-table__header {
        width: 100%;
        .product-table__filters{
            @media(max-width: 900px){
                width: 100%;
            }
        }
    }
    .product-table__product {
        background-color: var(--color-gray-70);
        border-radius: 5px;
        width: calc(100% - 20px);
        @extend .d-flex;
        gap: 10px;
        // gap: var(--default-element-height);
        flex-direction: column;
        min-height: 100px;
        cursor: pointer;
        padding: 10px;
    }
}