.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}
.remote-access-page{
    @extend .d-flex;
    flex-direction: column;
    gap:var(--s-1);
    width: 100%;
    position: relative;
}
