.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-list-item {
    border-radius: var(--border-radius);
    border: solid 1px var(--gray-70);
    background-color: var(--gray-90);
    padding: var(--s-padding);
    &:hover {
        background-color: var(--gray-80);
    }
    @media(max-width: 900px) {
        padding: var(--s-3) var(--s-4);
    }






    &__content {
        @extend .d-flex;
        height: 100%;
        margin: auto;
        justify-content: flex-start;
        gap: var(--s-padding);
        @media(max-width: 900px) {
            gap: var(--s-9);
            // gap: 0;
            width: var(--s-border-width);
            flex-direction: column;
            flex-wrap: wrap;
        }
        .cart-list-item-image {
            @extend .d-flex;
            --ui-icon-color: var(--gray-40);
            --ui-icon-height: 100%;
            overflow: hidden;
            @extend .d-flex;
            width: 100px;
            height: 100px;
            position: relative;
            --ui-icon-width: 75px;
            --ui-icon-height: 75px;
            max-height: 100px;
    
            @media(max-width: 900px) {
                --ui-icon-width: 100%;
                --ui-icon-height: 100%;
                max-height: unset;
                min-height: 100px;
                // height: 100%;
                width: 100px;
                margin: 0;
                display: flex;
                // order: 2;
            }
        }

        .cart-list-item-body {
            // background-color: #ff330050;
            @extend .d-flex;
            flex-direction: column;
            height: 100%;
            color: var(--gray-40);
            justify-content: flex-start;
            gap: var(--s-9);
            align-items: stretch;
            width: 100%;
            // align-items: flex-end;
            @media(max-width: 900px) {
                flex:1;
            }

            .cart-list-item-name {
                font-size: var(--s-1);
                color: var(--gray-30);
                text-transform: capitalize;

                @media(max-width: 900px) {
                    font-size: var(--s-3);
                }
            }

            // .cart-list-item-description {}
            .cart-list-item-amount {
                color: var(--gray-50);
                font-size: var(--s-5);

            }

        }

        // &.cart-list-item__content-mini {
        //     .cart-list-item-name{
        //         font-size: var(--s-5) !important;
        //     }
        //     .cart-list-item-name,
        //     .cart-list-item-description {
                
        //         @media(max-width:900px) {
        //         }
        //     }
            
        //     .cart-list-item-body {
        //         font-size: var(--s-7);
        //     }

        //     .cart-list-item-image {
        //         // width: var(--s-element);
        //         // height: var(--s-element);
        //         // --ui-icon-height: var(--s-element);
        //         // --ui-icon-width: var(--s-element);
        //     }
        // }


        .cart-list-item-action {
            @extend .d-flex;
            align-items: flex-end;
            height: 100%;

            @media(max-width: 900px) {
                order: 3;
                flex:1;
            }

            @media(max-width: 900px) {
                width: 100%;
                justify-content: flex-end;
            }
        }
    }


}