.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-list-item {
    border-radius: var(--border-radius);
    border: solid 1px var(--gray-70);
    background-color: var(--gray-90);
    padding: var(--s-4);
    &:hover {
        background-color: var(--gray-80);
    }
    height: var(--s-4-width);
    @media(max-width: 900px) {
        height: auto;
        padding: var(--s-1) var(--s-4);
    }

    &__content {
        @extend .d-flex;
        height: 100%;
        margin: auto;
        justify-content: flex-start;
        gap: var(--s-4);
        @media(max-width: 900px) {
            gap: 0;
            width: var(--s-border-width);
            flex-direction: column;
            flex-wrap: wrap;
        }
        .cart-list-item-image {
            @extend .d-flex;
            --ui-icon-color: var(--gray-40);
            --ui-icon-height: 100%;
            overflow: hidden;
            @extend .d-flex;
            width: 100px;
            height: 100px;
            position: relative;
            --ui-icon-width: 75px;
            --ui-icon-height: 75px;
            max-height: 100px;
    
            @media(max-width: 900px) {
                --ui-icon-width: 100%;
                --ui-icon-height: 100%;
                max-height: unset;
                height: 100%;
                min-height: 250px;
                width: 100%;
                max-width: 250px;
                display: flex;
                margin: var(--s-1) auto;
            }
        }

        .cart-list-item-body {
            // background-color: #ff330050;
            @extend .d-flex;
            flex-direction: column;
            height: 100%;
            color: var(--gray-40);
            justify-content: flex-start;
            gap: var(--s-9);
            align-items: stretch;
            width: 100%;
            @media(max-width: 900px) {
                flex:1;
                margin-top: var(--s-element);
                gap: var(--s-9);
            }

            .cart-list-item-name {
                font-size: var(--s-1);
                color: var(--primary-50);
                text-transform: capitalize;

                @media(max-width: 900px) {
                    font-size: var(--s-4);
                }
            }

            .cart-list-item-description {
                font-family: Game;
                color:var(--gray-40)
            }
            .cart-list-item-amount {
                color: var(--gray-50);
                font-size: var(--s-5);

            }

        }
        .cart-list-item-action {
            @extend .d-flex;
            gap:var(--s-9);
            align-items: flex-end;
            height: 100%;
            @media(min-width: 1100px){
                flex-direction: column;
                justify-content: flex-end;
                height: 100%;
            }
            @media(max-width: 900px) {
                order: 3;
                flex:1;
            }

            @media(max-width: 900px) {
                width: 100%;
                justify-content: flex-end;
            }
        }
    }


}