.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}

.home__default{
    @extend .d-flex;
    width: var(--s-4-width);
    padding: var(--s-4);
    &--title{
        color: var(--gray-30);
        font-size: var(--s-3);
    }
}
.home{
    width: 100%;
    height: max-content;
}